[2018-11-29 17:19] mikebronner commented on #158
Will look into this and see if I can replicate it.

[2018-11-29 17:19] #196 closed

[2018-11-30 14:42] #189 closed

[2018-11-30 14:58] mikebronner commented on #185
This is likely an issue with the laravel-pivot package, as model-caching does not fire events. See the following discussions:
https://github.com/laravel/telescope/issues/187
https://github.com/fico7489/laravel-pivot/pull/50

I believe this should be resolved once laravel-pivot 4.0 is released (no date on that though).

[2018-11-30 14:58] #185 closed

[2018-11-30 20:18] mikebronner commented on #187
@booni3 There should be nothing you need to do, not even set up the prefix. If your query includes a where clause to restrict to the respective tenant, it will cache different results for different tenants.

Have you confirmed that using Model Caching for Laravel returns unexpected results without using the manual prefix setting?

[2018-11-30 20:21] mikebronner commented on #188
@mrahmadt Hmm, I'm wondering: shouldn't the query work like this:

[code]

[2018-12-04 08:45] mbilozub opened #197 "Pagination query cache is not working properly"
Pagination count query cached only for a visited page.

Actual result:
---
Go to page 1.
1. SELECT count(*) as aggregate FROM transactions WHERE user_id = 1;
2. SELECT * FROM transactions WHERE user_id = 1 LIMIT 30 offset 0;

Go to page 2 (2 query from DB).
1. SELECT count(*) as aggregate FROM transactions WHERE user_id = 1;
2. SELECT * FROM transactions WHERE user_id = 1 LIMIT 30 offset 30;

Expe

[2018-12-04 13:48] mikebronner commented on #197
Could you also please provide the eloquent query you are using to perform the pagination? That will help identify if there are any other contributing factors. Thanks!

[2018-12-07 15:40] bitclaw commented on #59
This actually happened to us on a high traffic web site. We had switched to redis for caching and it consumed our 16GB of RAM on our redis instance in a couple of hours. Then I had to switch to file based caching and setup a scheduled task to clear the cache every three hours or so.

[2018-12-07 20:08] maicolbruski opened #198 "Lumen paginate error"
**Describe the bug**
Hi, I try use a your package in my api with LUMEN 5.7, but when i get with paginate return a error (image).
Get a single register works perfectly.

It`s possible cache paginate in Lumen 5.7?

Tks.

**Eloquent Query**
[code]

**Stack Trace**
(1/1) Error
Call to undefined function GeneaLabs\LaravelModelCaching\request()

**Environment**
 - PHP: 7.2
 - OS: Mac
 - Lumen: 5.7
 - Mo

[2018-12-07 20:16] mikebronner commented on #198
@maicolbruski At this time I don't guarantee support for Lumen because I don't have a way of testing it. However, I will try to look into it, but to do that, I would need the complete stack trace. Could you post that here? Thanks!

[2018-12-07 20:21] mikebronner commented on #59
@bitclaw
I believe it comes down to configuring redis or memcached correctly. You want to set up a max-memory usage, and it should then manage itself. Cache memory filling up is not a bad thing, it's just a problem if it doesn't release old data to make room for new data.

The key here is to configure redis appropriately, as that part is out of the hands of this caching package.

[2018-12-07 20:55] bitclaw commented on #59
Thank you for getting back to me. That makes a lot of sense, I believe for redis you can set the max memory usage https://redis.io/topics/lru-cache.

[2018-12-07 20:58] maicolbruski commented on #198
[2018-12-07 20:57:34] local.ERROR: Symfony\Component\Debug\Exception\FatalThrowableError: Call to undefined function GeneaLabs\LaravelModelCaching\request() in /www/lumen/cache/vendor/genealabs/laravel-model-caching/src/CachedBuilder.php:137
Stack trace:
#0 /www/lumen/cache/vendor/illuminate/support/Traits/ForwardsCalls.php(23): GeneaLabs\LaravelModelCaching\CachedBuilder->paginate(25)
#1 /www/lum

[2018-12-07 21:32] mikebronner commented on #198
If you look at the stack trace, this is because Lumen doesn't have the `request()` helper function. You could copy/paste this over from the Laravel helpers file and into the Lumen helpers file (if there is one, or create one if there isn't).

[2018-12-07 21:34] mikebronner commented on #198
Closing this for now, as I don't have any proper way to write tests for Lumen for this. However, if you would like to submit a PR that fixes any Lumen issues, I would be happy to review them.

[2018-12-07 21:34] #198 closed

[2018-12-08 03:35] maicolbruski opened #199 "GlobalScope conditional where for Multi Tenants"
**Describe the bug**

Hi, i use `addGlobalScope` for all `query gets` on my application, but  not change the cache when i changing $shopId = 1 to $shopId = 2.
Its possible?
Or what your opinion for this situation?
This is best way for a multi-tenant, or add a `where` in `Model` only its better?

Tks!

**Eloquent Query**
A number 1 is a my tenant 1. my application have a one DB mysql, for X shopId

[2018-12-08 04:31] mikebronner commented on #199
Unfortunately global scopes are currently not supported for caching. :( This is something I plan to evaluate possible solutions for in the future, but so far have not found a solution for, yet.

[2018-12-08 04:31] #199 closed

[2018-12-08 21:14] mikebronner commented on #191
Closing this for now. Please re-open if this issue persists.

[2018-12-08 21:14] #191 closed

[2018-12-08 21:15] mikebronner commented on #188
Closing this for now. Please reopen if issue persists.

[2018-12-08 21:15] #188 closed

[2018-12-08 21:15] mikebronner commented on #187
Closing this for now. Please reopen if issue persists.

[2018-12-08 21:15] #187 closed

[2018-12-08 22:01] mikebronner commented on #158
@denitsa-cm  After researching it a bit, I believe the problem is down to the relationship. Queries run off relationships are not cached, so relationships should only be used passively. Instead of creating a complex relationship to return the latest subscription period (which really might not be considered a relationship, but an attribute), I would recommend this:

[code]

That does work as intend

[2018-12-08 22:02] #158 closed

[2018-12-08 22:48] mikebronner commented on #184
@booni3 Thanks for being patient with this. This should now work correctly after release 0.3.6. :)

[2018-12-08 22:48] #184 closed

[2018-12-08 22:53] mikebronner commented on #194
@mrahmadt Ah! never mind, I already had the functionality included:

[code]

It slipped my mind. Sorry.

[2018-12-08 22:53] #194 closed

[2018-12-11 09:42] denitsa-cm commented on #158
@mikebronner Thank you for the suggestion. I would like to keep it as a relation because I often need to load it but will add it as an attribute as well and see how that works.

Unfortunately, I bumped into another issue https://github.com/laravel/telescope/issues/187 so have to deal with that first. :)

[2019-01-09 16:37] mikebronner commented on #175
@atodd Unfortunately the way invalidation works is that it always flushes the cache for the models involved in any update, insert, or delete queries. There really is no way around that.

[2019-01-14 15:07] pokeguys commented on #198
Just like PR #156. Lumen don't have `request()` helper function.
It needs to use `app('request')` as replacement.

[2019-01-17 04:57] shawnheide opened #201 "Question: How many cache records should be created when using firstOrFail?"
# Issue
In looking at the cache records in Redis from a single call of `firstOrFail` I see three records created and am wondering if this is the intended behavior. It's probably just easier to follow if you set a breakpoint in the [(`get` method)](https://github.com/GeneaLabs/laravel-model-caching/blob/7be8044842e7bf626a4ff5f916a1f5432b287ce6/src/CachedBuilder.php#L94) of CachedBuilder and go thro

[2019-01-17 08:45] anilgangani04 opened #202 "Getting error while update item"
**Describe the bug**
I am getting error as below while update Item object...

[2019-01-17 08:34:58] dev.ERROR: Symfony\Component\Debug\Exception\FatalThrowableError: Argument 1 passed to App\Models\App\Item::App\Models\App\{closure}() must be an instance of App\Models\App\Builder, instance of GeneaLabs\LaravelModelCaching\CachedBuilder given, called in /home/anilg/data1/html/****/vendor/illuminate

[2019-01-19 10:02] zhenyangze opened #203 "Return value of GeneaLabs\LaravelModelCaching\CacheKey::getValuesFromWhere() must be of the type string, array returned"
**Describe the bug**
Return value of GeneaLabs\LaravelModelCaching\CacheKey::getValuesFromWhere() must be of the type string, array returned

**Eloquent Query**
Please provide the complete eloquent query that caused the bug, for example:
[code]

**Stack Trace**
[code]

**Environment**
 - PHP: [e.g. 7.1.0]
 - OS: [e.g. Ubuntu 18.04]
 - Laravel: [e.g. 5.6.15]
 - Model Caching: [e.g. 0.2.61]

**Addit

[2019-01-19 10:07] zhenyangze commented on #203
[code]

[2019-01-24 08:48] zhenyangze commented on #203
More: model()->find(1) and model()->find([1]) Error:
edit file `vendor/genealabs/laravel-model-caching/src/CachedBuilder.php`
search  'find' function like that
[code]

[2019-01-24 14:55] mikebronner commented on #203
Please provide the full stack trace of the error. I am currently traveling and won't be back until next week.

[2019-01-24 14:57] mikebronner commented on #202
Thanks for posting this. Can you provide the full stack trace of the error? That will help me identify what is going on.

[2019-01-25 02:13] zhenyangze commented on #203
Have a nice trip;I'll add it later.

[2019-01-25 02:30] zhenyangze opened #204 "Bug: collection data and single data use same key"
**Describe the bug**
laravel model return two type data: collection and  single object. if the laravel-model-caching use the same cache key, it will return one type of two. so when you want a collection data to display with foreach,it some times  report error because it return a single object. or you want to use a object property but it report the object doesn't have the property because it return

[2019-01-25 02:35] zhenyangze commented on #203
already provide the full stack trace of the error.
and the second bug report goto this page: https://github.com/GeneaLabs/laravel-model-caching/issues/204

[2019-01-25 02:36] zhenyangze commented on #203
https://github.com/GeneaLabs/laravel-model-caching/issues/204

[2019-01-28 05:00] mahmod2000 opened #205 "Installation request for genealabs/laravel-model-caching ^0.3.6"
Hi,

**Describe the bug**
When I want to install the Model caching package, it throws the following error:
 Problem 1
    - Installation request for genealabs/laravel-model-caching ^0.3.6 -> satisfiable by genealabs/laravel-model-caching[0.3.6].
    - genealabs/laravel-model-caching 0.3.6 requires fico7489/laravel-pivot dev-new@dev -> satisfiable by fico7489/laravel-pivot[dev-new] but these confli

[2019-01-28 13:36] mikebronner commented on #205
PHP 5.6 is not supported.

[2019-01-28 13:36] #205 closed

[2019-01-29 09:20] mahmod2000 commented on #205
@mikebronner  I mentioned above PHP = 7.2 !  not  5.6
Laravel is 5.6

[2019-02-03 12:39] mahmod2000 opened #206 "Installation request for genealabs/laravel-model-caching"
Hi
I just posted about this issue and you said it doesn't support PHP 5.6, but I said my PHP version is 7.2  and laravel version was 5.6.
Now I updated the laravel version to 5.7, but it still show the below error:

 `Problem 1
    - Installation request for genealabs/laravel-model-caching ^0.3.6 -> satisfiable by genealabs/laravel-model-caching[0.3.6].
    - genealabs/laravel-model-caching 0.3.6

[2019-02-04 09:56] jishadp commented on #206
@mahmod2000 Have you got the solutions ? Same issue for me as well.

**Environment**

PHP: 7.2
OS: Ubuntu
Laravel: 5.6

[2019-02-04 15:42] mikebronner commented on #206
@mahmod2000 sorry about the misunderstanding and delay on this issue. I think I know where the problem lies, and will try to get a fix out today or tomorrow. (It's most likely the dependency `Laravel-pivot` needs to be updated to a release version.)

[2019-02-05 07:59] yassir3wad opened #207 "checking cooldown"
why the package checks cooldown:saved-at, cooldown:invalidated-at, and cooldown:seconds every time query requested where I am not using this feature in my model cache

![image](https://user-images.githubusercontent.com/31948375/52259942-04a99300-292d-11e9-80e5-83739aedef08.png)

[2019-02-06 23:31] #206 closed

[2019-02-06 23:34] mikebronner commented on #206
@mahmod2000 @jishadp I released version 0.3.7 with an update to the dependency, which should fix your issue. Let me know how it goes. :)

[2019-02-07 00:38] drsdre opened #208 "Binary UUID data changes"
I'm using ordered binary MySQL storage for UUID's. As soon as I'm switching on 'use cachable;' on my models, the UUID's suddenly change between the first and subsequent queries causing mismatches.

(Confirmed) original UUID 8cecda47-f2f6-46e3-8e92-9b100efc7273

Change to UUID 8cecc9dd-aaf9-4031-a239-56ab512dc6c9 when cachable is enabled on the models

**Environment**
 - PHP:  7.2.13
 - OS: MacOS w

[2019-02-07 10:15] yemenifree opened #209 "Performance issue with `checkCooldownAndRemoveIfExpired`"
**Describe the bug**

I was testing the performance of the website with a huge number of requests in sametime but I found very critical issue with performance because of `checkCooldownAndRemoveIfExpired` function

its increase the response time from < 1s to > ~9s for each request when the server tried to serve > 400 requests per second, my test was done using different settings and using load bala

[2019-02-14 04:59] phongtnit opened #210 "Error ReflectionException (-1) Class redis does not exist"
**Describe the bug**
There is a error when I use the package. I install redis and laravel-model-caching package via
[code]
I also sets `MODEL_CACHE_STORE=redis` in .env file. After that, I used the `GeneaLabs\LaravelModelCaching\Traits\Cachable` in my existing model.

When I tried the access my controller, the above error happens. What I should to do to fix it?

**Bug image**
![](https://i.imgur.c

[2019-02-14 16:03] mikebronner commented on #210
Hi @phongtnit, I have not seen that problem. Have you followed the Predis instructions here (https://laravel.com/docs/5.7/redis) ? It sounds like Predis is not installed correctly, or at least not recognized by Laravel.

[2019-02-14 16:04] mikebronner commented on #209
Thanks for submitting this in detail! I will take a further look into this, hopefully this weekend. :)

[2019-02-14 16:06] mikebronner commented on #208
Please provide more detail. We need at least the the eloquent query you are using, and complete stack traces for any errors. I don't have an answer for you based on the information provided so far, unfortunately.

[2019-02-14 16:07] mikebronner commented on #207
@yassir3wad Thanks for highlighting this  possible issue. Can you provide the eloquent query you are running? That will help me look into it. Thanks!

[2019-02-14 16:07] mikebronner commented on #204
I will have to look into this some more, before providing an accurate answer. Thanks for bringing this to my attention. :)

[2019-02-14 16:09] mikebronner commented on #201
Hi @shawnheide, this sounds like intended behavior. This package caches any queries that Eloquent runs behind the scenes. If Laravel runs multiple queries for `->find()`, then it will cache the results of each of those. Sorry for the late reply.

[2019-02-14 16:09] #201 closed

[2019-02-15 13:49] drsdre commented on #208
I have a strong suspicion the source of the problem is caused by not clearing the cache after a database reset and reseed. I'll do some more testing in the coming week.

[2019-02-15 14:16] yassir3wad commented on #207
@mikebronner the query is simple `Country::get()`, the previous image was captured from laravel telescope

[2019-02-15 15:20] mikebronner commented on #208
@drsdre Yes, I have confused myself in debugging due to out-of-sync caches before as well! :) It would make sense with what you are experiencing. Let me know how it goes. I will close this for now, but if you find out more, please re-open it. :) Good luck!

[2019-02-15 15:20] #208 closed

[2019-02-19 01:16] calchen commented on #204
@mikebronner I have the same problem.

[2019-02-19 08:54] denitsa-cm opened #212 "Multitenant cache - cache fetched for wrong tenant"
**Describe the bug**
Tenant connection fetches the cache for a differnet tenant.

**Eloquent Query**

The query I'm executing for a `/settings` request:

[code]

**Environment**
 - PHP: 7.2
 - OS: Ubuntu 18.04
 - Laravel: 5.7.24
 - Model Caching: 0.3.4

**Additional context**
We have a `main` connection and a `tenant` connection. The specific tenant database is set in a middleware on every request

[2019-02-19 08:57] denitsa-cm commented on #212
Do I have to explicitly use the `CachePrefixing` trait somewhere? I see there's a function `CachePrefixing:getCachePrefix()` as well as `Caching::getCachePrefix()` 🤔

[2019-02-19 09:19] denitsa-cm commented on #212
I also dumped inside the `ModelCaching::all()` function.

the result of  `$key = $instance->makeCacheKey();` is `genealabs:laravel-model-caching:main:librarymanager:appmodelsmembersettingkey` (which is wrong) 🤔

[2019-02-22 16:11] PokeGuys commented on #212
I am having the same issue here.
When I fetch the model it works well, everything is cached in a correct key-value, but if I try to perform any create / update, the tag will mess up and use the default connection name.

I think it is related to those three functions.

https://github.com/GeneaLabs/laravel-model-caching/blob/6997acbad5383f2182e31c8ed560adef80d778bd/src/Traits/Caching.php#L79-L92

It

[2019-02-26 08:35] cluebattery commented on #203
@mikebronner can confirm that @zhenyangze's proposed change does fix the issue as I ran into this last night when attempting to utilize this package.

I ran into the issue with the following:

[code]

Working on a proper pull request for you at the moment.

[2019-02-26 08:50] cluebattery commented on #203
https://github.com/GeneaLabs/laravel-model-caching/pull/214

[2019-02-26 16:02] mikebronner opened #215 "Add Laravel 5.8 Compatibility"

[2019-02-28 20:54] #215 closed

[2019-02-28 21:36] dmason30 commented on #215
@mikebronner Since this contained breaking changes, namely the backwards compatibility shouldn't this have been a major release (1.0.0) not minor (0.4.0)?

[2019-02-28 23:08] mikebronner commented on #215
@dmason30, no ... 0.x releases are breaking changes during the beta phase. 1.0.0 release would be the initial go-live. It is still in beta.

[2019-03-01 01:41] Phr33d0m opened #216 "Laravel 5.8 constraint doesn't allow composer to pull >5.8.0"
Hi, as the title says. I was wondering why my ```composer update``` didn't pull the already available 5.8.2 release thus I ran:

[code]

Could you relax the requirement a bit? Something like 5.8.* should be correct.

Thanks.

[2019-03-01 01:52] mikebronner commented on #216
@Phr33d0m haha, for sure!! sorry about that ... I was using the range specification before, where the patch version didn't matter. Fix coming up in a sec.

[2019-03-01 01:58] #216 closed

[2019-03-01 02:02] Phr33d0m commented on #216
@mikebronner Thanks!

Btw, I know this is a different issue but as I have your attention in here could you fix this as well for the next version bump?

[code]

I'm not a composer guru so I have no idea why it's not picking up the custom repository...

[2019-03-01 02:06] mikebronner commented on #216
hmmmm, It **should** be pulling from my fork on GitHub ... I'll look into it some more.

[2019-03-01 02:45] mikebronner commented on #216
I'm not able to replicate the problem, it downloads the patch for me everytime I try, even after clearing composer cache. Would you mind pasting your composer.json here for me to take a look at?

[2019-03-01 02:48] Phr33d0m commented on #216
For me the error is reproducible every time. Just do ```laravel new testrepo && composer require genealabs/laravel-model-caching``` and it should fail.

[2019-03-01 03:03] mikebronner opened #217 "Unable to install dependencies"
Continuation of issue #216

Need to figure out how to get composer to resolve fork when installing.

[2019-03-01 03:12] mikebronner commented on #217
@Phr33d0m I will continue working on this tomorrow. Sorry this isn't working at the moment. I've tried all sorts of advice from stackexchange.

Anyone know how to pull in a fork in a composer dependency's dependency?

[2019-03-01 09:38] shanjo commented on #217
Hello, im guessing this is with the dependencies "fico7489/laravel-pivot"
As far as i can see its trying to retrieve the dev-xx etc. version which apparently doesn't exists anymore.

But what is the difference between their live version, wouldn't it be able to run with that or do it have to be the development version?

I dont know alot about the structure of your extension :) Just speaking on the

[2019-03-01 14:44] mikebronner commented on #217
@shanjo The problem is that composer won't install custom repositories defined in packages, only at the root level. I'm trying to figure out how to get around this until the `laravel-pivot`package is updated with this PR: https://github.com/fico7489/laravel-pivot/pull/57, so that people can install this package. :-|

[2019-03-01 15:05] mikebronner commented on #217
This should now work in version 0.4.7.

[2019-03-01 15:05] #217 closed

[2019-03-01 15:06] mikebronner commented on #216
@Phr33d0m This should now work in version 0.4.7.

[2019-03-02 10:05] iredmedia opened #218 "Model::first() being treated as Model::all()?"
**Describe the bug**
On one specific model, when I add the trait, Model::first() gives me a full collection - as if Model::all() was called. Other models work fine. This occurs in tinker.

**Eloquent Query**
[code]

**Stack Trace**
No errors thrown

**Environment**
 - PHP: 7.1.0
 - OS: OSX
 - Laravel: 5.5.14
 - Model Caching: laravel-5.5

**Additional context**
I'm using GeneaLabs/laravel-model-ca

[2019-03-02 10:14] sgssxf commented on #206
Using version ^0.4.7 for genealabs/laravel-model-caching
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Installation request for genealabs/laravel-model-caching ^0.4.7 -> satisfiable by genealabs/laravel-model-caching[0

[2019-03-02 10:18] sgssxf opened #219 "composer require genealabs/laravel-model-caching ^0.4.7"
**Describe the bug**
Using version ^0.4.7 for genealabs/laravel-model-caching
[code]

**Environment**
 - PHP: 7.1.23
 - OS: mac os 10.13.6
 - Laravel: 5.8.*
 - Model Caching: ^0.4.7

[2019-03-02 11:12] danishhashmi88 commented on #219
Same

- PHP 7.1.3
- OS : Windows 10
- Laravel: 5.6.4
- Model Caching: ^0.4.7

[2019-03-02 12:33] mikebronner commented on #219
@sgssxf @danishhashmi88 Thanks for reporting this. I thought that was resolved when I was able to install it without issue. Grrrr.... I will try to resolve this early next week.

[2019-03-02 12:36] mikebronner commented on #218
@iredmedia Thanks for posting this. If it's a bug in the package, it will only be fixed for Laravel 5.8, as I can no longer maintain backwards-compatibility to any released prior.

[2019-03-02 12:39] mikebronner commented on #219
As a work-around, could you add the following to your project's composer.json file, until this issue is resolved?

[code]

Please let me know if the package resolves for you after that.

[2019-03-02 12:43] mikebronner commented on #206
@sgssxf please see #219

[2019-03-02 13:04] danishhashmi88 commented on #219
Same error.

![image](https://user-images.githubusercontent.com/5086707/53682259-b9ab5180-3d19-11e9-9290-737572601868.png)

[2019-03-04 17:33] mikebronner commented on #219
I am unable to replicate this issue. Please to the following on your project:

Update your `composer.json` to include the following:
[code]

Run the following commands:
[code]

Each time I try this, it installs the dependencies.

[2019-03-04 17:59] pthurmond commented on #185
I'm going to throw my 2 cents in here. There is some kind of interaction that is happening between this plugin and that one that triggers these kinds of errors.

I say that because I am in the process of trying to add your auto-caching to my, relatively new, repo. When I make the call to my API endpoint without implementing model caching it returns just fine as is. HOWEVER, as soon as I add the Ca

[2019-03-04 18:01] mikebronner commented on #185
@pthurmond Please see this issue: https://github.com/GeneaLabs/laravel-model-caching/issues/219

[2019-03-04 18:39] Smolevich commented on #219
Why don't you  publish `https://github.com/mikebronner/laravel-pivot` in package repository https://packagist.org?

[2019-03-04 18:43] mikebronner commented on #219
@Smolevich That is my last resort step, I was hoping to avoid that, but it looks like there is no other way. Will do that shortly.

[2019-03-04 19:47] mikebronner commented on #219
Please try version 0.4.8 and let me know how that goes.

[2019-03-05 07:28] alirezamaleky commented on #219
Thanks for fixing this problem, I installed the version 0.4.8 without problems, there is no need to change the composer.json file.

[2019-03-05 11:14] remzikocak commented on #219
Version 0.4.8 is working fine for me. Thanks for fixing

[2019-03-06 06:29] danishhashmi88 commented on #219
Yup, 0.4.8 working fine.

[2019-03-06 18:04] mikebronner commented on #219
Awesome, thanks, closing now. :) looks like the original package will receive an update soon.

[2019-03-06 18:04] #219 closed

[2019-03-07 20:12] webard opened #220 "Caching custom attributes"
When Model has a custom attributes like
[code]

that attributes are not stored in cache. It is problem when some hard calculations are present in custom attributes methods.

[2019-03-07 22:14] mikebronner commented on #220
This is expected behavior. Only eloquent queries are cached. You would have to return the result of eloquent queries from within the custom attribute for them to be cached. Sorry, this functionality probably won't ever be part of this package, as this package is meant to cache eloquent queries, and not model instances.

[2019-03-07 22:14] #220 closed

[2019-03-08 17:36] umasslmz commented on #207
Same issue after installing on Laravel 5.8 and using latest Telescope. Extended model with BaseModel as instructed.

[2019-03-08 22:01] andreshg112 commented on #219
I cannot install any of the three latest versions:

`composer require genealabs/laravel-model-caching`
![imagen](https://user-images.githubusercontent.com/15859884/54058309-7e9a9980-41c3-11e9-8514-9bd30c806441.png)

`composer require genealabs/laravel-model-caching:0.4.8`
![imagen](https://user-images.githubusercontent.com/15859884/54058335-91ad6980-41c3-11e9-95cc-f14ecb97709f.png)

`composer requ

[2019-03-08 22:02] mikebronner commented on #219
@andreshg112 This requires Laravel 5.8.

[2019-03-11 22:11] andreshg112 opened #221 "Keys are being deleted after executing phpunit"
**Describe the bug**
After executing `vendor/bin/phpunit`, Redis' keys are being deleted. In the image below, you can see the highlighted statement (after phpunit was executed).
![imagen](https://user-images.githubusercontent.com/15859884/54161145-47c0bf80-441f-11e9-8e4b-7fd37fd139ac.png)

**Environment**
 - PHP: 7.2.13
 - OS:
 - Laravel: 5.6.39
 - Model Caching: 0.3.7

**Additional context**
 - D

[2019-03-12 02:55] mikebronner commented on #221
Hi @andreshg112, that is by design. The unit tests check for various states, lingering caching, etc. etc., and need to flush the cache between every test. Can you describe why this is causing a problem for you?

[2019-03-12 03:00] andreshg112 commented on #221
It's not causing a problem right now. I just wanted to know why It's happening. In fact, It's about fear. We do have dev dependencies installed on our production environment for debugging purposes. Despite I'm the only one managing the Laravel backend right now, I would like to prevent deleting cache after executing PHPUnit or warn about it.

[2019-03-12 03:00] #221 closed

[2019-03-17 15:16] nguyentranchung commented on #210
Hi @phongtnit
Your cache driver is redis, not predis. See here

https://github.com/laravel/laravel/blob/4997f08105d6fb941b1ed2c749ebd2f55fba5a74/config/cache.php#L75

[2019-03-19 20:18] jvv8 opened #222 "Incorrect Caching of Models with Scope Parameter"
**Description**
When using a Cacheable Model that includes a scope with a parameter, the parameter is ignored from the cache key.

**Example**
[code]

[code]
**Expected Behavior**
Cachable Models take scoped parameters into account.

**Actual Behavior**
Cacheable Models are cached regardless of the parameter passed to the scope. Even when disableCache() is applied, the cached model from a previous

[2019-03-19 20:38] mikebronner commented on #222
@jvv8 Thanks for reporting this. I will double check and get back to you soon. Scopes can be tricky to work with.

[2019-03-24 20:00] mycarrysun commented on #209
I can confirm - I found the same thing by analyzing the cache misses and that it is looking for the cooldown data even if it isn't there.

Are we able to add this to the config file somehow?

I may write up a PR if I have some time.

[2019-03-24 21:09] mikebronner commented on #209
Yes, a PR would help out tremendously. I haven't had a chance to analyze this issue yet. :(

[2019-03-24 21:50] mycarrysun commented on #209
@mikebronner Just added - let me know what you think. The tests are failing somewhere before my tests run so not sure what's going wrong there.

Says:
[code]

[2019-03-25 01:24] mikebronner commented on #209
Hi @yemenifree and @mycarrysun, would you guys mind testing release 0.4.10 to see if that fixes it? Please see the updated readme for enabling cache cool-down if you wish to use it. If not, you shouldn't have to make any changes. Please keep me updated as to how your performance testing goes. Thanks for all your help!

[2019-03-25 21:32] mikebronner commented on #209
@mycarrysun I have updated the cachecooldown property on models to reflect seconds instead of a boolean, as we discussed yesterday.

[2019-03-25 21:36] mikebronner opened #224 "Get Travis To Work With Postgres Database Tests"
Currently TravisCI is failing tests because it can't connect to its own database. Would love to get this fixed. :) Any help is welcome!

[2019-03-26 16:43] shez1983 commented on #116
i have come across this problem so i am doing something like:

[code]

then running it like:

[code]

and i get an error:

[code]

[2019-03-27 19:17] mycarrysun commented on #209
Awesome! What version is this in?

[2019-03-27 19:18] mikebronner commented on #209
https://github.com/GeneaLabs/laravel-model-caching/commit/eeb78e0a2b0dc1ffdfe2d2669c5d3bc3d2274c6b

[2019-03-27 19:45] xyrintech opened #226 "Telescope Incompatibity"
**Describe the bug**
ErrorException  : Undefined offset: 0

  at /home/ubuntu/workspace/new/vendor/laravel/telescope/src/Watchers/ModelWatcher.php:36

**Environment**
 - PHP: 7.3
 - OS: Ubuntu 16.x
 - Laravel: 5.8
 - Model Caching: 0.4.11

[2019-03-27 19:56] mikebronner commented on #226
@xyrintech That seems to be a Laravel Telescope issue. Please provide a full stack trace so we can further investigate.

[2019-03-28 03:27] ggomuk commented on #226
Hi

I have the same problem. finally found a reason.

[code]

In Traits/Cacheable
use Fico7489\Laravel\Pivot\Traits\PivotEventTrait > ExtendFireModelEventTrait

That Override Model fireModelEvent so

[code]

In Laravel Telescope Model Watch

[code]

That’s reason.

[2019-03-28 15:59] corsair commented on #226
Also experiencing the same. Seems disabling ModelWatch via the Telescope config may be the best option for the time being.

Seems identical to https://github.com/GeneaLabs/laravel-model-caching/issues/185 though.

[2019-03-28 15:59] mikebronner commented on #226
@ggomuk Thanks for tracking this down. This issue is logged here:
https://github.com/fico7489/laravel-pivot/issues/55

[2019-03-28 16:04] mikebronner commented on #210
Closing this due to inactivity. Please open a new issue with complete stack trace and other relevant information if it occurs again. Thanks :)

[2019-03-28 16:04] #210 closed

[2019-03-28 16:05] mikebronner commented on #209
Closing this issue for now. Please let me know if there is still a performance impact! Thanks for your guys's help on this!

[2019-03-28 16:05] #209 closed

[2019-03-28 16:23] mycarrysun commented on #209
Sorry for the late reply - just upgraded to 0.4.11 and is working as expected!

[2019-03-28 16:24] mikebronner commented on #209
@mycarrysun Awesome! Thanks for following up. :)

[2019-03-28 17:15] mycarrysun commented on #207
@mikebronner you just fixed this with 0.4.10 and forward

[2019-03-28 17:17] mycarrysun commented on #202
remove the class `Builder` from the line that says:
[code]

[2019-03-28 18:04] mikebronner commented on #202
Thanks @mycarrysun :). I was hoping to find out what actually is passing in the closure to cause this issue. If a builder object is not being passed in, I would expect it to fail further down the line. My hunch is that something might be set up wrong with dependency injection?

[2019-03-28 18:06] mikebronner commented on #207
@mycarrysun Love it when that happens! :) Closing for now. Please reopen if this recurs.

[2019-03-28 18:06] #207 closed

[2019-03-28 19:20] mycarrysun opened #227 "Undefined index in CacheKey::getInAndNotInClauses()"
**Describe the bug**
Getting an undefined index error inside the `getInAndNotInClauses` function. [This line](https://github.com/GeneaLabs/laravel-model-caching/blob/eeb78e0a2b0dc1ffdfe2d2669c5d3bc3d2274c6b/src/CacheKey.php#L218).

**Eloquent Query**
Please provide the complete eloquent query that caused the bug, for example:
[code]

**Stack Trace**
[code]

**Environment**
 - PHP: 7.2
 - OS: Ubunt

[2019-03-28 19:22] mikebronner commented on #227
@mycarrysun Thanks for reporting this. Will look into this soon. If you want to take a stab at it, my guess would be that I am not checking for empty arrays in `getInAndNotInClauses()`.

[2019-03-28 19:28] mycarrysun commented on #227
Got it @mikebronner will submit a PR. Just going to check if `isset()` first

[2019-03-28 19:38] mycarrysun commented on #202
@mikebronner if he wants to keep the class, he can just use:
[code]

The error will go away. This is not a bug with the library.

[2019-03-28 20:50] mycarrysun commented on #127
I believe I am having this same issue - although as @jradtilbrook mentioned the `with()` method is working for him...it is *not* working for me. Does lazy loading and eager loading work the same with this library?

[2019-03-28 21:06] Elycin opened #230 "Inquiry about missing cache hits."
**Describe the bug**
This may or may not be a bug, I'm seeking an explanation or to potentially report a problem if this is one.

When caching the user model for an example we are getting 3 misses per request with the following keys provided in the additional content. This is redcurrant behavior and never seems to be set.

**Eloquent Query**
Please provide the complete eloquent query that caused t

[2019-03-28 21:06] mycarrysun commented on #230
Weird...should have been fixed in 0.4.10.

[2019-03-28 21:08] Elycin commented on #230
If I can squash it myself I'll be sure to make a PR.
![image](https://user-images.githubusercontent.com/33913289/55192951-17498700-517c-11e9-9c53-0f0feac6ddea.png)

[2019-03-28 21:13] mycarrysun opened #231 "ModelCaching::scopeDisableCache() not working correctly"
**Describe the bug**
Trying to use `disableCache()` on a query with eager loaded relationships only disables cache for the model, not the relationships

**Eloquent Query**
Please provide the complete eloquent query that caused the bug, for example:
[code]

**Stack Trace**
NA

**Environment**
 - PHP: 7.2
 - OS: Ubuntu 18.10
 - Laravel: 5.8.8
 - Model Caching: 0.4.11

**Additional context**
If I set

[2019-03-28 21:18] mycarrysun commented on #230
Yea check this commit: https://github.com/GeneaLabs/laravel-model-caching/commit/f8aafe23a5a8b815b2fddac0a9f9595bb56d6136

[2019-03-28 21:20] mycarrysun commented on #230
Also here is the release: https://github.com/GeneaLabs/laravel-model-caching/releases/tag/0.4.10

[2019-03-28 21:22] mycarrysun commented on #231
Curious about [this line](https://github.com/GeneaLabs/laravel-model-caching/blob/eeb78e0a2b0dc1ffdfe2d2669c5d3bc3d2274c6b/src/Traits/ModelCaching.php#L72)...why set it back to true if it is not cachable?

[2019-03-28 21:23] Elycin commented on #230
Glad to hear this isn't an bug anymore, however could an example be made in the readme?

[2019-03-28 21:40] Elycin commented on #230
I am able to access the property in 0.4.10, and do not see any traces of this in 0.4.11.

![image](https://user-images.githubusercontent.com/33913289/55194575-81fcc180-5180-11e9-8e33-de40ce1e713c.png)

[2019-03-28 22:29] mikebronner commented on #127
@mycarrysun I think it works in belongs-to relationships, but in none of the others. Lazy loading works differently from eager loading, which is why things break down. As mentioned above, I believe the problem is that lazy loading expects a Builder instance, and not a CacheBuilder instance. :(

Not sure how to get around that one, it starts messing with your mind when things get conditionally nest

[2019-03-28 23:02] mikebronner commented on #230
@Elycin This has been added to the readme. :) The property is now named differently: https://github.com/GeneaLabs/laravel-model-caching#experimental-cache-cool-down-in-specific-models

[2019-03-28 23:10] Elycin commented on #230
@mikebronner as seen in my previous screenshots, I am assigning the `cacheCooldownSeconds` in the constructor as seen in my snippet with version 0.4.11:
[code]

This is the version that persists this issue where hits are being missed, as followed by the example in the readme.

[2019-03-28 23:58] mikebronner commented on #230
@Elycin Thanks for the clarification. That helps. I will look into that some more. :) Like it says in the readme, it's highly experimental, and not recommended for production. I'll see what I can find out.

[2019-03-29 00:20] Elycin commented on #230
No problem, glad I could give some insight!

[2019-03-29 02:14] Elycin commented on #231
Hello, I'm hoping I can add some insight to this issue.

In a function I wrote I wanted to disable caching for a particular model, in this case the user (which is not advised to cache anyways).
[code]

I get the following exception:
[code]

With the following stack trace:
[code]

[2019-03-29 02:17] mikebronner commented on #231
`->disableCache()` should be called on the model directly. Try that and see if it works. This will only work if your User model has the `use Cachable;` trait applied. If it doesn't have the trait applied, it won't be cached, so no need to `disabledCache()`.

[2019-03-29 02:20] Elycin commented on #231
As in `(new User)::disableCache()->...`, just to confirm?

[2019-03-29 02:23] Elycin commented on #231
I've gotten the following example above to work instead of using a arrow method, cheers.
Good luck OP!

[2019-03-29 02:27] mikebronner commented on #231
@Elycin Can you post your User model here? It really should work both ways.

[2019-03-29 02:37] Elycin commented on #231
My user model is pretty straightforward:
[code]

The two methods I tried were:
[code]

Additionally, when trying to update the model I sometimes get the following error but I suspect it's particularly due to it being the user model.
[code]

[2019-03-29 06:46] #202 closed

[2019-03-29 06:46] anilgangani04 commented on #202
Thanks guys

[2019-03-29 14:28] mikebronner commented on #231
@Elycin good to hear. :)

[2019-03-29 17:59] mikebronner commented on #202
@mycarrysun I will research your solution to see if it solves the global scope problems #106

[2019-03-29 20:14] mycarrysun commented on #106
Everyone active on this issue - I am currently investigating the global scope `scopeDisableCache()` and I don't think that the title on this issue is accurate.

It seems the way that the cache key is formed is already taking any scopes that have been applied into account. So global scopes will be caught.

The problem you are facing here is only limited to the `scopeDisableCache()` function. I beli

[2019-03-29 20:28] mikebronner commented on #106
@mycarrysun Thanks for looking into this!!!  :)
I have not looked at this issue for quite some time. If you can create a PR, I will write some tests to see if it works, as well as see if it breaks current functionality.

[2019-03-31 21:55] mycarrysun commented on #231
@mikebronner after some further testing, it seems this did not fix eager loading of relationships. It is not pulling the main model from cache when I use `findOrFail` (which is what I want) but the eagerly loaded relationships are being loaded from cache (which is *not* what I want).

Do you have any suggestions on how to nail down where this is occuring?

[2019-03-31 22:15] mycarrysun commented on #231
@mikebronner don't know if this helps but it works as expected (does not use cache) if I set `config['laravel-model-caching.disabled' => true]);`. Would need to turn back on after each query, which is not very elegant.

If I had to guess, the `isCachable()` method is returning `true` when it shouldn't.

[2019-03-31 23:49] mycarrysun commented on #231
I think I found the issue here...after much reverse engineering - I discovered that the relationship is loaded as a new instance. This will not inherit the `isCachable` property value from the original model.

In order to disable model caching for all eager loads we can overload the `Illuminate\Database\Eloquent\Builder::getRelation` method in `CachedBuilder`.
[code]

Sometimes the relation's quer

[2019-04-02 19:12] d8vjork opened #233 "Doesn't get any attributes casts with Nova"
**Describe the bug**
When using Laravel Nova it doesn't get any of the casts and on Date fields is always returning an error because of that (must always cast to dates to work).

**Eloquent Query**
Nothing (Nova's internal)...

**Stack Trace**

**Environment**
 - PHP: 7.2
 - OS: Debian 9
 - Laravel: 5.8
 - Model Caching: 0.4.11

**Additional context**
I don't include much information because I thi

[2019-04-02 19:18] d8vjork commented on #233
Ok, only works with accessors :/ it will be fantastic if we've casts available for this

[2019-04-02 19:45] mikebronner commented on #233
@d8vjork Can you elaborate a bit more? Is there a stack trace? I don't think I understand what the problem is. Can you provide specific steps to reproduce?

[2019-04-02 20:11] d8vjork commented on #233
@mikebronner Of course, now with the edit I got more stuff to show, let's explain this:

One of the issues is using casts to arrays (using fourstacks/nova-repeatable-fields package with Nova and Telescope) and trying to save the model I've got an `Undefined offset: 0`, so this is related with #226 (Stacktrace: https://gist.github.com/d8vjork/14f721e327b30041fa49356c90d02c77)

I know this one is no

[2019-04-02 21:14] mycarrysun opened #234 "Transaction style disabling model cache"
**Is your feature request related to a problem? Please describe.**
I am always having to disable the model cache on certain queries with lazy loaded relationships. I have created a helper for myself and figured others would find it useful for running an entire block of code with the model cache disabled and then turned on after the function is ran.

Here is my definition:
[code]

In my project I h

[2019-04-03 16:04] mikebronner commented on #234
Hi @mycarrysun, thanks for suggesting this. Does the `->disableCache()` in the eloquent chain not work in your use-cases? If you could explain why that doesn't work, that will help me understand the specific use-case for this way better. Thanks! :)

[2019-04-03 19:21] mikebronner commented on #224
Finally figured it out after much trial and error.

[2019-04-03 19:21] #224 closed

[2019-04-03 19:22] mikebronner commented on #227
@mycarrysun This should now be fixed in release 0.4.12. Let me know if it works. :)

[2019-04-03 19:22] #227 closed

[2019-04-03 19:26] mikebronner commented on #231
This should now be fixed in release 0.4.12. Could you test and re-open if it still is not working? Thanks!

[2019-04-03 19:26] #231 closed

[2019-04-03 19:28] mikebronner commented on #230
@Elycin By the way, if you want the cache cool down to be 10 minutes, this is preferred:

[code]

[2019-04-03 19:31] mikebronner commented on #222
@jvv8 Please update to the 0.4.12 or higher version of this package .... I just noticed you are running on Laravel 5.7 and package version 0.3.*. Those are no longer supported, and we have applied many fixes since then. Let me know if the issue still occurs on Laravel 5.8.

[2019-04-03 19:38] mikebronner commented on #222
Closing for now, please re-open after testing with 0.4.12 or greater.

[2019-04-03 19:38] #222 closed

[2019-04-03 20:19] mikebronner commented on #218
@iredmedia I am unable to replicate this issue. Please test with the latest release in Laravel 5.8 and re-open if it still occurs. Thanks :)

[2019-04-03 20:19] #218 closed

[2019-04-03 20:38] mikebronner commented on #204
@calchen This should no longer be happening. Please test again with the latest version, 0.4.12 or above. Feel free to re-open if it does. Thanks!

[2019-04-03 20:38] #204 closed

[2019-04-03 20:39] mikebronner commented on #203
@zhenyangze  @cluebattery Can you guys test this again with the latest release, 0.4.12? Please re-open if it is still failing.

[2019-04-03 20:39] #203 closed

[2019-04-03 20:42] mikebronner commented on #212
@denitsa-cm  @PokeGuys Could you guys retest and re-open this issue if the problem is still occurring? Please test with latest release, 0.4.12 or higher. Thanks!

[2019-04-03 20:42] #212 closed

[2019-04-03 20:46] mikebronner commented on #230
@Elycin What tool are you using to get the missed cache queries? Is that Horizon?

[2019-04-03 20:57] mikebronner commented on #106
@scottgrayson @jcsoriano @sgtaziz   Can you test if this is now fixed in the latest release, 0.4.12 or newer?

[2019-04-03 21:09] #106 closed

[2019-04-03 22:54] jvv8 commented on #222
Thanks, using Laravel Lucid which currently doesn't have 5.8 support.
Will test when the update is available.

[2019-04-04 01:53] mycarrysun commented on #234
It does work now yes. Thanks :)

This is more of a convenience thing. I am using it in 2 places where I have multiple lazy load calls that I do not want loaded from the model cache and it is being called by a relation magic getter, which is not an eloquent query (eg `$this->cartable->load(['relation1', 'relation2']);` - where cartable is a relation of `$this` and I don't want `relation1` or `relat

[2019-04-04 18:24] mikebronner commented on #234
Hi @mycarrysun, this is now in release 0.4.13. :) Thanks for the suggestion. Please see the readme for implementation details.

[2019-04-04 18:24] #234 closed

[2019-04-04 19:43] mycarrysun commented on #234
Nice man! Thanks for adding so quickly!

[2019-04-04 20:03] mycarrysun commented on #234
Looks good - just peeped the readme

[2019-04-04 22:18] mikebronner commented on #233
@d8vjork Could you post the code for your model, as well as the Nova resource class for the model? That might help me figure out what's going on. Thanks!

[2019-04-09 08:40] DavidSprauel opened #235 "Call to undefined method Illuminate\Events\Dispatcher::fire()"
I encountered a weird error since I updated my composer today. I'm executing a migration and got the `Call to undefined method Illuminate\Events\Dispatcher::fire()` when my model boot.
I only get the error when i `use Cachable`.

Here is the query i'm doing.
[code]
I have a BaseModel which is the parent of all my model and I `use Cachable` in this model.

Here is the stack trace
[code]

**Environm

[2019-04-10 16:18] mikebronner commented on #235
This looks like it still has an old version of Laravel-pivot installed. I would recommend deleting your `vendor` folder, clearing composer cache, and re-updating:
[code]

Let me know if that works.

[2019-04-11 19:26] jesperbjerke opened #236 "Wrong database name for cache prefix while flushing a model"
I'm having an issue with the flushing. It seems like it uses the wrong database name, but the correct connection name. It gets the right prefix while fetching, but during flush it doesn't.

I have the same setup as described in this issue: #132

I see that in the trait `CachePrefixing` and method `getDatabaseName`
`$this->query->connection->getDatabaseName();` is used, but in `getConnectionName` `

[2019-04-11 19:33] mikebronner commented on #236
@jesperbjerke Can you provide the Eloquent query and the model that you are using? Thanks!

[2019-04-11 20:00] jesperbjerke commented on #236
Hm, not sure what query you want? I forgot to write in the description above that I'm testing with creating a new model vs fetching. Fetching works fine and uses the proper prefix, but since the flushCache method flushes the wrong prefix, I keep getting stale data.

Here's an example of how I'm creating a new model, no strange stuff:

[code]

Here's an example model:

[code]

The `tenant` connecti

[2019-04-11 20:01] mikebronner commented on #236
@jesperbjerke  Are you using this with `Hyn/multi-tenant`?

[2019-04-11 20:10] jesperbjerke commented on #236
Nope! Custom implementation.

A middleware calls this method basically first thing that happens:
[code]

And on all models I want to be dependent on a tenant, I set `protected $connection = 'tenant';`

[2019-04-11 20:21] mikebronner commented on #236
Thanks, I will look into this.

[2019-04-11 20:27] jesperbjerke commented on #236
Cool, thanks!

Do you know if there is some special reason `$this->query->connection->getDatabaseName();` is used instead of `$this->model->getConnection()->getDatabaseName();` ?

[2019-04-12 07:38] tmishutin opened #237 "Soft delete"
**Describe the bug**
It seems like there is an issue with soft delete. If model using soft delete and result of NOT deleted query is cached, library will ignore global scoping of soft delete scope for the model which will result in wrong return.

**Eloquent Query**
The following will not find a deleted item
[code]

However the following WILL find the deleted item
[code]

**Stack Trace**
-

**Envir

[2019-04-12 14:30] DavidSprauel commented on #235
Worked like a charm. Thanks

[2019-04-12 14:30] #235 closed

[2019-04-13 19:45] mrahmadt opened #238 "Cached queries with different select fields statement"
**Describe the bug**
Query database with deferent fields (and same "where" statement) will return the first cached result without respecting the requested/selected fields

**Eloquent Query**
[code]
**Environment**
 - PHP: 7.3
 - OS: Ubuntu 18.04.1
 - laravel/lumen-framework: v5.7.8
 - Model Caching: 0.3.7

[2019-04-16 10:25] jcsoriano commented on #237
FWIW, I was also able to replicate this error.

`Book::withTrashed()->find($id)` doesn't work, but `Book::onlyTrashed()->find($id)` works fine

`Book::withTrashed()->get()` also doesn't include the soft-deleted models

Environment:
* PHP: 7.2
* OS: Mac OS
* Laravel: 5.8
* Model Caching: 0.4.13

[2019-04-16 10:34] jcsoriano commented on #238
The interesting thing is specifying the columns within the `->get('...')` method works, but specifying it through `->select('...')` doesn't. So as a temporary workaround, maybe you should put your columns in `->get()` instead of `->select()`, like below:

[code]

*Environment*
* PHP: 7.2
* OS: Mac OS
* Laravel: 5.8.11
* Model Caching: 0.4.13

[2019-04-19 23:47] mrahmadt commented on #238
Excellent.

Thanks, this is working fine when I put columns in get().

[2019-04-20 00:49] mikebronner commented on #238
Keeping this issue open to investigate the `select()` issue.

[2019-04-20 00:50] mikebronner commented on #237
Will investigate soon, thanks for reporting this :)

[2019-04-20 18:42] booni3 commented on #187
@mikebronner sorry for the delay getting back on this. My app was running OK without caching so I thought I would just leave this out, but now I do want to try and revisit. This package is great and I would love to be able to use it across our apps (many have a similar architecture to below).

I believe my problem may be caused due to a mix of multi-tennant users but also additional interaction fr

[2019-04-21 21:46] mikebronner commented on #238
This is indeed a bug, will need to ponder on this a while to see how to implement this.

[2019-04-21 22:26] mikebronner commented on #237
Am working on this, have confirmed that this functionality is missing. Any PR to help with this is welcomed :)

[2019-04-22 11:04] smapod opened #239 "Polymorphic relationships error out when caching is enabled."
I updated LMC from 0.3.6 to 0.4.14, and morph relationships broke.

**Explanation:**

1. I call php artisan cache:clear to clear cache.
2. I get products and their prices using eager-load for the first time, everything is fine.

![Step 2](https://i.imgur.com/zj4nMcF.png)

3. I get other products and their prices, the query to the database is cached and not displayed in the console, of course cache

[2019-04-22 16:37] mikebronner commented on #239
@smapod Thanks for reporting this. I will look into this over the next few days.

[2019-04-22 16:38] mikebronner commented on #239
@smapod Can you provide your eloquent query that uses the morph? This will help me create a test case. Thanks!

[2019-04-23 11:09] smapod commented on #239
It's not original, but the same (clear custom scopes).

[code]

[2019-04-23 19:12] smapod commented on #239
Corrected the answer.

[2019-04-24 03:51] zhenyangze opened #240 "BUG: where('category', 0) and where('category', 1) use same cache key"
**Describe the bug**
when the select field data is empty, the cache key would wrong.

**Eloquent Query**
Please provide the complete eloquent query that caused the bug, for example:
[code]

**Stack Trace**
no error

**Environment**
 - PHP: [e.g. 7.1.0]
 - OS: [mac]
 - Laravel: [5.6.15]
 - Model Caching: [^0.3.0]

**Additional context**
in file: vendor/genealabs/laravel-model-caching/src/CacheKey.p

[2019-04-24 19:44] mikebronner commented on #239
@smapod awesome, thanks for the additional details. I will try to look into this over the next few days.

[2019-04-26 03:57] zhenyangze opened #241 "BUG:the current binging index is not right when use whereIn"
**Describe the bug**
when use whereIn, the current binging index would not right

**Eloquent Query**
Please provide the complete eloquent query that caused the bug, for example:
and i expect:
[code]

**Stack Trace**
when i use search like above query, the cacheKey will return
[code]
and i hope:
[code]

**Environment**
 - PHP: [e.g. 7.1.0]
 - OS: [e.g. Ubuntu 18.04]
 - Laravel: [e.g. 5.6.15]
 - Mod

[2019-05-06 01:28] saernz opened #242 "If model has incrementing id "save()" won't invalidate"
**Describe the bug**
If you have table migrations for your models that use `$table->increments('id');` rather than just a `$table->integer('id')->unsigned();` the library fails to invalidate the cache on save().

This is because a code path is followed which falls back to the base query. The code path is: Illuminate\Database\Eloquent\Model > save() > performInsert() > **insertAndSetId()** > Illumi

[2019-05-07 23:03] mikebronner commented on #242
@saernz Thanks for reporting this. I will look into this soon.

[2019-05-07 23:05] mikebronner commented on #241
@zhenyangze Thanks for reporting this! I will look into it soon. :)

[2019-05-07 23:06] mikebronner commented on #240
@zhenyangze Thanks for reporting this, will look into it soon!

[2019-05-08 04:08] ktanakaj opened #243 "Cache Expire (no forever cache)"
**Is your feature request related to a problem? Please describe.**
I use redis memory cache store. I don't have large memory.
But I guess laravel-model-caching reserve memory for a long term because it use `Cache::rememberForever` only.

**Describe the solution you'd like**
I want to set cache expire to remove inactive records.

The expire may be configured like the following.
`config(['laravel-mo

[2019-05-08 15:23] mikebronner commented on #243
@ktanakaj This shouldn't be necessary, as Redis and MemCached will remove old cache entries automatically when it needs more space.

[2019-05-08 15:28] mikebronner commented on #243
Closing issue for now, please re-open if you don't see redis behaving as expected.

[2019-05-08 15:28] #243 closed

[2019-05-09 08:47] ktanakaj commented on #243
Thanks. But I can't change max memory policy because my redis has not cache only.
There are session data and user temporary data too...
I will use my custom CachedBuilder.

[2019-05-09 13:41] tmishutin commented on #241
Can confirm. Have the same issue.

`$files = File::where(function($q) use ($variableIn, $project) {
    $q->where('project_id', $project->id)->orWhereIn('variable', $variableIn);
});`

[2019-05-09 17:07] mikebronner commented on #243
@ktanakaj That shouldn't really matter. Redis will still purge stale records if it needs more cache space. With proper configuration Redis can be set up to utilize virtual memory (storing stale records off to disk, instead of purging) in conjunction with memory limits.

[2019-05-09 17:08] mikebronner commented on #242
Likely related to #225

[2019-05-09 17:09] mikebronner commented on #241
Likely related to #225

[2019-05-09 17:09] mikebronner commented on #240
Likely related to #225

[2019-05-09 17:09] mikebronner commented on #239
Likely related to #225

[2019-05-09 17:32] mikebronner commented on #240
@zhenyangze Are you running this on Laravel 5.8? You are likely not running the latest version of this plugin. What is the installed version of the plugin (check composer.lock)?

[2019-05-09 17:33] mikebronner commented on #241
@zhenyangze Please provide the exact versions of Laravel and the plugin that are installed. Check `composer.lock` to get that information.

[2019-05-09 18:00] mikebronner commented on #241
This is now fixed as of `0.4.15`.

[2019-05-09 18:00] #241 closed

[2019-05-09 18:02] mikebronner commented on #239
@smapod can you test this again with version `0.4.15`? I have a feeling the `whereIn` fix might also have fixed this. Please let me know how it works. Thanks!

[2019-05-09 18:09] mikebronner commented on #242
@saernz Are you overriding your model's `created`/`deleted`/`saved` static methods? That's what triggers cache invalidation. I have not been able to replicate your issue as described.

[2019-05-10 03:49] saernz commented on #242
Ahh I have found out what I have done, and I must apologise if I've caused any wasted time.

I did not realise that by using Event::fake() in my tests that this also stops model created/deleted/saved events as well! Some of my tests contain:
[code]

which is causing the problem. Very sorry for wasting your time. When I remove Event::fake() it seems to fix the problem. I was also confused when look

[2019-05-10 15:02] mikebronner commented on #242
No worries, @saernz, glad it's working for you now! :)

[2019-05-10 15:02] #242 closed

[2019-05-10 15:04] mikebronner commented on #233
Closing due to inactivity. Please re-open when you get a chance to post additional info. Thanks :)

[2019-05-10 15:04] #233 closed

[2019-05-10 15:05] mikebronner commented on #230
Closing due to inactivity. Please re-open if this issue persists.

[2019-05-10 15:05] #230 closed

[2019-05-10 15:30] jf-m commented on #111
Hi @mikebronner ,

I'm currently having the same bug as the OP here with the latest version.
[code]
The second and third query always returns the result of the first query.

I guess that regarding your comment https://github.com/GeneaLabs/laravel-model-caching/issues/111#issuecomment-386921683 it was supposed to be fixed, hope I'm right.

Thank you and cheers !

[2019-05-10 15:48] #236 closed

[2019-05-10 15:51] mikebronner commented on #111
@jf-m Could you test with version 0.4.16 and open a new issue if the problem persists? Thanks!

[2019-05-10 17:37] jf-m opened #244 "whereRaw is cached regardless of the arguments"
**Describe the bug**
The following bug https://github.com/GeneaLabs/laravel-model-caching/issues/111 seems to have exactly reappeared.

**Eloquent Query**
[code]

The second and third query always returns the result of the first query.

**Environment**
 - PHP: 7.3.3
 - OS: MacOs Mojave
 - Laravel: 5.8
 - Model Caching: 0.4.16

**Workaround**
For the record, the following workaround is not ideal bu

[2019-05-10 17:42] mikebronner commented on #244
Thanks @jf-m, I will try to replicate the problem and see what is going on. :)

[2019-05-10 20:43] sten commented on #244
I am having a similar problem with a library that generates a query using the where type 'InRaw'. I took a screenshot of the $wheres variable of the $query object in CacheKey:
<img width="336" alt="Screen Shot 2019-05-10 at 22 34 24" src="https://user-images.githubusercontent.com/180665/57555177-dc8a5f80-7373-11e9-8f5f-82455f25de51.png">

In this example the cache key should use 1 as value of the

[2019-05-10 21:30] mikebronner commented on #244
Thanks for the additional info, @sten :)

[2019-05-11 16:16] mikebronner commented on #244
@jf-m I have not been able to replicate your `whereRaw` issue using the latest release (0.4.16). In all tests it performs as expected.

[2019-05-11 16:18] mikebronner commented on #244
@sten can you provide the eloquent query that uses `whereInRaw`? I understand that you are using a different tool to generate the query, but if you could write it out as an eloquent query for me, that will help me build a test case.

[2019-05-11 16:24] mikebronner opened #245 "I am having a similar problem with a library that generates a query using the where type 'InRaw'. I took a screenshot of the $wheres variable of the $query object in CacheKey:"
I am having a similar problem with a library that generates a query using the where type 'InRaw'. I took a screenshot of the $wheres variable of the $query object in CacheKey:
<img width="336" alt="Screen Shot 2019-05-10 at 22 34 24" src="https://user-images.githubusercontent.com/180665/57555177-dc8a5f80-7373-11e9-8f5f-82455f25de51.png">

In this example the cache key should use 1 as value of the

[2019-05-11 16:26] mikebronner commented on #244
@sten I have moved your problem to a new issue, as it is a separate problem. Let's continue the discussion there.
@jf-m Please provide more information and test without other plugins that might be altering models or queries. I suspect that something else in your app is conflicting and causing the problem, as all my tests create unique cache keys that include the parameters.

[2019-05-11 16:28] mikebronner commented on #245
@sten please provide the eloquent query, as well as what version of Laravel, and that of the package you have installed.

[2019-05-11 19:22] jf-m commented on #244
Hi @mikebronner,

After some investigations, it appears that this bug only occurs when doing a `whereRaw` after another `where` clause that has arguments.

Here is how to reproduce this bug :

[code]

When using the debugger, I found the source of the issue, it's coming from this line inside `CacheKey@getRawClauses`
https://github.com/GeneaLabs/laravel-model-caching/blob/1655e8f8ea3ac01c09849b6c90

[2019-05-11 19:23] mikebronner commented on #244
@jf-m Thanks for the follow-up, I will try to reproduce :)

[2019-05-12 15:35] mikebronner commented on #244
I was able to reproduce the bug, working to have a fix ready soon. :) Thanks for your patience.

[2019-05-12 16:08] #244 closed

[2019-05-12 16:09] mikebronner commented on #245
@sten Please try version 0.4.17 that addresses an issue with how `where` clauses are parsed for cache key generation. Let me know how that works for you. Thanks!

[2019-05-12 16:09] mikebronner commented on #240
@zhenyangze Please test with version 0.4.17 or greater, I addressed an issue with where clauses not applying correctly to the cache key.

[2019-05-12 16:10] mikebronner commented on #239
@smapod Actually, if you could test with 0.4.17, just released, which addresses an issue with where clause generation for the cache key.

[2019-05-12 16:11] mikebronner commented on #244
@jf-m This should now be fixed in release 0.4.17. Let me know how it works for you.

[2019-05-12 20:08] sten commented on #245
@mikebronner Sorry, I just now saw your request for a query. I checked the new version of the library and it works! Thanks a lot for the quick fix!!!

[2019-05-12 20:50] mikebronner commented on #245
@sten That's awesome! Thanks for reporting back :)

[2019-05-12 20:50] #245 closed

[2019-05-14 09:40] zhenyangze commented on #240
thanks, i use old version, and the latest version is ok

[2019-05-14 14:02] mikebronner commented on #240
Thanks, @zhenyangze , unfortunately old versions prior to Laravel 5.8 are not supported, so use them at your own risk. Glad to hear the latest update seems to work, though. :)

[2019-05-14 14:02] #240 closed

[2019-05-14 17:14] smapod commented on #239
Problem still exists.

I created repo https://github.com/smapod/lmc-bug, hope it will.

[2019-05-14 17:28] mikebronner commented on #239
@smapod Thanks for the repo. I will test and see if I can reproduce.

[2019-05-15 01:22] mikebronner commented on #239
@smapod  This is going to take a while to figure out, if it's at all possible. In the mean time, I would recommend removing any models that implement polymorphic relationships from being cachable. You should still be able to leave the other models cachable.

If anyone has any ideas on how to fix this, I certainly would welcome a PR. Thanks :)

[2019-05-15 01:42] mikebronner commented on #239
@smapod  Update: actually got it working correctly in your example repo, thanks so much for that. Now testing the fix and creating a test case for it. Hope to have this fix out this evening or tomorrow.

[2019-05-15 02:46] #239 closed

[2019-05-15 02:48] mikebronner commented on #239
@smapod Please test with release 0.4.18 or above and let me know how it works. Thanks for your patience and support on getting this resolved. Your repo did the trick! :)

[2019-05-15 08:52] jf-m commented on #244
@mikebronner Thank you for the quick fix !

It's working like a charm.

Cheers 🍻

[2019-05-15 10:42] mikebronner commented on #244
Awesome! Thanks for letting me know :)

[2019-05-15 15:48] mikebronner commented on #239
@smapod Awesome, that's great to hear! :)

[2019-05-16 10:23] tmishutin commented on #127
@mikebronner please, check the PR for this issue.

[2019-05-16 13:18] mikebronner commented on #127
@tmishutin That's awesome! Thanks for submitting that PR. I will review it and try to implement it over the next few days.

[2019-05-16 15:26] mikebronner commented on #226
Reopening this, as I am having issues running Telescope as well. Will need to do some further investigation to see where this comes from.

[2019-05-16 16:17] mikebronner commented on #226
For now I added a work-around in the README and included the Model Watcher class in the code-base to make it easy to implement for Laravel Model Caching users. Looking forward to seeing Laravel Pivot package being updated to be compatible with Telescope.

[2019-05-16 16:18] mikebronner commented on #226
@xyrintech @ggomuk @corsair Please give release 0.4.19 or above a shot and let me know how it works for you. I updated the README with instructions for Telescope compatibility. It's just a work-around for now.

[2019-05-16 17:14] mikebronner commented on #226
Re-opening this, as the Telescope front-end will not display custom watchers.

[2019-05-17 21:03] mikebronner commented on #127
WOOHOOOO!!! Thanks @tmishutin for leading the way on this. Release 0.4.20 includes caching lazy-loaded belongs-to relationships. Hopefully this can be used as a template for implementing lazy-loading of other relationships.

[2019-05-17 22:33] mikebronner commented on #226
@xyrintech @ggomuk @corsair  This has now been fixed as of version 0.4.21 and will no longer require a work-around. It should work with Telescope out of the box. Please let me know if you are still experiencing an issue with this after updating. Thanks!

[2019-05-17 22:33] #226 closed

[2019-05-18 00:55] tmishutin opened #248 "0.4.21"
**Describe the bug**
After updating till 21, I get the following error.

**Eloquent Query**
-

**Stack Trace**
{
    "message": "Trait 'GeneaLabs\\LaravelModelCaching\\Traits\\Buildable' not found",
    "exception": "Symfony\\Component\\Debug\\Exception\\FatalErrorException",
    "file": "/home/vagrant/code/vendor/genealabs/laravel-model-caching/src/CachedBuilder.php",
    "line": 10,
    "trace":

[2019-05-18 00:56] mikebronner commented on #248
Checking ...

[2019-05-18 01:04] mikebronner commented on #248
Ugh! Thanks for reporting this ... found the issue, I think. It didn't manifest in testing because of the testing environment. Fixing that now.

[2019-05-18 01:20] #248 closed

[2019-05-18 01:22] mikebronner commented on #248
@tmishutin Go ahead and give 0.4.22 a try. Let me know how that works :) Thanks again!

[2019-05-18 16:48] mikebronner commented on #127
I added additional tests to confirm lazy-loading of the following relationships:
- BelongsTo
- HasOne
- HasMany

The following tests are still required:
- HasOneThrough
- HasManyThrough
- Polymorphic One to One
- Polymorphic One to Many
- Polymorphic Many to Many

Once those two are confirmed working, lazy loading will be supported -- I believe across the board?

[2019-05-18 16:51] mikebronner opened #249 "Clean Up Code"
Improve Scrutinizer score and get code refactored properly and cleaned up.

[2019-05-18 16:53] tmishutin commented on #127
@mikebronner It seems like I still have some issues with belongsToMany... Cache is not being invalidate.

attach (even with save on belongsTo)
detach
etc.

It has to do with taggging of the cache. Tags are being set based on the model name, not on the relation. So when you add book to store, book tag will be used to invalidate cache. Which is not right. book-store should be used.

Please, correct

[2019-05-18 16:55] mikebronner commented on #127
@tmishutin Good point, I forgot to write tests for invalidating. I will look into this.

[2019-05-18 16:59] mikebronner commented on #127
@tmishutin do you see anything off the top of your head that I missed in `CachedBelongsToMany.php` that introduced this error?

[2019-05-18 17:01] tmishutin commented on #127
@mikebronner which is most important, I think. In coding there are only two problems:
1) How to name a variable
2) When to invalidate cache :)

Seems like FiresPivotEventsTrait is not pushing enough params. Instance is not enough in this case.

[2019-05-18 17:03] tmishutin commented on #127
Third param should be pushed as well. So will be something like $this->model."-".$relation

`static::pivotAttached(function ($instance, $ignoreMe, $relation) {
            $instance->checkCooldownAndFlushAfterPersisting($instance, $relation);
        });`

[2019-05-18 18:42] mikebronner commented on #127
@tmishutin Thanks for the ideas! Please test release 0.4.23 and let me know if that fixes it. :) Thanks!

[2019-05-18 18:51] tmishutin commented on #127
@mikebronner Cool! Seems to work. But only if both models implement cachable traits. If book is cachable, but store is not, it will fail.

[2019-05-18 18:53] mikebronner commented on #127
Baby-steps, right? Hehe ....

[2019-05-18 19:32] tmishutin commented on #127
@mikebronner it seems like it should be invalidated as well... Don't know why, but it's cached both ways.

[2019-05-18 20:39] mikebronner commented on #127
@tmishutin Try release 0.4.24. Now uncached BelongsToMany relationships don't get cached in the first place. :) Let me know how it works for you.

[2019-05-18 20:53] mikebronner opened #250 "Optimize Tests"
Integration tests are running VERY slow. Currently about 154 tests with 409 assertions take over 2 minutes and 14 seconds to run.

If you are interested in helping out, please submit a PR with suggested improvements.

[2019-05-18 21:06] mikebronner commented on #250
Possible solution:
1. Migrate and seed database initially, prior to `setUp()` method, into a base SQLite file.
2. In the setup method delete the testing SQLite file, then copy the base SQLite file as a fresh testing SQLite file.

This should reduce about 0.8 to 0.9 second per test method. Eliminating about 130 theoretical seconds from 134 total runtime should do the trick.

[2019-05-19 12:53] tmishutin commented on #127
@mikebronner yup, not caching any more.

[2019-05-19 16:15] mikebronner commented on #250
Will have solution implemented soon, work is in progress. Got total test execution time down to 5 seconds.

[2019-05-20 03:07] mikebronner commented on #250
Done!

[2019-05-20 03:07] #250 closed

[2019-05-20 03:08] mikebronner opened #251 "Review Coverage Report"
- [x] Remove dead code.
- [ ] Add tests for code that is not dead, but also not covered by tests currently.

[2019-05-20 21:11] mikebronner commented on #151
@ferdiebergado Hi there, I know it's been a while, but I might have good news. :) Would you mind testing the latest release and see if this works for you now?

[2019-05-21 07:11] cyberfly opened #252 "Undefined offset: 0"
Hi I currently on Laravel 5.7 and package version 0.4.0 and encounter this error on certain eloquent where condition.

I found your comment that this was fixed on version 0.4.12 however nothing to update when try to update the package

`composer update genealabs/laravel-model-caching`

https://github.com/GeneaLabs/laravel-model-caching/issues/227#issuecomment-479624508

How to fix it? Thanks

![im

[2019-05-21 12:33] mikebronner commented on #252
Hi @cyberfly, unfortunately you have to upgrade to Laravel 5.8. While the package is in pre-release, i don't support historical versions of Laravel. Sorry for the inconvenience.

[2019-05-21 12:33] #252 closed

[2019-05-21 15:02] kangoo13 opened #253 "Passing DateTime object to where clause"
**Describe the bug**
Giving an DateTime to the where clause statement throws an error.

**Eloquent Query**
Please provide the complete eloquent query that caused the bug, for example:
[code]

**Stack Trace**
[2019-05-21 14:00:19] production.ERROR: Symfony\Component\Debug\Exception\FatalThrowableError: Return value of GeneaLabs\LaravelModelCaching\CacheKey::getValuesFromWhere() must be of the type

[2019-05-21 15:05] mikebronner commented on #253
@kangoo13 Thank you for reporting this! I will get a test case set up and see if I can get a fix in ASAP.

[2019-05-21 15:11] mikebronner commented on #253
@kangoo13 Can you give me the text value of your constant `static::EXPIRACY_MESSAGE_CACHE_DELAY`? That would help me get the test case set up.

[2019-05-21 15:12] kangoo13 commented on #253
@mikebronner

[code]

[2019-05-21 15:27] mikebronner commented on #253
@kangoo13 Thanks! Go ahead and give release 0.5.1 a try and let me know how that works for you.

[2019-05-21 15:27] #253 closed

[2019-05-21 16:07] kangoo13 commented on #253
@mikebronner Thank you for your quick intervention ! Are you sure you did push the code ? The release 0.5.1 seems to have an empty commit

see : https://github.com/GeneaLabs/laravel-model-caching/releases/tag/0.5.1

[2019-05-21 16:45] mikebronner commented on #253
@kangoo13 Ooops!!!  You're right, I forgot to push the changes. Try 0.5.2. Sorry about that. :)

[2019-05-22 15:50] kangoo13 commented on #253
Seems to be working now, thank you ! :)

[2019-05-22 16:01] mikebronner commented on #253
@kangoo13 awesome! Thanks for reporting back :)

[2019-05-23 01:23] cyberfly commented on #252
@mikebronner Thanks, any best practice that I can follow to apply the fixed manually as updating Laravel version is not an option right now and your package kind of too good not to be use

[2019-05-23 01:27] mikebronner commented on #252
You can fork this package and try to force compatibility in `composer.json` by setting the appropriate Laravel versions. After that you could run PHPUnit to make sure all tests pass and fix the code for any failing tests in your fork. Once you get PHPUnit to pass, you can install your fork into your project by forcing your project's `composer.json` to look at your fork instead of this repo to inst

[2019-05-25 00:37] reasecret opened #255 "Possible Conflict With Eloquent Taggable?"
**Describe the bug**
When laravel model caching enabled, I can't use [eloquent taggable](https://github.com/cviebrock/eloquent-taggable). Looks like there is a conflict with "tags" word.
I'm trying to update my post with new tags but there is an error:
`Call to undefined method Cviebrock\EloquentTaggable\Models\Tag::flushCache()`
But taggable package doesn't have flushCache function.

[code]

**El

[2019-05-25 02:07] mikebronner commented on #255
@reasecret Thanks for reporting this. After looking through their code, I believe the problem is that the Tag model isn't part of caching. The idea solution would be to extend the Taggable class and add the `use Caching;` trait

However, the secondary problem is that this package should not be calling caching methods on non-cached models. I will implement a fix for that shortly.

[2019-05-25 02:23] #255 closed

[2019-05-25 02:28] mikebronner commented on #255
@reasecret Could you give release 0.5.3 a try and let me know how that works?

### Considerations
It should no longer try to call `flushCache` on non-cachable models. That means, of course, that without more additional work, the Tag model is not cached. It may be possible to extend the Tag model via the TagService, but I'm not sure about that, as I don't use that package.

[2019-05-25 19:32] reasecret commented on #255
Hi,

I've updated the package to 0.5.3 and created another Tag model based on original Tag model. And added `use Cachable`. Looks like problem solved for now. Thanks for your quick reply and fix.

[2019-05-25 19:50] mikebronner commented on #255
Awesome, great to hear everything is working again. :)

[2019-05-26 08:49] kolirt opened #256 "Global Scopes Possibly Not Working Again?"
**Describe the bug**
SQL queries cached, but always return first cached query. The SQL queries make a [package](https://github.com/kolirt/laravel-translations), namely a [generateQuery](https://github.com/kolirt/laravel-translations/blob/d72b89fb1afe00a4dad844b5073040ba0108e8e9/src/Traits/Translatable.php#L204) method

Help me, please. It's very **important problem.** I don't know what I need to d

[2019-05-26 12:48] booni3 opened #257 "Single database multi-tennant with different admin and user queries - will cache invalidate correctly?"
@mikebronner this is a follow on from #187.

As you suggested, I removed the cache prefix and things do seem to be working as expected. I just wanted to confirm one thing with you though as this is initially how I thought I started and only added the prefix to try and resolve my issues.

### My Use Case

I have a multi-tenant DB but the admin (who has access to all tenants) makes the majority of t

[2019-05-26 14:00] mikebronner commented on #256
@kolirt Please submit the Eloquent queries used in your code. That will help me narrow down the problem. Thanks :)

[2019-05-26 16:22] mikebronner commented on #257
Hi @booni3! Yes, the model cache will be invalidated, regardless of tenant.

(That's a good point. I should make sure that the cache is invalidated at a database level, not across all databases, for apps that have multi-tenant setups where each tenant is in its own database.)

I would think you would want the queries the other way around, though, such that the Tenant queries always have the `tenan

[2019-05-26 17:03] mikebronner opened #258 "Invalidate Cache Based On Database"
This should help increase performance for multi-tenant applications where each tenant has their own database. This way tenants won't clear each other's caches.

[2019-05-26 18:26] kolirt commented on #256
Problem in this sql subqueries
[code]

<hr>

BlogController
[code]

Article (model)
[code]

Activable (trait)
[code]

Translatable (trait) ([you can see full code this trait](https://github.com/kolirt/laravel-translations/blob/master/src/Traits/Translatable.php))
[code]

[2019-05-26 18:38] mikebronner commented on #256
@kolirt Only eloquent queries will be cached. You are running a Query Builder query, which will not be cached, and could cause problems.

My recommendation would be to rewrite this functionality using eloquent. Since you are using `addSelect()` to add the Query Builder query to the Eloquent query, I believe the problem lies in that we currently cannot cache select clauses.

I will see if I can rec

[2019-05-26 19:01] kolirt commented on #256
@mikebronner

I can't understand how to rewrite. Please, can you prompt me?

[2019-05-26 19:14] mikebronner commented on #256
@kolirt Actually, I take that back. I just added a test, and it caches the select query correctly. I am unable to replicate your problem.

Sorry, I can't provide support for rewriting app functionality, as I would need complete access to the app, and it could take hours or even days to rewrite something like this.

I can't say for sure why things aren't working as expected. If you could create an

[2019-05-26 19:45] kolirt commented on #256
@mikebronner

I created example [project](https://github.com/kolirt/laravel-model-caching-test) on github and invited you to project

I wrote code that causes an error in [TestController](https://github.com/kolirt/laravel-model-caching-test/blob/master/app/Http/Controllers/TestController.php). Don't forget to start the migration

I will be grateful for help. Thanks

[2019-05-26 20:20] mikebronner commented on #256
Sounds good, I will take a look later on.

[2019-05-26 20:53] mikebronner commented on #256
@kolirt I tried taking a look at your test project. I was unable to fix the problem, but I know it lies in the `bootTranslatable()` method. It is not applying the addSelect to the correct object. I'm unable to recreate the issue in my own tests in this package. Why doesn't your taggable package utilize Eloquent for its tag lookups? I'm afraid I don't have more time to dig into this, sorry. If you

[2019-05-26 23:31] mrahmadt opened #259 "Multiple Laravel/Lumen instances using single database"
Hi

This is just a question, I'm building an application using multiple Laravel/Lumen instances (microservices), all of these instances will use a single database, what is the best option for me to make sure the caching will be invalidated across all instances if I update/create/delete something in the database?

Example:

Laravel A:  update products name to "ABC"

Lumen C: select product name wil

[2019-05-26 23:34] mikebronner commented on #259
Hi, as long as each instance is using the same of the following, they will invalidate automatically:
- same Redis server
- same database
- same prefix
- same connection name

Let me know if you have any trouble. Good luck! :)

[2019-05-26 23:34] #259 closed

[2019-05-26 23:37] mrahmadt commented on #259
I'm using same server/database/connection but not sure about the prefix

Do you mean in cache.php I have to change this line in all instances to be the same?

'prefix' => env('CACHE_PREFIX', Str::slug(env('APP_NAME', 'lumen'), '_').'_cache'),

I was just afraid this will affect laravel/lumen internal caching.

[2019-05-26 23:39] mikebronner commented on #259
No, this shouldn't affect internal caching in any way, as it uses Laravel's caching functionality. If you don't manually set the cache prefix anywhere it will be the same for all.
:)

[2019-05-27 04:13] kolirt commented on #106
@mikebronner

Seems to be a problem with addGlobalScope. You wrote about this problem here https://github.com/GeneaLabs/laravel-model-caching/issues/199#issuecomment-445429917. When will this problem be solved?

[2019-05-27 04:14] kolirt commented on #256
@mikebronner

Seems to be a problem with addGlobalScope. You wrote about this problem here https://github.com/GeneaLabs/laravel-model-caching/issues/199#issuecomment-445429917. When will this problem be solved?

[2019-05-27 14:44] mikebronner commented on #256
Hi @kolirt, this should already be resolved -- global scopes are working in the unit tests:
https://github.com/GeneaLabs/laravel-model-caching/blob/master/tests/Integration/CachedBuilder/ScopeTest.php

[2019-05-27 14:51] kolirt commented on #256
@mikebronner

Is it already in release? Local scope  works, but global scope don't works

[2019-05-27 14:53] mikebronner commented on #256
@kolirt yes, it has been for a while. Global scopes work when applied to the models. I believe that in your case the problem is with how the `addSelect` is applied within the scope, not the scope itself.

[2019-05-27 18:12] kolirt commented on #256
@mikebronner

I checked. addSelect has nothing to do with the problem. The problem is in the GlobalScope

### Model
[code]

### Activable scope
[code]

### Controller
[code]

### Result
![image](https://user-images.githubusercontent.com/11573343/58434314-b8dd4e00-80c3-11e9-9e8c-74db4745f3ac.png)

[2019-05-27 18:38] mikebronner commented on #256
@kolirt I'm going through the global scope tests and re-evaluating the process. I will report back in a bit.

[2019-05-27 21:13] mikebronner commented on #256
@kolirt My apologies, and thank you for being persistent. I have confirmed that the GlobalScope functionality is not working as intended. I am working on a fix, hopefully I will have something ready over the next day or so.

[2019-05-28 00:52] mikebronner commented on #256
@kolirt Can you give release 0.5.4 a try and let me know how it goes?

[2019-05-28 00:53] mikebronner opened #260 "Implement caching as an Eloquent Builder Extension"
- [ ] use Builder `extend()` or `macro()` method. (Hopefully that will work!)
- [ ] implement cache key creation on a clone of the original builder, so as not to change anything on the actual query that runs.
- [ ] see if the `extend()` method on global scopes can be used for parsing global scopes.

[2019-05-28 00:54] #256 closed

[2019-05-28 00:55] mikebronner commented on #237
Good news, while working on fixing how global scopes were parsed, I think I may have found a way to implement this as well. Stay tuned!

[2019-05-28 02:00] mikebronner commented on #237
@tmishutin @jcsoriano Could you guys test release 0.5.5 and let me know how it works for you? This should now be fixed! :) 🎉

[2019-05-28 02:00] #237 closed

[2019-05-28 03:50] kolirt commented on #256
@mikebronner

It works. Thanks

[2019-05-28 11:50] mikebronner commented on #256
Awesome, that's great to hear. Be sure to update again ... I released version 0.5.5 which adds support for the soft-delete-related macros.

[2019-06-03 17:53] aerjotl opened #261 "TTL Setting"
Hi guys,

I just launched new Laravel version of my website using your library. It works great so far, but I had to double the amount of RAM of my server, because Redis cache started growing really fast (more then 2GB of memory usage).

I was wondering if it would be easy to implement a TTL Setting, that could be used instead of rememberForever. Are there any reasons why it would not work? I can p

[2019-06-03 19:32] mikebronner commented on #261
Hi @aerjotl, thanks for reaching out and explaining how you use this package! :)

The reason I have not entertained adding a TTL option, is because Redis and Memcached self-manage any stale records, as well as memory usage.

You say you "had to" double the amount of ram on the server. What prompted you to do so? Where you getting errors? For production environments, I do not recommend having in-me

[2019-06-04 11:57] liepumartins opened #262 "Standalone usage without relying on app() and config()"
**Is your feature request related to a problem? Please describe.**
I would like to use caching without Laravel, just eloquent aka `illuminate/database` component in a different framework/vanilla PHP.
Package requires `app()` and `config()` helper methods and possibly other Laravel internals.

**Describe the solution you'd like**
Is it viable for package to rely on a config file of its own? For Lar

[2019-06-05 09:42] aerjotl commented on #261
Hi @mikebronner, maybe I was not clear in explaining my issue. The old version of the website did not use Redis. We stored the cache in files, but we had a TTL setting, which was very helpful in managing cache size and overall performance. We have a website with more than 100.000 of song lyrics. Some of them are very popular, and some of them are not. If we put all of them in cache they would cons

[2019-06-05 12:58] mikebronner commented on #261
@aerjotl Thanks for explaining your situation some more. I will go back and read up on Redis and see what I can find out about cache expiring methods, and seeing if this can't be addressed there.

[2019-06-10 17:23] jvv8 opened #264 "Trail 'GeneaLabs\LaravelPivotEvents\Traits\PivotEventTrait' not found"
I just upgraded to Laravel 5.8 but I get the error:
[code]

I don't specifically include the PivotEventTrait anywhere in my application, just the Cacheable trait.

**Environment**
 - PHP: 7.3
 - Laravel: 5.8.21
 - Model Caching: dev-master [0.5.5]

[2019-06-10 17:26] mikebronner commented on #264
@jvv8 Please provide your entire stack trace. You can find it in `/storage/logs/laravel.log`.

[2019-06-10 20:22] jvv8 commented on #264
[code]

[2019-06-10 20:24] mikebronner commented on #264
@jvv8 That is not the full stack trace. Take a look at issue #255 for an example.

[2019-06-11 08:55] smapod opened #265 "Morphable relation with additional conditions (probably cache key bug)"
**Describe the bug**
I guess that lmc not adding additional conditions to cache key in morph relations. Look at query. Product has Price (morphable). LMC returns same row/object that was cached first for different conditions. For example, if retail price was cached first, LMC will return retail price, when you are expecting wholesale price. And vice versa, if wholesale price was cached first, LMC

[2019-06-11 12:17] jvv8 commented on #264
Oops, looks like I forgot to restart supervisor after upgrading to the latest version.

[2019-06-11 12:17] #264 closed

[2019-06-11 12:55] mikebronner commented on #264
Good to hear it's working again1 :)

[2019-06-11 12:58] mikebronner commented on #265
@smapod thanks for reporting this and creating a repo that reproduces the issue. I will look into it as soon as I can, it might not be until this weekend, time permitting.

[2019-06-11 16:02] vesper8 opened #266 "consider changing MODEL_CACHE_DISABLED to MODEL_CACHE_ENABLED"
this is a bit nitpicky but the thing is every other package that I've ever used that can be disabled via the config uses a SOMETHING_ENABLED format

Laravel Telescope, Laravel Debugbar, Laravel ResponseCache to name a few

Yours is the opposite and it's just not very intuitive IMHO and just now confused me as I meant to disable it while debugging a problem and didn't immediately realize I had to u

[2019-06-11 16:06] mikebronner commented on #266
Thanks @vesper8, yea, I had noticed the same thing. I will look into changing it for the next breaking release.

[2019-06-11 16:12] vesper8 opened #267 "how to *not* keep keys separate when using multiple database connections?"
I recently converted one of my projects that was using a single database to using multiple databases. However this is not because of multi-tenancy it's more of an organizational preference

I read this
[code]

which I think is causing me a problem. Not sure what to make of it. I have relationships that cross database connections. For example one DB has a users table and that user has relationships

[2019-06-12 08:10] aerjotl commented on #261
hi @mikebronner, we managed to tweak Redis configuration and indeed, it's quite smart and manages keys without TTL properly.

However, I have one use case for which a TTL would be helpful: We have a model TopViews, that represents the most popular items on the website. The backing table is updated by a perl script, based on the log files. We need to clear the cache for that model regularly, to mak

[2019-06-12 15:35] mikebronner commented on #261
@aerjotl Glad you were able to sort out the Redis configuration! :)
I don't believe TTL is the right approach for your other issue, as the cache would not necessarily invalidate when your Perl scripts makes the updates. Rather, what you should do is have the Perl script also invalidate the model(s) by using the artisan command:
[code]

That would be the best way.

[2019-06-18 11:10] Surt opened #268 "pivot-events still needed?"
I was wondering if https://github.com/GeneaLabs/laravel-pivot-events is still needed on laravel 5.8?

In previous versions of Laravel, Eloquent model events were not dispatched when attaching, detaching, or syncing custom intermediate table / "pivot" models of a many-to-many relationship. When using custom intermediate table models in Laravel 5.8, the applicable model events will now be dispatched

[2019-06-19 15:27] mikebronner commented on #268
Hi @Surt, thanks for writing! We specifically created the laravel-model-events package to address pivot model events not being fired by Laravel natively. This package is still required in order to properly invalidate model caches when updated through relationships.

I will update the documentation to note that this package conflict exists.

[2019-06-19 15:33] mikebronner commented on #267
Hi @vesper8, sorry for the delay in my response (I have been tied up in other projects).

I think this could be an issue with how the keys are generated. I will double-check that the relationships also include the database information.

[2019-06-19 15:34] mikebronner commented on #262
@liepumartins Thank you for the suggestions. I will consider this moving forward, and investigate what we can do.

[2019-06-19 15:36] mikebronner commented on #261
I'll close this issue, as you seem to have things working.

[2019-06-19 15:36] #261 closed

[2019-06-19 20:44] vesper8 commented on #267
thank you, please let me know what you find out, in the meantime I've had to disable the package but I would really like to use it again

[2019-06-20 21:20] mikebronner commented on #262
@liepumartins `app()` should be available in Lumen as per here: https://lumen.laravel.com/docs/5.8/container

The `config()` helper should also be available, as per here: https://lumen.laravel.com/docs/5.8/configuration

Are you getting specific errors when using this package in Lumen? Could you provide those?

Thanks!

[2019-06-20 22:00] mikebronner commented on #262
@liepumartins This should now be fixed in release 0.5.6. Could you give it a try and report back? Thanks!

[2019-06-26 08:20] liepumartins commented on #262
`Fatal error: Uncaught ReflectionException: Class config does not exist in /home/vagrant/site/vendor/illuminate/container/Container.php on line 790`

Excerpt from stack trace:
[code]

[2019-06-26 08:38] Surt commented on #268
Hi sorry for bother you again, Laravel 5.8 now fires events on pivot models (at least thats what says in the documentation I posted above). There is no need now for the laravel-relationship-events library. Am I wrong?

[2019-06-26 19:34] mikebronner commented on #268
Hi @Surt, these were not being fired last I checked, but I will evaluate the issue again and report back. Thanks for re-raising your concern.

[2019-06-26 19:36] mikebronner commented on #262
Are you sure you pulled in the latest version? Please
- include the full stack trace.
- the version of the package you are using (see your `composer.lock` file)

[2019-06-28 13:00] liepumartins commented on #262
Yes, I am sure.
[code]
This line reflectively tries to get `config`
https://github.com/GeneaLabs/laravel-model-caching/blob/fc1389452cc39cc5c6fd1105cfc1391df6cea2f2/src/Traits/Caching.php#L274

Other parts of stacktrace are irrelevant.
[code]

[2019-06-28 15:49] mikebronner commented on #262
@liepumartins To properly debug, the entire stack trace is needed in order to follow which code was ran in each successive step.

Thank you for posting the relevant bit of code that is causing the issue. With that I can now employ a fix. The reason I ask to double-check the version of the package, is because often people report bugs and assume they have the latest, when in fact composer just insta

[2019-06-30 17:25] mikebronner commented on #262
@liepumartins In looking at the problem now in detail, I don't see a way to not rely on the config in the application container. I am open to PRs if you can figure something out. Any suggestions?

This package depends on Laravel's configuration functionality to load defaults, as well as allow customization. This package is not intended to be used outside of Laravel, but I will be happy to make som

[2019-07-01 08:23] liepumartins commented on #262
Looks like it is not feasible or requires too much effort to

Now I am looking to integrate my project as a sub-project in Laravel/Lumen environment. Initial attempts look promising. Of course the overhead will be noticeable, but hey, it is PHP. :)

Thank you for your work. Sorry, I have wasted your time.

[2019-07-01 08:23] #262 closed

[2019-07-02 17:43] #257 closed

[2019-07-02 22:55] mrahmadt opened #269 "ErrorException: Warning: Error while sending STMT_PREPARE packet"
Hi

Not sure if this is related to GeneaLabs/laravel-model-caching but please check this issue https://github.com/laravel/framework/issues/28920

[2019-07-02 23:03] mikebronner commented on #269
Please test with this package disabled and see if the error still occurs?

[2019-07-12 08:59] ayamzh opened #271 "when i use the trait and make a model::find() operate,in redis it create 5 keys"
1) "laravel_cache:2ea8882ad1eb66d9a96f3fd1ee6cc5207a532463:8e5a2d770e76d6640a9ae19e5f30ba9590282e3b"
2) "laravel_cache:2ea8882ad1eb66d9a96f3fd1ee6cc5207a532463:6f22eae97307bd0e40f1a66341942ae1620cd1dd"
3) "laravel_cache:2ea8882ad1eb66d9a96f3fd1ee6cc5207a532463:0f4c01354195d5b50d6920fa4a3dc060c62abfd4"
4) "laravel_cache:tag:genealabs:laravel-model-caching:mysql:erge_point:test-prefix:appmodelsusera

[2019-07-12 13:51] mikebronner commented on #271
Please provide more details that would help us track this down. For example, a table of the keys and values you see in Redis.

[2019-07-18 00:05] anderson-comvex opened #272 "PHPUnit SQLite Multiple connections, missmatch cache key"
**Describe the bug**

While running integration and feature tests using SQLite driver and the query is not completed initialized in a multitenant scenario and for example the value of `$this->query->toSql()` will be `select *` or `1`, this will fallback to the default connection instead of using the proper model connection.

**Eloquent Query**

[code]

**Environment**
 - PHP 7.3
 - OS: Ubuntu 18.0

[2019-07-20 19:04] #272 closed

[2019-07-20 19:33] mikebronner commented on #268
@Surt After looking at this more closely, this doesn't satisfy our requirements -- we need to know the model and the relationship it triggers at the same time, to be able to clear the cache for both models. Laravel is only firing events for one side of the equation, and we need both for this package to operate correctly. Until Laravel actually fires events for the pivots themselves, and not just f

[2019-07-20 19:34] #268 closed

[2019-07-20 19:52] mikebronner commented on #265
@smapod Could you test this again? I am not seeing an error when testing with your repo. I am releasing 0.6.0 today, test with that once it's available. Closing for now, please re-open if you still have issues.

[2019-07-20 19:52] #265 closed

[2019-07-20 20:01] #266 closed

[2019-07-20 20:05] mikebronner commented on #266
@vesper8 This is now in release 0.6.0. Let me know how it works for you.

[2019-07-20 20:07] mikebronner commented on #267
@vesper8 Still thinking about how to implement this. This is not actually a bug, but intended functionality, but I see how this could break things. Basically what we would need to do is have a switch that eliminates the database from being tracked in the cache keys. I'll try to add this in a way that works with the default functionality, but lets you override it if needed.

[2019-07-20 20:11] mikebronner commented on #269
Reading through the comments of the issue you linked, as well as the other issues that link back to that. It seems to be an issue else-where. Closing this for now. This has been the only report here of this happening, so I'm fairly confident that it's not due to this package. Please re-open if you find any evidence to that this packages is causing issues. :) Thanks for reporting and making me awar

[2019-07-20 20:11] #269 closed

[2019-07-20 20:24] vesper8 commented on #267
great! I understand that it's an edge case.. not many people are in my situation dealing with a single project that uses 5 different databases. Would be great if you could make it work without breaking anything : ) thanks!

[2019-07-20 21:53] mikebronner commented on #267
@vesper8 Give 0.6.1 a try and let me know how it goes.

[2019-07-20 21:53] #267 closed

[2019-07-21 07:59] mrahmadt commented on #269
Thanks Mike

Yes you are right , I disabled model caching and still I'm getting this
error

On Sat, Jul 20, 2019 at 23:11 Mike Bronner <notifications@github.com> wrote:

--
echo "Hello World :)"

[2019-07-22 13:25] lukacavic opened #273 "Call to undefined method App\Models\User\User::flushCache()"
Hi, I have this error when performing some operations. For example: I have a user model, I did not add Cachable trait to it. Also I have Announcement model, that model has Cachable trait.  I have link table link_announcement_users, and when I delete announcement, I also call: $announcement->users()->detach(); to remove entries from link table. And get this error

[2019-07-22 13:37] mikebronner commented on #273
@lukacavic
 Thanks for reporting this. I'll have a look in the next few days.

[2019-07-22 16:01] lukacavic commented on #273
Hi, thanks for reply. Maybe suggestion.  Please check this image. I think this is bug. [https://imgur.com/bNyE4qw](url)

[2019-07-23 16:29] mikebronner commented on #273
@lukacavic Nice catch!

[2019-07-23 18:04] lukacavic commented on #273
Tnx, dont know to use GitHub to make a pull request. Please can you write a comment when you fix this? Thanks

[2019-07-23 18:05] mikebronner commented on #273
Sure thing, probably later today or tomorrow. :)

[2019-07-24 05:59] backstageel opened #275 "Doesn't work with Spatie's Laravel QueryBuilder"
**Describe the bug**
Seems Like this Package doesn't work when using Spatie's Laravel query builder to fetch the data (https://github.com/spatie/laravel-query-builder). I've checked that package and they don't override newEloquentBuilder() method, so all should work.

By not working i mean no cache data is returned and the query still hits the database.

**Eloquent Query**
This query don't work
[c

[2019-07-24 06:29] backstageel commented on #93
FYI: also get('string') doesnt work with the last version of this package. You have to do get(['string'])

[2019-07-24 08:14] Tegos opened #276 "Publish config"
Hello. Have a problem, after upgrade to 0.6, try to run:
`php artisan model-caching:publish --config`
from your documentation
but it doesn't work throws an error:
There are no commands defined in the "model-caching" namespace.
Maybe it should be php artisan vendor:publish, but there are no publishes in provider.

Another problem: still used _disabled_:
https://github.com/GeneaLabs/laravel-model-ca

[2019-07-26 09:02] Surt commented on #273
Looking forward for this.
I recently updated to laravel 5.8 and my composer.json entirely and my test are only failing on this.

[2019-07-26 18:58] mikebronner commented on #276
@Tegos Thanks for submitting this issue. Working on both problems you mentioned right now, should have a fix out shortly.

[2019-07-26 19:01] mikebronner commented on #275
@backstageel Thanks for submitting your issue. This package will not work with third-party query builders, only with Laravel's query builder. Sorry.

[2019-07-26 19:09] mikebronner commented on #273
Working on tis now, hope to have a fix out in the next few hours. Writing a test for this scenario, is a bit tricky.

[2019-07-26 19:20] mikebronner commented on #273
@lukacavic Can you provide a your complete eloquent model of your User and Books and Link Announcements? I'm having a difficult time recreating the problem.

[2019-07-26 20:11] mikebronner commented on #276
This should now be fixed in release 0.6.2. Please let me know how it works for you. Thanks!

[2019-07-26 20:11] #276 closed

[2019-07-27 18:35] lukacavic commented on #273
Hi, @mikebronner, I will post it tomorow..

Short description:

I have User model, does not use Cachable trait. I also have Announcement model, it uses Cachable trait. I also have a Person model, it does not use Cachable trait. I have link table link_announcement_receivers, that has morphs column "receiver", receiver can be person or user. Becouse announcement can be posted for user or for person.

[2019-07-30 12:06] Surt commented on #273
It would be great to have the path. I'm stopping the 5.8 update release until the flushCache issue is patched.

The @lukacavic patch worked for me. Actually is just a typo so I don't know if you need a test for that. Maybe you can merge it?

[2019-08-01 08:42] letinh commented on #276
I have a same issue. I'm using version 0.6.2, laravel 5.8, php version 7.1, may be still this issue.

[2019-08-01 14:38] backstageel commented on #275
Actually, i got this Working...

It was as simple as creating a custom builder class that extends Spatie's QueryBuilder and apply the traits from this package on it:

`<?php
namespace App\Builders;

use GeneaLabs\LaravelModelCaching\Traits\Buildable;
use GeneaLabs\LaravelModelCaching\Traits\BuilderCaching;
use GeneaLabs\LaravelModelCaching\Traits\Caching;
use Spatie\QueryBuilder\QueryBuilder;

cla

[2019-08-02 04:19] letinh commented on #276
But when I run command:
[code]

It works fine.

[2019-08-02 15:22] mikebronner commented on #276
@letinh The correct command is: `php artisan modelCache:publish --config`. I wrote the command incorrectly in the docs. Sorry about that. But you can always list the available artisan commands using `php artisan list` if something isn't working as expected, which shows the correct commands for this package. :)

[2019-08-05 10:40] letinh commented on #276
@mikebronner thanks a lot. It works perfect.!!! 👍

[2019-08-11 09:32] nemrutco commented on #127
I just want to share my experinece with this issue. I just faced the BelongsToMany relationship issue using laravel and Nova. it doesn't update redis on save or update or create using Nova. I have to flush redis to see changes made by laravel nova. But when i use disableCache() on my models, it's working fine. But almost all my models using BelongsToMany relationships. So no point to use this pack

[2019-08-11 09:37] nemrutco commented on #127
I just want to share my experinece with this issue. I just faced the BelongsToMany relationship issue using laravel and Nova. it doesn't update redis on save or update or create using Nova. I have to flush redis to see changes made by laravel nova. But when i use disableCache() on my models, it's working fine. But almost all my models using BelongsToMany relationships. So no point to use this pack

[2019-08-11 15:58] mikebronner commented on #271
Closing due to inactivity

[2019-08-11 15:58] #271 closed

[2019-08-11 15:58] mikebronner commented on #275
I'll add this to the documentation, thanks!

[2019-08-11 16:00] mikebronner opened #278 "BelongsToMany Doesn't Cache When Using Laravel Nova"
I just want to share my experinece with this issue. I just faced the BelongsToMany relationship issue using laravel and Nova. it doesn't update redis on save or update or create using Nova. I have to flush redis to see changes made by laravel nova. But when i use disableCache() on my models, it's working fine. But almost all my models using BelongsToMany relationships. So no point to use this pack

[2019-08-11 16:01] mikebronner commented on #278
@nemrutco Let's continue the discussion here.

[2019-08-11 16:02] mikebronner commented on #127
@nemrutco Please open new issues for items that aren't the exact same thing. let's continue the discussion there.

[2019-08-11 16:03] #127 closed

[2019-08-11 16:03] mikebronner opened #279 "Finish Testing Of Lazy Loading Functionality"
The following tests are still required:

- HasOneThrough
- HasManyThrough
- Polymorphic One to One
- Polymorphic One to Many
- Polymorphic Many to Many

[2019-08-12 14:49] tuseroni commented on #278
i'm having this issue as well, least i think they are related. i have the following model:

class products extends syncableBase
{
    //

//     public $rememberCacheTag = 'quote_queries';
    protected $with=['exclusiveCompany','pricing','parts','attributes','attributesOverride','images','weight_sections','categories'];
    public function __construct()
    {
    }
    public function attributes(

[2019-08-12 15:00] mikebronner commented on #278
@tuseroni @nemrutco I have noticed that Nova doesn't necessarily fire the same events as Laravel when creating or saving resources. I think that may have something to do with it. Thanks for all the information, I will be looking into Nova compatibility. I just haven't been able to get to it yet. :)

[2019-08-13 12:42] tuseroni commented on #278
i don't THINK i'm using nova, here are my requires:

"require": {
        "php": "^7.1.3",
        "ckfinder/ckfinder-laravel-package": "v3.4.5.1",
        "fideloper/proxy": "^4.0",
        "genealabs/laravel-model-caching": "^0.6.1",
        "laravel/framework": "5.8.*",
        "laravel/tinker": "^1.0",
        "predis/predis": "^1.1",
        "watson/rememberable": "^3.0"
    },
    "require-d

[2019-08-13 12:59] mikebronner commented on #278
@tuseroni then this should be a different issue.

[2019-08-13 12:59] mikebronner opened #280 "Issue With BelongsToMany"
i'm having this issue as well, least i think they are related. i have the following model:

[code]

syncableBase overrides hasMany but not belongsTo and uses cacheable.

if i save an existing object (one acquired via get) there is no problems, if i save a new object without any relationships, no problems, the only problem is when i create a new object, save, sync the ids, and then save again (i do

[2019-08-13 13:01] mikebronner commented on #280
@tuseroni Let's continue the discussion here.

[2019-08-13 13:53] tuseroni commented on #280
i did find a workaround, might help anyone else having this problem, least til it's resolved: call $obj->flushCache() when saving, or override save on the model (or in my case "cacheableClass" which implements the caching on all models) to look kinda like the following:
use Cachable;
    public function save(array $options = [])
    {
        parent::save($options);
        $this->flushCache();

[2019-08-16 13:24] denitsa-cm commented on #212
@mikebronner This seems to have been resolved for me! (finally got around to testing it :) )

I had made a custom implementation to set separate cache folders inside the `data` directory for each tenant, so each one got their folder. But I think using the database keys is sufficient, so I have also removed that separation.

[2019-08-30 01:18] #273 closed

[2019-08-30 01:28] mikebronner commented on #280
@tuseroni Sorry I didn't see this until now: if you are using this package, don't use any other caching packages. `watson/rememberable` is likely conflicting.

[2019-08-30 02:39] mikebronner opened #283 "Writing Nova Tests"
If anyone can point me towards some examples of writing tests for nova packages (not apps), I'd be hugely grateful. I'm trying to set up tests for Nova, but am having trouble getting it to run.

https://github.com/GeneaLabs/laravel-model-caching/pull/284

[2019-09-01 08:56] stockarea opened #285 "Want two apps having same db connection and different cache connection invallidate each other."
Earlier I was using this only on one app and it was working awesome. But now I have made an admin app which also links to the same database. What can I do to make sure the cache gets updated or deleted when any one of them make changes. Will connecting them to same redis cache server will solve this?. Or if there is any other way of implementing cache which I can go along. Any guidance would be of

[2019-09-03 19:17] tuseroni commented on #280
i'm not using watson/rememberable, i used it at one point which is why it's in my requires but the class doesn't implement it

[2019-09-03 19:24] mikebronner commented on #280
@tuseroni Hmm, I'm not seeing anything that would cause this from what you describe above. Can you provide a public repo that reproduces the problem that I can test with?

[2019-09-03 19:38] tuseroni commented on #280
i'll see what i can do, but i don't own the code i'm working with so i will have to find a way to reproduce it myself.

[2019-09-05 23:02] nemrutco commented on #283
Let me know if anything i can do for #278 I will try to fix at least this issue.

[2019-09-09 02:59] newalphamedia opened #286 "DB Facade Support"
I've noticed some issues with data becoming static (not updating cache) when using the DB facade for things like inserts and updates. Since my app uses DB queries rather than Model queries in SOME places, I notice that the cache doesn't become invalidated - I assume that is because this package doesn't support this feature?

I'd like to suggest that it is implemented - otherwise I would be forced

[2019-09-09 03:16] mikebronner commented on #286
Hi @newalphamedia, the very nature of this package prevents it from work on QueryBuilder queries. It will only work on EloquentBuilder queries. While it may seem better to use normal QueryBuilder queries to do things, it's probably not a good idea and may expose your app to technical debt. But that's up to you to decide, of course.

Thanks for writing. Unfortunately this is not a feature we will b

[2019-09-09 03:16] #286 closed

[2019-09-09 08:41] roelVerdonschot opened #287 "Flush single database in multi-tenant application"
When manually flushing the cache all cache is invalidated. It would be useful to only flush the current database connection or have the option to pass a database name.

[2019-09-09 11:18] mikebronner commented on #285
Yea, they pretty much have to connect to the same cache for that to work.

[2019-09-09 11:18] #285 closed

[2019-09-09 11:19] mikebronner commented on #287
@roelVerdonschot thanks for the suggestion. That should be doable, I'll look into it.

[2019-09-09 13:09] mikebronner commented on #287
I'm running into problems obtaining a list of all registered tags (needed to flush the cache selectively). Until this is resolved, this feature won't be able to be implemented.

[2019-09-11 19:00] mycarrysun opened #289 "Scopes being applied twice"
**Describe the bug**
When applying scopes, if there is a join it is applied twice.

**Eloquent Query**
Please provide the complete eloquent query that caused the bug, for example:
[code]

**Stack Trace**
The stacktrace below was generated with a `dd()` inside `Illuminate\Database\Query\Builder::join()` only on the second time the function is fired for the same table. I confirmed that the scope is

[2019-09-11 19:10] mikebronner commented on #289
@mycarrysun Thanks for reporting this. This has critical performance implications, so I'll try to look into it as soon as possible, but might not be before the weekend. I'm pretty swamped this week.

[2019-09-11 19:25] mikebronner commented on #289
@mycarrysun  Does the forked version include a fix?

[2019-09-11 20:04] mycarrysun commented on #289
https://github.com/mycarrysun/laravel-model-caching

Here you go :)

[2019-09-12 13:02] emprove opened #290 "relation_name.updated_at - wrong timestamp updating"
When updating some cached model with jenssegers/mongodb package, Eloquent builder add "collection_name.updated_at" values and not updating original updated_at field. I think my code use this part of the Cachable trait:
[code]

**Eloquent Query**
[code]

**Environment**
 - PHP: ^7.3
 - OS: win 10 x64
 - Laravel: 5.8.35
 - Model Caching: 0.6.2
 - jenssegers/mongodb: 3.5.3

[2019-09-12 13:37] #290 closed, assigned to mikebronner

[2019-09-13 07:11] AbanoubNassem commented on #278
there is seek a problem with `Clouser` on saving with `nova` here is the error output :
[code]

[2019-09-13 15:23] hyperized opened #291 "Dynamic local scopes in `with` clauses always returns same results, even if scope is different."
**Describe the bug**
I'm not sure if this is a feature request or bug. I hope you don't mind I put it in bugs.

We're currently using Dynamic Local Query scopes (https://laravel.com/docs/5.8/eloquent#local-scopes -> Dynamic scopes). However it seems that the cache key does not take the dynamic aspect into account, making it rather .. static.

I could imagine that the cache key generation method ca

[2019-09-13 15:37] mikebronner commented on #291
@hyperized Thanks for reporting this! I will take a look at the implementation and add a test-case to and hopefully find a way to fix it. :)

[2019-09-13 15:44] mikebronner commented on #278
@AbanoubNassem Thanks for the additional info! Currently this package is not Nova compatible, but it is definitely something we want to fix.

[2019-09-14 00:56] mikebronner commented on #291
@hyperized I have been able to reproduce this issue and am trying to figure out a fix. It's complicated because this is a scope inside a relationship query. If the scope were applied to the main model directly, it would work as expected.

[2019-09-14 17:28] mikebronner commented on #291
Been looking at this for a few hours now and am having a hard time coming to a solution. Any help would be appreciated, if anyone knows how we could analyze the eagerloads that are closures.

[2019-09-15 19:55] mikebronner commented on #279
HasOneThrough relationship is currently not cached. This need further investigation.

[2019-09-15 20:45] mikebronner commented on #279
Lazy-loading of HasManyThrough is currently not cached.

[2019-09-16 00:17] mikebronner commented on #279
Lazy-loading of polymorphic many-to-many is currently not cached.

[2019-09-17 09:32] mrcageman commented on #287
We're also mighty interested in this feature.

[2019-09-17 13:55] roelVerdonschot commented on #287
@mrcageman You can make a script to flush every model one-by-one it's not the most elegant solutions but it works for now.

[2019-09-18 12:24] Hornet-Wing opened #292 "Invalidate Non-Cacheable Models"
Firstly, thank you very much for this great package!

**Is your feature request related to a problem? Please describe.**
While using this package in my project I have found that some of my models which do not have the `Cacheable` trait, for example the `User` model, get cached as part of any eager loads with models that have the `Cacheable` trait.

For example:

Team: **has Cacheable**
User: **doe

[2019-09-26 18:28] beeyev opened #293 "Laravel 6 support"
Laravel 6 is a new LTS
Could you please implement compatibility with it Laravel 6?

[2019-09-30 15:52] mikebronner commented on #293
This has been added for quite a while now.

[2019-09-30 16:26] beeyev commented on #293
[https://i.imgur.com/laLjEhP.png](https://i.imgur.com/laLjEhP.png)

[2019-09-30 16:30] mikebronner commented on #293
OK, thanks ... that's just a documentation issue, sorry about that.

[2019-10-03 19:45] hebbet opened #294 "Support for Laravel 6.1"
The current version 0.7 is not installable with Laravel 6.1

Could you release a new version which changes the limit in composer?

[2019-10-04 01:04] mikebronner commented on #294
Are you getting composer errors? If so, please post them here. Looking at `composer.json` there should be no issues that I can find off the top. Thanks!

[2019-10-04 01:18] mikebronner commented on #292
@Hornet-Wing Thanks for writing this up with all the details. I will look into this over the next few weeks (I've been out of the office for the past 2 weeks).

[2019-10-04 07:29] hebbet commented on #294
working fine with 0.7.1 when i created that issue, composer didn't show 0.7.1.

[2019-10-04 07:29] #294 closed

[2019-10-04 13:15] mikebronner commented on #294
Awesome, thanks for reporting back :)

[2019-10-04 22:48] Hornet-Wing commented on #292
@mikebronner If you can give me some guidance on the direction you'd like to go with this I am more than happy to submit a pull request.

[2019-10-04 22:58] mikebronner commented on #292
@Hornet-Wing Thanks! The most helpful for me would be if you could PR a failing unit test.

[2019-10-08 23:10] saernz opened #295 "Constrained eager loading does not detect change to where constraint"
**Describe the bug**
When using constrained eager loading the first cached result is always return regardless of any changes to the constraint. I could not find any other issues relating to this and the docs only mentioned lazy-loaded relationships are unsupported at the moment so I thought it wise to raise this as a bug.

**Eloquent Query**
I've provided a test that you can copy and paste into `t

[2019-10-09 00:02] mikebronner commented on #295
@saernz Thanks for this! I will look into this over the next few days, time permitting.

[2019-10-12 08:44] rajnishmishra20 opened #296 "vsprintf(): Too few arguments"
**Describe the bug**
Exception occurs when using **eagerLoadRelation** on Model with **Cachable** trait.

**Eloquent Query**
[code]

**Stack Trace**
vsprintf(): Too few arguments

    protected function getInAndNotInClauses(array $where) : string
    {
        if (! in_array($where["type"], ["In", "NotIn", "InRaw"])) {
            return "";
        }

        $type = strtolower($where["type"]);

[2019-10-12 14:44] mikebronner commented on #296
@rajnishmishra20 Thanks for reporting this. Could you provide the complete stack trace entry from `/storage/logs/laravel.log`? Thanks!

[2019-10-15 10:19] rajnishmishra20 commented on #296
[2019-10-15 10:17:09] development.ERROR: vsprintf(): Too few arguments {"exception":"[object] (ErrorException(code: 0): vsprintf(): Too few arguments at /var/www/coloursappdev/vendor/genealabs/laravel-model-caching/src/CacheKey.php:232)
[stacktrace]
#0 [internal function]: Illuminate\\Foundation\\Bootstrap\\HandleExceptions->handleError(2, 'vsprintf(): Too...', '/var/www/colour...', 232, Array)
#1

[2019-10-15 16:33] mikebronner commented on #296
@rajnishmishra20 Are you able to reproduce this in a model that doesn't use UUID?
Also, can you provide me the string value of `Category::encodeUuid($uuid)`? Thanks. I am currently unable to replicate the issue using the following query:
[code]

[2019-10-18 11:48] rajnishmishra20 commented on #296
Hi I am  \Ramsey\Uuid\Uuid for primary keys

This is Category::decodeUuid($uuid) 8eae24c5cd3a484fb95259066fa9e83f

This is Category::encodeUuid($uuid)  b"Ž®$ÅÍ:HO¹RY\x06o©è?"

Hope this helps, I am stuck at this.

[2019-10-18 14:10] mikebronner commented on #296
@rajnishmishra20 Thanks, this helps. The problem is the question mark in the ID. I will see what I can do to work around this. Hopefully I will have an update ready sometime in the next few days.

[2019-10-18 15:28] mikebronner commented on #296
@rajnishmishra20 This should now be fixed in release 0.7.3. Could you let me know how that works for you? Thanks!

[2019-10-19 08:11] yassir3wad opened #299 "DynamoDb does not support flushing an entire table. Please create a new table."
when trying to update a model.

stacktrace:

[code]

[2019-10-19 18:19] mikebronner commented on #299
@yassir3wad Could you provide more information as to how you configured DynamoDB with Laravel? This package is mainly geared for Redis and MemCached at this time, I have not done any testing with DynamoDB. Could you provide the steps required to replicate this problem?

[2019-10-20 09:03] yassir3wad commented on #299
@mikebronner I am using laravel vapor, and vapor creates by default  a DynamoDB table for caching purpose

[2019-10-20 16:32] mikebronner commented on #299
Hi @yassir3wad,

This appears to be a limitation of DynamoDB. At this time I recommend setting up Redis cache server in Vapor, instead of using the default DynamoDB option.

I see where Laravel's DynamoDB driver is throwing this exception, so I might be able to work around  this problem. I'll keep you posted.

[2019-10-20 16:36] yassir3wad commented on #299
@mikebronner Thanks, I am already turned to use Redis cache

[2019-10-20 16:38] mikebronner commented on #299
@yassir3wad  If it's not working, you will need to configure redis in `config/cache.php` as well as .env files.

[2019-10-20 16:42] mikebronner commented on #299
Looking at this further, it appears that Laravel's DynamoDB driver does not include tagging, which makes this package useless. In conclusion, this package will currently not work with DynamoDB. I will update the readme.

[2019-10-20 16:42] #299 closed

[2019-10-21 13:16] Yannik-Slym commented on #167
@mikebronner

Hello :)

File driver can work with cache tags with package like this one https://github.com/swayok/alternative-laravel-cache.

Maybe add in readme ?

[2019-10-21 16:38] mikebronner commented on #167
I believe file driver now supports cache natively. I will have to add tests, but it should work without any additional packages. I have updated the readme with a drivers section that shows which drivers are and are not supported.

[2019-10-21 16:39] mikebronner opened #300 "Add array tests for file driver."

[2019-10-21 16:39] mikebronner commented on #167
#300

[2019-10-21 16:40] #293 closed

[2019-10-21 16:46] Yannik-Slym commented on #167
@mikebronner No file is not a TaggableStore natively ( https://github.com/laravel/framework/blob/6.x/src/Illuminate/Cache/FileStore.php ).

[2019-10-21 16:47] mikebronner commented on #167
@Yannik-Slym That's odd ... I was looking at FileStore just the other day, and it was clearly marked Taggable. I will have to retrace my steps and figure out which one that was.

[2019-10-21 16:51] mikebronner commented on #167
Bummer, you're right. Fixing documentation now.

[2019-10-21 22:15] andreshg112 opened #301 "How to control failed connections with cache in order to use the DB when it's needed?"
# Issue
I would like to connect to DB when the cache connection fails or there is a timeout. Is it possible to do it? It would be like a fallback connection.

## Environment
Laravel Version: 5.6.39
Laravel Model Caching Package Version: 0.3.7
PHP Version: 7.2.13
Operating System & Version: mac OS Catalina (10.15)

[2019-10-21 22:17] mikebronner commented on #301
If cache does not resolve, it should automatically pull from DB. Are you experiencing a specific issue? If so, please provide a stack trace, and any configuration information, as well as the eloquent query, so we can try to replicate the problem. Ideally this would be in a public test repo.

[2019-10-21 22:23] andreshg112 commented on #301
If I create a fake connection, I get the error below. The thing is that I would like to control or avoid cache errors, so it can connect to DB.

[code]

[2019-10-21 22:25] mikebronner commented on #301
@andreshg112 Not sure how possible that is at the moment. Thanks for submitting this use-case. I can see this would come in handy if the Redis server unexpectantly was offline.

[2019-10-22 01:38] andreshg112 commented on #301
What files should I change in order to achieve this? So I could create a pull requests.

[2019-10-22 01:43] mikebronner commented on #301
@andreshg112 Sorry, at this time I have no idea, it would be something I have to research. My best suggestion for now would be to start playing around through trial and error, and maybe submitting a PR with your findings. :)

[2019-10-23 09:53] DavidSprauel opened #303 "Return value of GeneaLabs\LaravelModelCaching\CacheKey::getValuesFromWhere() must be of the type string, array returned"
**Describe the bug**
I got a very weird errors when executing a simple query.

**Eloquent Query**
This is the generated query, causes no problem when executed in sequel pro.
I cannot exactly send the eloquent because the query is generated automatically.
When I remove the pinned = 1, it works.

SO here is the line that add the pinned param to the query

[code]

[code]

**Stack Trace**
[code]
**Env

[2019-10-23 12:33] DavidSprauel commented on #303
Alright got the problem:
[code]

I don't really know why i have to cast my `$value` into en integer...
Still a mystery but now it works.

[2019-10-23 12:33] #303 closed

[2019-10-23 15:42] mikebronner commented on #303
@DavidSprauel Do you still need to cast it to an integer, even if you are not generating an array? Let me know if you do, as I don't believe that is expected.

[2019-10-24 05:35] rajnishmishra20 commented on #296
Its fine now. Thanks!

[2019-10-25 11:19] rajnishmishra20 commented on #296
Hey Sorry to open this again but it did not work. I had MODEL_CACHE_ENABLED set to false

After enabling , same error occurs

[code]

[2019-10-25 15:00] mikebronner commented on #296
Hi @rajnishmishra20, could you provide the stacktrace again, as well as the category UUIDs that cause this error? Thanks!

[2019-10-25 16:00] mikebronner commented on #296
Just saw you added the example link, thanks for that.
Inspecting the queries that are being run, the following looks odd to me:
[code]

[2019-10-25 16:55] andreshg112 commented on #72
This would be great in my case because I have a database that is filling so fast, so I want to add a TTL in order to free space because I have to do it manually. I cannot configure a cron job right now.

[2019-10-25 17:00] mikebronner commented on #72
@andreshg112 Could you elaborate? If configured correctly, Redis or MemCached should be managing their storage automatically, and invalidating their cache when they run out of space.

Or are you talking about you need to cull your actual database manually from time-to-time of old records, and when you do that, the cache is no longer in sync with the database?

[2019-10-25 17:12] andreshg112 commented on #72
Thanks for answering! The cache is always synced with the database. Even, we do not modify the database frequently. However, when the Redis server is full, this package cannot write to the server anymore, so we get this error:
[code]

From this midnight to this midday (12 hours), it has occupied 5.1 GB. The day the application was released, it occupied 20 GB in a few hours. That's the reason why I

[2019-10-25 17:17] mikebronner commented on #72
@andreshg112 Thanks for the detailed response! Let's see if we can't get your Redis server to dump cache when it runs out of space. Have you taken a look at this article: https://ma.ttias.be/redis-oom-command-not-allowed-used-memory-maxmemory/
specifically solution 2? Let me know if that doesn't work for you.

Also take a look at this article: https://aws.amazon.com/premiumsupport/knowledge-center

[2019-10-25 19:55] andreshg112 commented on #72
I'm checking it. Thanks!

Got a question. I don't know what "cache cooldown" is. I see it a lot in the code.

[2019-10-25 20:00] mikebronner commented on #72
@andreshg112 See https://github.com/GeneaLabs/laravel-model-caching#experimental-cache-cool-down-in-specific-models. It let's you turn off cache invalidation for a certain time an extremely high-traffic models that aren't critical. For example, you may not want to invalidate cache every time a comment is added, but instead only invalidate that cache every 15 minutes. This could cause comments to o

[2019-10-25 23:59] andreshg112 commented on #72
I think this is gonna work. I tried it in a testing environment and It works. I'll answer here if it works as expected in production.

[2019-10-27 07:27] rajnishmishra20 commented on #296
Hi may be, I found the root of problem. when ever I try to egarload a relation with another elager loaded relation all having a binary id th problem occurs.

Ex if from Category::with('word')->with('contents')->with('category')->doesntHave('category')->with('packs')->simplePaginate($pages);

Suppose ->with('packs') contains another relation on model definition  of relation the problem occurs
 publ

[2019-10-27 15:04] mikebronner commented on #296
@rajnishmishra20 I need the values that are being passed in to work around the binary data.

[2019-10-29 23:57] grcasanova opened #304 "file_put_contents error"
Fresh larval 6.0 installation on a Mac OS Mojave 10.14.6 with PHP 7.1
When trying to retrieve a model with `Model::all()` with the _Cachable_ trait, it results in a
`file_put_contents(/path/to/storage/framework/cache/data/2c/70/2c707dcbc4c7170cb97cccd70bb8d3aebb20b11e): failed to open stream: No such file or directory`
Path permissions should be already set up. Error happens occasionally with all

[2019-10-30 00:07] mikebronner commented on #304
@grcasanova Please provide the full stack trace an package version. Initially, this seems like a project or server configuration issue. I have not experienced this issue at all, neither in testing nor production.

[2019-10-31 07:27] rajnishmishra20 commented on #296
Some example categories

array:22 [▼
  0 => b"Ž€E6Ó\x19Jý°\x1Ak%‚®éí"
  1 => b"ÄÇEâ3ÎM¦ñ┌?╬³çÅC"
  2 => b"Ž€E¯{ÔJ›…\x03¨)L/òº"
  3 => b"Ž€Eç?ML%µ\x1EGUY\x128«"
  4 => b"Ž€F\x03\½JÚšbå.ª\x124ö"
  5 => b"Ž€F›Â…E\x03’ÇÄá]4Ÿ1"
  6 => b"Ž€F»JœEf˜\x1FYÌZ»óJ"
  7 => b"Ž€G›{CL%½¾\x07Â@Çû¤"
  8 => b"""
    ÄÇHVJ

    AÅÉïƒ ¶ÌÖj
    """
  9 => b"Ž€IS †I:ŽrÐ\x1Fç¤Û\x13"
  10 => b"Ž€K¹ë\eIc™ˆor6ÄIK"
  11 => b

[2019-10-31 16:12] mikebronner commented on #304
Thanks for the stack trace. I don't believe this has anything to do with this plugin, as the error is happening with the cache driver in Laravel. Which cache driver are you using? If you are using the file cache driver, there may be write delays, and other concurrency problems. Those have not been tested, and are largely up to configuration and system performance.

[2019-10-31 18:08] padre commented on #304
@mikebronner Yes, I am using the file cache driver. That's probably the reason. In a short time I will switch to redis anad I will be able to check if it stops happening.

 Thanks!

[2019-10-31 21:16] grcasanova commented on #304
@mikebronner Does it happen with the _database_ driver too?

[2019-10-31 21:18] grcasanova commented on #304
I think the issue is due to the file driver being used and can be closed now

[2019-10-31 21:18] #304 closed

[2019-11-08 15:16] padre commented on #296
@mikebronner, this exception happens to me frequently :-(

My models uses \Ramsey\Uuid\Uuid too. An example:

`vsprintf(): Too few arguments {"userId":15,"exception":"[object] (ErrorException(code: 0): vsprintf(): Too few arguments at /var/app/current/vendor/genealabs/laravel-model-caching/src/CacheKey.php:233)
[stacktrace]
#0 [internal function]: Illuminate\\Foundation\\Bootstrap\\HandleException

[2019-11-18 21:02] padre commented on #296
@mikebronner Sometimes the exception vsprintf(): Too few arguments and other times vsprintf(): Argument number must be greater than zero in CacheKey.php:233

It's to be used [binary uuid](https://github.com/michaeldyrynda/laravel-efficient-uuid)

I made the following fix and the problem has not recurred:

`protected function getInAndNotInClauses(array $where) : string
    {
        if (! in_array(

[2019-11-21 03:17] saernz opened #305 "Updates fail with concurrent query / updates"
**Describe the bug**
Hi I believe I have found a bug which appears to rear its head when queries and updates happen at the same time, I have also identified an area on the code which may be causing this problem and a simple fix which seems to prevent this behaviour and may also help save up to 50% of memory storage in redis. This is potentially loosely related to #201 and may suggest behaviour des

[2019-11-21 03:20] mikebronner commented on #305
@saernz Thanks for this detailed report! Very interesting find, indeed! I will implement the fix you suggest and run it against the unit tests and report back. Please give me a few days to get back to you on this, I will try to get to it on Friday at the latest.

[2019-11-21 03:26] saernz commented on #305
@mikebronner Thanks man. Hopefully I'm not wrong, though I'll leave it up to the experts to decide :)

[2019-11-22 03:59] saernz commented on #305
Unfortunately I don't think my fix has worked as I ran into the same problem again. I believe my DB lock is not working some how and when the cache updates after a flush it does a dirty read of the DB some how as it ends up caching the old value. I think the bug I described above still exists, though I'm not sure if it's causing the race condition or not. From looking at the code and stack traces

[2019-11-25 02:35] saernz commented on #305
I've looked into this a bit more now and I believe I understand the problem a lot better. There isn't a race condition as I initially described in my original post, though I believe stopping that recursive behaviour will still help stop an intermediate value being stored in the cache caused by the eloquent builders call to get().

I have found I'm getting the wrong value returned from cache after

[2019-11-26 09:44] ShyZhen opened #306 "Can it support row-level caching?"
Hello, i'm a novice at laravel, i have a question, can it support row-level caching?

Because I see that whether you delete or update a piece of data, the entire library will be flushed, i want to delete or update only the current record when i delete or update a record. Is there any way to achieve this scenario?

Thank a lot.

**Environment**
 - Laravel 5.8
 - Laravel-model-caching 0.6.3

[2019-11-26 14:49] mikebronner commented on #306
Hi @ShyZhen, it depends on your cache store type (array, file, redis, memcached, etc). If you use a cache store that does not support tags, it will always flush the entire cache. If you use a cache store that does support tags, it will only flush the models that are affected in that category. Row-level, or specific model instance flushing is not supported due to the technical complexity involved.

[2019-11-26 14:49] #306 closed

[2019-11-30 13:41] kolirt commented on #256
Hi there! Unfortunately, this problem is back again :(

[2019-11-30 14:23] mikebronner commented on #256
@kolirt please prove all the details necessary to debug this: pacjage version, Laravel version, full stack trace of any error, etc.

[2019-12-02 11:58] vahidalvandi opened #307 "when use protected $cacheCooldownSeconds = 300; // 5 m not expire"
i set  $cacheCooldownSeconds = 300 but after edit database manually  after 5 minute cache not rest

[2019-12-09 08:17] Pankajmaurya138 opened #308 "laravel cache still show the deleted record when we delete record from database. cache is not updated it show the deleted record."
# Issue
*summarize your issue here*

## Environment
Laravel Version: *6.2*
Laravel Model Caching Package Version: *^0.7.3*
PHP Version: *7.2*
Homestead Version: *x.y*
Operating System & Version: *win 10*

## Stack Trace
[code]

[2019-12-10 11:28] Pankajmaurya138 commented on #308
laravel cache still show the deleted record when we delete record from database. cache is not updated it show the deleted record.

Bug

[2019-12-19 05:08] ahmedmansour08 commented on #308
### cuz the query is cached !!
**try** :
`php artisan optimize:clear`

[2019-12-19 15:57] mikebronner commented on #308
@Pankajmaurya138 Please provide more information:

- What is the eloquent query you are having trouble with?
- What caching driver are you using?
- You should clear the cache after deploying or updating: `php artisan model-cache:clear`

[2019-12-19 15:59] mikebronner commented on #307
@vahidalvandi Please provide more information:

### Eloquent Query

Please provide the complete eloquent query that caused the bug, for example:

$model->with('otherModel')->get();
Stack Trace The full stack trace from your log file.

### Environment

PHP: [e.g. 7.1.0]
OS: [e.g. Ubuntu 18.04]
Laravel: [e.g. 5.6.15]
Model Caching: [e.g. 0.2.61]

### Additional Context

Add any other context about t

[2019-12-22 17:52] mikebronner commented on #305
@saernz Thanks for the follow-up. I will update the documentation to explain the work-around with transactions.

Also, I was unable to implement your suggested fix in your first post, as it breaks unit tests. It might have worked well for you specific use-case, but it seems to break other areas.

[2019-12-22 17:55] #305 closed

[2019-12-22 18:25] mikebronner commented on #287
Unfortunately clearing cache by database is currently not possible due to driver limitations. I was unable to find a method to list all existing tags for the `redis` and `memcached` drivers. If someone finds a way, please let me know, and I'll be happy to implement it.

[2019-12-22 18:25] #287 closed

[2019-12-22 18:58] mikebronner commented on #296
@padre the UUID package you linked to should not be used as the primary key. However, I have added the code you recommended, as it does not break any test. Unfortunately the tests for this are very impractical. I would definitely appreciate a PR from you, if you have the time. Thanks!

[2019-12-22 19:02] mikebronner commented on #296
Closing this for now. Please check release 0.7.3 and let me know how it works for you.

[2019-12-22 19:02] #296 closed

[2019-12-22 19:03] #300 closed

[2019-12-22 19:16] mikebronner commented on #295
@saernz Will have to work on this some more. Tried coming up with a solution today, but having a bit of trouble trying to extract the key of with `with` query. WIP

[2019-12-22 19:18] mikebronner commented on #295
Related to #291

[2019-12-22 19:30] mikebronner commented on #289
@mycarrysun Thanks for the link to the fork. That helps. Would you be able to also provide me with your global scope declarations and your complete Order model? Thanks!

[2019-12-22 19:32] mikebronner commented on #292
Closing this for now. Please open a new issue if you continue to have this problem.

[2019-12-22 19:32] #292 closed

[2019-12-23 13:06] Pankajmaurya138 commented on #308
actually it happen in that case when i am using the model cache. scenario of this problem,
when i visited the specific url which have the product list page. model cache store that query in cache of product list query. when i am delete the one record from the product list then its not update the cache and still get the deleted record in the product list.
my query is that always need to call php art

[2019-12-23 15:39] mikebronner commented on #308
@Pankajmaurya138 Please provide the above items I listed. It's hard for me to provide help without the necessary information. Thanks :)

[2019-12-25 21:25] mikebronner opened #309 "Add tests for new Laravel 6 Subquery features."
- https://www.youtube.com/watch?v=Hfgcg09srSo at around 12:00

[2019-12-25 23:14] mikebronner opened #310 "Add tests and functionality for `model::cursor()` method."
- https://www.youtube.com/watch?v=Hfgcg09srSo at around 35:00

[2019-12-27 15:17] mycarrysun commented on #289
@mikebronner sorry man - can't provide the complete Order model but I can provide some relevant code including the global scopes on `Order`

[2019-12-27 15:29] mycarrysun commented on #289
[code]

Here is the call where I create the query:
[code]
Here are the relevant scopes for that call:
[code]
Now scopes on the `Order` model:
[code]
More relevant scopes:
[code]

The only scope not posted here is the `withCompany()` and it is a simple inner join on the `company_id` column.

Hope this helps

[2019-12-27 20:12] reasecret commented on #280
I think I'm having this issue. I'm syncing some ids for my pivot table. When cache enabled, I can't see some relationship query results. Bu when disabled cache I can see results.

[2019-12-28 15:54] PooX opened #311 "Clear all data in model, not only by one ID"
**Describe the bug**
I dont' think that this is bug, but can't find solution. I have some data in models, like
Posts by User ID, so when i add new post on User 1, every other user cache is cleared. Is there possible to delete for only specific model id or something like this?

I have some sync function for some user, where i visit
/user/1/sync

Then there is command
`  Artisan::call('modelCache:cl

[2019-12-28 16:04] mikebronner commented on #311
@PooX I don't understand your question. From what you are describing, you are already clearing the cache for a given model. Normally you don't need to manually clear the cache at all, unless you are having other issues or are running into edge-cases that this package currently doesn't support.

If you are asking to only clear the cache for User model with id of `1`, then no, that is not possible w

[2019-12-28 16:04] #311 closed

[2019-12-28 16:05] PooX commented on #311
Let me know if this answered your questions.

Yes, that is what i ask. So bad for me, but it's ok. Thank you for answer. :)

[2020-01-10 09:46] liepumartins opened #312 "Cache not expiring"
**Describe the bug**
Some records are persisted and not updated/expired in the cache despite a timeout being set.

**Eloquent Query**
With necessary information about the models.
[code]

I had this problem with more than one model. In one case I disabled caching of `Value` model (removed `Cacheable` trait). In the other case I flushed the cache manually only for the `Value` model with `php artisan

[2020-01-10 15:06] mikebronner commented on #312
Using `cachecooldown` means that you are preventing the cache from automatically invalidating itself. Is that what you truly wanted to do?

[2020-01-13 09:02] liepumartins commented on #312
I see that I have misunderstood the meaning of `cachecooldown`.

The thing is, these tables are (frequently) updated in the database directly via other means. Laravel only reads the data. I do not know, why I was led to believe that `cachecooldown` would be expiration/invalidation time. :man_facepalming:

So the real question is - how to make cached data invalid every X seconds, to force refresh f

[2020-01-27 21:53] mikebronner commented on #312
@liepumartins If you need to perform custom cache flushing, don't do it on a timer. Instead, clear the model cache for a specific model when something happens. You can trigger any artisan command from within code: https://laravel.com/docs/6.x/artisan#programmatically-executing-commands. Good luck. :)

[2020-01-27 21:53] #312 closed

[2020-01-28 15:10] liepumartins commented on #312
I see that there is option to flush cache manually, I was looking for static method :man_facepalming:    https://github.com/GeneaLabs/laravel-model-caching/blob/aa0253e3a5a6dfc5482b68cb177f50a746c30661/src/Console/Commands/Clear.php#L52

I created options for data updater to call flush, and will monitor how it goes.

[2020-01-29 15:03] pablorsk opened #313 "Documentation link on "code section" is down"
Link to https://genealabs.com/docs/laravel-model-caching/ is down.

Any update about this?

[2020-01-29 19:02] mikebronner commented on #313
Sorry about that. I moved the documentation back to the readme. Removed the link to avoid confusion. :)

[2020-01-29 19:02] #313 closed

[2020-03-05 13:05] meandus opened #316 "model::truncate()"
no cache clear when using model::truncate() but ok when trying to delete one model result.

[2020-03-05 15:16] mikebronner commented on #316
@meandus Thanks for alerting to this issue. Will look into this as soon as possible.

[2020-03-05 19:30] meandus commented on #316
maybe not a bug but a feature request in this case ...

[2020-03-06 23:47] wfsmith opened #317 "Call to undefined method GeneaLabs\LaravelModelCaching\CachedBuilder::type() - Corcel incompatibility?"
**Describe the bug**

Fresh install of LaravelModelCaching.  Added the use statements and requested a page from our custom laravel app.

This error occurred:

[code]

I am struggling to find the culprit but my guess is that this package is not compatible with Corcel?

**Eloquent Query**

There are many in the model I'm testing, but they are all mostly Corcel methods.

[code]
etc

**Stack Trace**

[2020-03-07 01:05] mikebronner commented on #317
Are you using global scopes -- it looks like `type()` might be something like that? At the moment this package does not work with global scopes.

[2020-03-07 01:47] wfsmith commented on #317
Ah, yes I am. I have a scope for filtering only published wordpress posts that is applied on the request.  Thank you Mike!  Looks like I'll have to rely on model caching for now. Cheers

[2020-03-07 01:48] mikebronner commented on #317
Yea, I use local scopes applied with traits to models. That takes care of the global scope issue for me. :)

[2020-03-07 01:48] #317 closed

[2020-03-08 02:14] wtoalabi opened #318 "Cannot Download"
I hope I am not the only one experiencing this issue.
on a fresh Laraval 7.0 installation, running `composer require genealabs/laravel-model-caching`
shows "...could not be fully loaded, package information was loaded from the local cache and may be out of date"
Everything just got stucked from there, please help.

Thanks!

[2020-03-08 02:19] mikebronner commented on #318
@wtoalabi Try running
[code]

[2020-03-08 02:54] wtoalabi commented on #318
Thanks Mike!
That was pretty fast!!!!

I cleared the cache as suggested and the error changed to:
[Composer\Downloader\TransportException]
  The "http://repo.packagist.org/p/provider-2013%248857d0ca169e0aaac29ca75c0a31b3edd1b276e80a8f71972fd099fb3e0146b4.json" file could not be downloaded: failed to open stream: HTTP request failed!

[2020-03-08 03:00] wtoalabi commented on #318
Fixed!
I needed to run this after:
`composer config -g repo.packagist composer https://packagist.org`
Then it worked!

Thanks Mike for pointing me in the right direction.

[2020-03-08 15:52] mikebronner commented on #318
@wtoalabi Awesome, glad you were able to solve it! :)

[2020-03-08 15:52] #318 closed

[2020-03-26 08:59] irvine1231 opened #319 "Return value of GeneaLabs\LaravelModelCaching\CacheKey::getValuesFromWhere() must be of the type string, array returned"
**Describe the bug**
I get a `Return value of GeneaLabs\LaravelModelCaching\CacheKey::getValuesFromWhere() must be of the type string, array returned` error after the eloquent query called below.

**Eloquent Query**
Please provide the complete eloquent query that caused the bug, for example:
[code]

**Stack Trace**
[code]

**Environment**
 - PHP: 7.2.24
 - OS: Mac 10.14.6
 - Laravel: 6.18.3
 - Mod

[2020-03-31 20:01] dhcmega commented on #306
Hi!
If the cache is flushed when using a cache that does not support tags, will it still make sense? Will the cache only be used if the same query runs more than once during any given execution?

For memcached to work, will this setup be enough? I don't have igbinary, json and msgpack?
At the moment, I only have "file", "database" or this "memcached":
[code]
Thanks!

[2020-03-31 20:10] mikebronner commented on #306
Hi @dhcmega, thanks for writing in!

If you use a cache that doesn't use tags, it will clear the entire cache every time something changes. It is not really meant for that type of operation, and you're probably better off not using this package.

in your case memcached would be the preference.

[2020-03-31 23:08] alexinteam opened #320 "relation limit offset"
**Describe the bug**
Found a bug wher using limit, offset in relation

**Qry**

[code]
so my qry ignored limit, offset totally.

PS
disabling model caching returns correct data

Thanks.

[2020-04-01 00:15] dhcmega commented on #306
Hi @mikebronner, thank you very much for responding.
I'm testing it right now with memcached and every thing seems good. Will keep on dev for a few days.
Is `ext-memcached` actually needed?
Thanks!

[2020-04-01 13:21] mikebronner commented on #306
I'm not sure, as I have always been using redis. My recommendation would be to follow the Laravel guidelines on installing Memcached: https://laravel.com/docs/7.x/cache#driver-prerequisites

[2020-04-01 13:22] mikebronner commented on #320
Thanks for reporting this! I will try to recreate the issue and see what's going on.

[2020-04-01 16:36] mikebronner commented on #320
@alexinteam I was unable to replicate the issue. I created a new test: https://github.com/GeneaLabs/laravel-model-caching/blob/master/tests/Integration/CachedBuilder/WithTest.php#L11

Could you provide a PR with a failing test?

[2020-04-08 19:22] dhcmega opened #322 "Error in readme MODEL_CACHE_ENABLED vs MODEL_CACHE_DISABLED"
Hi
READMED have `MODEL_CACHE_ENABLED` and `MODEL_CACHE_DISABLED`, but the one actually being used is `MODEL_CACHE_ENABLED`.
Thanks!

[2020-04-08 22:20] mikebronner commented on #322
Thanks for the heads-up! Fixed :)

[2020-04-08 22:20] #322 closed

[2020-04-09 13:12] dhcmega opened #326 "User (no cache) Notifications (with cache) pivot paginate not refreshing"
**Describe the bug**
User has multiple notifications (belongsToMany). The pivot table has a "read" column.
When a user reads a notification I run `updateExistingPivot`. But the next read of user->notifications() is cached and not updated.
User has **no** Cachable.
Notifications has Cachable.

**Eloquent Query**
[code]

**Stack Trace**
No exceptions thrown

**Environment**
 - PHP: 7.3.11
 - OS: Ubu

[2020-04-09 14:16] mikebronner commented on #326
Hi @dhcmega! You mention you get a trait collision when adding caching to the user? What trait and package is it colliding with? If you have another package that overrides EloquentQueryBuilder, this is likely the problem preventing the caching from working correctly, even if you are not caching the user.

Please post your User model class. Also, please post your composer.json.

[2020-04-09 14:21] #319 closed

[2020-04-09 14:30] #316 closed

[2020-04-09 14:39] dhcmega commented on #326
Hi @mikebronner, thanks for getting back to me so fast.
I have removed the Metable trait and the problem was solved. It was also overriding `__get`.
The package is `"kodeine/laravel-meta": "master",`.

User.php
[code]
composer.json
[code]

[2020-04-09 14:48] dhcmega commented on #326
Is it possible to create my own Trait that includes both traits and I override __get with the code from each one?

[2020-04-09 15:03] mikebronner commented on #326
@dhcmega See the "Conflict Resolution" section here: https://www.php.net/manual/en/language.oop5.traits.php. You will have to write your own `__get()` method that first calls the aliased `__get()` method from one trait, and then the aliased `__get()` method from the other trait.

Let me know how this goes and what the method looks like, I have not had to do this myself yet, but would be good to ad

[2020-04-09 15:03] #326 closed

[2020-04-09 16:06] dmason30 commented on #238
@mikebronner I think this one can be closed the test seems to pass?

[2020-04-09 16:41] mikebronner commented on #238
@dmason30 Thanks for checking on this! :)

[2020-04-09 16:41] #238 closed

[2020-04-09 18:09] dmason30 commented on #283
@mikebronner I think the only way is to have a license. And to use a local auth.json (remember to gitignore) and then on travis use secret env variables:

https://nova.laravel.com/docs/2.0/installation.html#authenticating-nova-in-continuous-integration-ci-environments

It means that any contributors who want to add/fix nova related code would need their own license locally. But one assumes they al

[2020-04-09 18:12] mikebronner commented on #283
@dmason30 The license is not the problem :) I have that. The problem is that I have not been able to get unit tests to run.

[2020-04-09 19:02] dhcmega commented on #326
@mikebronner I think I have solved it by mixing both methods.

Calling them with alias fails, I'm afraid it's not possible in this case:
User has Metable
Notifications has Cachable

Maybe I'm getting it wrong. I have created a Trait that aliased the methods, but it fails.
Probably becase of the returns in the middle. The Traits it self works ok.

[code]

This is what I think works, I still have to

[2020-04-09 19:48] dhcmega commented on #326
Oh but this way I'm making User Metable AND Cachable.
I will keep looking into this.

[2020-04-09 19:52] mikebronner commented on #326
@dhcmega which is OK. It's not _wrong_ to make users cachable.

[2020-04-09 22:00] dmason30 commented on #283
@mikebronner Ah sorry, I was using the travis error as my basis for the above. Please could you let me know what error you were getting?

[2020-04-09 22:18] mikebronner commented on #283
Oh, it's been so long, I don't think I was ever able to figure out how to set up a test case.

[2020-04-11 17:46] dmason30 commented on #310
@mikebronner I have had a look at this and it seems that it completely skips caching as it uses `Query\Builder` under the hood to execute the query for each record.

**Eloquent\Builder**
[code]

[2020-04-11 17:56] dmason30 commented on #310
@mikebronner I have had a look at this and it seems that it completely skips caching as it uses `Query\Builder` under the hood to execute the query for each record.

**Eloquent\Builder**
[code]

**Query\Builder**
[code]

So you could say use of `cursor` is not cached. The only other option would be write your own implementation of the `cursor` method

In my opinion it is probably not necessary to

[2020-04-11 18:43] mikebronner commented on #310
@dmason30 Good analysis! I add this to the documentation that this method is not cached.

[2020-04-13 12:23] irvine1231 opened #333 "Undefined offset: # in CacheKey getValuesFromBindings"
**Describe the bug**
I get a `Undefined offset: 6` error after the eloquent query called below.

**Eloquent Query**
Please provide the complete eloquent query that caused the bug, for example:
[code]

**Stack Trace**
[code]

**Environment**
 - PHP: 7.3.16
 - OS: Mac 10.14.6
 - Laravel: 7.5.2
 - Model Caching: 0.8.1

**Additional context**
Below is the raw query triggered by the laravel eager loadi

[2020-04-13 18:52] #309 closed

[2020-04-13 18:56] #283 closed

[2020-04-13 23:16] mikebronner opened #335 "Add tests for caching `->reorder()` and implement functionality if necessary."
Not exactly sure how this affects caching and what the details of it are.

[2020-04-13 23:18] mikebronner opened #336 "Implement tests and caching for `query()` method on models."
I'm getting forgetful now. Need to double-check to make sure this is in there, if not add it.

[2020-04-15 18:34] mikebronner commented on #333
@irvine1231 Can you confirm that this issue is now fixed? :) Thanks!

[2020-04-15 18:34] #333 closed

[2020-04-16 02:39] irvine1231 commented on #333
@mikebronner Yes, it has been fixed, tested with the 0.8.2 version two days ago. :)

[2020-04-16 15:34] mikebronner commented on #333
@irvine1231 Awesome!

[2020-04-23 10:38] alexinteam commented on #320
Sorry, I researched. It wasn't your problem. Closing

[2020-04-23 10:38] #320 closed

[2020-04-23 14:13] mikebronner commented on #320
Good to hear! :)

[2020-04-24 12:20] Harti opened #341 "Sustained Laravel 6 (LTS) support"
**Is your feature request related to a problem? Please describe.**
Laravel 6.x is the current LTS support release (until 2022), but this library abandoned Laravel 6.x starting with 0.8.x.

[code]

**Describe the solution you'd like**
Compatible PRs shall also be merged into 0.7.x releases in order to include bug fixes for Laravel 6.x users.

**Describe alternatives you've considered**
Alternativel

[2020-04-24 15:32] mikebronner commented on #341
Hi @Harti, thanks for writing in. We will only ever support the current Laravel release. There are various reasons why LTS is a fallacy, which I won't get into here. However, you are welcome to fork the library and make any necessary changes to run on your versions.

[2020-04-24 15:32] #341 closed

[2020-04-24 15:51] Harti commented on #341
@mikebronner Would you kindly provide a link that elaborates on your claim of LTS being a _fallacy_?

I understand your point, but I’d still love to learn about the reasons.

[2020-04-24 16:10] mikebronner commented on #341
https://medium.com/@jasonmccreary/laravel-lts-is-a-trap-97b1d1103961
https://connortumbleson.com/2019/01/28/lts-is-a-lie/
https://laracasts.com/discuss/channels/laravel/lts-or-latest-version-which-should-be-used

Google is your friend.

And my reasons:
- it creates too many dependency conditions when maintaining open-source packages.
- you projects loose versatility, as most active packages suppor

[2020-04-28 12:25] Drewdan opened #342 "Global Scopes Not Being Busted Based On Called Context"
**Describe the bug**
When calling Model::all() - the global scope is not being applied. I am getting an instance of the first cached result, not the updated one when the Auth::user() changed in the global scope.

In my model I attach a global scope on boot which is a class implementing scope:
[code]

However when I run the below Eloquent query, it always returns the cached results instead of updat

[2020-04-28 12:51] mikebronner commented on #342
@Drewdan Thanks for reporting this. We have had numerous issues with global scopes in the past. Currently the tests I have for global scopes are passing. Could you provide the full class that you use to apply the global scope, as well as the model that uses it? This will let me create another test to hopefully replicate the issue.

[2020-04-28 13:03] Drewdan commented on #342
Hi @mikebronner - cheers for getting back to me so quickly:

Tag.php
[code]

SameCompanyScope.php
[code]

Also used is the OrderByScope.php
[code]
Just to clarify, the issue occurs when the user account changes and the Tag model returns the cached result and not the expected new result.

Is that everything you need?

Thanks again :)

[2020-04-28 13:05] mikebronner commented on #342
Thanks @Drewdan, I will try to get a new test implemented that mimics this. I'll probably ask for your feedback on the test to make sure my implementation matches yours.

[2020-04-28 13:08] Drewdan commented on #342
Thanks @mikebronner - happy to help any way I can :)

[2020-04-28 13:25] mikebronner commented on #342
@Drewdan One more thing, can you provide the code you use to call the tag? For example the switching process you mentioned above? I just reviewed the global scopes tests, and they are set up the same way, I wonder if they are being triggered differently?

[2020-04-28 13:27] mikebronner commented on #342
See the tests here: https://github.com/GeneaLabs/laravel-model-caching/blob/master/tests/Integration/CachedBuilder/ScopeTest.php#L59

[2020-04-28 13:30] Drewdan commented on #342
I would l1ogin to the application with an account, for example we will say they have an id of 1 and a company_id of 1 in the database. They then load a page which is controlled by the TagController:
[code]

They then see tags scoped to their company displayed.

If that user was to log out, and log back in using a different account say with an id of 2, and a company_id of 2, and they viewed the sam

[2020-04-28 13:31] Drewdan commented on #342
Thinking about it, my title was not quite accurate, on first run, the GlobalScope works perfectly, the cache does not get busted when the global scope changes though

[2020-04-28 13:32] mikebronner commented on #342
@Drewdan Thanks for the clarification. I will see if I can recreate a test for that.

[2020-04-28 14:09] mikebronner commented on #342
I created another test for this use-case, but am unable to replicate the issue. The results are as expected on my end: https://github.com/GeneaLabs/laravel-model-caching/blob/master/tests/Integration/CachedBuilder/ScopeTest.php#L106 Would you mind checking if I'm doing something wrong?

[2020-04-28 14:12] Drewdan commented on #342
I will take a look now and get back to you :)

[2020-04-28 14:47] Drewdan commented on #342
Hi @mikebronner
The test does indeed pass, however, I have managed to make it fail with:
``PHP
public function testGlobalScopesWhenSwitchingContext()
    {
        factory(Author::class, 200)->create();
        $user = factory(User::class)->create(["name" => "Anton Junior"]);
        $this->actingAs($user);
        $authorsA = (new AuthorBeginsWithScoped)
            ->all() //using all instead of

[2020-04-29 07:40] wilbur-oo opened #344 "Implement PHPREDIS instead of PREDIS."
predis was last updated in 2017, and laravel has also recommended phpredis, I personally think it should be replaced by phpredis

[2020-04-29 13:00] #342 closed

[2020-04-29 13:01] mikebronner commented on #344
@wilbur-oo Thanks for the recommendation! :) I'll work on getting that updated. :)

[2020-04-29 13:14] mikebronner commented on #344
The concern I have is with the configuration changes needed to make Phrpredis work with Laravel, while PREDIS works out of the box with no changes. That being said, PREDIS is struggling from a maintenance point of view.
On the other hand, PHPREDIS requires the PECL extension to be installed, which may or may not be easy to do. Further, it's not installed in Homestead or on forge servers by default

[2020-04-29 13:18] mikebronner commented on #342
Could you give this a test with release 0.8.4 and let me know how it works! Thanks so much for your PR on this :) Very much appreciated!

[2020-04-29 13:19] mikebronner commented on #256
@kolirt Would you mind testing this against release 0.8.4 or newer? Additional functionality has been added to deal with global scopes. Please let me know how it works for you.

[2020-04-29 13:20] mikebronner commented on #199
@maicolbruski I believe global scopes are now working. If you're interested, I would love to hear if the package is working for you now. Please test with release 0.8.4 or newer, if you do. Thanks!

[2020-04-29 13:23] Drewdan commented on #342
I will pull it in and try it out now. My pleasure, glad I could contribute :)

[2020-04-29 13:36] wilbur-oo commented on #344
Yes, I agree with your concerns.
But for me personally, the laravel-model-caching package is to improve production performance, so in order to achieve high performance, installing an extension should not be a big problem.
Of course, this is just my personal opinion. I respect your ideas. After all, the change of an extension package ’s dependencies will affect too many users.
Or I think it is poss

[2020-04-29 13:46] mikebronner commented on #344
Good points! Is there something in the package that is preventing you from using PHPREDIS? Since it's all on the configuration end, and this package doesn't configure the REDIS provider for you, you should be able to.

Would love to hear the steps you need to take to get PHPREDIS to work with the package, and if it throws any errors.

[2020-04-29 14:47] Drewdan commented on #342
I jury rigged the changes as our codebase is still on Laravel 6, so could not install the latest version through composer. It seemed to work ok, but we are due to upgrade to laravel 7 in the next few weeks, so any problems I will update you then :) thanks for acting on the PR so quickly. Much appreciated

[2020-04-29 15:41] maicolbruski commented on #199
Hi @mikebronner, Perfect!!! I will do some tests and then let you know

[2020-05-02 21:25] denisdulici opened #347 "PHP 7.2"
First of all, thanks for the tremendous work done on this package.

Laravel 7 requires PHP 7.2 version. Why don't you respect it?

Why don't you make a **nova-model-caching** package wrapping this one instead of removing features general Laravel users?

[2020-05-02 21:29] denisdulici commented on #347
Furthermore, such a critical change is done in a patch version and suddenly our [software](https://github.com/akaunting/akaunting) failed due to it.

[2020-05-02 21:32] mikebronner commented on #347
Hi @denisdulici, thanks for writing in. You are absolutely right about the PHP version. I went ahead and adjusted that. Please try release 0.8.5 and let me know how that works for you.

I'm not sure I understand you second point about Nova? No functionality is being removed to accommodate Nova. We are adding additional tests to make sure it works with Nova.

[2020-05-02 21:33] mikebronner commented on #347
Can you elaborate which patch broke what?

[2020-05-02 21:36] denisdulici commented on #347
In fact, it doesn't break any feature, yet. However, it doesn't pass [tests](https://github.com/akaunting/akaunting/runs/639279793).

As for Nova, it [seems](https://github.com/GeneaLabs/laravel-model-caching/commit/d5c930af6790447841d298891f3dd7799b7080c1) you changed it for the sake of Nova. That's why I thought that if it's required for Nova, why not create a new package?

[2020-05-02 21:38] denisdulici commented on #347
Woohoo, just saw the fix release. Thanks for the prompt response 😉

[2020-05-02 21:38] mikebronner commented on #347
I'm also updating our own tests to include different PHP versions now in actions.

[2020-05-02 21:55] mikebronner commented on #347
Going to close this for now, assuming everything is good on your end?

[2020-05-02 21:55] #347 closed

[2020-05-02 22:11] denisdulici commented on #347
Yep, it worked fine, thanks again.

[2020-05-03 01:58] dmason30 opened #348 "PHP 7.2 action not actually working"
https://github.com/GeneaLabs/laravel-model-caching/blob/7e7f527b0e845ab410c78324de5af7e31f61f993/.github/workflows/laravel.yml#L17

The setup php action does not support characters in the version provided from the matrix.

https://github.com/GeneaLabs/laravel-model-caching/blob/7e7f527b0e845ab410c78324de5af7e31f61f993/.github/workflows/laravel.yml#L33

This is resulting in this ⚠️ _silent_ ⚠️  err

[2020-05-12 22:31] saernz opened #351 "Reduce memory footprint"
Hiya, I've been doing a bit of memory profiling recently to solve an issue, whereas I don't think this is my issue I think it could help reduce this libraries memory consumption through a very minor change.

At the line below:
https://github.com/GeneaLabs/laravel-model-caching/blob/7e7f527b0e845ab410c78324de5af7e31f61f993/src/Traits/Buildable.php#L223

the `debug_backtrace()` function is used with

[2020-05-12 22:43] mikebronner commented on #351
@saernz Thank you!!!! That is awesome.

[2020-05-12 22:46] #351 closed

[2020-05-12 22:48] mikebronner commented on #351
@saernz Can you check release 0.8.6 and let me know if that improved things?

[2020-05-13 05:07] saernz commented on #351
Oh wow you're fast! Unfortunately I'm not on the new version yet, though I have made the same changes on the older version locally and there is definitely a difference.

This is before the change:
![Screen Shot 2020-05-13 at 3 06 32 PM](https://user-images.githubusercontent.com/15317826/81772822-f0464400-953a-11ea-92a7-3e01489e26ec.png)

and this is after:
![Screen Shot 2020-05-13 at 4 50 02 PM](h

[2020-05-13 11:43] mikebronner commented on #351
@saernz  What profiler are you using? I've used some clunky ones ones in the past and haven't been happy with them.

[2020-05-14 05:59] saernz commented on #351
@mikebronner This one is called qcachegrind, previously I was using webgrind because I'm on a Mac but that doesn't show memory unfortunately. Luckily I found homebrew has a formula for qcachegrind which makes it really easy to install.

[2020-05-18 09:21] vahidalvandi opened #352 "have bug in fillable change diynamci"
**Describe the bug**
i need chnage fillable in eloquent by user role

[code]
but need twice update for get fillable
**Environment**
 - PHP: 7.4
 - OS: Ubuntu 18.04
 - Laravel: 6.18
 - Model Caching:

**Additional context**
Add any other context about the problem here.

[2020-05-18 23:47] saernz commented on #289
I've also just ran into the same bug. It looks like it's just because Eloquent reapply the scopes after the closure in retrieveCachedValue calls the parent's get() method on the eloquent builder. There does not appear to be any checks in place by eloquent to avoid reapplying the scopes as I guess they don't expect them to be already applied. So the scopes first get applied after calling `makeCache

[2020-05-19 11:58] RonnieCSE opened #353 "When insert a new record, I fecth an error"
`
Code

 $data_insert = array(
        'video_id' => 1,
        'user_id' => 1
)
     App\Video::withCacheCooldownSeconds(20)->create($data_insert);`

![image](https://user-images.githubusercontent.com/22654265/82323732-4ebb6880-99fa-11ea-8bc2-8ed9376de54e.png)

[2020-05-19 14:25] mikebronner commented on #353
@RonnieCSE Please provide the full stack trace when reporting errors.

[2020-05-19 14:27] mikebronner commented on #352
Hi @vahidalvandi, Thanks for reporting this. My hunch says this issue is not related to the package. I will try to recreate this in a test case. If you are able to recreate this in a unit test, please submit a PR for it, that would help a lot.

[2020-05-19 16:33] vahidalvandi commented on #352
Thank you  . This  bug related with this package because after remove cache
trait fix it

On Tue, 19 May 2020, 18:57 Mike Bronner, <notifications@github.com> wrote:

[2020-05-29 02:24] edtsz commented on #296
Hello,
I'm getting trouble with vsprintf too and also using UUID as PK whatever the uuid was not an issue

[code]

[2020-05-29 03:27] edtsz commented on #296
Hello,
I'm getting trouble with `vsprintf` too and also using UUID as PK whatever the uuid was not the issue

[code]

Laravel: 5.8
Model Cache: 0.5.6 (PS.: I tried the most recent version and also didn't wokt)

Stacktrace:
[code]

Digging into the code I realize that `$values` is receiving just one of the `where()` params at [this line](https://github.com/GeneaLabs/laravel-model-caching/blob/0.5.6

[2020-05-29 03:39] edtsz commented on #296
Something weird happens here, my other environment `$this->query->bindings["where"]` is correct, with just 2 params.. and `$this->currentBinding` has 0 value.

[2020-05-29 17:59] mikebronner commented on #296
@edtsz You indicate you are running Laravel 5.8. The most recent version is only compatible with Laravel 7.x. You mentioned you tried the latest version of the package, did you try it with Laravel 7?

[2020-05-29 19:40] edtsz commented on #296
@mikebronner while testing I tried replacing `CacheKey.php` file by a new one. Everything works fine (except with more then one _where_). Laravel still 5.8

[2020-05-29 19:43] mikebronner commented on #296
@edtsz Sounds good ... sorry, we don't support older versions of this package. You're welcome to fork this project and make any fixes you need on your own branch for your own purposes.

[2020-06-03 17:59] smartssa opened #354 "Trait method 'newBelongsToMany' will not be applied, because it collides with 'ExtendRelationsTrait'"
**Describe the bug**
It's a strange phpStorm code linter warning that makes me think something with relations may not work as expected.

When implementing a `use Cachable` in my model:
"Trait method 'newBelongsToMany' will not be applied, because it collides with 'ExtendRelationsTrait'"

**Environment**
 - PHP: 7.4.6
 - phpStorm 2020.1.2
 - OS: macOS Catalina
 - Laravel: 7.14.1
 - Model Caching: 0

[2020-06-03 18:14] smartssa commented on #354
Not that I am aware of, I will investigate.

[2020-06-03 18:22] #354 closed

[2020-06-03 18:27] mikebronner commented on #354
Would you mind doing a global search for `ExtendRelataionsTrait` in your code and vendor files to see where this exists?

[2020-06-03 18:37] smartssa commented on #354
Only mentions are:
/laravel-pivot-events/src/Traits/ExtendRelationsTrait.php
/laravel-pivot-events/src/Traits/PivotEventTrait.php

Found a few issues on JetBrains:
https://youtrack.jetbrains.com/issue/WI-53153
https://youtrack.jetbrains.com/issue/WI-53171

[2020-06-03 18:39] mikebronner commented on #354
Ah! Perfect :) whew

[2020-06-08 18:37] wolfpack4417 commented on #344
I'm also having an issue getting PHP Redis working with this package. I decided on that instead of predis because of the warning in this section of the docs: https://laravel.com/docs/7.x/redis#introduction

I had used Predis before but if support is going to be removed from Laravel potentially I didn't want to waste time using it. Is that the only option for this library though? If so I might go b

[2020-06-08 18:40] mikebronner commented on #344
@wolfpack4417 Could you provide the stack trace of the errors you are getting?

[2020-06-08 19:08] wolfpack4417 commented on #344
Sorry I think this was on my end although I haven't figured it out yet. I think it has something to do with PHP Redis not being enabled on my docker container. I'm getting '1' when I run `extension_loaded('redis')` in the browser but not when I run `php artisan modelCache:clear`. I'll post back if I discover it wasn't an issue with my PHP Redis installation.

[2020-06-08 19:10] mikebronner commented on #344
Thanks, that would be great! Ideally this package should be decoupled from your choice of caching driver. :)

[2020-06-09 17:56] reasecret opened #355 "I can't see cache on redis"
# Issue
I think I've configured correctly package settings:
My .env file:
[code]

My cache config:
[code]

My database config:
[code]

## Environment
Laravel Version: 7.13
Laravel Model Caching Package Version: 0.8.6
PHP Version: 7.3.18
Operating System & Version: Windows 10

I'm opening http://localhost/redis, redis page is opening but there is no cache. However cache is working, I'm checking que

[2020-06-09 18:12] mikebronner commented on #355
@reasecret  Honestly, I have never accessed the redis cache via a URL. I use TablePlus to connect. Can you point me to the documentation that shows it can be viewed via URL?

[2020-06-09 18:36] reasecret commented on #355
I'm using Laragon (Redis included). http://localhost/redis page looks like this (No cache):

https://pasteboard.co/Jck9OEz.png

My another project on localhost, http://localhost/redis page looks like this (Cached data is here):

https://pasteboard.co/Jckcuso.png

[2020-06-09 18:43] reasecret commented on #355
Ok now I think issue solved.

I removed MODEL_CACHE_STORE=redis2 from my .env file and used default redis connection. Looks like its working now.

[2020-06-09 18:52] mikebronner commented on #355
Sounds good, yea I don't use Laragon, I use Homestead. I'll close this issue for now, as it seems that you are good to go.

[2020-06-09 18:52] #355 closed

[2020-06-12 17:32] zlanich opened #356 "Question: Circumstances for Relationship Invalidation"
This isn't exactly a feature request, but more a question and a request to add this clarity to the documentation. I'm a little bit nervous about how relationship invalidation works in this library. Would you be able to provide me with a quick summary of what conditions trigger relationship invalidation? I want to know for sure so I can manually invalidate cache whenever I'm doing something that th

[2020-06-16 13:57] mikebronner commented on #356
Hi @zlanich, any time a model is changed, it will trigger invalidation of its cached relationships. This is not recursive. There should be no need for you to do any invalidation of caches yourself.

[2020-06-16 14:14] zlanich commented on #356
@mikebronner So in this m2m scenario, I'm wondering how invalidation works (if at all):
[code]
Thank you!

[2020-06-16 14:18] mikebronner commented on #356
@zlanich Do you have evidence that it is not working?
It will only work if both models are being cached. If venues is not being cached, then events won't get invalidated, and visa-versa.

[2020-06-16 14:34] zlanich commented on #356
@mikebronner I haven't implemented this yet, as I'm making sure the library behaves like I think it would be before trusting it to invalidate, so I don't have evidence that it isn't working yet. It makes sense that both models have to implement caching, but I'm wondering how deep this goes in terms of the models being aware of their relationships with each other.

In theory, wouldn't $event have t

[2020-06-16 15:25] mikebronner commented on #356
It's done with cache tags, which are created when the queries are run. It invalidates based on the models involved, so no introspection into models and relationships necessary. Good luck with the implementation. Let me know if you run into any issues. Closing this for now.

[2020-06-16 15:25] #356 closed

[2020-06-16 21:23] Jafo232 commented on #280
I can confirm the same issues here.  I have had to disable it on several models because of this.

[2020-06-16 21:53] mikebronner commented on #280
@reasecret @Jafo232 Can you please provide your specific Eloquent queries, as well as the version of laravel-model-caching package you have installed, along with the version of Laravel. If at all possible, would love a PR with a failing test so I can figure out how to reproduce this.

[2020-06-22 10:18] jkhaoqi110 opened #357 "Can't install 0.8.4 in laravel 6.18.20"
**Describe the bug**
Laravel-model-caching 0.8.4 is not compatible with laravel 6.18.20, The document says support laravel 6.0+, but the error appeared when I installed the version 0.8.4.

**Stack Trace**
[code]

**Environment**
 - PHP: 7.4.5
 - OS: Windows 10
 - Laravel: 6.18.20
 - Model Caching: 0.8.4

[2020-06-22 14:18] mikebronner commented on #357
Hi @jkhaoqi110 , this package is no longer compatible with Laravel 6.x, it requires Laravel 7.x. The readme has stated this for some time. Where do you see it documented to support Laravel 6? Please let me know so I can correct the documentation. Thanks!

[2020-06-22 14:18] #357 closed

[2020-06-23 01:27] jkhaoqi110 commented on #357
https://github.com/GeneaLabs/laravel-model-caching/tree/0.8.4
![image](https://user-images.githubusercontent.com/7346148/85350453-c453b080-b533-11ea-8ea6-40031457ebbd.png)

[2020-06-23 16:48] mikebronner commented on #357
Thanks @jkhaoqi110, the readme has been updated for some time in the repo.

[2020-06-25 23:17] #353 closed

[2020-06-26 07:28] vahidalvandi commented on #352
do it fixed?

[2020-06-26 13:05] mikebronner commented on #352
@vahidalvandi Can you provide the eloquent query you are having problems with as well?

[2020-07-02 15:37] #289 closed

[2020-07-02 16:03] mikebronner commented on #289
@saernz @mycarrysun Would you guys try this again with version 0.8.7 or greater? Thanks @saernz for posting the solution!

[2020-07-02 16:07] mycarrysun commented on #289
Unfortunately I don't work at the company where we used this package but hopefully @saernz can test. Looks like his unit tests covered it pretty well though.

[2020-07-02 16:08] mikebronner commented on #289
Sorry to hear that @mycarrysun. All the best to you in your future positions!

[2020-07-02 16:34] olivM opened #359 "issue with "Cachable:applyScopes() : self" not compatible with "Eloquent\Builder::applyScopes()""
`Declaration of GeneaLabs\LaravelModelCaching\Traits\Cachable::applyScopes(): GeneaLabs\LaravelModelCaching\Traits\Cachable must be compatible with App\Models\Teaching::applyScopes(): App\Models\Teaching`

seems the newly added applyScopes with return type hinting is causing a problem

[2020-07-02 16:59] mikebronner commented on #359
Will fix ASAP ... wonder why that didn't show when testing. Might need to add another test.

[2020-07-02 17:03] mikebronner commented on #359
@olivM can you try release 0.8.8? Should be fixed now.

[2020-07-02 17:03] #359 closed

[2020-07-03 06:40] olivM commented on #359
same error with 0.8.8
Caching::applyScopes() hasn't changed : https://github.com/GeneaLabs/laravel-model-caching/blob/master/src/Traits/Caching.php#L35

[2020-07-03 15:22] mikebronner commented on #359
Lordie! I forgot to push my commits. Try 0.8.9. Thanks for letting me know!

[2020-07-06 01:14] saernz commented on #289
@mikebronner Sorry only just seen this. I tested it out straight away after your merge, working well as far as I can tell. I'm on 0.8.8. I will be merging into staging then prod very soon. I actually needed this fix so I could reenable the package in prod again.

[2020-07-06 01:34] mikebronner commented on #289
@saernz Awesome, keep me posted. :)

[2020-07-08 17:47] joeyrush opened #360 "Undefined property exception when updating a BelongsToMany relationship"
**Describe the bug**
I get the following exception when trying to call update on a BelongsToMany relationship

[code]

**Eloquent Query**
Very easy to recreate with a simple pivot table setup (a `company` belongs to many `currencies` through the `company_currencies` table).

Important Note: the exception is only thrown when the cachable trait is on both the Company and the Currency models.

[code]

[2020-07-08 17:49] mikebronner commented on #360
Thanks for reporting this. I will attempt to recreate and report back.

[2020-07-08 18:08] #360 closed

[2020-07-08 18:09] mikebronner commented on #360
@joeyrush can you give release 0.8.10 a try and let me know how it works? Thanks!

[2020-07-08 18:46] joeyrush commented on #360
Appears to be working.. Awesome job, thanks for the quick resolution!!

[2020-07-08 19:03] mikebronner commented on #360
No problem, thanks for reporting it! :)

[2020-07-13 10:13] Tjab opened #361 "PivotEventTrait method not applied"
**Describe the bug**
My PHPStorm shows an error:

![image](https://user-images.githubusercontent.com/6023513/87292898-c9d46300-c501-11ea-85aa-83d61186b81c.png)

**Environment**
 - PHP: [e.g. 7.3.0]
 - OS: Homestead (newest)
 - Laravel: 7.16.1
 - Model Caching: 0.8.6

**Additional context**
Shouldn't be my problem to fix right? As soon as I place (in my class that uses the Cachable trait):

[code]

[2020-07-13 13:03] mikebronner commented on #361
@Tjab could you provide your model code for review? Thanks!

[2020-07-13 13:32] Tjab commented on #361
@mikebronner sure, but now you make me doubt as to if it's something that I'm doing wrong! Haha :)

As soon as I create a class and use the trait, the error shows.

[code]

![image](https://user-images.githubusercontent.com/6023513/87310272-08781680-c51e-11ea-827f-f222087d8558.png)

[2020-07-13 13:54] mikebronner commented on #361
@Tjab Thanks for the update! :) I will take a look, but am wondering if it isn't a bug in PHPStorm, as I haven't had this error show up when running code.

[2020-07-13 14:27] mikebronner commented on #361
Revisiting the code, I think its a PHPStorm bug. There are only two places this function exists in regard:
- `laravel-pivot-events/src/traits/ExtendRelationsTrait.php`
- `Laravel-model-caching/src/Traits/ModelCaching.php`

However, in `Cachable` we are overriding the method from `laravel-pivot-events` to use the one from  `ModelCaching`. I believe it is this that PHPStorm has issue with interpreti

[2020-07-13 14:27] #361 closed

[2020-07-14 17:10] zlanich commented on #301
I'm also curious about this, as I'm having occasional silent cache purge failures with Redis. It does not seem to throw any uncaught exception within that request, but once the page reloads, it's clear that the cache was not invalidated, and old values are showing on the screen that do not match the database. This is creating serious intermittent data integrity issues.

Does anyone have any though

[2020-07-14 18:41] mikebronner commented on #301
@zlanich Thanks for the adding your observations! Can you think of a way we could reproduce this problem consistently?

[2020-07-14 18:52] zlanich commented on #301
@mikebronner I wish I could. It was reported to us in our production environment, and we could not reproduce it, leading me to believe that the purge fails on occasion. I'm assuming it's due to a Redis connection error, but since it's not reporting anything when this happens, I can't be certain.

For now, I ended up writing custom middlewares, etc and disabling model cache in our admin UI and on w

[2020-07-16 08:50] Tjab commented on #361
Thanks for the work/help! I've reported it at PHPStorm :) Hopefully they can fix it easily, it's very annoying! Thanks again!

[2020-07-16 14:44] mikebronner commented on #361
@Tjab Good luck! Let me know what they say. :) Thanks :)

[2020-07-17 05:32] rifqiakrm opened #362 "Cachable not caching my model on Lumen"
# Issue
Hey, thank you for creating this library! It helps me a lot in building some of my projects.

But, I am facing some issues after I installed this library on Lumen. It seems like cachable trait not caching my models. I've been trying to add it to another model that I have but no luck. Am I missing configuration or something? Here is my code

[code]

composer.json
[code]

bootstrap/app.php
[

[2020-07-17 13:59] mikebronner commented on #362
@rifqiakrm Thanks for reporting this. By any chance, would you be able to provide a sample repo that replicates this issue? I don't use Lumen, and the unit tests aren't geared toward Lumen, so at the moment I am unable to test it with Lumen.

[2020-07-17 15:33] mikebronner commented on #348
Closing this, as I have come to a decision to no longer support PHP 7.2 going forward.

[2020-07-17 15:33] #348 closed

[2020-07-21 06:02] rifqiakrm commented on #362
@mikebronner Sorry for the late response. Kinda busy at the time. I'll try to create a sample repo you. See you in a bit.

[2020-07-21 07:01] rifqiakrm commented on #362
Hi @mikebronner, I've created a repository for you to test. You can clone it in here https://github.com/rifqiakrm/sample-query-cache-lumen

[2020-07-21 13:26] mikebronner commented on #362
@rifqiakrm Thanks for doing that! I will look into it soon :)

[2020-07-21 15:13] mikebronner commented on #362
@rifqiakrm Got the repo cloned. What do I do to reproduce the issue?

[2020-07-21 17:38] rhzs commented on #362
@mikebronner I have similar issue. I tried to inspect the cache operation using [Clockwork](https://underground.works/clockwork/), there wasn't any operation to get from Cache.

[2020-07-21 18:45] mikebronner commented on #362
@rhzs Sorry, not sure how to help you there. If you can provide an error, or a point of failure, or a failing test, I'll be happy to help. I'm not seeing anything wrong when running the test suite. I don't test against Lumen, as I don't use it, but it should generally work.

[2020-07-22 02:36] wilbur-oo opened #363 "Cachable conflict"
![image](https://user-images.githubusercontent.com/7148309/88127792-2113bb00-cc07-11ea-858b-fd4c196930a1.png)
![image](https://user-images.githubusercontent.com/7148309/88127806-283ac900-cc07-11ea-87cd-03330459efaf.png)

[2020-07-22 02:45] mikebronner commented on #363
Duplicate of #361

[2020-07-22 02:45] #363 closed

[2020-07-22 09:08] rifqiakrm commented on #362
@mikebronner You just have to migrate and seed the database, run php artisan serve, and then hit localhost:8000/tags and see the keys on redis-cli if it's there or not.

The controller code is on` app/Http/Controllers/ExampleController.php` and the model is on Models/Tag.php

my .env configuration

[code]

[2020-07-22 15:35] mikebronner commented on #362
@rifqiakrm Awesome, thanks for that ... I didn't know what routes you were using etc. Will try that now.

[2020-07-22 16:10] mikebronner commented on #362
@rifqiakrm So I found out what is happening: the config file is not being loaded in your Lumen app. You need to update Lumen to load config files, and if necessary publish the config file from the package to your Lumen app to where it loads config files.

[2020-07-22 16:10] #362 closed

[2020-08-02 15:00] Nowi5 opened #364 "Cannot use 'DEL' with redis-cluster."
**Describe the bug**
Expected: Clearing the cache across the packages of Laravel (Symfony) and Predis should work with AWS Redis Cluster.

![image](https://user-images.githubusercontent.com/27913135/89125807-52cb3280-d4e1-11ea-832b-d9234d48140a.png)

**Eloquent Query**
Please provide the complete eloquent query that caused the bug, for example:
[code]

**Stack Trace**
The full stack trace from you

[2020-08-02 15:04] mikebronner commented on #364
Hi @Nowi5, thanks for writing in about this issue. This would almost certainly be an issue with Predis and AWS not being compatible with each other. This package just provides a functional layer on top of Laravel's caching mechanism. I would file a bug with Predis with a complete StackTrace and go from there. Please do keep me informed of your developments, in case I need to make any updates here.

[2020-08-02 15:04] #364 closed

[2020-08-02 15:15] Nowi5 commented on #364
I have the same issues when using my local docker including redis. Let see if the Laravel Community can help:
https://github.com/laravel/framework/issues/33733

[2020-08-02 15:23] mikebronner commented on #364
@Nowi5 Awesome, looks like you got all bases covered. I subscribed to your two other tickets and will follow along to see what comes of it. :)

[2020-08-02 16:42] Nowi5 commented on #364
@mikebronner Thank you for your support as always. Found a temporary solution back from 2017. Do you have any deeper insights to judge if that change makes actually sense? Thank you for your expert opinion.

[2020-08-02 17:09] mikebronner commented on #364
@Nowi5  My recommendation would be to switch to PHPREDIS, as that is the recommended path forward by Laravel, I believe.

[2020-08-02 21:40] mikebronner commented on #364
I'm going to work on a release that removes the predis dependency.

[2020-08-02 22:07] mikebronner commented on #364
@Nowi5 Please give release 0.10.0 a try with PHPRedis and let me know how it goes.

[2020-08-02 22:07] mikebronner commented on #344
Sorry for the delay on this. Please try release 0.10.0 and let me know how it works.

[2020-08-02 22:07] #344 closed

[2020-08-02 22:08] mikebronner commented on #344
This is now easy, as Laravel Forge servers ship with PHPRedis already installed.

[2020-08-25 13:52] Sakvojage opened #365 "Trait method 'newBelongsToMany' will not be applied, because it collides with 'ExtendRelationsTrait'"
# Issue
*Trait method 'newBelongsToMany' will not be applied, because it collides with 'ExtendRelationsTrait'*
[code]

## Environment
Laravel Version: *7.25.0*
Laravel Model Caching Package Version: *0.10.1*
PHP Version: * 7.4.9*
Operating System & Version: * 7.4.9*

[2020-08-25 14:56] mikebronner commented on #365
@Sakvojage Thanks for reporting this. Can you provide more information as to where you are seeing this error? If this is PHPStorm reporting this in the editor, it is likely a bug in PHPStorm, see #354

[2020-08-26 14:07] mikebronner commented on #365
I'll close this issue for now. Please re-open if the above isn't what you meant. :)

[2020-08-26 14:07] #365 closed

[2020-09-01 12:23] LiamAird commented on #137
This is still an issue - is there any workaround, now nearly two years later?

[2020-09-01 15:45] mikebronner commented on #137
@LiamAird Please open a new issue with full stack trace and query and all the version information.

[2020-09-02 05:43] LiamAird opened #366 "Trait method newEloquentBuilder has not been applied, because there are collisions"
**Describe the bug**
When using this package, together with other packages, that also use the newEloquentBuilder, it will fail, since two cannot use the same method two redo the eloquentBuilder, I suppose.

[code]

**Eloquent Query**
Please provide the complete eloquent query that caused the bug, for example:

Using the NodeTrait from Kalnoy, as mentioned above.

[code]

**Stack Trace**
The full s

[2020-09-02 14:31] mikebronner commented on #366
Hi @LiamAird, thank you for submitting a new issue with all the relevant details. I will see if there is something that can be done to help with this, but unfortunately so far it has been very difficult for multiple packages that change the behavior of `newEloquentBuilder` to co-exist.

[2020-09-04 05:46] LiamAird commented on #366
It seems that the general written work-around is to create a new trait, that implements this newEloquentBuilder trait - so that it is namespaced differently and therefore will not collide.

In my opinion this is not something that the general user should do, to make packages work - so if you can find a way to make it work, I'd be forever grateful! :)
If not, we will have to find a way to make a tr

[2020-09-04 15:20] mikebronner commented on #366
@LiamAird  I may have a solution for this, working on it now.

[2020-09-04 16:14] mikebronner commented on #366
@LiamAird Could you give release 0.10.2 a try and let me know if that fixes the issue? Please see the readme section towards the top regarding conflicting packages as how to implement it. Thanks!

[2020-09-04 16:15] mikebronner commented on #137
@Spodnet @indowebdeveloper @Daniyal-Javani @eelco2k Could you give release 0.10.2 a try and let me know if that fixes the issue? Please see the readme section towards the top regarding conflicting packages as how to implement it. Thanks!

[2020-09-05 08:21] binotm25 opened #367 "Model Caching gives Class 'Redis' not found when Laravel Scout is importing"
**Describe the bug**
Model caching works fine with phpredis as the client. But when I use Laravel scout to import data to its index it gives Redis not found error. When I disabled the Cachable trait the import works fine.

php artisan scout:import "App\Models"

**Stack Trace**
Class 'Redis' not found
at vendor/laravel/framework/src/Illuminate/Redis/Connectors/PhpRedisConnector.php:74

**Environmen

[2020-09-05 14:24] mikebronner commented on #367
@binotm25 Please provide the full stack trace from the log file.

[2020-09-05 19:29] binotm25 commented on #367
Thanks for the fast update, here is the complete stack trace:

Class 'Redis' not found {"exception":"[object] (Error(code: 0): Class 'Redis' not found at /home/web/public_html/Test/vendor/laravel/framework/src/Illuminate/Redis/Connectors/PhpRedisConnector.php:75)
[stacktrace]
#0 /home/web/public_html/Test/vendor/laravel/framework/src/Illuminate/Redis/Connectors/PhpRedisConnector.php(28): Illuminat

[2020-09-05 19:57] mikebronner commented on #367
This does not appear to be an error with this package. Please be sure to install the appropriate Redis client according to Laravel's documentation: https://laravel.com/docs/6.x/redis#phpredis. Have you done that already?

[2020-09-05 19:57] #367 closed

[2020-09-06 02:42] binotm25 commented on #367
Yes, I already have done that. It works perfectly fine with this package, I can see the cache model records in the Redis also. It only crashes when I do the scout import, or save when the scout searchable trait is used on the model.

    $app = RedisManager::connection();
    $app->set('key', 'Testing PhpRedis');
    echo $app->get('key');

This also works. I will also open a new issue on scout as

[2020-09-06 03:26] mikebronner commented on #367
@binotm25 Thanks for following up! Would you be able to set up a test repo with code that fails and short instructions on how to trigger the failing code? That would help tremendously. Thanks! I have never gotten this error when using Scout in combination with this package.

[2020-09-06 04:22] binotm25 commented on #367
Oops my bad. Turns out the phpredis was not working from cli although it was working fine with the nginx and php-fpm. Upon close inspection the redis.ini wasn't imported into the php cli folder. After importing it, it is working perfectly.

Thank you so much for this package. Sorry I couldn't figured it out earlier.

[2020-09-06 14:56] mikebronner commented on #367
Awesome that you got it working! :)

[2020-09-07 05:40] LiamAird commented on #137
I tried implementing the fix, but get the error:
```Call to undefined method GeneaLabs\LaravelModelCaching\ModelCaching::useBuilder()```

[code]

[2020-09-07 17:16] josearagon opened #368 "Sync belogsToMany throw allowed memory error"
**Describe the bug**
Sync post relatedCategories throw PHP Fatal error:  Allowed memory size of ********* bytes exhausted
Post is a cacheable model and category is a cacheable method.
It only pass in production envioronment.

When I try to update related categories from a post, I get a tipical memory error :(.

**Eloquent Query**
Please provide the complete eloquent query that caused the bug, for

[2020-09-07 17:55] mikebronner commented on #368
@josearagon Please provide the full stack trace.

[2020-09-07 18:25] mikebronner commented on #137
Can you make sure you got the latest update, change your composer json to
[code]

then run `composer update` again.