[2020-09-07 18:46] marechenok opened #369 "Could not check compatibility newBelongsToMany"
**Describe the bug**
WIth php 7.4 got this error, 7.3 seems ok. Php 7.4 with 0.10.1 --> ok

**Eloquent Query**
Try using any model with Cachable trait.
[code]

**Stack Trace**
`Could not check compatibility between GeneaLabs\LaravelModelCaching\Traits\Cachable::newBelongsToMany(GeneaLabs\LaravelModelCaching\EloquentBuilder $query, Illuminate\Database\Eloquent\Model $parent, $table, $foreignPivotKe

[2020-09-07 18:47] mikebronner commented on #369
@marechenok please provide the full stack trace.

[2020-09-07 19:12] josearagon commented on #368
@mikebronner I just edited the original comment with the full stack trace.
Always need more memory. We try to increase memory_limit but it's never enough.

Thanks a lot

[2020-09-07 19:20] mikebronner commented on #368
@josearagon Where are you getting this stack trace from? I'm looking for the full stack trace from `/storage/logs/laravel.log`. This seems to be only a partial stack trace.

[2020-09-08 06:27] josearagon commented on #368
Interestingly, Laravel rarely logs an error in this case. The error occurs at php level.

[2020-09-08 08:39] LiamAird commented on #137
@mikebronner Its already at that version.
![image](https://user-images.githubusercontent.com/11542070/92453486-9b9c9800-f1bf-11ea-9269-3fccb9c017aa.png)

[2020-09-08 14:58] mikebronner opened #371 "Update for Laravel 8.0"
Requiring the following package to update first:
- laravel/nova
- kalnoy/nestedset

[2020-09-08 15:08] mikebronner commented on #137
Hmmm, ok. Leave it at release 0.10.1 for now, I'm working on an update to this functionality and hope to release it in the next day or so.

[2020-09-08 16:00] mikebronner commented on #371
This is now available in release 0.11.0.

[2020-09-08 16:00] #371 closed

[2020-09-08 17:07] gofish543 opened #374 "Laravel 8.0"
Would you want help upgrading and/or testing this package with Laravel 8.0?

[2020-09-08 17:08] mikebronner commented on #374
Release 0.11.0 should already support Laravel 8. Please let me know if it doesn't.

[2020-09-08 17:08] #374 closed

[2020-09-11 09:14] mpanius commented on #369
It seems, that it is declaration incompatibility with your package laravel-pivot-events
'Trait method 'newBelongsToMany' will not be applied, because it collides with 'ExtendRelationsTrait' - that's what i see in phpstorm errors reporting.

But i don't use belongsToMany at this project, so can't give you full stacktrace.

[2020-09-11 10:33] marechenok commented on #369
I've this error only on staging env while running tests in CI/CD pipeline, so I can't give you any traces. Downgrade to 0.10.1 fixes problem for now.

[2020-09-11 14:09] mikebronner commented on #369
So at this point I'm not sure where this error is being seen. All the unit tests are passing. If you are seeing this in PHPStorm, this is a bug there: #354. I will close this for now, as I am unable to recreate with the information given. If you are able to provide more information, please do respond here and I will re-open if I am able to recreate the issue.

[2020-09-11 14:09] #369 closed

[2020-09-22 07:42] LiamAird commented on #280
@mikebronner Here's an example of it, since I also ran into the issue.

[code]

The "sync" method does not seem to invalidate the cache.
Once the cache is manually flushed, all is good again.

Company is not cacheable, but tags model is.
Company model
[code]

Tags model
[code]

[2020-09-22 07:44] LiamAird commented on #366
@mikebronner Any progress on this, since the latest change did not work as expected.
Also seems like the latest conversation got deleted.

[2020-09-22 19:00] mikebronner commented on #280
@LiamAird Thanks for the further clarification on this. I will look into it.

[2020-09-22 19:02] mikebronner commented on #366
@LiamAird I am still working toward a full solution. I noticed after publishing 0.10.2 that it wasn't working as expected, and will hopefully have a solution in the near future.

[2020-09-29 17:05] Sakvojage commented on #365
It doesn't seem to be a PHPStorm problem - if I try to use Cachable on any of my models I get this warning and GitLab CI/CD crashes during the test stage (with segmentation fault).
It seems weird, that I am the only one with this problem as project is quite generic and has no custom Models or vendor packages.

![image](https://user-images.githubusercontent.com/7562987/94590236-0c027a80-028f-11eb-8

[2020-09-29 17:07] Sakvojage commented on #365
Current composer.json
![image](https://user-images.githubusercontent.com/7562987/94590471-5dab0500-028f-11eb-85d9-fd35db98f8a6.png)

[2020-09-29 17:12] mikebronner commented on #365
@Sakvojage Unfortunately I am unable to reproduce this issue, and all tests are successful. So far I have seen no evidence that this is a problem with this package. If you could provide a full stack trace that shows this issue occurring, that would help troubleshoot the issue.

[2020-09-29 18:05] Sakvojage commented on #365
Ok, I've just tried this with fresh and empty Laravel and Laradock install.
[code]
Then add  `use Cachable` to Product model - still get this collision. However MS Visual Studio Code has no problem with it. Weird.
I go blame JetBrains then.

[2020-10-01 18:54] rodrigowbazevedo opened #375 "Is possible to prevent relationship cache"
**Is your feature request related to a problem? Please describe.**
My cached model is caching a relationship that that should not be cached.

**Describe the solution you'd like**
A optional protected attribute to prevent relationships cache.

**Describe alternatives you've considered**
Maybe a method to map the attributes that should be cached.

[2020-10-01 18:58] mikebronner commented on #375
Hi @rodrigowbazevedo, unfortunately that is not how this package works. It caches Eloquent query results based on queries run, so if you ran a query, it will cache it as is. You would need to adjust how you run your queries in order to prevent certain aspects of them from being cached.

Are you seeing caching behavior that is leading to unexpected results? If that is the case, please open a new is

[2020-10-01 18:58] #375 closed

[2020-10-01 19:16] rodrigowbazevedo commented on #375
So it's happening because I'm using eager loading? If I do my model query without it it'll cache only my model?

The package cache the raw query result?

[2020-10-01 19:27] mikebronner commented on #375
@rodrigowbazevedo Unfortunately without seeing your code and understanding exactly what it is you are trying to achieve, I can't tell what would be causing. This package is caching the exact eloquent query results, not the query itself.

That being said, if you are eager-loading a relationship that is not being used, it would cache that relationship, even though you aren't using it.

[2020-10-01 21:31] rodrigowbazevedo commented on #375
I think I understood, for example:

[code]

It's going to cache `model` with `model.relationship`

[code]
It's going to cache only `model`

[code]
It's going to cache only `model`? Or both?

[2020-10-01 21:55] mikebronner commented on #375
@rodrigowbazevedo Your are correct with the first two examples. The third example executes two separate queries, so the find query would not have it, but the load query would have it. :)

[2020-10-01 22:12] rodrigowbazevedo commented on #375
There's a way to prevent my `relationship` to be cached? The only way I though is to do something like this, and I still don't know if it'll work
[code]

[2020-10-01 22:20] mikebronner commented on #375
Why do you want it to not be cached? I'm trying to understand your reasoning for this.
I think `disableModelCaching()` will work with `load()`, but not sure.

[2020-10-01 22:36] rodrigowbazevedo commented on #375
I'm getting outdated data, let's say my `Model` is a client, each client is queried regularly but not modified so it's a good idea to cache it, but each client has one points account with a balance, these balance may change for a lot of reasons and I need to always show the correct account balance so I don't want to cache it.

[2020-10-01 22:38] mikebronner commented on #375
The caches get cleared if data changes. That is not something you need to worry about. Please open a new issue describing the eloquent queries you are using that provide stale results, as well as the model definitions.

[2020-10-01 22:52] rodrigowbazevedo commented on #375
Maybe it's because my `PointsAccount` model is not using the `Cachable` trait only my `Client` model, so if my `PointsAccount` model is modified it'll not clear the cache, but it got cached version when I query my `Client` model.

So maybe the solution is to add the `Cachable` trait to my `PointsAccount` model?

[2020-10-02 19:22] mikebronner commented on #375
@rodrigowbazevedo Sure, that is certainly possible. However, I would like to isolate the actual issue you are experiencing, because it should be possible to not cache relationships.

[2020-10-05 11:37] webard opened #376 "Nonexistent class EloquentBuilder"
Hello,
I ran Rector on my application and one of problem is:
` [ERROR] Could not process "app/Abilities/Taxonable.php" file, due to:
         "Analyze error: "Class GeneaLabs\LaravelModelCaching\EloquentBuilder not found.". Include your files in
         "parameters > autoload_paths".
         See https://github.com/rectorphp/rector#configuration".   `

https://github.com/GeneaLabs/laravel-model-c

[2020-10-07 00:08] liuwe73 commented on #307
try this

`public $cacheCooldownSeconds = 300;`

[2020-10-08 13:09] ajnorman-dev opened #377 "Laravel Livewire fails to update a component with Model Caching Enabled"
**Describe the bug**
Laravel Livewire fails to return the next/previous page of a paginated list while Model Caching is enabled. Turning model caching off or using ```disableModelCaching()``` on the query restores normal functionality

**Eloquent Query**
Please provide the complete eloquent query that caused the bug, for example:
[code]

**Stack Trace**
No error is given by the application

**Envi

[2020-10-10 17:53] damian-g opened #378 "Doesn't cache data"
# Issue
I am trying to run cache, but no effects. After first run of test model I have only these keys on Redis db:
1) "crm_database_crm_cache:cbb55910ff99021b65728bc3621625ee08e71a32:0fa880c7deb3f44d834e0684c680bdeca5c1dba8"
2) "crm_database_crm_cache:ade548970c7483b83c9b362d314e6c3e29c55325:timer"
3) "crm_database_crm_cache:5f81f4b449141558210699:forever_ref"
4) "crm_database_crm_cache:ade548970

[2020-10-10 19:05] mikebronner commented on #378
Hi Damiang, please take the time to fill out the full bug report. I need stack trace, all involved eloquent queries, any relevant config files, and any relevant `.env` settings.

[2020-10-12 17:08] denitsa-md opened #379 "MorphToMany relation not being invalidated"
First off, thank you for the package!

I'm not sure if I'm doing this wrong or it's simply not supported but here it is:

**Describe the bug**
I have a Subscription model that has a `morphToMany` relation to setting keys (so a many to many polymorphic). The Subscription model is **not** cacheable and the relation to setting keys looks like this.

[code]

The `SettingKey` model on the other hand us

[2020-10-13 06:39] #378 closed

[2020-10-15 17:08] C10ne commented on #366
Any information on this? It's also blocking me to upgrade for some time.

[2020-10-15 17:09] mikebronner commented on #366
@C10ne Can you install 0.10.1 in the meantime?

[2020-10-20 16:27] harrisdt15f opened #380 "Declaration of Cachable::newBelongsToMany should be compatible with Model::newBelongsToMany"
**Describe the bug**
I got the below error when I installed on laravel 8.

 `Warning: Declaration of GeneaLabs\LaravelModelCaching\Traits\Cachable::newBelongsToMany(GeneaLabs\LaravelModelCaching\EloquentBuilder $query, Illuminate\Database\Eloquent\Model $parent, $table, $foreignPivotKey, $relatedPivotKey, $parentKey, $relatedKey, $relationName = NULL) should be compatible with Illuminate\Database\

[2020-10-20 16:39] harrisdt15f opened #381 "Could not check compatibility between Cachable::newBelongsToMany and Model::newBelongsToMany"
**Describe the bug**
I got the below error when I installed on laravel 8.

Warning: Could not check compatibility between GeneaLabs\LaravelModelCaching\Traits\Cachable::newBelongsToMany(GeneaLabs\LaravelModelCaching\EloquentBuilder $query, Illuminate\Database\Eloquent\Model $parent, $table, $foreignPivotKey, $relatedPivotKey, $parentKey, $relatedKey, $relationName = NULL) and Illuminate\Database\E

[2020-10-20 16:41] #380 closed

[2020-10-20 16:43] mikebronner commented on #380
Hi @harrisdt15f, just curious, why did you close this? I want to make sure I have everything covered.

Thanks :)

[2020-11-05 12:44] danniehansen commented on #381
@harrisdt15f

Not sure if this fixes it for you - but i managed to get it working by adding the Service provider class added by genealabs in my unit test getPackageProviders method. Error appeared due to a class_alias not getting loaded before unit test ran.

[code]

[2020-11-05 12:57] mikebronner commented on #381
@harrisdt15f Unfortunately I am unable to replicate this issue. If you could submit a failing unit test, that would help immensely! :)

[2020-11-05 12:58] mikebronner commented on #377
Hi @ajnorman-dev, would you be able to submit a failing unit test for this?

[2020-11-05 14:48] dmason30 commented on #381
@mikebronner Its a PHP Warning so its not breaking the code but its still an inconvenient message to get.  I am only getting this when running unit tests in my Laravel 8 application. It is specifically complaining about type hinting the `$query` argument as the `LaravelModelCaching\EloquentBuilder` instead of the `Eloquent\Builder`.

[code]

[2020-11-05 14:55] roelVerdonschot commented on #381
@dmason30 Your warning looks different. I get the same error as @harrisdt15f and it stops my application from working.

[2020-11-05 16:00] dmason30 commented on #381
@roelVerdonschot Ok so I was running on PHP 7.3 for the above issue. It appears that the message has changed between PHP 7.3 and 7.4.

I have setup an example repo (see link below) and if you click on the "Executing PHP Tests" section on both the PHP 7.3 and PHP 7.4 runs and you can see it outputs both variations of the message but on PHP 7.4 it is not stopping script execution. Could this be down

[2020-11-05 16:38] dmason30 commented on #381
I have created a PR here with before and after comparisons using the example repo mentioned above.

https://github.com/GeneaLabs/laravel-model-caching/pull/382

[2020-11-09 16:17] ajnorman-dev commented on #377
Hi @mikebronner, unfortunately I don't have a unit test set up any livewire component up yet. I can see that the ajax request is sent off for the second page of blogs, however the html payload returned is null.

[2020-11-10 14:31] A-Lawrence opened #383 "Eager-loaded polymorphic relationship error"
**Describe the bug**

When eager-loading polymorphic relationships, the polymorphic relation appears to be ignored when retrieving from the cache.

The exception below, is raised:

[code]

**Eloquent Query**

Scenario here is that we have SaleItems, with an associated Inventory.  Each Inventory can have a polymorphic source (such as an Event).

This query then produces are an error:

[code]

It's

[2020-11-13 07:51] danijelmaric commented on #376
+1

[2020-11-17 09:31] dalholm opened #385 "Redis cache invalidates unchanged models"
First, thanks for this awesome package. This is more then cool! This is awesome :)

I have developed a product database and have a lot of different product relations and i am using redis as cache. When i am changing a product it seems to invalidate a lot o models. Example.

1. i go to a category
2. 276 queries runs first time then just 2 queries
3. I change a relation to a product that is not in t

[2020-11-17 14:21] mikebronner commented on #385
Hi @dalholm, that is expected functionality. The cache will invalidate by model, not be instance, so if once category changes, all categories will be invalidated.

[2020-11-17 14:21] #385 closed

[2020-11-21 15:34] #381 closed

[2020-11-25 19:20] srirag1987 commented on #377
please find a solution for Laravel Livewire pagination cache fix.

[2020-11-26 05:44] anilkr143 commented on #376
Hi @mikebronner, I am not able to use this package latest version 0.11.1 due to class EloquentBuilder not found issue. Please fix this.

[2020-11-26 16:08] mikebronner commented on #376
@webard  Looking at this again, this is not a bug. `EloquentBuilder` is a class alias defined in the service provider. The errors you are seeing are likely a limitation of the code analyzer.

@anilkr143 Please provide a full stack trace if you are seeing errors.

[2020-11-26 16:08] #376 closed

[2020-12-03 06:25] danijelmaric commented on #376
Error : Class 'GeneaLabs\LaravelModelCaching\EloquentBuilder' not found
 /Users/danijelmaric/www/play_engine/vendor/genealabs/laravel-model-caching/src/Traits/ModelCaching.php:105
 /Users/danijelmaric/www/play_engine/vendor/laravel/framework/src/Illuminate/Database/Eloquent/Model.php:1183
 /Users/danijelmaric/www/play_engine/vendor/laravel/framework/src/Illuminate/Database/Eloquent/Model.php:1219

[2020-12-03 15:24] webard opened #386 "Incompatible method getRelationCountHash after update to 8.0.17"
`ErrorException (Declaration of Kalnoy\Nestedset\BaseRelation::getRelationCountHash() should be compatible with Illuminate\Database\Eloquent\Relations\Relation::getRelationCountHash($incrementJoinCount = true)) thrown while looking for class Kalnoy\Nestedset\DescendantsRelation.`

after update to the lates version 8.0.17

[2020-12-05 10:42] anilkr143 commented on #376
local.ERROR: Class 'GeneaLabs\LaravelModelCaching\EloquentBuilder' not found {"exception":"[object] (Error(code: 0): Class 'GeneaLabs\\LaravelModelCaching\\EloquentBuilder' not found at F:\\Programs\\wamp\\www\\trackerapi\\vendor\\genealabs\\laravel-model-caching\\src\\Traits\\ModelCaching.php:105)
[stacktrace]
#0 F:\\Programs\\wamp\\www\\trackerapi\\vendor\\illuminate\\database\\Eloquent\\Model.p

[2020-12-10 18:21] joeyrush opened #387 "whereIn Subquery Error - "vsprintf(): Too few arguments""
**Describe the bug**
I'm experiencing a consistent error when using a subquery inside of a whereIn: `vsprintf(): Too few arguments` in `CacheKey.php:255`

Have tried stripping down to the absolute minimum reproducible and it seems to happen on the second `where` clause inside a whereIn subquery. Here's

**Eloquent Query**
[code]

**Stack Trace**
See: https://flareapp.io/share/VP636Qq7#F77

**Envir

[2020-12-11 01:15] jberu624 opened #388 "Is there a way to use this framework with Laravel 5.8?"
**Is your feature request related to a problem? Please describe.**
Hi i'm trying to to implement this framework but my version of laravel is 5.8 and can't upgrade right now for business reasons. Is there a way to get composer to use a version of the code that works with 5.8?

**Describe the solution you'd like**
I would like to be able to use the framework on laravel 5.8

[2020-12-11 20:09] mikebronner commented on #388
Hi @jberu624, unfortunately your version of Laravel is no longer supported.

[2020-12-11 20:09] #388 closed

[2020-12-11 20:11] mikebronner commented on #387
Hi @joeyrush, thanks for submitting this issue! I will try to investigate this as soon as I can. I can't promise when this will be at this time, as we are in the middle of moving, but if it is something simple, I should be able to get it done within a week or two. You are more than welcome to also submit a PR with a failing test, and after that a PR that fixes the issue, if you have time.

Thanks

[2020-12-11 20:12] mikebronner commented on #386
Hi @webard, thanks for submitting this issue! :) I will try to see what's going on as soon as possible, no promises though, as we are in the middle of moving. I would welcome PRs with failing tests and fixes, if you find yourself in a position to submit them. :) Thanks!

[2020-12-11 20:13] mikebronner commented on #383
Hi @A-Lawrence, thanks for submitting this issue! I will try to get to it as soon as possible, which might be some time. I welcome PRs with failing tests, as well as fixes, if you are able. :) Thanks!

[2020-12-14 10:16] sharmaanil8866 opened #389 "How to register on Lumen"
# Issue
*summarize your issue here*

## Environment
Laravel Version: *x.y.z*
Laravel Model Caching Package Version: *x.y.z*
PHP Version: *x.y.z*
Homestead Version: *x.y*
Operating System & Version: *name x.y.z*

## Stack Trace
[code]

[2020-12-14 10:17] sharmaanil8866 commented on #389
I have faced issues to register on app.php in the lumen, please help me

[2020-12-23 18:33] creativehotspot opened #390 "Class 'GeneaLabs\LaravelModelCaching\EloquentBuilder' not found"
**Describe the bug**
Illuminate\Database\Eloquent\Builder as EloquentBuilder was removed in https://github.com/GeneaLabs/laravel-model-caching/commit/69991b689e5ba9659e0af014a60bbcfc447029f2#commitcomment-45373442 however is not resolved by lumen framework.

**Eloquent Query**
N/A

**Stack Trace**
[code]

**Environment**
 - PHP: 7.4
 - OS: Laradock php-fpm 7.4 base image
 - Laravel: LUMEN 8.2.1
 -

[2020-12-23 18:55] mikebronner commented on #390
Thanks for the additional info. I can only surmise that something is not being loaded in Lumen that is required to run, or that another package is interfering. As mentioned in the other issues related to this problem, `GeneaLabs\LaravelModelCaching\EloquentBuilder` is a class alias, and will evaluate properly, if this packages service provider is loaded.

[2020-12-24 02:34] creativehotspot commented on #390
You are correct - Lumen installation gotchas could be updated include registering the service manually in bootstrap/app.php

[code]

[2020-12-24 02:34] #390 closed

[2020-12-24 12:49] mikebronner commented on #390
@creativehotspot Awesome, glad you were able to get it working. :) I will add that note, thanks for letting me know (I don't use Lumen).

[2020-12-27 11:36] francoism90 commented on #275
@mikebronner This doesn't seem to be added to the documentation? :)

@backstageel Does it still work for you?

[2020-12-27 14:19] mikebronner commented on #275
I think I removed it again, because I started work on developing an internal solution that wouldn't require more work. Unfortunately I have not been able to complete that at this time due to life circumstances changing A LOT this year.

[2021-01-13 16:06] poldixd commented on #377
Same Issue here with Livewire Pagination and the package:

[code]

[2021-01-21 21:19] jihadismail8 commented on #377
this is a really critical issue !! please could it be fixed ??

[2021-01-21 21:21] mikebronner commented on #377
@jihadismail8 Thanks for following up on this. Unfortunately I can't promise any timeline for this, as this isn't on my radar for now. I would love to review and merge a PR that addresses this, though.

[2021-02-08 18:30] mefenlon commented on #366
Is there any update on this? I am still having the collision issue on version 0.11.1

[2021-02-08 18:37] mikebronner commented on #366
@mefenlon Hi, sorry, I have not been able to get to working on a solution for this yet to to a very chaotic past several months on my end.

[2021-02-08 21:25] mefenlon commented on #366
Mike,
Thank you for taking the time to reply. I hear you and hope the chaos
subsides in the near future.

On Mon, Feb 8, 2021 at 1:37 PM Mike Bronner <notifications@github.com>
wrote:

[2021-03-05 15:22] oulfr opened #391 "Call to undefined method GeneaLabs\LaravelModelCaching\CachedBuilder::type()"
**Describe the bug**
not working in the last version of lumen and php 8
**Eloquent Query**
Please provide the complete eloquent query that caused the bug, for example:
[code]

**Stack Trace**
`Call to undefined method GeneaLabs\LaravelModelCaching\CachedBuilder::type() {"exception":"[object] (BadMethodCallException(code: 0)`

**Environment**
 - PHP: 8.0
 - OS: Windows
 - Lumen: 8+
 - Model Caching

[2021-03-05 15:24] mikebronner commented on #391
Hi @oulfr, Please provide the complete stack trace, to help me debug the problem. Thanks :)

[2021-03-05 16:05] oulfr commented on #391
I dont installed any cache provider i use the default cache configuration and this is the trace:

`#0 D:\\workspace\\test\\vendor\\illuminate\\support\\Traits\\ForwardsCalls.php(36): Illuminate\\Database\\Eloquent\\Builder::throwBadMethodCallException('type')
#1 D:\\workspace\\test\\vendor\\illuminate\\database\\Eloquent\\Builder.php(1550): Illuminate\\Database\\Eloquent\\Builder->forwardCallTo(Ob

[2021-03-05 16:08] mikebronner commented on #391
@oulfr Thanks for the follow-up with the additional details. I'll try to look into it the weekend, time permitting. :)

[2021-03-05 16:29] oulfr commented on #391
Ok so i found what is the problem i use the jgrossi/corcel that had a custom PostBuilder, so you can close it.

[2021-03-05 16:57] oulfr commented on #391
Thank you for this great extension, i think every project need it, so i resolved my issue with @backstageel  method:

https://github.com/GeneaLabs/laravel-model-caching/issues/275#issuecomment-517316190

[2021-03-06 18:51] oulfr opened #392 "Default to Laravel File cache if server cache is down"
When server is down it's better to use laravel file cache as default.

https://stackoverflow.com/questions/28047861/default-to-laravel-file-cache-if-redis-is-down

[2021-03-06 19:01] oulfr commented on #392
Better implementation:

https://github.com/oulfr/laravel-cache-fallback

[2021-03-06 20:00] mikebronner commented on #392
Hi @oulfr, thanks for the suggestions. These are all things that should be implemented by the app developer. I don't want to make any presumptions.

[2021-03-06 20:00] #392 closed

[2021-03-09 12:05] liepumartins commented on #307
Cooldown feature **is not** auto-expiry. Quite the contrary, it is to prevent too frequent cache expirations (because of model updates). Plese see #312 I also got this wrong the first time. :)

If you update database directly, you must also manually flush cache.

[2021-04-02 08:47] retaildesk opened #395 "Cache for model not cleared after simple update"
**Describe the bug**
When i update a model the cache is not automatically cleared for that model. I suppose this needs to be done automatically?

**Environment**
 - PHP: 7.4
 - OS: Ubuntu 20.04
 - Laravel: 8
 - Model Caching: ^0.11.2
 - Storage = redis
 - Multi-tenant-> I can see different keys per db are created in redis

I have simple crud for model Suppliers. When i load the table i see all the

[2021-04-02 12:56] mikebronner commented on #395
HI @retaildesk, this could be due to a multitude of factors. You may have another package that is prevent model caching from working (any package that implements or overrides the method "newEloquentBuilder"), or you may not have added the `Cachable` trait to the model. Also, any updates made directly to the database will not update the cache. You need to make the updates through the model itself.

[2021-04-04 00:49] sburkett opened #396 "Exclude specific models when caching is enabled in BaseModel"
Somewhat self-explanatory, but in short, we have hundreds of models in play. We are currently the `BaseModel/use Cachable;` approach. It works great! However, there are a handful of models that we don't want to cache. Instead of having to remove the caching trait from the `BaseModel` and having to add it into hundreds of models, it would be great if we could somehow exclude certain models from bei

[2021-04-04 00:55] mikebronner commented on #396
Hi @sburkett, thanks for writing in! I believe you should be able to add the following protected property on those models:

[code]

Let me know how that works for you.

[2021-04-04 00:59] sburkett commented on #396
Works like a champ! Thanks!

[2021-04-04 00:59] #396 closed

[2021-04-04 01:00] mikebronner commented on #396
That's awesome :)

[2021-04-09 07:41] retaildesk commented on #395
Hi Mike,

Thanks for your answer.

I searched my whole project (incl vendor dir for packages) for the line newEloquentBuilder and nothing found. (only your package).

I can confirm that i included the Cachable trait to the model. And of course i checked for the incompatible packages on the main page of this project (laravel-mysql-spatial, pivot etc. )

[2021-04-09 08:08] retaildesk commented on #395
"php": "^7.4",
        "ext-ftp": "^7.4",
        "ext-gettext": "*",
        "arrilot/laravel-widgets": "^3.13",
        "barryvdh/laravel-dompdf": "^0.9",
        "barryvdh/laravel-translation-manager": "^0.5.9",
        "bastiaanh/overheid-kvk": "^1.0",
        "doctrine/dbal": "^3.0",
        "fideloper/proxy": "^4.4",
        "fruitcake/laravel-cors": "^2.0",
        "genealabs/laravel-model-

[2021-04-09 13:55] mikebronner commented on #395
@retaildesk Can you provide the code that does the update, where you expect the cache to be cleared?

[2021-04-13 09:57] retaildesk commented on #395
i save the supplier with the following code. After saving i expect the cache to be cleared.

`private function storeSupplier($request, $stopRedirect)
    {
        $this->validate($request, [
            'name' => 'required|max:255',
        ]);

        if (isset($request->id)) {
            $supplier = Supplier::find($request->id);

            if (! $stopRedirect) {
                setNotificat

[2021-04-15 01:52] paularmstrong80 commented on #171
Hi Mike,

First, thank you for the great package, really appreciate your work!

I came across this issue when attempting to hook into the model's retrieved event.

The retrieved event only fires if the result hasn't been cached. Once the result is in cache, it no longer fires.

To work around the issue I had to do the following:

1. Replaced newEloquentBuilder in base model to return extended **Ge

[2021-04-15 02:11] paularmstrong80 opened #399 "Retrieved Observer not firing from CachedBuilder"
Hi Mike,

First, thank you for the great package, really appreciate your work!

I came across this issue when attempting to hook into the model's retrieved event.

The retrieved event only fires if the result hasn't been cached. Once the result is in cache, it no longer fires.

To work around the issue I had to do the following:

1. Replaced newEloquentBuilder in base model to return extended **Ge

[2021-04-15 15:06] mikebronner commented on #399
Hi @paularmstrong80, thanks for moving this over to a new issue.

I'm going to have to ponder this a bit, but I can see where you're coming from.

[2021-04-21 23:10] Polyhistor commented on #219
On Laravel 7 issue still exists...

[2021-04-21 23:40] mikebronner commented on #219
Hi @Polyhistor, unfortunately support is limited to the latest Laravel release only.

[2021-04-22 00:08] Polyhistor commented on #219
@mikebronner that's a pitty! thanks for the swift reply

[2021-05-01 17:46] caesarcxiv opened #401 "Model cache timeout option"
**Is your feature request related to a problem? Please describe.**

When utilizing applications that can make changes directly in the db or an outside process but you can still return stale data for a period of time, a configuration option is needed to specify cache time on the command and model.

For instance if you have 1000's of hits a minute and you can return stale data that was changed by an

[2021-05-01 18:02] mikebronner commented on #401
Hi @caesarcxiv, Thanks for writing in.

The solution for your use-case is to manually flush the cache of the affected model(s) directly after the database updates have completed using the `[model name]::flushCache()` or `$model->flushCache()` method, or alternatively using the artisan command

[code]

[2021-05-01 18:02] #401 closed

[2021-05-19 14:41] retaildesk commented on #395
I found the issue. It was because i was using a different database connection for select queries (from read-only mysql server). And i saw the cache_prefix was also including the connection_name.

What i did to fix it is setting my own cache_prefix.

Thanks for help!

[2021-05-19 14:41] #395 closed

[2021-06-02 18:41] danielbehrendt commented on #387
Same here

[2021-06-02 18:57] rik-legger opened #402 "Unsupported RowValues where type"
Currently the RowValues where type is not supported and makes it incompatible with the new Laravel Cursor pagination introduced in Laravel 8.41.

[2021-06-18 15:41] atasciuc commented on #387
+1 on it.
I am getting the same on the whereIn. It looks like it is picking up bindings from a parent where clause and it is trying to apply them to the subQuery for WhereIn. For example:
My subquery for WhereIn:

[code]

when it is trying to interpolate the above it is using `$subquery = collect(vsprintf(str_replace("_??_", "%s", $subquery), $values->toArray()));`

$values are coming for parent q

[2021-06-27 07:33] jcsoriano opened #404 "Can this use the Octane Cache?"
**Is your feature request related to a problem? Please describe.**
Laravel Octane Cache makes use of Swoole tables that can support up to 2,000,000 operations per second. Does this package support it?

**Describe the solution you'd like**
Support using the Octane cache for model caching

[2021-06-28 14:42] jcsoriano commented on #404
For anyone who sees this in the future - I tried it with the Laravel Octane cache and it works!

Thanks for the package!

[2021-06-28 14:42] #404 closed

[2021-06-28 14:45] mikebronner commented on #404
@jcsoriano Thank you for verifying! :) Good to hear.

[2021-07-01 08:38] d8vjork commented on #278
Is still this in progress? I think we're facing the same issue, any workaround for the Nova part only?

[2021-07-01 15:35] mikebronner commented on #278
@d8vjork Hmm, was hoping the PR from @dmason30 would have fixed it. I need to get review a few other things and will rerun tests in the coming days. If you could submit a PR with a failing test, that would help me out tremendously.

[2021-07-01 17:08] d8vjork commented on #278
@mikebronner Yeah, will definitely do once I've some time

[2021-07-14 06:11] saernz opened #406 "lockForUpdate() method does not work."
**Describe the bug**
It seems the `lockForUpdate()` method available for laravel queries does not work when caching has been enabled and there is a cache hit. I have not had time to look further into this but I was having problems with a query not locking when it should have, and I found adding `->disableCache()` to the query instantly fixed the issue. I believe if the cache gets a hit it returns

[2021-07-27 00:11] Drewdan opened #407 "Pagination links are incorrectly cached when the website has multiple domains"
**Describe the bug**

If you have a website which has multiple domains, and subsequently multiple sessions, you might visit a page showing paginated resources, and the class which has the pagination data, such as the path for the links is cached. This means the baseURL for the pagination links is also cached, and won't change when the URL of the website changes.

For example:
go to mywebsite.com -

[2021-07-30 11:12] Art4es commented on #387
Same for me

[2021-08-06 18:51] joeyrush commented on #406
In my opinion it should do your first suggestion of implicitly disabling cache since locking at the cache-level could lead to unexpected results (i.e. you could still perform updates on the 'locked' records since those could have been read pre-cache. This would then invalidate the cache and subsequent queries would bypass the cache lock etc.)

[2021-09-03 08:23] seek-x2y commented on #275
"a custom builder class" not work for me

[2021-09-15 11:46] sdbruder commented on #399
Coming from this exact same issue (getting `retrieved` event for cached model instances, too). This will be fixed, ie, we will get `retrieved` for all models, cached or not? if Yes, there is a way to differentiate which one is cached or not cached?
Another option is to get another event like `retrievedFromCache` or something like that in case of model instances which came from cache.

[2021-09-20 00:35] paularmstrong80 commented on #399
There is a event Illuminate\Cache\Events\CacheHit which might be useful to you

[2021-10-02 03:52] binaryfire opened #410 "Lighthouse (GraphQL) compatibility"
Hi guys,

Just wondering if model caching works with Lighthouse? I'm hoping this could sit underneath Lighthouse so GraphQL queries hit the model cache instead of the db....

Thanks!

[2021-10-02 17:12] webard commented on #410
Lighthouse using eloquent models. It works with model caching without any additional configuration.

[2021-10-02 17:58] mikebronner commented on #410
@binaryfire This works as long as you are using Lighthouse for your data store, and not as your cache store. What @webard said. :)

[2021-10-02 17:58] #410 closed

[2021-10-03 00:08] binaryfire commented on #410
Great, thanks guys!

[2021-10-14 18:19] msnegurski opened #411 "Work with 'whereIn' queries as with multiple 'where' queries"
First of all, thank you for such an awesome package.

**Is your feature request related to a problem? Please describe.**
In an app I am developing there are lots of `whereIn` queries. This package caches them with `..._in_...` keys. So for example, if I take three models by IDs `Model::whereIn('id', [1, 2, 3])`, query will be cached with key `...id_in_1_2_3...`. However, if I then query only first

[2021-10-14 20:06] #411 closed

[2021-11-06 16:20] vahidalvandi opened #412 "i hvae issule in cache in tenancyforlaravel package"
i use laravel 8 and last version of this package . i have saas server but cache not work . each user have one db and i dont now how set cache for each tanent

https://tenancyforlaravel.com/

[2021-11-06 17:56] mikebronner commented on #412
Hi @vahidalvandi, I'm not familiar with that tenancy package, but am happy to consider any PRs that would update documentation that describes how to set up this package in conjunction with that one, in addition to any PRs that will make any necessary changes to this package.

[2021-11-06 17:56] #412 closed

[2021-11-07 06:55] vahidalvandi commented on #412
tenancyforlaravel.com is nice and powerful in tenancy . and i dont now stracure laravel-model-caching .

[2021-12-01 00:36] aeq-dev commented on #377
Same Issue here :/
Any updates on this please ?

[2021-12-06 05:17] harrisdt15f opened #413 "cache for request validation to avoid searching in db everytime make request."
if a request make from request validtion ,it check the data if it is exist in db everyonce. for some config table data, if it is able to make cache to avoid every request hit to the db.

[2021-12-06 13:57] mikebronner commented on #413
Hi @harrisdt15f, I'm not sure if I understand your request correctly -- do I understand it correctly that you are asking for caching of Laravel validations that access the database? If that is the case, unfortunately that is outside of the scope of this project.
(If I misunderstood your request, please reopen this issue and explain in more detail, perhaps with an example.)

Thanks for writing in.

[2021-12-06 13:57] #413 closed

[2021-12-22 20:14] lgrassini opened #414 "Correct approach for invalidating partial models"
# Issue
I'm looking for a solution to invalidate cache for certain records and not for the entire model.
Our scenario is the following: We have a Site entity handling thousands of **websites** using the Site model (and related models). We would like to be able to clear cache for a particular **website** and not for all the other websites cached with modelCache.

I can't found any instructions for

[2021-12-22 20:53] mikebronner commented on #414
Hi @lgrassini, thanks for writing in. Unfortunately that is not possible with this package, as this package caches the eloquent queries, not the models themselves.

[2021-12-22 20:53] #414 closed

[2021-12-27 11:18] lgrassini commented on #414
So when we execute `artisan modelCache:clear --model=App\SomeModelName` what are we clearing? a model or eloquent queries?

[2021-12-27 14:42] mikebronner commented on #414
@lgrassini that clears all the cached eloquent queries that use that model.

[2022-01-21 21:04] PitchRE commented on #275
any update?

[2022-02-01 16:43] joshuadwire opened #416 "Uncacheable eager loaded relationships are incorrectly cached"
I'm having an issue when I have a cacheable model that is related to other uncacheable models. When I request the cacheable model and eager load the uncacheable model, everything is cached, even the uncacheable models.

The issue seems to be on line 294 here:
https://github.com/GeneaLabs/laravel-model-caching/blob/efaeb5fb881fc753fb9ec9d12334280d817d4422/src/Traits/Caching.php#L290-L311

`$this` i

[2022-02-01 18:20] mikebronner commented on #416
@joshuadwire Thanks for writing in. I would be happy to receive a PR for this -- please add any tests to cover the changes. If the tests pass, we should be good. You can try making the PR without adding any new tests first, then see if the tests pass when they run.

[2022-02-04 16:23] Restingo opened #418 "Flushing entire cache doesn't work"
**Describe the bug**
When using the command `php artisan modelCache:clear` the cache doesn't get cleared. If the command with the specific model is used `php artisan modelCache:clear --model=App\\Models\\Example` the cache gets cleared.

**Eloquent Query**
Please provide the complete eloquent query that caused the bug, for example:
[code]

**Environment**
 - PHP: 8.0.15
 - OS: Ubuntu Server 20.04.

[2022-02-04 18:27] Restingo commented on #418
If someone stumbles across this issue, it was not a problem with this package but rather the redis server had the command `FLUSHDB` disabled in `/etc/redis/redis.conf`.

[2022-02-04 18:27] #418 closed

[2022-02-17 18:43] mikebronner commented on #291
Not yet ... if someone is willing to create a PR for this, that would be greatly appreciated. Short of that, even if someone just submits a PR with the test case, that would be great.

[2022-02-28 10:14] fulopattila122 opened #422 "Semantic Versioning"
Hi There,

First of all thanks for this package, I've been using such solutions with Symfony/Doctrine and other homegrown variants for years and I missed this from Laravel, so it's great to have it :+1:

To improve the predictability of the package changes across packages, I suggest using Semantic Versioning: https://semver.org
The site describes it in detail, but it is actually very simple and ca

[2022-02-28 10:45] mikebronner commented on #422
We are using semantic versioning. It is still in beta, hence the `0.x`

[2022-02-28 10:45] #422 closed

[2022-02-28 10:49] fulopattila122 commented on #422
I didn't refer to `0.x` but to the fact that according to semantic versioning if you **add** a functionality, you need to increase the MINOR version number. Whereas in this release, functionality has been added and the PATCH has been increased:

![image](https://user-images.githubusercontent.com/1162360/155970179-270a2b9b-edd3-4d11-9538-fb277d47304e.png)

[2022-02-28 20:38] gitwilliam opened #423 "withoutGlobalScopes is not being honored by the model caching library"
**Describe the bug**
The Model Caching library seems to be adding back in the global scopes, rendering unexpected results in the Eloquent Query below which is using the `withoutGlobalScopes`.  The global scopes are still being applied in the below query.  If I disable the cache for this call (i.e. `Preference::disableCache()->withoutGlobalScopes()...`) it works as expected.

**Eloquent Query**
[co

[2022-02-28 20:50] gitwilliam commented on #423
I have started implementing a fix for this, but have been unable to get the unit tests to fully run locally. Do I have to have a paid account to Nova (https://nova.laravel.com/) in order to run composer install and subsequently the unit tests?

If so, are there any work-arounds so that I can continue developing a fix for this without purchasing a subscription to Nova?

[2022-02-28 21:27] mikebronner commented on #423
@gitwilliam Feel free to remove that composer dependencies and comment out those nova tests when testing locally (just don't check those omissions into the PR), and you should be ok. I will test the entire suite for the PR.

[2022-02-28 22:02] gitwilliam commented on #423
Thanks @mikebronner.  I had gotten past the Nova tests by doing that.  However, when I run the other unit tests (without any of my changes), I was getting an error about needing a Redis instance.  To resolve those, I installed `pecl install redis-5.3.3`.  After install `redis-5.3.3`, the output of `php -i | grep Redis` was:

[code]

But I still had to run a Redis docker container or the unit tests

[2022-03-01 14:45] gitwilliam commented on #423
Just a quick update on the above comment.  I was able to successfully run the Integration and Feature tests by running a Redis container and Postgres container locally.  I'm still curious if I should have to run those.

[2022-03-03 18:34] axsweet opened #425 "Model cache invalidation period"
I have an environment where the laravel application is accessing data generated from other sources.  What is the best practice to get proper model cache?  Can I process to get updated cache instances when necessary? Only do some of the tables? Can I systemically ignore some of the cache? I can write a script to handle clearing by models was one idea but id love to even make it preload some updates

[2022-03-04 21:37] #425 closed

[2022-03-08 09:31] mikebronner commented on #423
Thanks for all this @gitwilliam! This should now be working in 0.12.2. :)

[2022-03-08 09:31] #423 closed

[2022-03-17 15:39] eliasjtg opened #426 "Unsupported enums"
**Describe the bug**
PHP 8.1 supports enums, Laravel 9 support enum cast but the package don't support it

**Eloquent Query**
Please provide the complete eloquent query that caused the bug, for example:
[code]

**Stack Trace**
[2022-03-17 15:25:27] local.ERROR: GeneaLabs\LaravelModelCaching\CacheKey::getValuesFromWhere(): Return value must be of type string, App\Enums\GameType returned {"exception

[2022-03-17 16:49] mikebronner commented on #426
@eliasjtg Thanks for reporting this! I would greatly appreciate a PR for this.

[2022-04-17 21:46] untitledpng commented on #426
+1 also struggling with this bug

[2022-04-20 14:24] JamesPJ commented on #109
This issue is haunting me in `0.6.0` version as well. We get the cached values even though the query within the relation is changed.

For example:

[code]

and now change to

[code]

this will return the previously cached values.

[2022-04-26 14:46] #426 closed

[2022-04-26 15:42] axsweet commented on #387
I see part of the issue here, I grabbed latest stuff also but part of the issue is when the keys or some checking for keys use symbols...specifically the "%" which I think throws it off... Check my stack trace: I think that is the issue, I am not going to dive into it, but just off hand that data is a serial number I guess listed in my db so when im using the model caching it started to mess it up

[2022-05-02 11:37] alexhampu commented on #426
I have tested the merged fix in one of the project I'm currently working on, and I have found some issues. I haven't taken into consideration the other cases in which the where is an array.

[2022-05-04 10:19] S-Masoud-Emamian opened #429 "Performance test on 3000 records"
I have a `Category` Model. When I extended my `Category` model with `Model ` for get all records I got response time with postman: => 1400~1500 ms.

but when I get all my records with `CachedModel` I got response time with postman:
=> 1500 ~ 1600 ms

My Model:
[code]

[code]

To get all records:
`
$model = new Category();
return response()->success($model->all(), 'success');`

To config this lib:

[2022-05-04 12:08] mikebronner commented on #429
Hi @S-Masoud-Emamian,

The performance of retrieving cached records is solely dependent on how the caching server is set up, which is beyond the scope of this package. You would need to identify how to improve your Redis server performance. For example, you might gain performance by setting up a dedicated reds server with faster CPUs, possibly more cores, and definitely more RAM. Understanding you

[2022-05-04 12:08] #429 closed

[2022-05-21 18:57] Sans84 opened #430 "Install error "requires illuminate/cache ^9.0 -> found...""
**Describe the bug**
` Problem 1
    - Root composer.json requires genealabs/laravel-model-caching ^0.12.4 -> satisfiable by genealabs/laravel-model-caching[0.12.4].
    - genealabs/laravel-model-caching 0.12.4 requires illuminate/cache ^9.0 -> found illuminate/cache[v9.0.0-beta.1, ..., 9.x-dev] but these were not loaded, likel
y because it conflicts with another require.`

**Environment**
 - PHP:

[2022-06-14 16:13] AyvazovAleksandr commented on #430
@Sans84 Hello, did you manage to solve this problem?

[2022-06-22 09:19] Bjornftw commented on #280
Seems like we have this problem too. The sync() function is not working anymore. Saving relations with sync() is not working when we've enabled `use Cachable;`

[2022-06-23 20:54] reasecret opened #431 "Cache Not Clearing With morphTo/morphedByMany"
I have Project, Service, User and Bookmark models. A user can bookmark a project, a service or another user.

Project, Service, Bookmark and User models are cachable.

User model:
[code]

Bookmark model:
[code]

The problem is, when user deleted a bookmark, database record deleting but cache not flushing and there is no error. I have to use modelCache:clear. And if I remove Cachable from models th

[2022-07-13 12:07] mikebronner commented on #278
@olliescase happy to entertain a PR for this if you can. I currently don't use Nova in any of my projects.

[2022-07-18 16:02] Musamba24 opened #432 "GeneaLabs\LaravelModelCaching\CacheKey::processEnum()"
I'm facing this issues in a couple of situations like deleting a model: but in both situations the whole function is almost the same.
It's a try/catch with the delete method of a model inside.

[code]

Here is the full stack error: https://flareapp.io/share/VP6AGVam#F71

 - PHP: 8.1
 - Laravel: 9.x

[2022-08-01 11:23] ekandreas commented on #278
This is fixed in 0.12.5 saving pivot sync.

[2022-08-01 11:23] ekandreas commented on #280
This is fixed in v0.12.5

[2022-08-01 11:36] olliescase commented on #278
Great! Will test it out on our project. Thanks @ekandreas for the heads up and @d8vjork for the fix. (And sorry @mikebronner for not responding - I had it in my head that I had)

[2022-08-01 12:32] mikebronner commented on #278
Closing this issue for now.

[2022-08-01 12:32] #278 closed

[2022-08-01 12:34] #280 closed

[2022-08-19 14:12] m-lotze opened #435 "Only flush cache, when delete() returns a count"
The two methods `delete` and `forceDelete` in `Buildable` trait should imho only flush the cache, if the parent methods return an int > 0. Right now, the cache is flushed every time, even when the query did not actually deleted records from the database.

[code]

[2022-08-23 13:18] bertoost commented on #432
I'm getting the same error, using `Model::findMany($ids);` method

[2022-08-23 13:27] bertoost commented on #432
In my case it was because one of the `$ids` was a NULL value, instead of an expected INT

[2022-09-28 05:48] doiprojectcom commented on #296
`$subquery = collect(**vsprintf**(str_replace("?", "%s", $subquery), $values->toArray()));`
replace to
`$subquery = collect(**vsprintf**(str_replace("?", "%%s", $subquery), $values->toArray()));`

[2022-09-29 23:31] Jesus-Rojas commented on #151
Hi good day, wanted to disturb.

`
Pivot::updating(function ($pivot) {
        $source = new Source;
        $source->flushCache();
});
`

How to clean a record of the model without to clean all model, currently it was solved with method flush but this clean all cache of model.

Thanks!!

[2022-09-30 01:18] Jesus-Rojas opened #436 "Clear cache in a record of the model."
Hi good day, wanted to disturb @mikebronner.

`Pivot::updating(function ($pivot) { $source = new Source; $source->flushCache(); });`

How to clean a record of the model without to clean all model, currently it was solved with method flush but this clean all cache of model.

Thanks!!

[2022-09-30 15:56] mikebronner commented on #436
Hi @Jesus-Rojas, that is by design, there is no other feasible way to partially clear the cache for a model.

[2022-09-30 15:56] #436 closed

[2022-09-30 18:56] Jesus-Rojas commented on #436
I understand, thanks so much @mikebronner .

[2022-10-23 14:27] JanKrb commented on #278
Still having the same bug with nova 4.15 and package version 0.12.5. Anybody else here?

[2022-11-18 11:03] jamesRUS52 opened #437 "Saving not working with eloquent strict mode"
When using  in app service provider
[code]
saving model not working with exception
Illuminate \ Database \ Eloquent \ MissingAttributeException
The attribute [query] either does not exist or was not retrieved for model [app\Models\MyModel].

**Eloquent Query**
Please provide the complete eloquent query that caused the bug, for example:
[code]

**Stack Trace**
Illuminate \ Database \ Eloquent \ Mis