[2017-09-23 00:25] mikebronner opened #1 "Assets"
![pexels-photo-325229](https://user-images.githubusercontent.com/1791050/30768358-0df9d0f2-9fbb-11e7-9f10-ad40b83bbf59.jpg)

[2017-09-23 00:25] #1 closed

[2017-09-29 17:42] mikebronner opened #2 "Non-eager-loaded relationships cache-key is not detailed enough, and provide incorrect results."

[2017-09-29 17:47] mikebronner commented on #2
This has been observed in hasMany relationships so far.

[2017-09-30 00:58] mikebronner commented on #2
Fixed by #3

[2017-09-30 00:58] #2 closed

[2017-10-05 17:10] mikebronner opened #11 "Relationship queries may not be cached"
Example:

[code]

[2017-10-12 17:20] mikebronner opened #14 "Add testNestedRelationshipWhereClauseParsing() unit test"
Code is already in place, all that is needed is the unit test to back it up.

[2017-10-12 17:21] mikebronner opened #15 "Add testExistsRelationshipWhereClauseParsing() unit test."
Code is already in place, all you need to do is add the test. :)

[2017-10-12 17:21] mikebronner opened #16 "Add testColumnsRelationshipWhereClauseParsing() unit test"
Code is already in place, all you need to do is add the test. :)

[2017-10-12 17:22] mikebronner opened #17 "Add testRawWhereClauseParsing() unit test"
Code is already in place, all that is needed is the unit test to back it up.

[2017-10-12 19:10] #17 closed

[2017-10-13 16:23] #14 closed

[2017-10-14 16:16] brunorsantos commented on #15
#22

[2017-10-14 16:23] brunorsantos commented on #15
Hi! implementing this test, I realized that does not exists an implementation for caching a query for Relationship Absence. It would be when we try to do something like:

`$authors = collect([(new Author)->doesntHave('books')->first()]);`

I tried to execute it, and it returns an error when trying to create a cache key:

ErrorException: Undefined index: column

/home/vagrant/Code/laravel-model-cac

[2017-10-14 16:25] mikebronner commented on #15
@brunosantos thanks for reporting, yes, please create an issue! :)

[2017-10-14 16:41] brunorsantos opened #23 "Parse `doesnthave()` condition and add to cache key"
# Issue

It has to be created cache for when tried to retrieve from a model, some result that we doesn't want a relationship attached.

For example: Authors that does not have books:
`$authors = collect([(new Author)->doesntHave('books')->first()]);`

## Stack Trace

Currently, if we try to execute the method, we have this stack:

[code]

[2017-10-16 17:24] #15 closed

[2017-10-16 17:25] mikebronner commented on #23
Thanks for reporting the error. Caching should work with `first()`, looks like a bug crept in. Also, I don't think we are looking at the `doesntHave()` command when caching things, so that will need to be added.

[2017-10-16 17:47] #16 closed

[2017-10-16 18:08] #23 closed

[2017-11-07 18:59] mikebronner opened #31 "Add scopes to cache key"

[2017-11-19 17:37] #31 closed

[2017-11-19 17:37] #11 closed

[2017-11-19 23:51] mikebronner opened #34 "Add chainable option to disable caching."
This is important for migrations and seeders, but probably also useful in other situations.

[2017-12-05 15:27] SquallX opened #35 "Order By Rand() error"
# Issue
*Undefined index Column*

## Environment
Laravel Version: *5.5.23*
Laravel Model Caching Package Version: *0.2.9*
PHP Version: *7.0.26*
Homestead Version: *none*
Operating System & Version: *name x.y.z*

When I use orderByRaw('RAND()') in a model, I get These error. The simple solution is to test if the key exists.

## Stack Trace
[code]

## Solution :
[code]

[2017-12-05 15:32] mikebronner commented on #35
Thanks for reporting this! I will get this updated ASAP.

[2017-12-05 16:08] #35 closed

[2017-12-05 16:09] mikebronner commented on #35
Just pushed 0.2.10 ... give that a try, please let me know how it goes. :) Thanks again!

[2017-12-06 10:36] SquallX commented on #35
Thanks a lot ! It works perfectly =)

[2017-12-14 01:31] mbuk opened #37 "Am I missing something obvious?"
# Issue
I have a model BannedIp - it extends CachedModel
When I delete a record using
BannedIp::where('id', 1)->delete();
The cache is not updated

Using a redis for my cache

[code]

It appears as if
[code]
in CachedModel.php is never hit

**I'm trying a fresh install of laravel with a single model now to see if it's something specific to my laravel env**

## Environment
Laravel Version: *5.5.5*

[2017-12-14 01:34] mikebronner commented on #37
Thanks for reporting this!! I will work on this ASAP, should have an update to you within the next 24 hours.

[2017-12-14 01:39] mbuk commented on #37
Thanks @mikebronner let me know if I can help!

[2017-12-14 02:08] mbuk commented on #37
@mikebronner a bit more info it if helps.  Testing on a fresh install.  If I do this
``` App\Testing::first()->delete(); ```
The cache is cleared and ``` static::deleted ``` in CachedModel is hit

I think this might be expected behaviour from eloquent: see [https://github.com/laravel/framework/issues/2536](https://github.com/laravel/framework/issues/2536)

[2017-12-14 02:11] mikebronner commented on #37
Thanks :) Just released v0.2.11 that should fix this. Let me know how it works. Closing issue for now, please re-open if you find some weirdness. :)

[2017-12-14 02:11] #37 closed

[2017-12-14 02:18] mbuk commented on #37
Works like a charm - thanks @mikebronner 👍

[2017-12-14 02:19] mikebronner commented on #37
Awesome! :) Thanks for reporting it, please submit any other oddities you find as well! :)

[2017-12-14 03:19] mbuk opened #39 "This could be down to my weird use case"
# Issue
I have a complex query:
[code]

which I call like this:
[code]
$excludedIds, $includedInterests, $IncludedRegions are all arrays of ids
and $location is an integer.

I really don't want this query to be cached (or maybe a better way to put it is that I want this query to be excluded from the query cache, but I want the rest of the queries on the model to be cached).

I'm wondering if anyth

[2017-12-14 03:26] mikebronner commented on #39
I’m working on a feature for this. Will try to work on it tomorrow.

[2017-12-14 03:27] mikebronner commented on #39
Duplicate of #34.

[2017-12-14 03:27] #39 closed

[2017-12-14 03:51] mikebronner commented on #39
Hi Matt, just wanted to note that the model cache will respect your entire complex where clause will be processed accordingly and not cause false returns, even with dynamic data.

But I do understand the need to prevent caching of a query and will work on that, just wanted to share that the caching should be able to handle your use case. :)

[2017-12-14 04:07] mbuk commented on #39
Cool thanks @mikebronner - good to know - I think something else is a play here on my end which is causing odd results :)

[2017-12-14 04:31] mbuk commented on #39
So I'm definitely seeing some unexpected behaviour here.
The use case is - a list of suggestions filtered on yourself, your already connected / invited users.
When my Profile model is extending CachedModel list of suggestions doesn't decrease when I connect with another user.  When Profile model isn't extending CachedModel it behaves as expected.

If I mess around manually with my excluded $exclud

[2017-12-14 05:18] mbuk commented on #39
I was tired and an idiot 🥇 fool!
I'd messed my bindings up......... sorry!

[2017-12-14 13:59] mikebronner commented on #39
No worries, glad you found the root cause :)

[2017-12-14 20:54] #34 closed

[2017-12-14 20:55] mikebronner commented on #39
@mbuk I just released version 0.2.12 which adds the ability to disable caching on individual queries.

[2017-12-14 20:57] mbuk commented on #39
Fantastic! I’ll check it out

[2017-12-16 23:49] nickaguilarh opened #41 "Some Traits isnt working when using CachedModel"
# Issue
I have a model, Userwhich extends CachedModel:
[code]

Same model use Traits like Notifiable, Sluggable and CanFollow from package *laravel-follow*

[code]

The problem is that when User odel extends CachedModel, User model cant access the traits. I just realized that when i re-seeded an ongoing proyect.

[code]

## Environment
Laravel Version: *5.5.25*
Laravel Model Caching Package Versio

[2017-12-17 02:36] mikebronner commented on #41
Yes, the User model is a special case. I have not cached that model in my projects because of this, and because I always want the latest user data pulled from the database. It's probably not a good idea to cache the user model.

I will add some documentation for that, thanks for raising the issue! :)

[2017-12-17 02:36] #41 closed

[2017-12-27 18:17] rssawhney opened #42 "add cache driver option in abstract class"
# Issue
using different cache driver for model caching other than the app specific cache driver

## Environment
Laravel Version: *5.5.25*
Laravel Model Caching Package Version: *0.2.12*
PHP Version: *7.1.11*

Operating System & Version: *Ubuntu 16.04*

[2017-12-27 21:06] mikebronner commented on #42
If you are configuring caching outside of Laravel, then this package probably isn't for your use case. This package specifically uses the cache driver configured in the app configuration, and is not meant to be used with external caching services.

If you do have the cache driver configured in the laravel config files, please reopen this issue and provide more details as to what problems you are h

[2017-12-28 16:32] rssawhney commented on #42
I am configuring cache inside laravel only, I am using 1 redis instance and 1 memcached. Where memcached one is defined in .env as CACHE_DRIVER.

This package is using the memcached driver for caching. I want to use the redis as caching driver that's why I was asking to add a custom driver option.

Something like this package https://github.com/dwightwatson/rememberable#cache-driver

[2017-12-28 17:31] mikebronner commented on #42
HI @rssawhney thanks for following up with more details. I see now what you mean: you have two Laravel cache drivers defined, and want a way to specify which one to use. That makes sense! I will look into that. Thanks for the clarifying your use-case, that makes a lot of sense to add that ability to this package.

[2017-12-28 21:20] #42 closed

[2017-12-28 21:21] mikebronner commented on #42
Just released version 0.2.13, please let me know if that fixes your issue. :)

Thanks!

[2017-12-28 21:27] mikebronner opened #44 "Investigate Caching of methods called on the model directly."
Example: `$model->find(1);` appears it might not be cached, or might not respect disabling of the cache.

[2017-12-30 19:45] Nowi5 opened #45 "Artisan Command To Clear Specific Model Cache"
# Question
1. Would that reduce the amount of select queries to the db?
Example issue just because of translations:
![laravel_queries](https://user-images.githubusercontent.com/27913135/34456888-17e694f8-eda2-11e7-903b-ba90c5c1d68d.JPG)

2. Shouldn't that be part of Laravel standard?
3. How can I integrate these in Vendor Models e.g. https://github.com/barryvdh/laravel-translation-manager/issues/2

[2017-12-30 20:01] mikebronner commented on #45
1. I believe this would be a good use-case for that.
2. I believe it was in Laravel 4, but was removed in Laravel due to complexities.
3. That is hard to do. I don't have a viable solution for you at this time for models that you don't control yourself.
4. You would have to flush the cache after making manual database changes: `php artisan cache:clear`.

Hope this helps answer some of your questio

[2017-12-30 20:18] Nowi5 commented on #45
Thank you for the very quick answer. I have one additional question regarding 4.:

Is there a possibility to delete only the model cache or even more specific to delete the only one specific model cache? Would love to have a separate artisan command.
The reason is, that I don't like to clear all caches although I have just made on entry in one model out of 30.

Thanks.

[2017-12-30 20:50] mikebronner commented on #45
That's actually a great idea: have a command to clear all caches for a given model. The complexity is dealing with relationships. Let me see what I can do :). Thanks for bringing this up.

[2017-12-31 00:15] #44 closed

[2017-12-31 00:15] #45 closed

[2017-12-31 00:25] mikebronner commented on #45
@Nowi5 Can you give 0.2.14 release a shot and see if this does what you need? (I'll be releasing it momentarily, just updating readme and change-logs.

[2018-01-06 01:52] mikebronner opened #48 "Optimize Cache Keys"
Currently cache keys can be extraordinarily long, which might cause an issue if max key length is reached.

To prevent this, I had the idea of generating cache keys the same way they are now, but then using their hash as the key.

This will reduce key size, as well as obfuscate its content. (That would only be important for encrypted data, which it currently is not, but could also be a future cons

[2018-01-09 14:03] sjbronner commented on #48
Before starting, it might be a good idea to see what the underlying cache stores do with the key. Some may already be hashing it. Here are the results of that check:

* apc: the passed key is combined with a prefix and then used as the final key without any hashing
* array: the passed key used as the final key without hashing or any other supplemental data
* database: the passed key is combined wi

[2018-01-09 14:20] sjbronner commented on #48
Choosing a hashing function:

The key hash must not be salted and it has no security implications. SHA1 is fast and has a good collision resistance. It is also widely used when caching. It seems to be a good choice.

For a comparison of hash function properties, see: https://en.wikipedia.org/wiki/SHA-2#Comparison_of_SHA_functions

[2018-01-11 13:51] mikebronner opened #54 "Travis Badge Should Reflect Master Status"
Change badge to reflect master branch build status, not latest build status.

[2018-01-11 21:32] mikebronner opened #55 "Clear Cache Before Every Test"
It has come to light that some tests are squeaking by and passing because of existing cache entries. We have fixed this where found, but will address this as a whole, so that we can check with confidence that this doesn't occur anywhere else.

[2018-01-11 23:53] sjbronner commented on #55
Aren't all existing cache entries cleared at the end of `setUp()` by `cache()->flush()`?

[2018-01-11 23:59] mikebronner commented on #55
Ah yes, you're right. I forgot about that. So then why do you think we were getting false positives?

[2018-01-12 00:06] sjbronner commented on #55
Maybe it's not working. Can you tell me what code is run by that call?

[2018-01-12 16:05] sjbronner commented on #55
Looking at an example of a false positive result gave me further insight into the issue:
`tests/Unit/CachedBuilderTest.php` function `testValueModelResultsCreatesCache` was caching stuff under the specific key that was to be tested as well as additional keys as a side effect. One of those additional keys was then mistakenly used in the cache retrieval. The result was not the expected result. But a

[2018-01-12 16:05] #55 closed

[2018-01-16 05:27] vesper8 opened #57 "do I need to modify this to use it with jenssegers/laravel-mongodb ?"
I am using jenssegers/laravel-mongodb and using hybrid relations between mysql models and mongodb models

the mongodb models however rather than extend laravel's default model, extend a special wrapper model of sorts

a lot of model-related packages on github do work out of the box with mongodb models but I'm not sure how to use this one since it depends on extending a different model

any chance

[2018-01-16 05:29] vesper8 opened #58 "config option for temporarily disabling all model caching ?"
it seems it would be very useful to be able to turn off caching at a single point.. most caching packages have a true/false config option that can easily be triggered from the .env file

any chance you could add this please?

[2018-01-16 05:35] vesper8 opened #59 "clarification of how invalidation works"
I was just wondering if you could clarify how the invalidation works exactly

from the docs you said that if you don't use a cache driver that supports tags, then anytime a new model is added the entire cache will be flushed

is it then the case that if you do use a driver that supports tags.. that anytime any user adds a new model (a comment for example) then this will trigger what exactly? all c

[2018-01-16 05:55] vesper8 opened #60 "flush all cache through artisan, and typo"
[code]
should be

[code]

And I noticed that you HAVE to specify a model.. it would be very preferable to being able to flush all of the modelCache.. without having to flush the entire redis cache

could this be added please?

[2018-01-16 06:00] vesper8 commented on #60
Furthermore I just tested flushing a model and noticed you have to provide double slashes on the command line:

[code]

fails

but

[code]

works

[2018-01-16 06:25] vesper8 commented on #59
I see that right now you're using rememberForever all over the place...

that could quickly lead to a problem where the cache fills up.. I'm not sure if there's some kind of automatic garbage collection that would happen here.. but I think it would be preferable to allow us to configure how long things should be cached for

[2018-01-16 06:26] vesper8 commented on #57
I've gone ahead and made a duplicate of your CachedModel and called ot MongoCachedModel,

Then inside that class I replaced the extend Model by extend Eloquent

And added use Jenssegers\Mongodb\Eloquent\Model as Eloquent;

That's all that was needed to get it to work with mongodb models

Except that now I can't use the artisan flush command on that model because it's not an instance of "CachedMode

[2018-01-16 06:28] vesper8 commented on #57
I also ran into one problem so far when working with mongodb models. Unlike with mysql, sometimes the values are arrays themselves and that triggered a Array to String conversion error on these lines inside the CacheKey

[code]

I was able to fix it by changing it to

[code]

[2018-01-16 14:34] mikebronner commented on #57
Interesting, I will see about adding this. If you can submit a PR that would expedite things, but it sounds like a good idea.

[2018-01-16 14:38] mikebronner commented on #60
yes, the double-slashes is expected. :)
Regarding flushing only model caching when you don't provide a model, I don't see that being implemented at the moment, due to the complexity involved of figuring out which models are cached models, and then to iterate through them and flush each one individually.

If you can submit a PR to get this expedited, that would help. I'll definitely keep it on the

[2018-01-16 14:45] mikebronner commented on #59
@vesper8 Thats a good point. Memcached automatically flushes stale items, and I believe Redis dumps items if it runs out of memory.

But it is not really forever, since you will invariably add new records to all of your models at some point, which will flush the cache. And if you don't ever add, update, or remove a specific model in your database, then the forever cache is what you want. (Any time

[2018-01-16 15:14] mikebronner opened #61 "Implement Hash Collision Prevention"
Implement hash collision prevention mechanism:
- store the key in the cache
- comparing the stored key with the generated key after retrieving the cache instance
- if they differ, flush the cache for that key, and recreate

[2018-01-16 15:17] mikebronner commented on #48
Implemented in release 0.2.18.

[2018-01-16 15:17] #48 closed

[2018-01-16 15:23] #54 closed

[2018-01-16 23:58] vesper8 commented on #59
@mikebronner Thank you for explaining. I guess you're right it's not really forever at all because of the way it aggressively invalidates currently.

Would there be a way to make this less aggressive on the invalidation part? Right now for example I have thousands of users and they have many model relationships. One example is users can post comments in threads.

Right now threads and comments are

[2018-01-17 00:53] mikebronner commented on #59
Hi @vesper8,

Due to the nature of Eloquent relationships the entire "stack" of a given model must be flushed anytime a model record is updated. You are right, if you have a updates-versus-reads ratio of 1:1 then caching makes no sense. However, you are likely to have more reads than writes, so it will increase performance overall.

By implementing caching you are not actually taking a performance

[2018-01-17 11:40] vesper8 commented on #57
hey @mikebronner I'm hoping maybe you can think of something here...

what I mentioned above is really the only small change I needed to do in order to get it to work with my mongodb models. This was working perfectly on my DEV environment. Mongo models were being invalidated exactly as you'd expect a mysql model to.. no biggie

but then tonight I deployed my changes to production.. and I'm baffle

[2018-01-20 21:25] vesper8 opened #62 "think I found a bug with where("something", "somevalue") and where("something", "<>", "somevalue")"
One part of my application seems to be broken since I started using this package. I've isolated the problem now

I have a table with 300 records

[code]

$records->count() is = 1 here

then below I run

[code]

I tried with '<>' but that is the same as '!='

$records->count() should be 299 now, but instead it uses the cache from the above query and returns the same as the above query.. so count is

[2018-01-25 13:28] mikebronner commented on #62
Thanks @vesper8 ! I will look into that as soon as possible (I'm currently out of town and will return next week). It looks like I need to differentiate the where clauses better. Thanks so much for reporting this. :)

[2018-01-25 22:45] vmosoti commented on #62
seems like a bug when using `where` with other operators including `<,>,<=,>=`

[2018-01-26 04:08] mikebronner commented on #62
yea, that's my thinking as well

[2018-02-06 00:16] vesper8 commented on #62
this is a pretty dangerous bug that's easy to miss and can cause a lot of problems.. hope you can fix it soon :)

[2018-02-06 03:52] mikebronner commented on #62
Yea, sorry about the delay ... I have been out of the office most of the last month. Will try to get to it this week. :|

[2018-02-08 00:19] #62 closed

[2018-02-08 00:23] mikebronner commented on #62
@vesper8 Thanks for being patient. Can you verify that 0.2.19 fixes this issue? Thanks! :)

[2018-02-09 15:10] mikebronner commented on #62
Ah yes, those are on the docket for review. Can you you submit those as a PR, then we can discuss them there? That would be awesome!

[2018-02-10 21:08] tankerkiller125 opened #64 "ID field missing"
# Issue
Switched from standard model to the CachedModel interface and immediately ran into a problem where I could not access the id of an entry if I had done some manual caching previously.

## Environment
Laravel Version: 5.5.34
Laravel Model Caching Package Version: 0.2.21
PHP Version: 7.2
Homestead Version: N/A
Operating System & Version: Elementary OS Loki

## Stack Trace
[code]

[2018-02-10 21:12] tankerkiller125 commented on #64
This was actually my fault, I specified exactly what columns I wanted and failed to put them in an array.

[2018-02-10 21:12] #64 closed

[2018-02-12 09:25] jetwes opened #66 "error on count() or sum('column')"
# Issue
*Alle queries with count() or sum('columnXYZ' return a "undefined index, operator" error.
Exapmle: `$sale = SaleItem::whereIn('sku', $prod_array)
            ->whereBetween('created_at', [$start, $end])
            ->count();`
*

## Environment
Laravel Version: *5.5.34*
Laravel Model Caching Package Version: *0.2.21*
PHP Version: *7.1.0*

## Stack Trace
[code]

[2018-02-12 10:34] jetwes commented on #66
updated to php 7.1.14 without any change

[2018-02-12 11:13] shez1983 opened #67 "not taking param into consideration?"
So I have a query such as this. and i have an api endpoint categories/id/products..

[code]
but when i change the id to say 2 or 3.. I get same products.. is this something I have to take care of? or am i doing something wrong?

## Environment
Laravel Version: *5.6.2*
Laravel Model Caching Package Version: *^0.2.22*
PHP Version: * 7.1.6 *
Homestead Version: *N/A* (using Valet)
Operating System & V

[2018-02-12 14:41] mikebronner commented on #67
Thanks for reporting this @shez1983 ! I'll take a look as soon as I get back to the office on Tuesday.

[2018-02-12 14:48] mikebronner commented on #66
Hi @jetwes , thank you for reporting this. I will look into this as soon as I get back to my office on Tuesday.

[2018-02-12 15:05] jetwes commented on #66
The error seems not related to count() but to ->whereBetween
If i add 'between' to ` $type =in_array($where['type'], ['In', 'Null', 'NotNull','between'])
            ? strtolower($where['type'])
            : strtolower($where['operator']);`
this particular error is gone

[2018-02-12 15:08] shez1983 commented on #67
i'll make sure I update this post before tuesday.. Thanks :)

[2018-02-12 15:47] jetwes opened #68 "Identical values on different whereBetween queries"
# Issue
*
`$start_quarter = '2018-01-01';
$end_quarter = '2018-03-31';
$start_month = '2018-02-01';
$end_month = '2018-02-29';`
Query1   ```
$sales['quarter'] = SaleItem::whereBetween('created_at', [$start_quarter, $end_quarter])
            ->whereIn('shop_id', $shops)
            ->whereIn('sku', $s_products)
            ->count();
[code]
I receive identical values for both queries...
The querie

[2018-02-12 15:51] jetwes commented on #68
when i change the queries to
` $sales['month'] = SaleItem::where('created_at','>=',$start_month)
            ->where('created_at','<=',$end_month)
            ->whereIn('shop_id', $shops)
            ->whereIn('sku', $s_products)
            ->count();`
the result is correct. Maybe it's related to my previously reported isse #66

[2018-02-12 16:02] mikebronner commented on #68
@jetwes You are probably right. I will check the whereBetween code. Thanks for reporting!

[2018-02-12 16:14] mikebronner commented on #66
@jetwes Could you provide the stack track from laravel.log? Thanks :)

[2018-02-12 16:20] mikebronner commented on #66
I have been able to replicate the problem and am now working on a fix 👍

[2018-02-12 16:33] mikebronner commented on #66
Will take some time, I need to go through a few other things for this fix, won't be able to get to it today, hopefully tomorrow.

[2018-02-12 16:34] mikebronner commented on #68
Same problem as with #66. Will be fixed when that fix is released. Will be in next patch in the next day or so.

[2018-02-12 17:08] richdynamix opened #69 "Undefined index: operator"
# Issue
For several of my custom local scoped queries across a number of different models I am getting `Undefined index: operator` error. When I add `disableCache()` to the queries the page works again. However, these queries could really be doing with the use of cache.

The query being run at the time of error in the below stack trace is this -

[code]

## Environment
Laravel Version: *5.5.34*
La

[2018-02-12 17:16] mikebronner commented on #69
Thanks for reporting, this is an issue we just found out, and is related to #66. I apologize for the problem, a fix will be released either today or tomorrow:)

[2018-02-13 01:27] johnpaulmedina opened #70 "Doesn't consider Dates or Times in Queries ?"
# Issue
The cache key should consider dates and times passed within a query. For instance I am running a query like so that gets data between certain days and between certain hours of those days. Where $this represents a user model. I noticed that the cache comes back the same number of results for that user no matter the change in the query dates. Is this normal behavior or have I done something

[2018-02-13 07:32] jetwes commented on #66
thank you for the update and the effort on this great package

[2018-02-13 08:21] jetwes commented on #68
great - i manually did the fix on my dev enviornment - works as intended. Thank you!

[2018-02-13 08:22] jetwes commented on #70
sounds like the same issue than in #68 and #66

[2018-02-13 14:29] mikebronner commented on #70
Thanks for reporting this @johnpaulmedina ! I will make sure this is also looked at and will work on a solution. A fix will be in the next patch!

[2018-02-13 16:37] mikebronner commented on #67
Related or same as #66

[2018-02-13 22:10] blomdahldaniel opened #71 "Why php > 7.1 requirement and not > 7.0?"
Dude! This is so great!
I have created something similar myself in two different projects but this solves it in a much cleaner way. Glad to see your solutions! 😃

I wonder though, why do you force php 7.1? Why not go for the broader audience and allow also php 7.0?

Thanks again for sharing your stuff!

[2018-02-13 23:52] mikebronner commented on #71
Hi @blomdahldaniel! It's always tough to decide how to determine dependency restrictions. In this case I always determine required PHP version by the highest PHP version required by compatible Laravel versions or dependencies. In this case it is Laravel 5.6 that requires PHP 7.1.3. :) Also, I try to only support active PHP versions (7.0.x only receives security updates anymore and is on its way ou

[2018-02-13 23:52] #71 closed

[2018-02-14 00:43] mikebronner commented on #67
@shez1983 Are `inRandomOrder()` and `live()` query scopes? Can you paste them here as well? Thanks! :)

[2018-02-14 00:52] #68 closed

[2018-02-14 00:52] #70 closed

[2018-02-14 00:53] mikebronner commented on #69
This should now be fixed in release 0.2.23. Please test and let me know :)

[2018-02-14 00:53] #69 closed

[2018-02-14 04:37] mikebronner commented on #70
@johnpaulmedina please give version 0.2.23 a try and let me know if that fixes it :)

[2018-02-14 04:39] mikebronner commented on #68
@jetwes please give version 0.2.23 a try and let me know if that fixes it :)

[2018-02-14 06:51] johnpaulmedina commented on #70
@mikebronner Thanks! I am pulling the package now. I hadn't had a chance to patch it and send a pr.

Will let you know how it works for me.

[2018-02-14 14:16] mikebronner commented on #66
@jetwes Please check if release 0.2.23 fixed this issue for you. Let me know how it goes. :)

[2018-02-14 15:32] jetwes commented on #66
yeah - it's looking good!

[2018-02-14 15:33] jetwes commented on #68
brilliant, thank you

[2018-02-15 14:55] Eke opened #72 "Store items for some time"
Is there way to store cache not forever? As i see in code, everything is using `rememberForever` method.

Thank you!

[2018-02-15 15:38] borovaka commented on #72
If everything works as expected you do not need TTL.
After you change some data on the model itself or on the related models the cache will be devalidated automatically.

[2018-02-15 15:53] Eke commented on #72
@borovaka We have some legacy code base which does not use Eloquent and Laravel at all, that's why we need TTL.

[2018-02-15 15:56] borovaka commented on #72
How do you think to use this package then? It is binding to the eloquent methods and properties. Are you planning to mock this methods in your legacy code?
If it is the case, you can create rememberForever method on your current entities base class and implement TTL there.

[2018-02-15 16:16] mikebronner commented on #72
@Eke Thanks for inquiring about this. @borovaka is correct, this package is intended for Laravel use specifically. It can't really be used without Eloquent.

[2018-02-15 16:16] #72 closed

[2018-02-15 21:14] lucmousinho opened #73 "The lib is returning null to a attribute of Polygon type"
# Issue
The lib is returning null to attributes of type Polygon (Mysql). The Polygon type is saved in blob format in mysql database, and the lib is saving the blob as null (or as hex, I'm still analyzing) in redis.

## Environment
Laravel Version: *5.5*
Laravel Model Caching Package Version: *0.2.23*
PHP Version: *7.2*
Operating System & Version: *Ubuntu 16.04*

[2018-02-15 22:40] mikebronner commented on #73
@lucmousinho thanks for reporting! Can you provide the full query that you are running? Thanks! (Both in SQL as well as the Eloquent-query-chain)

[2018-02-16 08:05] jetwes commented on #66
Sorry - too early ;) Same error when whereNotIn is used - so "NotIn" has to be added to the array, too...

[2018-02-16 12:29] blomdahldaniel commented on #71
Thanks for a great response and that you clarified this. Thanks again for
sharing your work!

Den ons 14 feb. 2018 00:52Mike Bronner <notifications@github.com> skrev:

[2018-02-16 14:02] mikebronner commented on #66
@jetwes Thanks! Will fix that ASAP. :)

[2018-02-16 17:09] mikebronner commented on #66
@jetwes Should be fixed in 0.2.24 -- Let me know :)

[2018-02-16 17:10] #66 closed

[2018-02-17 12:51] andrewmclagan opened #75 "Dont depend on sessions for "genealabs-laravel-model-caching-is-disabled""
# Issue

Some users have installations that do not use sessions as they have stateless APIs that authenticate with JWT tokens (Laravel Passport). This architecture is common and popular as it adheres to the 12 factor app principals of stateless server apps.

We therefore disable session service providers and facades as there is a significant performance increase in doing so. Along with other servi

[2018-02-17 12:53] andrewmclagan commented on #75
Id also change the key naming scheme to support the redis / industry standard naming format for cache keys `:` for example it give oyu namespacing powers in the key relm:

`genealabs-laravel-model-caching-is-disabled`

could be better written

`genealabs:model-caching:is-disabled`

thus your other keys can use the namespace

`genealabs:model-caching:`

[2018-02-17 13:38] andrewmclagan opened #77 "Unit tests are actually Integration tests"
# Issue
In the test suite there is one folder containing tests `tests/Unit`.

These are not unit tests as they interact with an external service integration. Thus they are `tests/Integration` tests because they touch either SQLite or MySQL implementation.

## Solution
Rename tests folders to represent the tests they actually perform.

[2018-02-17 13:41] andrewmclagan opened #78 "Cache key namespacing pattern"
# Issue
They cache keys and naming scheme is quite hard for developers to read and does not follow any recognisable pattern e.g. 'genealabslaravelmodelcachingtestsfixturesbook'

## Solution

It would be more readable and best practice to follow a cache key namespacing architecture as those recommended by Redis.

e.g.

`genealabs:model-caching:test-fixtures:book`

[2018-02-17 15:06] mikebronner commented on #75
@andrewmclagan both great suggestions! I completely agree with the sessions being a pain in the butt. Will work on integrating these ideas, thanks!

[2018-02-17 15:09] mikebronner commented on #78
Actually, the cache keys are hashed versions of the key, but the tags aren't. Ian thinking of changing the way the keys are generated anyway.

[2018-02-17 15:10] mikebronner commented on #77
Will consider this. I completely understand where you are coming from.

[2018-02-17 23:45] latheesan-k opened #79 "Error : Call to undefined function GeneaLabs\LaravelModelCaching\Traits\emptyArray()"
# Issue
I am running a test using eloquent model and during test, I am getting this error:

## Environment
Laravel Version: *v5.5.34*
Laravel Model Caching Package Version: *0.2.26*
PHP Version: *PHP 7.1.11 (cli) (built: Oct 25 2017 21:07:06) ( ZTS MSVC14 (Visual C++ 2015) x86 )*
Homestead Version: *N/A I am using XAMPP*
Operating System & Version: *Windows 10 x64*

## Stack Trace
[code]

P.S. Thi

[2018-02-18 01:05] mikebronner commented on #79
Hmm, this might be a Laravel 5.6 thing, I will have to investigate. Sorry for the troubles. Will have a solution shortly!

[2018-02-18 03:04] #79 closed

[2018-02-18 03:37] mikebronner commented on #79
This is fixed in version 0.2.27. Thanks again for reporting this! :)

[2018-02-18 09:57] jetwes commented on #66
great - thanks

[2018-02-18 10:35] vesper8 commented on #62
@mikebronner I just made a PR for one of the changes

As for the other.. I'm confused.. I tried to "blame" on the CachedKey.php but I can't figure out in which commit you removed the line

[code]

which is last shown in this commit https://github.com/GeneaLabs/laravel-model-caching/commit/e150f28786fb37322e315c62cf55ea0f8c3c12b2

Since this is the line that I needed to follow up with

[code]

Whic

[2018-02-18 12:39] mikebronner commented on #62
Hi @vesper8 , that line was removed a few releases ago. The functionality has been moved into the getValues (or similar, I'm not at my computer right now) method further down. I plan on redoing how the keys are built up anyway, so it likely won't matter anymore then.

[2018-02-18 14:50] latheesan-k commented on #79
Amazing turn-around, +1 Thanks.

[2018-02-18 19:59] mikebronner commented on #1
![installation guide cover](https://user-images.githubusercontent.com/1791050/36356190-fc1982b2-14a2-11e8-85ed-06f8e3b57ae8.png)

[2018-02-18 21:56] mikebronner commented on #75
Fixed in PR #76

[2018-02-18 21:56] #75 closed

[2018-02-18 23:36] #61 closed

[2018-02-19 00:37] mikebronner commented on #57
Fixed in version 0.2.30. Please re-open if still a problem.

[2018-02-19 00:37] #57 closed

[2018-02-19 02:18] mikebronner commented on #78
@andrewmclagan This is now implemented in version 0.3.31. Thanks!

[2018-02-19 02:18] #78 closed

[2018-02-19 11:30] shez1983 commented on #67
I am sorry for the delay... :(

[code]

Here is the live Scope
[code]

inRandomOrder is an ELOQUENT/Builder function btw..

I am not sure how to include a stack trace because theres no error..

[2018-02-19 13:59] mikebronner commented on #67
@shez1983 thanks for the update. In your eloquent query you aren't specifying `get()`? Was that just a typo, or are you using a different command?

[2018-02-19 14:47] bastian-schur opened #82 "all()/get() with only 1 entry returns the model, not a collection"
Laravel 5.5, laravel-model-caching: 0.2.31

If i use caching with my models and there is only one result on calling all()/get() i receive the model, not a collection. This is a different handling to laravel!

[2018-02-19 15:33] mikebronner commented on #82
@bastian-schur Thanks for reporting. I will look into that ASAP. (Might have to wait until later today, but will be today for sure.)

[2018-02-19 16:32] mikebronner commented on #82
@bastian-schur I have not been able to replicate this. I tried the following query on different models, and they returned multiple results:
[code]

Could you clear your cache and try again? Are you running a query on the same model before this one that returns only one result? (I'm wondering if perhaps the package is not creating the correct cache keys, or re-using on old cache key when running `a

[2018-02-19 16:53] bastian-schur commented on #82
@mikebronner This problem only occurs if in your database table is only ONE(!) entry! In this case you get the same result like find or first - the requestet model itself. But all or get should return everytime a collection, also there is only one item.
I tryed this with the fallowing steps:
1) Enable Caching, run dd(Model::all()) -> You receive the Model
2) Disable Caching, run dd(Model::all()) -

[2018-02-19 17:04] mikebronner commented on #82
Ah! Thank you for expanding on the issue. I will check that.

[2018-02-20 02:28] mikebronner commented on #82
Hi @bastian-schur, I was unable to recreate the issue. I implemented an integration test with only one record in the database, and it consistently returns a collection as intended. Can you provide a test repo using a fresh laravel install that reproduces this issue? Thanks!

[2018-02-20 03:34] mikebronner commented on #60
I added this now in version 0.2.33. To achieve this, I recommend setting up a dedicated cache connection for laravel-model-cache, then use the `php artisan modelCache:flush` command. Let me know how that works.

[2018-02-20 08:19] bastian-schur commented on #82
@mikebronner I will try it soon, but today i think i will get no time for this. In a short test i tryed it with extending my model directly from eloquent/model, so the modifications in my basemodel will have no influence. I also tryed it with laravel 5.6 but it takes no effect: same result.

[2018-02-20 13:22] vesper8 commented on #60
Thanks for implementing this @mikebronner but I have a few concerns about it

First of all shouldn't config('laravel-model-caching:store') be config('laravel-model-caching.store') ? Does config work with either : or . ? I never tried it with :

Also.. I see that you don't provide any default value in your configuration file, instead you just use env('MODEL_CACHE_STORE') which isn't an existing env

[2018-02-20 13:31] mikebronner commented on #60
Hmm, let me look at the cache store configuration name issue. That might have been slipping by me this whole time. Thanks for noticing.
If you don't set up a dedicated cache store, it would flush the entire cache.

[2018-02-20 15:18] shez1983 commented on #67
yes. as i said i can see the actual products.. if i didnt specify get() i wouldnt have come to the conclusion of my OP.. :)

[2018-02-20 16:27] mikassi opened #83 "disableCache() only works sometimes"
# Issue
When calling disableCache() on a query that uses a custom scope (I think this is what's causing it) it only works sometimes.

## Environment
Laravel Version: *5.6.3*
Laravel Model Caching Package Version: *0.2.33*
PHP Version: *7.2.2*
Homestead Version: *N/A*
Operating System & Version: *macOS High Sierra 10.13.3*

## Stack Trace
As you can see the following query works on and off. After i

[2018-02-20 17:23] mikebronner opened #84 "Redis Caching Needs Debugging"
When working through some issues, I discovered that redis caching may not be working properly in some cases. I am working on debugging this. There seems to be an issue with `cursor` queries.

[2018-02-20 17:23] mikebronner commented on #84
This is related to #60

[2018-02-20 17:46] mikassi commented on #83
I updated the initial post with more info.

Also, I think I caught what's causing it. In the following screenshot you can see that sometimes a Builder instance is created but other times a CachedBuilder instance is created:

![disablecache -test1](https://user-images.githubusercontent.com/23439238/36439744-b5493b74-1665-11e8-8ba0-3ffc450a6cbb.png)

Note that the queries are exactly the same and we

[2018-02-20 21:11] mikebronner commented on #83
Thanks for the updates. I will look into this later on today. :)

[2018-02-22 04:19] #84 closed

[2018-02-22 04:19] mikebronner commented on #83
Hi @mikassi, could you try again using release 0.2.34? I have gone through and done some refactoring and quite a bit of cleanup. Please let me know how that works for you. :)

[2018-02-22 04:20] mikebronner commented on #82
Hi @bastian-schur, could you try again using release 0.2.34? I have gone through and done some refactoring and quite a bit of cleanup. Please let me know how that works for you. :)

[2018-02-22 07:47] jurrid opened #85 "Pagination count query wont get cached"
## Environment
Laravel Version: *5.6.3*
Laravel Model Caching Package Version: *0.2.33*
PHP Version: *7.2.0*
Homestead Version: *-*
Operating System & Version: *macOs High Sierra 10.13.3*

## Stack Trace

When using the paginate query there is a count query that not get cached

[code]

In the debug bar you see this query:

[code]

[2018-02-22 09:26] mikassi commented on #83
@mikebronner, It's fixed, thank you very much!

[2018-02-22 09:26] #83 closed

[2018-02-22 13:48] mikebronner commented on #85
@jurrid Thanks for reporting. I will look into this ASAP. :)

[2018-02-22 13:55] mikebronner commented on #83
Great to hear! Thanks for letting me know :)

[2018-02-22 14:03] bastian-schur commented on #82
@mikebronner thanks for your feedback. Unfortunately, there is no change with the problem.
I look forward to analyze the problem with a fresh laravel installation soon.

[2018-02-22 14:32] mikebronner commented on #82
@bastian-schur Thank you, please let me know your results, as I have been unable to replicate the issue so far.

[2018-02-22 15:09] mikebronner opened #86 "Investigate if `findOrFail` is caching properly."
/cc @jurrid

[2018-02-22 18:15] hendra1 opened #87 "Cache Doesn't invalidate"
# Issue
I've run Product::find(1)
and run Product::find(2)

but the result of the query is collection of product 1
the cache doesn't invalidate automatically

In my Product.php:

`
namespace App\Models;

use GeneaLabs\LaravelModelCaching\Traits\Cachable;
use Illuminate\Database\Eloquent\Model;
use Illuminate\Database\Eloquent\SoftDeletes;

class Product extends Model
{
    use SoftDeletes, Cachabl

[2018-02-22 18:24] mikebronner commented on #87
@hendra1 Thank you for submitting this! I will look into this tonight. Thanks for providing exact examples and code. :) That helps!

[2018-02-22 21:49] srottem commented on #59
I can certainly see value in providing a feature to allow individual models to override how long they will be cached for.  For example, I might not mind a specific model being stale for 5 minutes and I perform some direct database updates to that model's table.  It would be great to still be able to benefit from caching in this circumstance without having to flush the entire cache for that model.

[2018-02-23 03:50] mikebronner commented on #87
I have been able to replicate the problem and am looking into a fix.

[2018-02-23 03:54] mikebronner commented on #86
Looking into this now.

[2018-02-23 04:05] mikebronner commented on #86
Fix found, will be in next patch.

[2018-02-23 04:05] mikebronner commented on #87
Fix found, will be in next patch.

[2018-02-23 04:06] mikebronner commented on #85
Looking into this now.

[2018-02-23 04:31] mikebronner commented on #85
Fix is implemented in next patch, coming in a few minutes.

[2018-02-23 04:32] #86 closed

[2018-02-23 04:32] #87 closed

[2018-02-23 04:32] mikebronner commented on #87
Should be fixed in version 0.2.35. Please let me know if it works for you now. Thanks! :)

[2018-02-23 04:33] mikebronner commented on #86
Should be fixed in version 0.2.35. Please let me know if it works for you now. Thanks! :)

[2018-02-23 04:33] mikebronner commented on #85
Should be fixed in version 0.2.35. Please let me know if it works for you now. Thanks! :)

[2018-02-23 05:18] hendra1 commented on #87
@mikebronner
thanks for the patch
now it's work like a charm

[2018-02-23 18:07] mikebronner commented on #73
Closing this for now, as no response has been provided. Please feel free to re-open if the problem persists. :)

[2018-02-23 18:07] #73 closed

[2018-02-24 01:28] mikebronner commented on #58
This should now work in version 0.2.36. Let me know how it works for you. Thanks :)

[2018-02-24 01:28] #58 closed

[2018-02-24 04:19] mikebronner commented on #59
Yes, this is definitely an interesting use-case. I will keep thinking on this. For the short term, I don't see this being implemented just yet, until the package is refined some more.

[2018-02-24 16:15] mikebronner commented on #67
Hi @shez1983, I am unable to reproduce this problem in version 0.2.37. Can you test again? I have added a test that checks the caching for the `whereHas()` method. Please let me know how it goes! :)

[2018-02-24 16:35] #77 closed

[2018-02-24 16:39] mikebronner commented on #59
I'm going to close this issue, as the thread diverged from the original request, but will open a new issue to keep the idea alive.

[2018-02-24 16:39] #59 closed

[2018-02-24 16:44] mikebronner opened #88 "Provide method to limit invalidation of specific models for specific periods of time."
Continuation of discussion from #59.

My thoughts on this are the following:
- developer provides a protected property on a model that defines the minimum period for which its cache will not be invalidated.
- invalidation mechanism will check for existence of that property, and compare it against a cache value that identifies the model and the timestamp of last invalidation.
- invalidation will pr

[2018-02-24 17:28] mikebronner commented on #88
Working on this feature in a livestream. Feel free to join me here: https://www.larastream.com/r/d596ec7

[2018-02-25 00:43] #88 closed

[2018-02-25 17:37] hendra1 opened #90 "Cache doesn't invalidate when using insert method"
# Cache  Invalidate Failed

When using insert method for multiple records the cache doesn't invalidate.
The records successfully created, but not the cache.
I'm curious is there a way to clean up the cache from the controller side, not from the command line?
since the cache doesn't invalidate well..

Thanks

## Environment
Laravel Version: *5.6.5*
Laravel Model Caching Package Version: *0.2.35*
PH

[2018-02-25 18:54] mikebronner commented on #90
@hendra1 thanks for reporting this. Could you test again using the latest version of this package: 0.2.40? Thanks!

[2018-02-26 13:08] hendra1 commented on #90
Yes I did.. and the result is still same.

[2018-02-26 14:01] mikebronner commented on #90
Thanks, I will try to replicate it.

[2018-02-26 15:16] mikebronner commented on #90
Hi @hendra1,

Regarding your question about having a way to invalidate in the controller: that is not planned. The package should invalidate.

I am unable to recreate the problem with the following test:
[code]

The test passes. Could you provide the queries you are running, specifically the initial query, the insert query, and the third query that is not getting the updated values?

Thanks!

[2018-02-26 15:35] mikebronner commented on #90
I found an issue, it has to do with insert. This test exposes it:
[code]

I will work on fixing this ASAP!

[2018-02-26 16:06] mikebronner commented on #90
@hendra1 this should now be fixed in 0.2.41. Thank you so much for reporting this! The insert and update methods hadn't been accounted for yet.

[2018-02-26 16:06] #90 closed

[2018-02-27 06:15] hendra1 commented on #90
Hi Mike

Thanks for the update.. now it's work  :)

[2018-02-27 13:33] mikebronner commented on #90
Awesome! That's great to hear. :) please let me know if you run into any other issues .

[2018-02-28 10:16] jetwes opened #91 "Inavalidation Problems since last version"
I just updated to the latest version and now i have strange errors - maybe something todo with invalidation. (or not invalidating)

Example:
In my SalesController i prepare to add another product to the basket.
`
$saleItem = SaleItem::where('id','=',$request->get('id'))->first();
$product = Product::where('id',$request->get('product_id'))->first();
$saleItem->product_id = $product->id;
`
Now somet

[2018-02-28 11:13] jurrid commented on #85
There is one little issue now.
The extra query is now cached but the pagination buttons are not working.

[code]

If you click to the second page the offset in the next page is stuck on the one thats is cached.

[2018-02-28 12:55] mikebronner commented on #85
Hmm, thanks for following up with me. I'll look into this.

[2018-02-28 12:59] mikebronner commented on #91
Thanks, @jetwes , I will look into this. Have you been able to see any kind of pattern that might be causing this? Are you using the cache cool down option?

[2018-02-28 13:12] jetwes commented on #91
No, i'm not using the cool down option. I cant'see a pattern at the moment.
Another example:
`if ($user->last_shop_id != null) {
                    $shop = Shop::where('id', '=', $user->last_shop_id)->first();
                } else {
                    $shop = Shop::where('id', '=', $user->main_shop_id)->first();
                }
                //$user->setShop(['id' => $shops->id,'name' => $

[2018-02-28 13:24] jetwes commented on #91
Another example:
`$shops = Shop::where('active',1)->where('shortname','!=','Zentrale')->where('micro_region',Shop::where('id',Auth::user()->main_shop_id)->first()->micro_region)->orderBy('shortname','ASC')`

Error: `Exception · Property [micro_region] does not exist on this collection instance.`

The errors don't accur on every requests - but a couple of times in a minute...

[2018-02-28 14:07] mikebronner commented on #91
@jetwes thanks again for the details. It almost sounds like different users are overriding the query cache in different circumstances, which if true, means that some keys are not granular enough, and even though you specified `first()1st it's actually returning the collection.

[2018-02-28 14:51] mikebronner commented on #91
@jetwes I had another thought. If you could see if you can get this error to happen again in your dev environment, would you be able to look at the collection that it errors on, and see what query created that collection? If so, that would be the smoking gun we need to identify the source of the problem. In the mean while I am writing a few more tests to cover some scenarios I can think of.

[2018-02-28 17:53] jetwes commented on #91
ok, i'll have a look at it, later

[2018-02-28 18:56] jetwes commented on #91
Ok - seems that the mess is on my side. I have a couple of queries ending ->get()[0]; instead of using ->first();
All this queries fail. When i change them, flush the cache - than they are working.
Sorry for confusing. I will monitor this further...

But there's a strange thing. php artisan modelCache:flush --model=Portal\\Models\\Sale
I tried `php artisan modelCache:flush --model=Portal\\Models\\

[2018-02-28 18:57] mikebronner commented on #91
Hi @jetwes, awesome, thanks for researching this further.

Try the following on the commandline: `php artisan modelCache:flush --model=\\Portal\\Models\\Shop` (not the leading slash). Let me know if that doesn't work.

[2018-02-28 19:15] mikebronner commented on #91
Thanks for checking. I will look into why models can't be flushed from the command-line and see if there is an edge-case.

The way data is stored in the cache changed, but it shouldn't affect being able to access an index on a collection (since get should always return a collection, which is stored in cache). Could you provide me with a full query that you are trying to run, ending in `[0]`. I wil

[2018-02-28 19:17] mikebronner opened #92 "Update readme"
Add more detailed information for

- setting up dedicated model-cache store
- flushing the dedicated model-cache store
- update the wording to have a dedicated model-cache store be the default

[2018-02-28 19:53] jetwes commented on #91
i'm using redis in a seperate database.

An example Query:
`$saleItem = SaleItem::where('id','=',Request::input('id'))->get()[0];`

I already refactored most of the old queries to first() - i will monitor this in the next days..

[2018-02-28 19:54] mikebronner commented on #91
Thanks! I will try to make a test case this evening and report back

[2018-02-28 23:48] mikebronner commented on #91
Hi @jetwes, I tried to replicate the problem, but was unable to get a failure out of it. See my unit test here (https://github.com/GeneaLabs/laravel-model-caching/commit/44fccfc99cd72a76b8c629d826079b781bc9d1bb). If you can think of anything or provide steps to reproduce, or even a unit test, that would be awesome!

[2018-02-28 23:49] mikebronner commented on #91
Also, you could simplify your query, by using `find()`, perhaps like so:
[code]

[2018-02-28 23:54] mikebronner commented on #91
Also, I covered the process I went through here, let me know if I missed something: https://t.co/CHKiHkfYGz

I would probably suggest opening a new issue if you find a problem, as the original issue on this one has been resolved, and we're working on secondary things now. :)

[2018-03-01 00:23] mikebronner commented on #85
Hi @jurrid, I added some pagination tests, and the links provided seem all correct to me. Any chance you customized your pagination somehow, or are passing in parameters to the pagination command?
Take a look at the tests I added here (https://github.com/GeneaLabs/laravel-model-caching/commit/31c0b12e916ae5b8643c14d980e25184a080d162) and let me know if I missed something?

Thanks!

[2018-03-01 00:23] mikebronner commented on #82
@bastian-schur closing this for now, please let me know if you continue to have this problem.

[2018-03-01 00:23] #82 closed

[2018-03-01 00:24] mikebronner commented on #60
@vesper8  closing this for now, please let me know if you continue to have this problem.

[2018-03-01 00:24] #60 closed

[2018-03-01 00:24] mikebronner commented on #67
@shez1983  closing this for now, please let me know if you continue to have this problem.

[2018-03-01 00:34] mikebronner commented on #91
I am able to replicate the flushing issue ... working on that separate from this issue

[2018-03-01 01:37] mikebronner commented on #91
Fix for model flush command will be in the next release in a few minutes. :)

[2018-03-01 06:34] jetwes commented on #91
Thank you!

[2018-03-01 10:15] jetwes commented on #91
The problem still persists. Changing to first() fixed the error message itself - but the value is still not fetched from the cache.
![image](https://user-images.githubusercontent.com/1346373/36839031-1a7f9060-1d41-11e8-87d4-01fe59ba1f91.png)
In this example i display a list of users. The query is
`$users = User::with('role')->with('shop')->with('user_salaries')->get();`
As you can see in the pitct

[2018-03-01 13:54] mikebronner commented on #91
Is Shop also using Cachable?  In your view, can dump out the user I'd in the loop, before you did play the main_shop? Could you post a demo repo with just the view, route, and controller needed to get this specific page to work? That way I could try to replicate the problem. I suspect the issue lies somewhere other than in the query itself.

[2018-03-01 16:23] jetwes commented on #91
i dumped out the user id - it's the correct user_id (the other list entries are correct - so no surprise)
![image](https://user-images.githubusercontent.com/1346373/36855938-1597ac70-1d75-11e8-9a1b-3ff1ff2fdfe3.png)
Yes, Shop is cachable.
I try to post a demo repo .

[2018-03-01 16:24] jetwes commented on #91
by the way - the user is not cachable.

[2018-03-01 22:17] shez1983 commented on #67
oops sorry - too busy with work will let you know sometime.

[2018-03-02 02:35] mikebronner commented on #67
Try this:
https://github.com/GeneaLabs/laravel-model-caching/blob/master/tests/Integration/CachedModelTest.php#L77

[2018-03-02 03:17] mbuk opened #93 "Possible Trait Conflict?"
# Issue
This could be my setup/env but just wanted to check

Upgraded from 0.2.28 -> 0.2.42
Getting incorrect argument 1 (array expected, string given)

## Environment
Laravel Version: 5.5.36
Laravel Model Caching Package Version: *0.2.42*
PHP Version: 7.1.10
Homestead Version: N/A
Operating System & Version: Centos 7

## Stack Trace
[code]

[2018-03-02 06:40] mikebronner commented on #93
Can you post your entire stack trace with all the steps? That would help. :) Also, could you add the query that is causing this error? Thanks! :) that will help me look into it.

[2018-03-02 06:52] jetwes opened #94 "Allow disabling of cache anywhere in the query chain."
If there any any queries with ->disableCache() in your app and you would like to
disable the cache globaly with the .env entry
`MODEL_CACHE_DISABLED=TRUE`
you'll get plenty of Undefined method disableCache() errors.

Maybe - as an enhancement - you return an empty method disableCache() when the cache is disabled globally - so the queries will still work.

[2018-03-02 09:11] dyzajash commented on #85
I have the same issue with pagination.

Clicking buttons redirects to `my-route?page=5`, but data is still from page=1.

Cache server: redis
Laravel: 5.5
PHP: 7.1

[2018-03-02 13:06] jetwes commented on #91
i posted it to a repo - you got an invite link. Its straighforwarded - i uploaded vendor, too. so just clone it and you are ready. a sql is inside the migrations folder for quick generetion of the db tables.
I deleted all other stuff, like auth etc.

[2018-03-02 14:58] mikebronner commented on #94
This is probably caused because you aren't calling `disabledCached()` on the model directly. It should only be called from the model, not within the query. For example, this is the intended way:

[code]

This following is **not the intended way** (but works for the moment just because that is the way the code is organized after moving all functionality into a single trait (which will change soon):

[2018-03-02 20:31] mikebronner opened #95 "Methods on Relationships aren't Invalidating Model Caches"
I have discovered that the methods used on relationship are not invalidating caches, including:
- attach()
- sync()
- etc.

Creating new records **will** flush affected relationships as designed, just creating relationships without creating records **does not** ... yet. Working on fixing this!

[2018-03-02 23:25] mikebronner commented on #95
This is now fixed in version 0.2.43.

[2018-03-02 23:25] #95 closed

[2018-03-02 23:26] mikebronner commented on #94
In version 0.2.43 `disableCache()` has been moved out of CachedBuilder, so it should force you to put it in the correct position now.

[2018-03-02 23:32] mikebronner commented on #94
I have updated the readme to reflect this. I also will look into making it globally insertable anywhere in the query chain again.

[2018-03-03 02:28] mikebronner commented on #91
Got the invite, thanks! Will take a look at it tomorrow :)

[2018-03-03 15:09] mikebronner commented on #91
@jetwes I started installing the repo, but it appears the migration folder is missing. Could you add that for me? :) Thanks!

[2018-03-03 15:16] #92 closed

[2018-03-03 16:34] mikebronner commented on #94
Quick update: `disableCache()` is currently not behaving correctly. I hope to have a fix for this today.

[2018-03-03 20:50] mikebronner commented on #94
This is now fixed in release 0.2.44.

[2018-03-03 20:50] #94 closed

[2018-03-03 21:34] mikebronner commented on #85
I have been able to reproduce this issue now. Working on identifying the cause and then a fix, hopefully today.

[2018-03-03 23:10] mikebronner commented on #85
This is now fixed in release 0.2.45. Please let me know how it works for you guys. Thanks for being patient and reporting it!

[2018-03-04 00:19] shez1983 commented on #67
Thanks for that - seeing your test, it seems you have not understood my problem...
that test is not recreating what i said in my op..

in that test i expected you to cache both

[code]

[2018-03-04 00:30] mikebronner commented on #67
Thanks for clarifying, that indeed was not clear in your initial post. I will try to recreate the problem as you just described.

[2018-03-04 00:41] mikebronner commented on #67
@shez1983 I added the following test: https://github.com/GeneaLabs/laravel-model-caching/commit/d00302814dd5ce5e6b715cbd11f2544dc521b5c8

Does this follow your use-case? I was unable to replicate the issue.

[2018-03-04 00:58] shez1983 commented on #67
+        $this->assertNotEmpty($books1->diffKeys($books2));
surely this should assertEMPTY if there can only be one author for a book? and you are not caching the results...

you are supposed to be looking at cached results (Unless i am missing something) not comparing eloquent/query results...

[2018-03-04 01:04] mikebronner commented on #67
Your original post was saying that running two different queries are note returning the correct information. Do I understand that correctly?

This test does use caching, and it verifies that the results from each cached query are different. That is to say, that the results provided in `$books2` are not the same as those in `$books1`. Since `whereHas` queries are cached, as verified in the test abo

[2018-03-04 11:33] shez1983 commented on #67
yes thats correct. in your previous test (link you provided:
https://github.com/GeneaLabs/laravel-model-caching/blob/master/tests/Integration/CachedModelTest.php#L77

 you were doing
[code]

so i was expecting something similar in your latest test you did... d003028

anyway i will re-test (i actually tested it again few days after posting to make sure i didnt make an error) & let you know

[2018-03-04 14:36] mikebronner commented on #67
Thanks, I look forward to seeing how it works for you! :)

[2018-03-05 09:06] dyzajash commented on #85
0.2.45 is not working with Laravel 5.5

[code]

[2018-03-05 10:54] jetwes commented on #91
oh sorry - i'm looking for it this evening - i was sick the last couple of days - sorry for the delay

[2018-03-05 13:23] mikebronner commented on #85
Ack! Will get that fixed. Thanks for alerting me.

[2018-03-05 13:24] mikebronner commented on #91
Hope you feel better - gute Besserung!

[2018-03-05 15:05] mikebronner commented on #85
@dyzajash This should now be fixed in version 0.2.46.

[2018-03-05 15:50] mikebronner opened #96 "Getting Error When Using `disableCache()`"
[code]

[2018-03-05 16:13] #96 closed

[2018-03-05 21:15] scottgrayson commented on #85
@mikebronner 0.2.46 worked for me 👍

[2018-03-05 21:18] mikebronner commented on #85
@scottgrayson woot! Thanks for verifying! :) @dyzajash Please re-open if this still doesn't work for you.

[2018-03-06 21:25] mikebronner commented on #93
@mbuk have you tried a more recent release since then? Perhaps your issue has been addressed? Please let me know.

[2018-03-06 21:37] mbuk commented on #93
Hey sorry been snowed under will check and update in the morning

Matt
---
Sent from my iPhone

[2018-03-07 07:56] jetwes commented on #91
thank you mike - danke schön ;)
Just uploaded the folder

[2018-03-08 21:58] gustavobgama opened #98 "When cache invalidation happens ?"
# Issue
My issue is really a clarification about how this library works. I created a fresh installation of laravel and added the model caching package.

I've created a simple model using the cachable trait:

[code]

After, using the tinker and a factory I've created 10 orders and listed them using **App\Order::all()**. This returns to me the 10 orders from the cache. Nice !

After that I removed o

[2018-03-08 23:14] mikebronner commented on #98
Thanks for this report! I will check to make sure destroy is working as expected. I may only be invalidating on `delete()`. 👀

[2018-03-09 09:39] gustavobgama commented on #98
Thanks for the fast reply !

I think may be it can be an issue with the **App\Order::all()** method.

I made the following test:

[code]
And I can see the `modified customer` retrieving order from cache using methods like **App\Order::find(1)** and **App\Order::first()**, but still can't see the `modified customer` using the **App\Order::all()** method.

I hope these additional infos help :smile:

[2018-03-09 11:31] bastian-schur commented on #82
@mikebronner: I just wanted to say that the problem in the current version 0.2.47 no longer occurs. Apparently, various changes have eliminated the problem.
Thanks for the active development!

[2018-03-09 11:32] dtvmedia opened #99 "Cache Keys does not recognize different databases"
If you have multiple databases with tables which have the same names, then you get collisions due to the key not recognizing the database name. That should be supported imo. Otherwise this cannot be used for example in tenant systems.

[2018-03-09 12:16] hxnk opened #100 "first (cached) result is always returned for other (subsequent) queries for the same model"
It seems that when performing a second (different) query for a Model, the (cached) result of the previous query is always returned...

## Steps to reproduce
1. Clean install of Laravel 5.6.9 and package version 0.2.47
2. Have 3 instances of a model (e.g.: App\Car) stored in the database
3. Call App\Car::all()
4. Call App\Car::first()

## Result
- Result of step 3: Collection of 3 Car models
- Resu

[2018-03-09 16:14] mikebronner commented on #99
Excellent idea @dtvmedia! There this package does have the concept of adding prefixes, but automatically adding the connection would be good. I will add this functionality later today!

[2018-03-09 16:16] mikebronner commented on #100
Thanks @hxnk for the detailed reproduction steps. I will try to reproduce and report back. :)

[2018-03-09 16:18] mikebronner commented on #82
Thanks for following up! :) Glad its working as intended. :)

[2018-03-10 03:59] mikebronner commented on #99
This should now be available in release 0.2.48. Please let me know how it works for you! :)

[2018-03-10 04:08] #99 closed

[2018-03-10 04:14] mikebronner commented on #100
I have been able to reproduce this and am working on finding a fix. !!!!

[2018-03-10 04:27] #100 closed

[2018-03-10 04:30] mikebronner commented on #100
This is now fixed in version 0.2.49, Thanks so much for reporting this! Somehow it snuck in during a recent update, and the test responsible for checking it was checking the wrong thing. That has been addressed now.

[2018-03-10 04:32] mikebronner commented on #67
HI @shez1983, closing this for now. If there are still issues, please go ahead and re-open. Thanks :)

[2018-03-10 04:32] #67 closed

[2018-03-10 20:01] mikebronner commented on #98
I am able to replicate the issue ... working on identifying the solution. :|

[2018-03-10 23:13] #98 closed

[2018-03-10 23:16] mikebronner commented on #98
@gustavobgama Thanks for reporting all the details on this bug! That helped me identify the issue and fix it in version 0.2.50. I spent all afternoon debugging, but finally found that the problem was not in the way invalidation worked, but that the `all()` method was not using the correct tags, so was causing invalidation issues, that others have been reporting, but I have not been able to replica

[2018-03-11 03:04] mikebronner commented on #91
@jetwes I fixed an issue with `first()` not invalidating, could you try again with the latest version?

[2018-03-11 13:23] mikebronner commented on #93
Hi @mbuk, I'll close this for now. If you do find you are still having issues, please don't hesitate to re-open and update with the queries you are running, and a full stack trace, as well as any relevant code examples. Thanks! :)

[2018-03-12 08:11] jetwes commented on #91
@mikebronner it seems to work as expected! I will have a look on the logs today - but it's looking good at the moment!

[2018-03-12 13:35] gustavobgama commented on #98
@mikebronner Great !!

Thanks for the hard work to fix and the explanation ! I'm going to get the new release !

I'm glad to help

[2018-03-12 14:03] #91 closed

[2018-03-14 13:24] hyperized opened #101 "Feature request: possibility of automatically chunking large collections"
# Issue
Thank you for making this library, it's helping us a lot!
We're dealing with larger datasets and this helps speeding up our system a lot.

We're currently trying to prefetch results so a cache-warm can be done prior to processing large datasets. However when we try to use model caching on large tables (300k+ entries) Redis hangs up due to the enormous size of the values of result keys.

Th

[2018-03-14 14:33] mikebronner commented on #101
Thanks for posting this detailed explanation of your use-case. The only way this could work is if I can figure out how to cache the chunked results, instead of the chunking instance. I will look into this some more over the next few days.

[2018-03-16 22:28] sjbronner opened #102 "Incorrect results for join queries"
# Issue

Certain queries receive incorrect results. We were guessing it might have to do with inner joins. Here are two queries from the ceed project:

[code]

## Environment
Laravel Version: v5.5.39
Laravel Model Caching Package Version: 0.2.51
PHP Version: 7.2.3
Operating System & Version: Archlinux

[2018-03-16 23:52] mikebronner opened #103 "Rename `flush` command to `clear`"
This will better conform to other laravel clear commands.

[2018-03-18 08:39] Haizone opened #104 "cant do update() to a model"
whan i try to make for a model with chaching update i get that error:
Type error: Argument 2 passed to GeneaLabs\LaravelModelCaching\CacheTags::__construct() must be an instance of Illuminate\Database\Eloquent\Model, string given, called in

when i remove   use Cachable;

its work
how to fix that?

i use laravel 5.6

[2018-03-18 14:47] mikebronner commented on #104
Thanks for reporting this. Can you please provide the eloquent query it is failing on?

[2018-03-18 16:18] Haizone commented on #104
i just try to update info inside an exist model with caching and its give me that error

[2018-03-18 16:57] mikebronner commented on #104
I understand. The information will help me replicate the problem.

[2018-03-19 09:44] hyperized commented on #101
Hi @mikebronner, thanks for having a look. Is there anything we can do to help?

[2018-03-19 11:09] mikebronner commented on #101
Sorry it's taking a while, my computer was out of commission since Friday, but have it working again. Hope to get to this in the next day or two. :)

[2018-03-19 23:18] mbuk commented on #93
Hi Mike,

Sorry for the delay

Just upgrade to latest today and get same issue:

Gone from 2.28 to 2.51

Getting this

Our models are extending

BaseModel which in turn extends CachedModel

The top one of these two works the bottom one doesn't

[code]

The $item in this case is DirectoryListing
Which has a Bookmarkable Trait and has a method:
[code]

[code]

[2018-03-20 00:21] mikebronner commented on #93
If you disable the bookmarkable trait, does it work then?

[2018-03-20 00:32] mbuk commented on #93
I lie like a cheap suit! (sortof)

I though it was just the Bookmarkable trait but actually it's also the likeabletrait
(they're pretty much identical)

This and the corresponding method in the likeable trait (it's pretty much exactly the same) are the culprits
[code]
If I modify the ``` count('id'); ``` to either ``` count() ``` or ``` count(['id']) ``` it doesn't error.

[2018-03-20 14:16] mikebronner commented on #93
Ah, good info! :) I will check to make sure this package is handling the `cout()17hats parameters correctly. Thanks!

[2018-03-21 13:40] #93 closed

[2018-03-21 13:42] mikebronner commented on #93
This is now fixed. Will be available int he next patch release. Thanks for reporting this! :)

FYI: the `count()` method does not accept an array, only blank or string, see https://github.com/laravel/framework/blob/5.6/src/Illuminate/Database/Query/Builder.php#L2112.

[2018-03-21 13:45] mikebronner commented on #104
@Haizone Please help me help you and provide the eloquent query you are running. I have a test that uses update, and its passing, so I need to see what you are doing different. Thank you!

[2018-03-21 13:48] #103 closed

[2018-03-22 08:52] Haizone commented on #104
@mikebronner
hi
i have exist model with row in the db
i just try to change a filed in the model and use update() method to update in the db
and is didnt work i get that error:
"Type error: Argument 2 passed to GeneaLabs\LaravelModelCaching\CacheTags::__construct() must be an instance of Illuminate\Database\Eloquent\Model, string given, called in vendor\genealabs\laravel-model-caching\src\Traits\Ca

[2018-03-22 11:46] mikebronner commented on #104
@Haizone I need the code that contains the 1st->update().

[2018-03-22 12:23] Haizone commented on #104
@mikebronner

`$product= Product::get();
    $newmodel = str_replace(strtolower($product->manufacturer->english_name), "", strtolower($product->model));

    if((count(preg_split('/\s+/', $newmodel))) >= 3){
      $product->old_model = $product->model;
      $product->model = $newmodel;
      $product->update();
    }
`

[2018-03-22 13:10] mikebronner commented on #104
Hi @Haizone, thanks, that is the information I needed.

I would like to make one recommendation: the usage of `update()` in your code is not recommended. `->update()` should be used with QueryBuilder chains, like described in the documentation here (https://laravel.com/docs/5.6/eloquent#updates), but not for model updates. instead simply use `->save()`.

[2018-03-22 13:17] mikebronner commented on #104
I tried to replicate your issue, but was unable to. Can you also provide the last full stack trace from `/storage/logs/laravel.log`. I don't think the update query is causing the problem. The stack trace will tell us exactly what line in your code is causing the error. From there we will be able to see if there is a problem with the package.

[2018-03-22 13:21] mikebronner commented on #102
Hi @sjbronner, can you also provide the Eloquent queries that go along with these SQL queries? I would like to recreate a test in the same way your Queries are constructed. Thanks!

[2018-03-23 17:00] sjbronner commented on #102
Scope in Event Model:
[code]

Relationship of Event Model:
[code]

[2018-03-24 17:01] mikebronner commented on #102
@sjbronner This is an issue with `scopeWhereInIfNotNull()` returning the incorrect type of Builder.

[2018-03-24 17:01] #102 closed

[2018-03-24 17:10] mikebronner commented on #104
The problem appears to be with your model. Are you using this on an Eloquent model? It is trying to create cache tags from an object called "Mi A1 64GB", which is interpreted as a String, and not as a model. From what I can see this is not an issue with this package. I would recommend following the stack trace and debugging your code step by step to see what is going on. If you can provide further

[2018-03-24 17:11] #104 closed

[2018-03-24 17:24] mikebronner commented on #101
Hi @hyperized, I'm thinking this needs to be addressed with the Redis configuration. Even if we cached the chunks, the total records would eventually get cached in Redis, and cause it to run out of memory. You should look at configuring your Redis installation for high-volume data, or perhaps not cache these huge queries. Chunked queries are actually being cached (I just confirmed this), so you mi

[2018-03-24 17:24] #101 closed

[2018-03-27 09:37] bastian-schur commented on #99
Hey,

its possibile to change the connection detection to database name instead of connection name? We use a tenant system that has a connection named "tenant" but the database is changed on a middleware for every tenant.

I think this has no effects to the feature for users who work not with this manipulation!

[2018-03-27 18:10] vesper8 opened #105 "recent update has broken use with MongoDB"
Unfortunately I don't know exactly what caused it yet and I don't have time to dig in right now. I've had to disable the use of this on my sole MongoDB model for the time being.

What I do know is that it was working before and just now I ran composer update which upgraded this package
[code]

And now all of a sudden it looks like whenever I make updates/saves to my mongodb model, it doesn't flush

[2018-03-28 00:04] mikebronner commented on #105
@vesper8 Thanks for reporting this. Unfortunately I don't have an actual use-case or implementation for it, which makes implementing and maintaining it hard. I would love to accept a PR that sets up tests for this, so it is simply part of the testing process.

[2018-03-28 10:03] vesper8 commented on #105
Ok.. I understand.. I'm not sure how those tests would work.. meaning.. they would only run if they can somehow detect that they are being run from a machine that does have MongoDB set up?

Anyway I will close this for now but will reopen it once I can add more diagnostics and once I have a small reproducible sample which should be shortly

[2018-03-28 10:03] #105 closed

[2018-03-28 14:49] scottgrayson opened #106 "Global scopes do not work with cachable models"
# Issue
I would like to have a cache for users.index queries because they take a while.  I want to ->disableCache() on all other queries.  I tried a global scope that disables cache but found that global scopes do not work with models that use the `Cachable` trait.

This does not work:
- neither the `enabled` nor `nocache` scopes work here
- `enabled` works if I remove the `Cachable` trait
[code]

[2018-03-28 15:33] mikebronner commented on #106
Hi @scottgrayson, thanks for reporting this use-case. I don't think this package is a good fit for you, if you only want to cache a single query in your entire app. You would be better off writing the cache functionality manually.

However, if you are using this on all other models, but only wish to have special treatment on a single model, my suggestion would be similar to above: do not make that

[2018-03-28 15:34] mikebronner commented on #106
PS: have you tried using a local scope on the model?

[2018-03-28 15:36] mikebronner commented on #105
Thanks @vesper8, I appreciate you digging into the Mongo aspect!

The tests would always test for MongoDB compatibility, there would be no auto-detection process, to make sure the functionality works with mongo as well as RDBMS'.

[2018-03-28 15:41] scottgrayson commented on #106
This describes my situation. I'm working on caching it manually now, but if I could use your package for users as well, it would be a cleaner solution for me.

I have tried a local scope and it does work.
[code]
this is not very useful though. is there a different way you thought of using a local scope?

[2018-03-28 15:54] mikebronner commented on #106
Hmm, I see. It will take some time for me to evaluate and research this, as we have Easter weekend coming up, and I will be out of town. I hope to get to it within the next week or so. I will post back here when I have an update. :)

[2018-03-29 07:35] jetwes opened #107 "Not getting all model attributes on query"
Hi MIke,

it's me again with a strange behaviour ;)

In a controller i am doing this:

[code]
Unfortunately i'm only getting one attribute back - not all like intended.
If i disable the cache i'm getting all attributes.
[code]
See the attached pictures.

Any clue why this is happening?

Thx
Jens
<img width="370" alt="shop_enabled_cache" src="https://user-images.githubusercontent.com/1346373/380759

[2018-03-29 15:57] mikebronner commented on #107
Hi @jetwes thanks for reporting this :) I will take a look, it might take some time though, as I am travelling, and won't be back at my office until next week.

[2018-03-30 08:35] jihadismail8 opened #108 "delete cached data after insert"
hi , i know there is a method to disable cache  on query , and thats for get requests , i think it would be good to have a method  to remove or delete cached data for a spacific model after an insert , so that the next get request will be a fresh  data from the database . i think this approch is better , because  in our code  we always have  more get requests then inseret or update ones . so inste

[2018-03-30 10:57] rssawhney commented on #108
@jihadismail8 it is already handled by the package for inserts and updates
https://github.com/GeneaLabs/laravel-model-caching#features

[2018-03-30 11:26] jihadismail8 commented on #108
can not find it , could you please write here in summery how is it done  please ?

[2018-03-30 11:57] rssawhney commented on #108
@jihadismail8 it is automatically handled by package using laravel's model observers and model events

[2018-03-30 12:49] jihadismail8 commented on #108
so i have a question , if i have a table with list of cars owned by someone , and on that model i use  cachable trait ,  now if i  insert a new car into the table , and then i try to get and list those cars  it would be completely updated ?

[2018-03-30 13:18] rssawhney commented on #108
yup

[2018-03-30 13:53] mikebronner commented on #108
Thank you @rssawhney for explaining everything! @jihadismail8 he is right, the main purpose of this package is to automate the caching process. You should only use `->disableCache()` in very few circumstances. :) I'll close this issue. Please don't hesitate to open a new issue, should you run into any problems. :)

[2018-03-30 13:53] #108 closed

[2018-04-02 09:32] jetwes commented on #107
no worries

[2018-04-03 12:48] Tachii opened #109 "Not adding conditionals inside nested model relations"
# Issue
Hello,
I have a query :

[code]
All of the models inside this query use Cachable trait.  But it doesn't enter inside callback. After code execution php doesn't die and doesn't dump 'test'. If I remove catchable trait from all models, it starts working as expected, and just pulls every record for subSubRelation of my query, without using $query->where()

## Environment
Laravel Version: *5.6

[2018-04-03 17:24] mikebronner commented on #109
Thanks for reporting this! It will probably take me a few days to get back to you, but wanted to let you know that its on my radar. :)

[2018-04-04 09:24] Tachii commented on #109
Just a note, If I add `->disableCache()` it starts working as well.

[2018-04-05 02:02] mikebronner opened #110 "Possible Issue With `firstOrCreate` and `firstOrNew` messing with caching and cache disabling."

[2018-04-10 02:55] sgtaziz commented on #106
I also noticed this issue when using the [Clockwork](https://github.com/itsgoingd/clockwork) package. However in this case, it actually throws an error instead of silently failing. The error is thrown when any object with the `Cachable` trait is used. Below is the error:
[code]

Help with this would be much appreciated, I'm a big fan of this package 😄

[2018-04-10 14:27] emielmolenaar opened #111 "Same results for different queries using whereRaw with added bindings"
# Issue
I get the same results for different queries using whereRaw with added bindings when called on the same column. For example:

[code]
The second and third query always returns the result of the first query.

I did dug around in the code. I noticed that `CacheKey` does not include the value of the binding given to the `whereRaw` method. This results in a string that is the same for these thr

[2018-04-10 21:37] mikebronner commented on #111
Thanks for submitting this! :) I will take a look at this as soon as I can. :)

[2018-04-14 13:31] madsem opened #112 "Dynamic setting of cache-prefix causes segfault 11"
# Issue
I'm developing a multi-tenant, multi-domain app and trying to set the cache-prefix dynamically (based on domain name) in the BaseModel.

When I try to resolve the Domain model from the Servicecontainer the server crashes, artisan commands don't work anymore and return a segfault error signal 11.

## Environment
Laravel Version: v5.6.16
Laravel Model Caching Package Version: 0.2.52
PHP Vers

[2018-04-14 13:32] mikebronner commented on #112
Thanks for reporting this!

[2018-04-14 14:11] madsem opened #113 "Generated cache tag does not respect dynamic where clauses"
# Question
Querying across multiple children, was hoping that laravel-model-caching would actually generate a dynamic cache tag based on the query conditions. But the result is that it seems to simply use model names to build the string?

[code]

In short: Can it handle queries like the above so that it actually builds multiple versions of the cache for each of the results this query can produce?

[2018-04-14 17:44] mikebronner commented on #113
No, I believe this is a current bug, probably the similar or same as #111.

[2018-04-15 06:37] madsem commented on #112
PS: nginx version: nginx/1.13.12

[2018-04-16 13:30] andrey-helldar opened #114 "The package caches empty records"
# Issue
The package caches empty records

## Environment
Laravel Version: 5.6.16
Laravel Model Caching Package Version: 0.2.52
PHP Version: 7.2.0
Homestead Version: 7.3.0
Operating System & Version: Windows 10 (1709 build 16299.371)

## Stack Trace
[code]

Code of the migration:
[code]

The problem occurred when executing the code:
[code]

The problem solved by adding a method:
[code]

**The error

[2018-04-16 14:58] mikebronner commented on #114
Hi @andrey-helldar , thanks for reporting this! I don't the null values in your non-working example. Could you update that for me? And yes, caching should be disabled in Seeders and Migrations (I believe I made a note of that in the readme?)

[2018-04-16 15:35] d3radicated opened #115 "[Feature Request] Clear cache of a single model instance"
Right now, it clears all of the model's cache when `flushCache` is called. Suggestion is to allow cache clearing for a single model instance or a collection of models (e.g. clear the cache of models by query).

[2018-04-16 15:39] mikebronner commented on #115
Hi @d3radicated , unfortunately there is no way to remove a single model instance from cache due to the way the cache is built. Or are are asking to flush the cache pertaining to a give model class?

Can you explain why you want to use this, so I can better understand your requirements?

Thanks!

[2018-04-16 15:47] d3radicated commented on #115
Oh, i see. I haven't been able to dabble with how the cache is built.

I just noticed that when a cached model's relation is updated, the cached model is not updated.

[2018-04-16 15:49] mikebronner commented on #115
Ah, that sounds like a bug. Could you provide some code to replicate the issue? Thanks!

[2018-04-16 15:59] d3radicated commented on #115
Don't know how to provide it but the gist of it is like this:

A blog (cached) belongs to one author (not cached). Whenever I query for a list of blogs with authors, the collection is cached along with the relation (right?). Now, when I update the author (e.g. disabled the author's account) and run the same query again, the author relation is not updated.

[2018-04-16 16:02] mikebronner commented on #115
I would need example eloquent queries, so that I can recreate them in a test. Often times the issue lies in how the queries are built, and not necessarily with the package. Providing concrete examples will help me test and eliminate any misunderstanding. :)

[2018-04-17 14:25] G89Angel opened #116 "NotInSub not handled in where"
# Issue
I reached getTypeClause with a $where["type"] === 'NotInSub' which doesn't have an operator. That case is not handled in code.

## Environment
Laravel Version: *5.6.16*
Laravel Model Caching Package Version: *0.2.52*
PHP Version: *7.1.2*
Homestead Version: *7.3..0*

## Stack Trace
[code]

[2018-04-17 14:49] mikebronner commented on #116
Thanks for reporting this, can you provide an example eloquent query I can use for testing? Thanks!

[2018-04-17 15:08] G89Angel commented on #116
This is the resulting SQL:
```select `tax_types`.`id`, `tax_type_translations`.`name` from `tax_types` left join `tax_type_translations` on `tax_type_translations`.`tax_type_id` = `tax_types`.`id` where (`tax_type_translations`.`locale` = ? or (`tax_type_translations`.`locale` = ? and `tax_type_translations`.`tax_type_id` not in (select `tax_type_translations`.`tax_type_id` from `tax_type_translat

[2018-04-17 15:30] G89Angel commented on #116
I'm not sure about how can I get it, since it's being generated by a vendor component.

Basically I do my query like this:
```TaxTypes::withTranslation()->get();```

What happens there is harder for me to tell, this is the scope:
[code]

[2018-04-17 15:50] G89Angel commented on #116
After a review I think this might be launched because of the locale fallback:
https://github.com/dimsav/laravel-translatable/blob/master/src/Translatable/Translatable.php#L549

It looks more like the troublemaker

[2018-04-17 16:15] mikebronner commented on #116
Unfortunately I'm unable to troubleshoot 3rd-party packages. Could you post a public test repo with the plugin that recreates the problem? That way I could download and run the repo and see what's going on.

[2018-04-22 19:42] AEK-BKF opened #118 "belongsToMany : updateExistingPivot does not update data"
# Issue
belongsToMany : updateExistingPivot does not update data

## Environment
Laravel Version: *5.6.**
Laravel Model Caching Package Version: ^0.2.52*
PHP Version: *7.2.4*
Operating System & Version: *Ubuntu 16.04*

## Stack Trace
[code]

[2018-04-22 21:15] mikebronner commented on #118
Thanks for the report! I will look into this as soon as possible. Unfortunately I haven't had much time recently to address outstanding issue. :(

[2018-04-22 21:24] AEK-BKF commented on #118
Yap ! You're right !
Thank you so much :)))

[2018-04-22 21:28] mikebronner commented on #118
let's keep this open until the issue is fixed :)

[2018-04-24 07:57] tradzero opened #119 "inRandomOrder return same result"
# Issue
when i use `inRandomOrder` to get random result, but i got same result. i know it's may cause by cache. so is it possible to get different result by use some like `shuffle` ?

## Environment
Laravel Version: *5.6.12*
Laravel Model Caching Package Version: *0.2.52*
PHP Version: *7.2.1*
Homestead Version: not use
Operating System & Version: *mac os 10.12.6*

## Stack Trace
[code]

[2018-04-24 14:13] mikebronner commented on #119
Thanks for reporting this. In the mean time you can exclude this from caching by adding `->disableCache()`.

[code]

[2018-05-02 09:54] shenjiayu commented on #107
@jetwes Have you resolved this issue? if not, could you please provide more information?

[2018-05-03 09:47] jetwes commented on #107
No i didn't and i really don't know what kind of informations could help - the problem is pretty clear - i  think..

[2018-05-03 15:38] mikebronner commented on #107
@jetwes Sorry for the delays, I'm currently swamped with work and deadlines.

[2018-05-04 01:26] shenjiayu commented on #107
@jetwes Probably provide us with the minimal runnable code to reproduce this issue?

[2018-05-04 01:29] mikebronner commented on #107
@shenjiayu I have what I need from what @jetwes already reported. Also, please don't represent yourself as one of the maintainers by saying "us" and asking people to submit more information.

[2018-05-04 01:30] noonanwebgroup commented on #119
We're facing the same issue also. Has there been any progress on a fix for this? Would it help if we created a PR?

[2018-05-04 01:31] shenjiayu commented on #107
@mikebronner Noted..Just wanted to see if I can help out since I couldn't simply reproduce it on my local. : )

[2018-05-04 01:32] mikebronner commented on #119
Hi @noonanwebgroup, yes, if you would like to take a stab at creating a PR including unit tests that replicate the issue, that would be great. I can't promise that I will accept the PR sight-unseen, and would have to take some time to review and test it afterwards as well.

Sorry for the delays, I have been swamped with work deadlines this last month.

[2018-05-04 01:33] mikebronner commented on #107
@shenjiayu Gotcha, thanks. In those cases it would probably help to provide your eloquent query that shows it working. :)

[2018-05-04 01:34] noonanwebgroup commented on #119
Thanks for the swift reply. Of course, it's not a problem. Thanks for the great library. I'll create a PR tomorrow.

[2018-05-04 07:05] jetwes commented on #107
@mikebronner no worries!

[2018-05-06 17:56] #119 closed

[2018-05-06 18:00] mikebronner commented on #119
Please try version 0.2.53 or higher, and let me know if that fixes it for you. For now the best solution I was able to find was to disable caching on queries that use `inRandomOrder()`.

[2018-05-06 18:52] mikebronner commented on #118
I have not been able to replicate the issue. Using the following test, I get the expected results:
[code]

[2018-05-06 22:28] mikebronner commented on #111
Please try release 0.2.54 or greater -- that should have fixed it. Please let me know. :) And thanks for being patient!

[2018-05-06 22:32] mikebronner commented on #114
I created another test just like yours above and am not able to replicate the problem:

[code]

What type of cache driver are you using?

[2018-05-07 03:52] andrey-helldar commented on #114
I using red is, and set `MODEL_CACHE_STORE=redis` in `.env` too

[2018-05-07 14:40] mikebronner commented on #114
Can I take a look at your repo? Are you overriding the create method on your model?

[2018-05-07 15:03] andrey-helldar commented on #114
I can not show the repository. The requirement of the organization.
No, I do not override the `create()`.

Before that I wrote from my mobile phone. Now I can write a piece of code that returns an empty cached value:

[code]

On the fourth element, I get a duplicate data error because the value in the cache is null, that is, the record does not exist.

If use the `disableCache()` method, the probl

[2018-05-08 10:12] emielmolenaar commented on #111
Thanks @mikebronner ! Handling raws is going better now, except when they are in a nested where :smiley:

[code]

I can reproduce this issue this way:

[code]
I don't think `$this->currentBinding++;` is required in `getNestedClauses()` ?

[2018-05-08 20:49] niladam commented on #85
@mikebronner in 0.2.55 this is still an issue and pagination still doesn't work.

This is my code:

[code]

[2018-05-08 20:53] mikebronner commented on #85
I will take a look at this, thanks!

[2018-05-08 20:59] mikebronner commented on #111
@Marcuzz can you check if this was fixed in 0.2.55 ... there were some issues I fixed from 0.2.54. Thanks!

[2018-05-08 21:03] Marcuzz commented on #111
@mikebronner It is not, it's still an issue in 0.2.55 as that's the version I tested this on, thanks

[2018-05-08 21:04] mikebronner commented on #111
Thanks, will take a look -- I know there were other issues with nested where clauses. Will try to fix both over the next few days.

[2018-05-08 21:06] mikebronner opened #123 "Nested Where Clauses Not Working"
@Marcuzz reported in #111:
As far as I can tell I see no use for $this->currentBinding++; in getNestedClaused() as it completely breaks getRawClauses() as you're using the same variable there - can we get this patched? Other than that 0.2.54 fixed the issue

[2018-05-11 18:10] dyzajash opened #124 "Undefined offset with nested whereNull statement"
# Issue
Using `whereNull` statement inside `whereHas` is throwing exception.

My **example Model** is using only Cachable Trait provided with package. This issue was verified with clean Laravel 5.6 project and some of my company products.

This will throw exception:

`Model::where('type', 1)->whereHas('someModels', function ($q) { $q->whereNull('parent_id'); })->get();`

This works:

`Model::where

[2018-05-11 18:11] mikebronner commented on #124
Thanks! Will look into this over the weekend. :)

[2018-05-12 19:46] mikebronner commented on #107
@jetwes I have set up a test for this, but have not been able to reproduce it. Can you clear your cache, and make sure you have the latest version of the plugin and try again? Thanks!

[code]

[2018-05-13 01:36] mikebronner commented on #109
@Tachii I was not able to reproduce the issue. Could you test again with the latest version? In my tests it does enter the closure and does trigger the `dd()`:

[code]

[2018-05-13 01:40] #110 closed

[2018-05-13 01:42] mikebronner commented on #112
@madsem What is the output when you do this:

[code]

[2018-05-13 02:06] mikebronner commented on #113
@madsem Looking at this more closely now, I believe this is because you are running the queries in the load method. Right now the load method does not get cached.

[2018-05-13 02:28] mikebronner commented on #111
@emielmolenaar I am unable to recreate the issue. Running `select()` on a model has no effect, it's really only useful on `querybuilders`, and not on `eloquentquerybuilders`.

The code you proveded above returns an instance of eloquentquerybuilder, and not a a result as such. Could you provide a working example that reproduces the issue? That would help tremendously! Thanks!

[2018-05-13 02:29] #123 closed

[2018-05-13 02:32] mikebronner commented on #85
I believe your pagination syntax is incorrect? This is the `paginate()` method signature:

[code]

[2018-05-13 03:06] mikebronner commented on #124
@dyzajash This should now be fixed in version 0.2.56. Could you test and let me know? Thanks!

[2018-05-13 09:39] dyzajash commented on #124
Ok, no problem :). I will test it tomorrow.

[2018-05-13 13:08] dyzajash commented on #124
It's fixed with nested where, but it broke when & where.

[code]

Exception:

[code]

[2018-05-13 16:29] mikebronner commented on #114
This is not an issue with how Model Caching works, but with how you are writing your queries. I would recommend writing the above like so:

[code]

The problem in this case is the `compact()` is not resolving the variables.

[2018-05-13 16:29] #114 closed

[2018-05-13 21:54] andrey-helldar commented on #114
@mikebronner
The method `query()` is added to the query only so that phpStorm does not swear to address the missing static methods.

And your `MenuTop::firstOrCreate($item->name, $item->description);` design will not work because in this case you do not pass field names to fill.

The [compact()](http://php.net/manual/en/function.compact.php) method combines variables into a nested array.

Yes, in

[2018-05-14 08:05] Tachii commented on #109
@mikebronner you relation 'book' is single level, you'll a relation that has another relation in it. Also I'm initializing it with static call. My example still not working:

[code]

[2018-05-15 07:25] d3radicated commented on #115
Sorry for the late reply. I haven't checked back if the issue still exists since we just clear the blog cache when an author is updated. I'll get back to you when we do some code clean-up. Thanks. :)

[2018-05-15 07:25] #115 closed

[2018-05-18 12:06] niladam commented on #85
@mikebronner The pagination isn't incorrect and it doesn't really matter if i use `Mymodel::paginate();` my code. The code i was using was `Mymodel::paginate('20', [*], 'pagename');` because i'm actually overriding `$perPage` and `$pageName` :)

[2018-05-18 14:36] Jamesyps opened #125 "Find method on builder errors when $id is an array"
# Issue

When passing an array of IDs through to the `find()` method the library errors when generating the caching id with an: `Array to string conversion` error.

It looks like the error is happening on line 55 of `CachedBuilder.php`. I've applied a temporary fix locally by adding `$id = implode('-', array_wrap($id));`. If this is an acceptable fix I'm happy to add this as a pull request.

Many

[2018-05-18 16:02] mikebronner commented on #125
Thanks for reporting this! I'll look into this over the weekend. :)

[2018-05-19 00:49] mikebronner commented on #85
@niladam thanks, that makes more sense ... in the example above you left perPage as an empty string. I will test again, but didn't have any issues when I tested last weekend. I'll get back to you this weekend. :)

[2018-05-19 00:50] mikebronner commented on #107
@jetwes I'll close this for now, but if you do still have this same issue, please re-open. Thanks!

[2018-05-19 00:50] #107 closed

[2018-05-19 00:50] mikebronner commented on #109
Thanks for the additional explanation. I'll add some tests for that and report back this weekend. Thanks!

[2018-05-19 00:51] mikebronner commented on #111
@emielmolenaar I'll close this for now. Please re-open if this problem persists.

[2018-05-19 00:51] #111 closed

[2018-05-19 00:52] mikebronner commented on #112
@madsem I'll close this for now, please re-open if the problem persists. I haven't been able to reproduce the problem.

[2018-05-19 00:52] #112 closed

[2018-05-19 00:53] mikebronner commented on #116
@G89Angel I'll close this for now, but please re-open if you still have this issue.

[2018-05-19 00:53] #116 closed

[2018-05-19 00:54] mikebronner commented on #118
@AEK-BKF I'll close this for now, but please re-open if you are still having this issue.

[2018-05-19 00:54] #118 closed

[2018-05-19 16:46] mikebronner commented on #85
@niladam I'm sorry, I cannot replicate the issue based on the information you provided so far. If this persists, please open a new issue and make sure to add a complete stack trace along with the eloquent query that broke it.

[2018-05-19 16:46] #85 closed

[2018-05-19 16:51] mikebronner commented on #109
I created another test specific for multiple levels of relationships, but still am not able to reproduce the problem. Please provide a complete stacktrace to troubleshoot this some more. You problem is likely elsewhere in your code. My guess is that your related models might not be cachable.

[2018-05-19 16:51] #109 closed

[2018-05-19 17:08] #125 closed

[2018-05-22 14:43] doug7410 opened #126 "Support for Laravel 5.4"
Hello,

Is there any way to add support for Laravel 5.4 to this project? It seems to be exactly what I need.

Thanks

[2018-05-22 20:32] doug7410 commented on #126
@mikebronner Thanks for the response. I bumped down the versions of the dependencies and it seems to be working on 5.4. But like you said, the test setup breaks.

I'll see if I can get a PR together at some point with the test suite working for 5.4.

Thanks for the awesome package

[2018-05-22 20:36] mikebronner commented on #126
@doug7410 Yea, the entire package would have to live in a separate branch, and that's just a nightmare to maintain. I might look into separating the tests out into their own packages, and link to them as sub-repos as needed. That way there could be one core codebase with many test-packages covering different Laravel versions. The key to fixing the tests is changing the dependency versions of the o

[2018-05-22 21:47] doug7410 commented on #126
That sounds like a great idea. The core code probably wouldn't change much if any. I'm sure there are lots of laravel < 5.5 projects out there that would benefit from this.

[2018-05-24 13:39] jradtilbrook opened #127 "Caching of LazyLoaded Relationships"
# Issue
From the README and video I am trying to cache a `belongsToMany` relationship but it doesn't seem to be working. In my set up caching other relationships does work such as `hasOne`, `hasMany` and `belongsTo` but the many-to-many case does not.

I have had a brief look through the code but I am not following where either it or I could be going wrong. The documentation states that adding the

[2018-05-24 13:58] mikebronner commented on #127
Hi @jradtilbrook, thanks for reporting these issues. I think perhaps you may have found two holes that haven't been plugged yet. I'll look into it and see if its a bug, or missing functionality. :)

Thanks!

[2018-05-24 13:59] jradtilbrook commented on #127
Awesome, no worries. I'm keen to contribute if you need it so let me know. I'm in the process of tracing through to help find anything. I'll let you know if I do :+1:

[2018-05-24 14:33] jradtilbrook commented on #127
Looks like it might be this line https://github.com/GeneaLabs/laravel-model-caching/blob/master/src/Traits/ModelCaching.php#L57. The internals of laravel calls that passing in the base query builder which is just a standard eloquent builder. It then uses that to perform the actual query (without caching).

To get around this and not have infinite recursion, the CachedBuilder class may have to over

[2018-05-24 14:55] andrey-helldar opened #128 "Array to string conversion"
# Issue
[code]

`$where`:
[code]

## Environment
Laravel Version: *5.6.23*
Laravel Model Caching Package Version: *0.2.57*
PHP Version: *7.2.0*
Homestead Version: *7.6.0*
Operating System & Version: *Windows 10 Pro x64*

## Stack Trace
![2018-05-24 17-54-05 whoops there was an error - google chrome](https://user-images.githubusercontent.com/10347617/40493520-95a2650c-5f7b-11e8-80f0-8b5125d493a7.pn

[2018-05-24 15:04] andrey-helldar commented on #128
Yes, I saw my mistake that I did not call the pluck method, but without it the query worked when caching was turned off.

@mikebronner Sorry, I mixed the line with the version. 2.7.1 is the version of `doctrine/dbal` :)

[2018-05-24 15:06] mikebronner commented on #128
Thanks for the update. I will create a test-case using the queries you provided above.

[2018-05-25 01:53] mikebronner commented on #128
I've been able to reproduce the error, working on a fix now.

[2018-05-25 03:52] #128 closed

[2018-05-25 03:52] mikebronner commented on #128
This should now be fixed in version 0.2.58. Please let me know how it works for you.

[2018-05-25 09:34] howya opened #130 "Caching Performance Is Slower Than Database Query"
Apologies for asking a question via the issues.

As above, does this package cache the result of a model query over an intersection table that returns multiple rows? I have a query:

Model->with(relationship)->find(1)->realtionship;

Where relationship is a belongsToMany relationship that is based on another model that also has your package implemented. When testing this with / without cacheing I

[2018-05-25 11:37] andrey-helldar commented on #128
There is no mistake. All perfectly. Thanks!

[2018-05-25 12:12] andrey-helldar opened #131 "Cache error with custom pagination identifier"
# Issue
If I use the `pageName` parameter by default, that is, `page`, then there are no errors:
[code]

BUT if you pass the custom key name, the result of caching is the first open page.
For example, the table contains 30 entries and we output the result with a pagination of 10 entries and a page. When you open the reference `/?page-all-models=2`, we get the elements for the first page. Next, go

[2018-05-25 13:27] mikebronner commented on #131
@andrey-helldar  Thanks for submitting this! I'll look into it ASAP.

[2018-05-25 13:28] mikebronner commented on #130
Hi @howya, thanks for submitting this issue. This looks like it might be related to #127, I'll be looking into this over the weekend.

[2018-05-26 05:07] jonagoldman opened #132 "Use database name in cache prefix"
I see that the database connection name is used as a cache prefix in the [CachePrefixing trait](https://github.com/GeneaLabs/laravel-model-caching/blob/master/src/Traits/CachePrefixing.php).
Is it possible to also add the database name to the prefix?

In a multi tenant application, I have a "main" connection and a "tenant" connection. The database name in the "tenant" connection is changed using a

[2018-05-26 07:50] mikebronner commented on #132
Yes, we are already doing that; https://github.com/GeneaLabs/laravel-model-caching/blob/master/src/Traits/CachePrefixing.php#L9. Or did you mean something else?

[2018-05-26 08:36] howya commented on #130
Thanks for getting back to me. I'm investigating another approach at the moment. Caching the sql result at the builder. I'm using a hash of the SQL and binding as a key and serialising the SQL result via json_encode. Will be interesting to see the results.

[2018-05-26 08:55] mikebronner commented on #130
That's basically what this package does. Can you explain perhaps in more detail what is not working? If you could provide queries you are running that don't provide the expected results, along with any errors, that might help. I'm not sure why this package wouldn't work for you, as it does what you asked in the original question. I'd need more information to be able to help.

[2018-05-26 08:56] mikebronner commented on #130
Nevermind my previous comment (deleted).

[2018-05-26 16:04] jonagoldman commented on #132
@mikebronner I missed that line, I read https://github.com/GeneaLabs/laravel-model-caching/issues/99#issuecomment-376460817 and assumed only the connection name was being used! Thanks!

[2018-05-26 16:04] #132 closed

[2018-05-26 16:05] mikebronner commented on #132
Ah yea, it was implemented right after that. :)

[2018-05-27 00:44] choirool opened #133 "Got "Undefined index: operator""
# Issue
Got  **"Undefined index: operator"** when use whereNotIn and whereIn

## Environment
Laravel Version: *5.5.34*
Laravel Model Caching Package Version: *0.2.21*
PHP Version: *7.2.3*
Operating System & Version: *Ubuntu 16.04.4*

## Stack Trace
[code]

[2018-05-27 00:52] mikebronner commented on #133
@choirool Thanks for reporting!! I will take a look at this tomorrow. :)

[2018-05-27 00:52] mikebronner commented on #133
@choirool In the mean time, can you update the package to the latest version and check if the error persists?

[2018-05-27 15:58] mikebronner commented on #124
@dyzajash could you test this again? If the error re-occurs, could you provide the stack trace as well? I just created a test and it seems to work. (I did make some other fixes recently that might have been related.)

[2018-05-27 19:15] mikebronner commented on #130
@howya I have written a test for this use-case, and am unable to replicate any issues with your query above. It caches everything correctly, as far as I can see. Can you provide more details as to why you think it's not working, as well as add any errors, stack trace, and other eloquent queries so that I can try to replicate the issue.

[2018-05-27 19:17] mikebronner commented on #127
@jradtilbrook  looking into this now, to see if I can handle lazy-loading of relationships.

[2018-05-27 22:36] mikebronner commented on #131
I have not been able to reproduce this issue. Can you retest? I noticed in your example above you are using two different page identifiers, could that be the problem? In you screenshot you have `page-all-models` and in your code you have `page-other-key`. The following test passes. If you could provide more information, that would help. Thanks!

[2018-05-27 23:16] mikebronner commented on #133
This should now be fixed in version 0.2.59. Could you give that a try and let me know how it works? Thanks again for reporting this!

[2018-05-27 23:16] #133 closed

[2018-05-28 03:37] mikebronner commented on #126
@doug7410 Good news! I finally figured out a way to test all versions of Laravel without a bunch of overhead and multiple repos or branches. 5.4 compatibility is coming in a few minutes in next release.

[2018-05-28 03:37] #126 closed

[2018-05-28 08:05] jradtilbrook commented on #127
No worries. I started looking and thought it might be quite complex so thought I'd leave it for now. Thanks for checking it out and good luck!

[2018-05-28 12:20] howya commented on #130
OK, give me a few days (it's a holiday here) and I'll take a look. The reason that I believed it not to be working is that it took twice as long to execute a recurring query test (10000 repeated queries for same where clause i.e. same result each time) as the same test with caching removed.

[2018-05-28 13:44] andrey-helldar commented on #131
I thought it's obvious that when using any key other than `page`, this problem occurs.
In his comment, he brought all the keys to the same form, as I have in the code.

[2018-05-28 15:35] mikebronner commented on #131
@andrey-helldar Could you be more specific, as my test above shows that it does work with other values as well.

[2018-05-28 18:02] andrey-helldar commented on #131
@mikebronner Okay, tomorrow morning I'll record a video from a desktop computer. The code above is copied from the working project.

[2018-05-29 18:00] dyzajash commented on #124
Yep, with latest version everything is working fine.

[2018-05-30 12:49] lksnmnn commented on #131
We do experience the same issue, as we use https://github.com/cloudcreativity/laravel-json-api which has custom pagination keys like `page[size]` and `page[number]`.

This crashes due to an Array to String conversion in your pagination handler. The `$page` variable does not have to be a String/Number, but can be an Array as well. Maybe the quickest way to solve this is by making it configurable.

[2018-05-30 12:51] mikebronner commented on #131
@lksnmnn Please submit the full stack trace and eloquent query. That will help me troubleshoot it further. Thanks!

[2018-05-30 13:12] lksnmnn commented on #131
Here you go: https://gist.github.com/lksnmnn/8b4e1dab69dd4a382afcb98ab55beb57

It crashes in `vendor/genealabs/laravel-model-caching/src/CachedBuilder.php L130` with the following arguments:

[code]

[2018-05-30 13:14] mikebronner commented on #131
@lksnmnn  Thanks for the stacktrace. Please also provide the complete eloquent query you are running that triggers this issue, so that i can recreate it.

[2018-05-30 13:47] lksnmnn commented on #131
Had to dig into the framework...
For the request `/api/v1/magazines?page[size]=1` the used eloquent query is:
[code]

which results in the following MySQL query:
[code]

[2018-05-30 13:52] mikebronner commented on #131
Thanks for this and request URL, hopefully I will be able to recreate it with this information. Thanks!

[2018-05-31 11:53] howya commented on #130
Hi Mike,

I've put together a very simple example at:

https://github.com/howya/laravel_builder_cache

Just clone it, composer install, then setup the phpunit.xml environment variables to point at your MySQL server and Redis server.

Once setup you can run Composer Test to run a simple performance test. The performance test runs a 1000 iteration loop of query calls (I chose these queries as they a

[2018-05-31 13:59] mikebronner commented on #130
@howya  Off the top of my head, this package is more suited to cache complex queries that take a long time to run on their own. That's where the performance improvement lies.

Thanks for putting together a repo, I will play with it and see what's happening. I know that properly configuring redis or memcached can have a large effect on performance.

[2018-05-31 14:02] mikebronner opened #134 "Caching Performance Is Slow"
@howya wrote:

[2018-05-31 14:02] mikebronner commented on #130
Moved this conversation to another issue.

[2018-05-31 14:02] #130 closed

[2018-05-31 14:03] mikebronner commented on #134
@howya Off the top of my head, this package is more suited to cache complex queries that take a long time to run on their own. That's where the performance improvement lies.

Thanks for putting together a repo, I will play with it and see what's happening. I know that properly configuring redis or memcached can have a large effect on performance.

[2018-05-31 18:17] howya commented on #134
Hi Mike,

Your explanation re use-case makes sense. The strategy I'm working on is designed for slowly changing data such as application meta / config data etc. As such it is designed to make as few cache calls per query as possible (it stores the whole SQL result in a single key). I think this is the main difference in performance as I notice your package makes many more cache calls than my strat

[2018-05-31 19:10] mikebronner commented on #134
You've got me curious: would you mind running these tests against memcached and post the results?

[2018-05-31 19:14] howya commented on #134
Certainly, I'll take a look tomorrow. Would be great if you could have a quick look at the repo as I'm not 100% sure I've implemented your package correctly.

[2018-05-31 19:15] mikebronner commented on #134
I probably wont have time today, will most likely have to wait until the weekend. I'll let you know if I do. :) Thanks!

[2018-06-01 01:37] tanwencn opened #135 "laravel5.5 “withCount” not updated"
# Issue
$posts->withCount('comments');
The total number of comments after new comments is not updated

## Environment
Laravel Version:5.5
Laravel Model Caching Package Version: 0.60

[2018-06-01 01:43] mikebronner commented on #135
@tanwencn Thanks for this! I will get check this out ASAP.

[2018-06-01 02:07] #131 closed

[2018-06-01 02:08] mikebronner commented on #131
@andrey-helldar  @lksnmnn This should now be fixed in release 0.2.61. Please let me know if it works. :)

[2018-06-01 02:28] mikebronner commented on #135
@tanwencn I have create a testcase for this (https://github.com/GeneaLabs/laravel-model-caching/blob/master/tests/Integration/CachedBuilder/WithCountTest.php) and have not been able to confirm the issue. The test case behaves as expected.

Are both your Posts and Comments models cachable?

Please provide some additional information I could use for further testing, but it seems that this looks like

[2018-06-01 02:50] tanwencn commented on #135
posts model:
    public function comments()
    {
        return $this->morphMany(Comment::class, 'commentable');
    }

Whether the comment model is cached or not.   As long as the article model is cached, That's what happens.

The first execution of the generated sql:
select `contents`.*, (select count(*) from `comments` where `contents`.`id` = `comments`.`commentable_id` and `comments`.`comment

[2018-06-01 02:54] mikebronner commented on #135
Aha! I bet it's the morphmany relationship. I will take a look over the next few days.

[2018-06-01 07:17] andrey-helldar commented on #131
@mikebronner I'm sorry that I did not write in more detail about how the package behaved with the problem - there were a lot of cases.

@lksnmnn Thank you for helping with the explanation of the problem.

[2018-06-01 09:59] howya commented on #134
Hi Mike,

I've re-run the tests against Memcached and Redis - I repeated the Redis test runs as I had to use a slightly different docker environment for Memcached, so wanted all things to be equal between Redis and Memcached results. You'll see that the re-run tests for Redis are better than yesterdays results, I think this is down to PHP to Redis having a lower latency as they now exist in their

[2018-06-01 12:47] lksnmnn commented on #131
I can confirm this fix made it work together with `cloudcreativity/laravel-json-api`. But there is leftover from debugging, which should be removed.

[code]

[2018-06-01 14:07] howya commented on #134
If I understand you correctly then the query count will be the same for each test. Each test has 1000 iterations and each iteration has the following 8 queries:

`
        $class::with('integrated')->findOrFail(1)->integrated;
        $class::findOrFail(2);
        $class::with('integrated')->get();
        $class::whereHas('integrated', function ($query) {
            $query->where('client_id', '

[2018-06-01 15:04] howya commented on #134
Just to add a quick update. I've done some analysis on Redis to understand number of keys used and volume of key requests. I'd made some assumptions about your implementation which are clearly wrong - I thought your volume of cache requests would grow with the result set size, but they are relative to the number of queries.

For 1000 x 8 Model queries your package uses 19 keys and makes approximat

[2018-06-01 15:11] mikebronner commented on #134
Regarding queries I am referring to the number of times the database is hit. There should only be one (or a few) initial queries the first time around, and then for subsequent requests all should come from the cache.

The cache key request count is good info, that will help me when I look at it. I don't have an answer at the top of my head.

[2018-06-01 19:49] eelco2k opened #136 "Type error: Return value of CacheKey::getValuesFromWhere() must be of the type string, array returned"
# Issue
Type error: Return value of CacheKey::getValuesFromWhere() must be of the type string, array returned

## Environment
Laravel Version: 5.5.40
Laravel Model Caching Package Version: 0.2.61
PHP Version: PHP 7.2.4-1+b2 (cli) (built: May 29 2018 02:53:13) ( NTS )

Operating System & Version: Debian old-sid

## Stack Trace

[code]

[2018-06-01 20:13] eelco2k opened #137 "Trait method newEloquentBuilder has not been applied, because there are collisions with other trait methods"
# Issue
Trait method newEloquentBuilder has not been applied, because there are collisions with other trait methods on App\Models\Flight.

I found out that i'm also  using \Grimzy\LaravelMysqlSpatial Trait in this model.
and reading this issue it looks like it has to do with this package.
[https://github.com/grimzy/laravel-mysql-spatial/issues/17](https://github.com/grimzy/laravel-mysql-spatial/is

[2018-06-03 23:39] mikebronner commented on #137
Hi @eelco2k, off the top of my head, I believe this is something you will have to resolve locally in your app. Please let me know if you do find a solution, so I can take a look and see if it would be possible to implement in the package.

[2018-06-03 23:45] mikebronner commented on #136
Hi @eelco2k, could you please include the eloquent query that caused this error? That will help me recreate the problem and fix it. Thanks!

[2018-06-04 00:07] mikebronner commented on #135
I have been able to reproduce this problem, and it is related to the morphMany relationship. For now, add `...->disableCaching()->...` to your eloquent query until this issue is resolved.

[2018-06-04 00:50] mikebronner commented on #135
While I have been able to recreate the issue, after some more research, I am not convinced this is a bug. The issue occurs if I create the polymorphic model without using the relationship. However, if I use the relationship to create the record, everything works as expected.

[code]

Can you provide the eloquent query you use to create the morphMany record?

[2018-06-04 01:41] tanwencn commented on #135
Is it because of paging? No matter how you create it, it will not reach your expectations.
[code]

[2018-06-04 02:01] mikebronner commented on #134
here is my time results when running against 10 iterations:
[code]

[2018-06-04 03:02] tanwencn commented on #135
[code]
everything is normal.

but, This will not work.
[code]

[2018-06-04 07:41] howya commented on #134
Hi Mike, did you clear your Redis cache before each test? As I mentioned, I've just set up Redis / Memcached on a local docker container without any attempt at optimisation. I'll take another look this week.

[2018-06-04 08:53] eelco2k commented on #136
hi @mikebronner,

Here is my eloquent query:

[code]
in my Klager model i have setup this ModelJoin scope function:

[code]

[2018-06-04 09:00] eelco2k commented on #137
as @grimzy commented out in this issue: [https://github.com/grimzy/laravel-mysql-spatial/issues/17](https://github.com/grimzy/laravel-mysql-spatial/issues/17) he wrote a custom Illuminate\Database\Eloquent\Builder and extending own packages classes with a Trait.

Perhaps this would be a good method to do as well for laravel-model-caching.

[2018-06-04 10:45] emielmolenaar commented on #111
Hi @mikebronner , thanks for your patience :smiley: A little background information: I ran into the issue when using this package in combination with https://github.com/yajra/laravel-datatables . When searching a table, the laravel-datatables package performs a whereRaw search under the hood.

The reason why I'm using `select` on an EloquentQueryBuilder is to speed up the whole process of querying

[2018-06-04 15:01] mikebronner commented on #111
Good news! :) Thanks for following up.

[2018-06-04 15:21] mikebronner commented on #134
I ran your code exactly as you had it, all i changed was the configuration.

[2018-06-04 19:56] howya commented on #134
Hi Mike,

I've updated the repo as follows:

- It now clears the cache before test (I was doing this manually)
- I've set it to a SQLite DB

When I run the test it now shows the following results for 600 intersection records:

"Non-Cached time taken: 14.588853120804"
"Builder-Cached time taken: 23.193886041641"
"Model-Cached time taken: 33.07765007019"

I'd expect SQLite to be faster than caching.

[2018-06-04 20:21] mikebronner commented on #134
Here are the results:

[code]

And here is my config file:
[code]

[2018-06-04 20:33] howya commented on #134
Tried it with your phpunit.xml with just REDIS_HOST and REDIS_PASSWORD updated and get the following:

"Non-Cached time taken: 16.817641973495"
"Builder-Cached time taken: 26.729877948761"
"Model-Cached time taken: 33.037648200989"

I've no idea why we get such a discrepancy, I can only imagine it's my very basic Redis install - though why this causes your code to perform poorly (and not mine) I h

[2018-06-04 20:34] mikebronner commented on #134
Try using a Homestead environment to test. I bet containers are hurting performance if they are optimized. I use Homestead because it mirrors my Laravel Forge servers closely.

[2018-06-05 02:36] mikebronner commented on #135
I will test that, thanks for the update.

[2018-06-05 20:04] rappasoft commented on #111
I too still have that problem using laravel-datatables while caching is on. I'm using 0.2.62 currently, and it only happens for me when using the datatables search.

The error is as follows:

`ErrorException: Undefined offset: 3 in PROJECT_PATH/vendor/genealabs/laravel-model-caching/src/CacheKey.php:235`

If I disable model caching the search works as intended.

Gonna dig around but i'm not sure w

[2018-06-05 20:08] mikebronner commented on #111
@rappasoft Could you please open a new issue and post the complete stack trace, the eloquent query which causes the error, and anything else that you think might be pertinent to the problem. Thanks!

[2018-06-05 20:11] rappasoft commented on #111
@mikebronner Yes of course trying to gather as much insight as I can.

[2018-06-05 20:17] rappasoft opened #139 "Undefined offset in conjunction with yajra/laravel-datatables"
# Issue
This issue prevents searching on the laravel datatables plugin due to some type of issue with the laravel datatables usage of whereRaw.

Possibly related to: https://github.com/GeneaLabs/laravel-model-caching/issues/111

Possible clue:

[code]

## Environment
Laravel Version: 5.6.24
Laravel Model Caching Package Version: 0.2.62
PHP Version: 7.2
Homestead Version: 6
Operating System & Versi

[2018-06-05 20:50] mikebronner commented on #139
If you install Laravel Debugbar, can you see which query caused it? I am completely unfamiliar with the data tables package.

[2018-06-05 21:16] eelco2k commented on #137
i've tried to move the functions in CachedBuilder.php into a Trait but this didn't work sadly.

I've also tried this in conjuction with the dev-builder-as-trait branch of the grimzy/laravel-mysql-spatial but i'm still getting the same errors.

So no solution yet.

[2018-06-05 21:19] eelco2k commented on #139
have you also tried writing the activerecord pattern like this
`` ->where(DB::raw(""))``
I know whereRaw and whereHaving  in combination with yajra datatables is not always working properly.

[2018-06-06 03:06] rappasoft commented on #139
@eelco2k I will give these a shot. @mikebronner I don't see the query in debugbar because it's AJAX, i'm not sure if theres an option to watch. Nonetheless I can set up a middleware to just log every query and i'll try to find it for you. Thanks.

[2018-06-06 09:00] eelco2k commented on #139
@rappasoft you can see datatables queries and bindings when you set DEBUG=true in your .env file.

When you open Network in developer toolbar of chrome you should see a Ajax response with the queries and bindings which have been executed. Hope that helps debugging.

[2018-06-06 13:02] rappasoft commented on #139
I get a query on the initial page load which is such (this works, the initial table loads data):

`select count(*) as aggregate from (select '1' as `row_count` from `users` where `users`.`deleted_at` is null) count_row_table`

The search query fires but the queries array is not populated I assume because it errors before. But this is what it shows:

[code]

I have a HAR file exported if it helps a

[2018-06-06 13:44] eelco2k commented on #139
@rappasoft how have you configured the backend part for the search. Do you mean the global search of the dataTables or is it a column search? I can provide you an example of my global search method:

[code]
The ``$this->regex_filter`` is a custom private function but returns an raw sql query part.

for a specific column filter i've defined as followed:

[code]

[2018-06-06 14:30] rappasoft commented on #139
@eelco2k I have most of my tables using the default search without me overriding anything. I'm testing with a table that has no relationships or joins which is not working, and I think is the simplest use case.

I have other tables with relationships I'm trying to figure out the searching and whatnot with them.

How do you set up your queries for that? Do you join and select the rows before? Or do

[2018-06-06 16:10] eelco2k commented on #139
@rappasoft i'm using very complex joins and selections and filter activeRecord patterns.

[code]

[2018-06-06 17:08] eelco2k commented on #139
@rappasoft You are using DB::table or a Eloquent model?

[2018-06-06 17:15] rappasoft commented on #139
@eelco2k I'm using eloquent throughout

[2018-06-06 17:36] rappasoft commented on #139
@eelco2k thanks for testing. I have the latest version of everything. I'm honestly stumped there's not much to go by. I hope I can figure it out they're both great plugins and great together.

[2018-06-06 17:37] eelco2k commented on #139
@rappasoft could you send the ajax request which is send by the datatables plugin to the server when you do a global search.
because it think that a column on the frontside  may be hidden or not coupled correctly to a table column on backend side.

[2018-06-06 17:42] eelco2k commented on #139
@rappasoft  you could also check if ->smart(false) /true and regex true/false makes any difference

[code]

[2018-06-06 17:44] eelco2k commented on #139
my request URL looks like this when i search in a datatable:

[code]

my search value is: "van der"

[2018-06-06 17:50] rappasoft commented on #139
It's very possible I have something messed up, I find the whole data mapping part confusing with data vs. name etc.

Here is my request preview:

[code]

Here is the jquery call:

[code]

Here is the server side:

[code]

There are no relationships with this particular table, the db cols map the datatable call for the most part minus extra added cols that aren't searchable.

[2018-06-06 18:01] eelco2k commented on #139
@rappasoft  i'm guessing it has to do with the actions column. and the
[code]

you define in the frontend that it's not searchable " columns[4][searchable]: false"  but maybe on backend part it ignores it for some reason... (maybe because of the addcolumn) could you override the global filter and loop through the columns??:
[code]

[2018-06-06 18:04] rappasoft commented on #139
@eelco2k I removed that added column completely with same result:

[code]

[2018-06-06 18:08] eelco2k commented on #139
@rappasoft  hmm...

I was looking at the global filter of dataTables here (globalSearch function ):

[https://github.com/yajra/laravel-datatables/blob/5dbba7b6b8debe5143a1d922957afb08d2410c39/src/CollectionDataTable.php#L214](https://github.com/yajra/laravel-datatables/blob/5dbba7b6b8debe5143a1d922957afb08d2410c39/src/CollectionDataTable.php#L214)

and the columnSearch() filter:
[https://github.co

[2018-06-06 18:12] rappasoft commented on #139
@eelco2k Interesting, I do have separate filtering by columns, and If I use that it works, but if I search via the top right bar of the datatable is when it throws the error. What do you suggest the fix is?

[2018-06-06 18:17] eelco2k commented on #139
try in your datatables jquery object:

[code]

for global search with regex maybe it helps because i have i enabled

[2018-06-06 18:19] rappasoft commented on #139
@eelco2k That doesn't seem to make a difference, nor that or any combination of that and safe search on/off.

[2018-06-06 18:20] eelco2k commented on #139
@rappasoft
i remember that i changed data: actions, name: actions    to   data: null, name: actions

[2018-06-06 18:29] eelco2k commented on #139
@rappasoft well that's weird... but i don't think it only has to do with the Cachable plugin then...
Good luck hopefully you can find what's causing the error. I can say it does work with Cacheble package. Unless it doesn't cache at all.... where can i check if it has cached in my redis cache?

[2018-06-06 18:37] rappasoft commented on #139
@eelco2k It's all good you're probably right it's not a problem with the cache plugin, there's something wrong with something in my project that i'll have to figure out on my own. Thanks for all the help.

[2018-06-06 18:37] #139 closed

[2018-06-06 18:48] eelco2k commented on #136
strangely i tried today and the error is gone. maybe because of the 0.2.62 version update. I don't know.
will close for now.

[2018-06-06 18:55] mikebronner commented on #136
Ah, very good ... the 0.2.62 update has been out for a few days now ... is it possible you didn't update until today? Glad to hear it's resolved :)

[2018-06-06 19:04] eelco2k commented on #139
@rappasoft their still could be some conflics between what has been cached and what is queries and cached. but i only have redis so i don't know much how laravel-model-caching is behaving and saving what in the cache. (redis is not very clear where to find the key: values which are cached.) maybe temporary i will set it back to file cache to debug further.

[2018-06-06 19:09] eelco2k commented on #139
@rappasoft  btw i made a mistake: you have to set "APP_DEBUG=true" in you .env file for datatables query logging

[2018-06-06 19:11] rappasoft commented on #139
Yes @eelco2k It was always set to true, I can see the queries when the request completes successfully but not when it errors.

[2018-06-06 19:27] eelco2k commented on #139
@rappasoft you could set cache library to file/database and see if the cached object has the error in the cached file / database column.

it's serialized so you should unserialize it, here's mine as an example
[code]

[2018-06-06 19:38] rappasoft commented on #139
@eelco2k I don't see anything of interest, i'm probably going to end up just removing the caching plugin in favor of the datatables.

I just tried doing a custom global search and I can get it to work for the most part but then it seems to break column filtering. I think it'll be much less headache for me to just to manual caching.

Thanks for the help!

[2018-06-06 19:52] eelco2k commented on #139
@rappasoft I also have columnfilter and global filter in my datatables. both work fine with cached models.

but there is a difference i don't do this:
[code]

but i'm using this plugin: http://yadcf-showcase.appspot.com/

[2018-06-06 19:55] rappasoft commented on #139
@eelco2k That plugin looks nice but probably overkill for what I need. I took that code right from the datatables website.

[2018-06-06 19:57] eelco2k commented on #139
@rappasoft you could try it. because i have really complex datatables queries (not eloquent) and complex column filters/ global filter and it works. so it should work somehow...

[2018-06-06 19:59] eelco2k commented on #139
@rappasoft good luck and hopefully you can find a solution. it was nice trying to help you! you're welcome.

[2018-06-06 20:00] rappasoft commented on #139
@eelco2k The column filters work, its the global search that doesn't work with caching on.

[2018-06-08 01:35] znsstudio opened #140 "Return value of GeneaLabs\LaravelModelCaching\CacheKey::getValuesFromWhere() must be of the type string, array returned"
After recent upgrade I had this issue below

## Environment
Laravel Version: *5.6.24*
Laravel Model Caching Package Version: *0.2.63*
PHP Version: *7.2.5*
Operating System & Version: *MacOS 10.14 Beta*

[code]

[2018-06-08 01:39] mikebronner commented on #140
please provide your full eloquent query, as well as the full stack trace.

[2018-06-08 03:32] znsstudio commented on #140
[code]

[2018-06-08 03:33] znsstudio commented on #140
[code]

[2018-06-08 03:35] znsstudio commented on #140
I am not able to see query because it crashes but I have below one

$categories = $this->model->where('store_id', $storeId)->where('parent_id', NULL)->get();

[2018-06-08 14:22] mikebronner commented on #140
Look for the query on `/prooject/app/Repositories/CategoryRepository.php(114)` ... #9 in the stack-trace. Is that the query you wrote above?
If there is no query where #9 points, follow the stack-trace further back until you reach the query.

[2018-06-10 18:26] mikebronner commented on #134
@howya I'm going to close this for now, as this is really an environmental issue, and not necessarily a problem with this package. Please do update with your findings if you are able to. Thanks!

[2018-06-10 18:26] #134 closed

[2018-06-10 18:33] mikebronner commented on #140
@znsstudio Please try again with the latest version of the plugin. I just tried testing the query you wrote above and am unable to replicate the problem.

[2018-06-10 22:00] eelco2k commented on #136
Unfortunately still happening but now on production server. I will debug further. maybe php version or specific config. i'm not sure...

[2018-06-10 23:54] mikebronner commented on #136
Please provide the exact eloquent query and full stack trace for the new error on production.

[2018-06-12 09:00] eelco2k commented on #136
@mikebronner It's the same eloquent as posted here above. the query which makes that eloquent model is:
[code]

[2018-06-12 09:31] eelco2k commented on #136
So in my \App\Models\Klager() Model i have a protected variable $filterable; and the Filterable Trait set.

[code]

[2018-06-12 09:35] eelco2k commented on #136
I also Logged the $wheres CacheKey.php line 127:

this is the result:

[code]

Looks normal....
But the line after this i get the error:
[code]

[2018-06-17 12:59] Nowi5 opened #141 "Question: How to use caching at Vendor packages?"
Dear community,

thank you very much for developing and supporting this model caching package.
As asked already once in the past, is there any nice way to use this package also for vendor packages?
How can I integrate these in Vendor Models e.g. barryvdh/laravel-translation-manager#227 without creating a fork.

Thank you very much for your help.

[2018-06-17 16:17] Nowi5 commented on #141
Let see if I will be able to adjust all vendor packages so that they allow to overwrite / extend the model via config. Please have a look to https://github.com/barryvdh/laravel-translation-manager/pull/268

[2018-06-17 18:52] Nowi5 opened #142 "Support for Spatie/Laravel"
**Describe the bug**
Question: Can it be that not every function is covered yet? I think roles & permissions are a great example which should be cached, but it seams even so I extended the role & permission model of spatie, it is not fully covered.

**Eloquent Query**
Please provide the complete eloquent query that caused the bug, for example:
[code]

[code]

[code]

**Environment**
 - PHP: 7.1.3

[2018-06-17 18:55] mikebronner commented on #142
This package will ONLY cache models that are marked as `Cachable`. Since other packages' models probably haven't integrated this package, it would not cache them.

[2018-06-17 18:55] #142 closed

[2018-06-17 18:56] mikebronner commented on #141
Hi @Nowi5, this is a limitation is most likely out of my hands. If you figure out a way to update this package that fixes this problem, please do submit a PR! :)

[2018-06-17 18:56] #141 closed

[2018-06-17 18:57] mikebronner commented on #141
This is probable the same concern as in #137

[2018-06-17 18:57] Nowi5 commented on #142
Hi, I marked both Models as Cachable and there are called fine.

[code]

[code]

Same for Permission.

[2018-06-17 19:04] mikebronner commented on #142
Sorry, I am unable to help debug third-party packages. Please submit a failing unit test as a PR, and I will try to make a fix. :)

[2018-06-18 05:31] maurocolella opened #143 "Too few arguments to function App\Skill::fireModelEvent()"
**Describe the bug**
Caching trait causes crash on complex dynamic relational mappings (many-to-many).

**Eloquent Query**
The query log is not enabled, but the source code is:
https://github.com/maurocolella/__new_me.server/blob/develop/app/Skill.php

**Stack Trace**
<pre><code>
[2018-06-18 05:17:25] local.ERROR: Type error: Too few arguments to function App\Skill::fireModelEvent(), 0 passed in /

[2018-06-18 14:07] mikebronner commented on #143
I don't believe this error is related to this package. The namespace LaravelModelCaching is not referenced anywhere in the stack trace. The query being executed in the stack trace is not a cached query. I'm closing this for now, but if you find additional information that suggests it might be this package, please re-open with a new stack trace and eloquent query. :) Thanks!

[2018-06-18 14:07] #143 closed

[2018-06-18 14:54] maurocolella commented on #143
My bad, I linked code from the main branch. I assumed it made for an easier explanation.

Here is the same code from the branch that still contains the issue.

https://github.com/maurocolella/__new_me.server/blob/feature/add-model-caching/app/Skill.php

That bug is in the model caching library. The main branch is active in prod.

I'll gladly log the specific queries, but it is not query-specific.

[2018-06-18 15:08] mikebronner commented on #143
Hmmm, thanks for the update. Could you submit a PR with. Test that recreate this issue?

[2018-06-18 15:17] maurocolella commented on #143
Ok. I'll try to make a test case over the weekend.

[2018-06-18 17:45] znsstudio commented on #140
Found it :) so if I write model->where('field','value')->where('field','value')->get() is crashes

[2018-06-18 17:59] mikebronner commented on #140
Hi @znsstudio I don't think this is an issue with this package. I wrote a test with your assumption, and nothing fails. I suspect you have a conflict somewhere. At this point I don't think it makes sense to keep this issue open. If you are able to isolate the problem, and create a failing unit test, please submit that as a PR and I will happily investigate it further. :) Thanks!

[2018-06-18 17:59] #140 closed

[2018-06-19 14:36] getriebesand opened #144 "Caching of global model related data"
Can you implement a function to store data in cache which will be flushed on flushing the models cache?

e.G.:

`MyModel::cacheWithModelTag()->rememberForever('customKey', function(){ return 'data'});`

and when I create a MyModel or delete or flush the cache of MyModel, 'customKey' should be flushed too.

[2018-06-19 15:29] mikebronner commented on #144
Intersting idea. Can you elaborate on the use-case for this, perhaps provide a real-world example?

[2018-06-20 15:23] mikebronner commented on #137
Yea, I don't think there is an easy solution for this at this time. I'm closing this for now. Please re-open if you have further information that may help out. Thanks for looking into it!

[2018-06-20 15:23] #137 closed

[2018-06-25 10:59] ikerasLT commented on #139
@mikebronner Have the same issue while using with yajra/laravel-datatables package (latest versions), which generates nested whereRaws while performing global search.

I believe `$this->currentBinding++;` in getNestedClauses is causing the issue as it's advancing bindings when there is none.

[2018-06-25 13:17] mikebronner commented on #139
@ikerasLT Unfortunately I am unable to support any issues with third-party packages due to time and budget limitations. If you could reproduce the problem in a unit test (without the other plugin being installed) and submit that as a PR, I will be happy to work on a fix. :)

[2018-06-25 13:19] mikebronner commented on #139
I am locking this issue, as it is has been discussed at length with no resolution yet. Anyone experiencing this problem is welcome to submit a PR with a unit/integration test that replicates the issue, and I will work on a fix. Thanks!

[2018-07-01 17:43] mikebronner commented on #136
@eelco2k Can you try removing filterable from your model and see if it still errors? I can't help debug 3rd-party packages, sorry, I just don't have enough time. I'm closing this issue for now, it has become too convoluted. If you see this happening without the filterable package installed, please submit a new issue that includes the eloquent query and the stack-trace. Thanks! :)

[2018-07-01 17:43] #136 closed

[2018-07-03 19:21] NyxOne opened #145 "Trait 'Genealabs\LaravelModelCaching\Traits\Cachable' not found"
**Describe the bug**
I've tried to add this package to my project but I always get this error when I try to add it to one of my model :

Symfony \ Component \ Debug \ Exception \ FatalErrorException (E_UNKNOWN)
Trait 'Genealabs\LaravelModelCaching\Traits\Cachable' not found

To be sure that my problem was not with my current project, I made a brand new project with just one Model and I still get t

[2018-07-03 19:31] NyxOne commented on #145
Hi @mikebronner,

There is nothing more in the laravel.log file! That's the extent of it.

When you ask about a repo I'm guessing you mean on github ? I've never done this before! Actually I just create my account a minute ago! That being said I guess it's not all that complicated to create a new Repo and drop the project there! However, this almost empty project connect to a SQL Server in order t

[2018-07-03 19:33] mikebronner commented on #145
@NyxOne Thanks! Yes, I will just need to take a look at the code, and from there I can make my own unit test. Thanks for creating the repo, that will help much more than anything else. That's a weird stack-trace, being so short. I assume you already ran `composer update` in the project to make sure all the dependencies were added?

[2018-07-03 19:42] NyxOne commented on #145
@mikebronner! I'm not sure I did it right but here you go :
https://github.com/NyxOne/testModelCache

I've obviously removed the Creds from the .env file!

Yep! I did try the `composer update` and also `valet restart` but to no good!

Regards,
Charles D.

[2018-07-03 19:45] NyxOne commented on #145
Oh! Forgot to mention that I did setup `MODEL_CACHE_STORE=redis2` as this set is optionnal I believe!

[2018-07-03 19:49] mikebronner commented on #145
@NyxOne You have a type in the use statement.
[code]

should be:
[code]

The error you get after that is related to setting up the reds connection.

[2018-07-03 22:59] ChenAlon opened #146 "Model caching doesn't handle Query\Expression objects as columns"
**Describe the bug**
When passing DB::raw() in the Builder select function, the cache does not consider these columns in the cache key which results in a wrong cache.
When passing DB::raw() to the select function it is resolved as a Query\Expression object.
As far as I can see, the issue is in the function  ```\GeneaLabs\LaravelModelCaching\CacheKey::getQueryColumns``` which doesn't handle this ca

[2018-07-11 14:10] mikebronner commented on #146
Thanks for posting this issue. I will look into it as soon as I can. :)

[2018-07-17 17:19] JacerOmri opened #148 "Lumen: BindingResolutionException"
**Describe the bug**
After a regular install of the package on a Lumen project, and added the caching trait to models, some routes throw an exception
[code]

**Eloquent Query**
[code]

**Stack Trace**
[code]

**Environment**
 - PHP: 7.2.7
 - OS: Ubuntu 18.04
 - Lumen: 5.5.2
 - Model Caching: 0.2.63

**Additional context**
This occurs on controllers with few operations (no to few middlewares). I th

[2018-07-17 23:34] mikebronner commented on #148
@JacerOmri Thanks for reporting this. I will try to take a look at this, but currently don't have a lumen project to test this in. Could you post a repo that has the problem, so I can clone and replicate the issue, and look for a solution? Thanks! :)

[2018-07-25 22:10] smartssa opened #149 "Missing "NotInSub" / "InSub" in CacheKey generator types"
**Describe the bug**
Using a NotIn with a function call to create a subquery causes a crash. Adding "NotInSub" and "InSub" to the array in CacheKey.php#100 makes the crash go away, but it doesn't appear to invalidate the cache properly when the subquery data changes.

**Eloquent Query**

[code]

**Stack Trace**
[code]

**Environment**
 - PHP: 7.2.5
 - OS: macOS 10.11.6
 - Laravel: 5.6.28
 - Model

[2018-07-25 22:11] mikebronner commented on #149
@smartssa Thanks for reporting this! I will look into this as soon as I can -- hopefully by this weekend.

[2018-07-26 01:53] mikebronner commented on #146
@ChenAlon I am unable to reproduce this issue with the eloquent query you provided in the example. I created an integration test, but it passes. Could you please test again using version 0.2.64 or greater? Thanks!

[2018-07-26 01:55] mikebronner commented on #148
@JacerOmri just checking in, would you be able to link to a repository I can download and test this with, where this problem occurs? Thanks!

[2018-07-26 02:48] mikebronner commented on #149
Fixed in version 0.2.64. @smartssa Please let me know how it goes.

[2018-07-26 02:48] #149 closed

[2018-07-26 03:31] mikebronner commented on #144
Closing, as no response received as to what this would be useful for. @getriebesand if you are still interested, please re-open this issue and provide the requested information. Thanks! :)

[2018-07-26 03:31] #144 closed

[2018-07-26 03:35] mikebronner commented on #113
Closing for now ... decided not to implement caching in the load method, at least for now.

[2018-07-26 03:35] #113 closed

[2018-07-28 15:44] smartssa commented on #149
Thanks for the quick fix!

[2018-07-29 00:34] JacerOmri commented on #148
I will add a repo showing this error soon. Thank you

[2018-07-29 14:39] Nowi5 opened #150 "Disable cache per config"
Hi,

while programming I need to review the SQL Statement which is send to the Server, instead of comment the trait I would love to set this in a config file.

Thank you.

[2018-07-29 14:39] #150 closed

[2018-07-30 06:07] ferdiebergado opened #151 "Question: Can I use this on a Pivot Model?"
This is actually just a question.

I have created a Base Pivot Model which use laravel-model-caching like this:

[code]

Then, from it I extend my Pivot Models.

[code]

It seems that every time the Pivot Model is called in a relationship, data is not cached as seen from debugbar.

[code]

What am I missing? Thanks.

[2018-07-31 11:35] denitsa-cm commented on #98
I am encountering something similar.

When creating a new model with `Model::create()`, the call to `all()` doesn't return the newly created model.

[2018-08-04 09:37] Spodnet commented on #137
I had this problem with \Kalnoy\Nestedset\NodeTrait

I think this is working as a simple solution in my case, the node trait ran

[code]

Looking at the code in the model caching, it was ok to simply override in my model

[code]

I would imagine providing the trait that's causing issues doesn't do anything that would cause issues overriding might solve it. Otherwise you'll need to write your own t

[2018-08-04 09:54] Nowi5 opened #152 "ForgetCache for single Instance"
Hi all,

Sometimes I have DB queries running which are not detected by the Model Caching. For that I would need a function which forget the cache for a single model. E.g. $user->forgetModelCache(); What do you think about that?

Thank you.

[2018-08-04 13:01] mikebronner commented on #152
You can call the artisan command to do that:

[code]

You might have to play around with double- or single-backslash, not sure. :) Let me know how that works.

[2018-08-04 13:01] #152 closed

[2018-08-04 13:02] mikebronner commented on #151
Hi @ferdiebergado, I'll have to look into this.

[2018-08-04 13:03] mikebronner commented on #146
Closing for now. Please re-open with a different eloquent query that also has this problem if this continues to occur.

[2018-08-04 13:03] #146 closed

[2018-08-04 13:47] Nowi5 commented on #152
Yes, but this deletes the cache for all, which is in my case of thousands of users a performance gap. I like just to delete one single instance of a model, not all models.

[2018-08-04 14:24] ferdiebergado commented on #151
Thanks mike. I'll be standing by for updates.

[2018-08-04 15:25] mikebronner commented on #152
No, there is no way to clear the cache for just one instance of a model at this point. Sorry.

[2018-08-04 15:26] Nowi5 commented on #152
I know, question is if we should have a look into. Any idea where to best start when looking into PR?

[2018-08-04 15:32] mikebronner commented on #152
@Nowi5 What I'm saying is that it's not possible with how the cache is set up. If you want to have a stab at creating a PR, by all means, but I'm sure you will find that it won't work without rewriting the caching logic completely. :)

[2018-08-04 21:07] mikebronner commented on #151
This is related to #127 .... so I won't have an answer for you anytime soon. But I'll keep this open. If anyone has the time to create a PR for this, that would be awesome!

[2018-08-04 21:08] mikebronner commented on #127
Any help in form of a PR (by anyone) would be greatly appreciated and help speed things up. :)

[2018-08-05 01:51] ferdiebergado commented on #151
Alright mike.  I'll just use eager-loading for relationships for now. Thanks.

[2018-08-05 07:01] jradtilbrook commented on #127
I'm still very interested in contributing I've just been really busy. I'm hoping I'll have the time in the next 1-2 weeks. Last I looked though, it seemed like it might need some fairly large refactoring to support, but it's been so long I'll have to basically start again. I'll let you know my thoughts when I get too it! :smile:

[2018-08-05 07:02] PhanPirang opened #153 "Where does the cache store?"
I just follow your video tutorial.

My model doesn't have any relationship.

Do I need to change cache_driver to redis in .env file?
In case I don't change it. It'll create cache as files.

When I change cache_driver to redis, the cache is stored, but it automatically remove from Redis after several seconds.

[2018-08-05 17:51] mikebronner commented on #153
Hi @PhanPirang , yes redis or memcached are the preferred methods. Using file or array will result in degraded performance. If your redis cache is being cleared every few minutes, you will need to look into providing it more space, memory, or otherwise optimize its performance in relation to your data requirements. Unfortunately that's not something I am able to help with.

Also, keep in mind that

[2018-08-05 17:51] #153 closed

[2018-08-07 05:44] santosh401 opened #154 "Argument 2 passed to GeneaLabs\Laravel Model Caching\Cache Tags::__construct() must be an instance of Illuminate\Database\Eloquent\Model, string given"
**Eloquent Query**
[code]

**Stack Trace**
[2018-08-07 11:14:09] local.ERROR: Type error: Argument 2 passed to GeneaLabs\LaravelModelCaching\CacheTags::__construct() must be an instance of Illuminate\Database\Eloquent\Model, string given, called in /var/www/ddskart.devfbss.in/vendor/genealabs/laravel-model-caching/src/Traits/Caching.php on line 85 {"userId":1,"email":"test@devfbss.in","exception":

[2018-08-07 16:32] mikebronner commented on #154
@santosh401 Please provide the eloquent query (what you provided is not the query, but the value assignment and save commands). We need the query that fetches the `$product` instance.

[2018-08-08 06:47] santosh401 commented on #154
$product is fetch with laravel model binding

[2018-08-08 06:51] santosh401 commented on #154
$product is fetch with model binding
[code]

[2018-08-12 21:37] folkevil opened #155 "Problem with php 7.2.8"
**Describe the bug**
I've installed laravel-model-caching, but my app got this error after install

![PHP error](https://i.imgur.com/yZycqYM.png)

**Environment**
 - PHP: 7.2.8
 - OS: Ubuntu 16.04
 - Laravel: 5.6
 - Model Caching: latest

[2018-08-12 22:51] mikebronner commented on #155
Please provide the full stack trace, as well as the exact version of the package ("latest" isn't very helpful, as versions can be changing from day to day). Thanks!

[2018-08-14 12:31] ysfkaya commented on #154
Is there any improvement in this bug ?

[2018-08-16 11:16] santosh401 commented on #154
I am not facing any issue with the package on other model, all crud operation works well on other model.
Only insert and update is not working on product model

[2018-08-17 23:50] DmitrySkibitsky commented on #116
A similar problem. In the cache, data does not change when you change the localization and call the method withTranslation. It is necessary to pull out the data on all localizations meanwhile. Then I will rewrite the requests.

[2018-08-17 23:55] mikebronner commented on #116
Hi @DmitrySkibitsky, please open a new issue for what you are describing. That doesn't sound related at all. I haven't yet considered how translations work in the caching context.

[2018-08-17 23:57] mikebronner commented on #154
@ysfkaya Not yet, I haven't had any time to look at it yet.
@santosh401 Can you post your entire product model?

[2018-08-18 01:05] DmitrySkibitsky commented on #116
@mikebronner I now have a deep night) I will open the issue tomorrow and describe in detail and lay out the dd collections.

PS Text through the translator. I apologize in advance.

[2018-08-18 04:58] santosh401 commented on #154
[code]

[2018-08-18 12:55] jradtilbrook commented on #127
Hey @mikebronner, so just as a catch-up, it's been 2 weeks now and I haven't had enough time to sit down and go through this yet. I also have some other projects pulling me away so I think it's safe to say I'm not going to be able to help out with this any time soon. Hopefully you can sort it or someone else will be able to help and if it's still available when I have more time I'll take another l

[2018-08-18 14:05] ysfkaya commented on #154
I have solved this bug by `override` the `makeCacheTags` method .

[code]

I guess it triggered when the `query` attribute is not instanceof `Builder` class. Because sometimes the `query` attribute  returns string in my model

[2018-08-24 00:42] JapSeyz opened #157 "Relationships doesn't invalidate the cache"
**Describe the bug**
When using Laravel Nova to attach a model to a hasMany relationship, it doesn't invalidate the cache, and the new model doesn't show up until it's manually cleared.

**Eloquent Query**
Please provide the complete eloquent query that caused the bug, for example:
[code]
I believe this may be due to the fact that it doesn't really touch the parent tables, as the actual query look

[2018-08-24 00:43] JapSeyz commented on #157
Duplicate of #127 albeit not lazyloading

[2018-08-24 00:56] JapSeyz commented on #157
Reopening as it doesn't seem to be related afterall. I think it may be because it's being inserted through the eloquent relationship, and therefore it doesn't fire the `static::pivotAttached` that is being listener for in the `ModelCaching`.

I'll look for ways to solve this.

[2018-08-24 00:59] JapSeyz commented on #157
It's possible to overpower this, if you set the $touches array on the pivot Model, but it's not optimal

[2018-08-24 01:12] JapSeyz commented on #157
The best way i found was to add disableCache() to the relationship declaration...

I'll investigate whether it happens with other relationships too.

PS. this has nothing to do with Laravel Nova. I tested it with Tinker too, and same thing happened, the cache wasn't invalidated/

[2018-08-24 23:07] mikebronner commented on #157
@JapSeyz Thanks, I will look into this as soon as I get some time. :)

[2018-08-27 06:11] santosh401 commented on #154
I was getting this error
GeneaLabs\LaravelModelCaching\CacheTags::__construct() must be an instance of Illuminate\Database\Query\Builder, instance of Illuminate\Database\Eloquent\Builder given

and it was resolved with this modification

[code]
Everything seems to be working.

[2018-08-27 14:31] denitsa-cm opened #158 "Cached relationships not invalidated, even if caching is off"
**Describe the bug**

Model relations are not re-fetched from the database during a foreach loop.

That happens even if my cache driver is set to array `CACHE_DRIVER=array` (which I would assume should not do any caching).

**Eloquent Query**

Within a loop I do:

[code]

I expect that $latestSubscriptionPeriod is going to be updated on the next iteration of the loop, but it is not.

However, it i

[2018-08-27 15:57] denitsa-cm commented on #158
@mikebronner That seems to work! Thanks! :) But it is not the intended behavior, right? :)

Also, I might have misunderstood, but is it intended that the models are still cached even if the `CACHE_DRIVER = array`?

P.S. All my models extend from a Base that uses your `Cacheable` trait. Thank you for it! :)

[2018-08-27 16:06] denitsa-cm commented on #158
@mikebronner I thought it fixed it but I had just forgotten to remove the commented out `Cachable` trait.

It doesn't fix it, unfortunately 🤔

All my models extend from a Base that uses your trait :) Is there any other code I can paste that will help maybe?

Thank you for the package, by the way! :)

[2018-08-28 08:08] pedzed opened #159 "Name "Cachable" should be "Cacheable""
I was trying to include `Cacheable`, but it was not found. Apparently it is mistakenly called `Cachable`.

File: [src/Traits/Cachable](https://github.com/GeneaLabs/laravel-model-caching/blob/585880021c85a660fb420bbbe242bbe332013670/src/Traits/Cachable.php)

[2018-08-30 10:41] NishantSoni opened #160 "Pagination in the query is not working properly."
I am applying pagination in the query dynamically. Like this -
[code]

some thing like in this way i am working.

First time pagination is applied and returns the result properly.  But in the second call of this method pagination is not working (because only pagination part is cached, so does not work in second time, third time and so on)... how should i fix this issue, any suggestion please?

[2018-09-04 17:17] prmdeveloper opened #162 "Model::forcedelete();"
**Describe the bug**
When using the (forcedelete) function, the cache is not being cleared.

**Eloquent Query**
[code]
**Environment**
 - PHP: [e.g. 7.1.0]
 - OS: [e.g. Centos 7]
 - Laravel: [e.g. 5.6.23]
 - Model Caching: [e.g. 0.2.58]

[2018-09-05 13:18] mwargan opened #163 "Argument 3 passed to GeneaLabs\\LaravelModelCaching\\CacheTags::__construct() must be an instance of Illuminate\\Database\\Query\\Builder, string given"
**Describe the bug**
When saving this specific model, I get the following error:
`Argument 3 passed to GeneaLabs\\LaravelModelCaching\\CacheTags::__construct() must be an instance of Illuminate\\Database\\Query\\Builder, string given`

**Eloquent Query**
Please provide the complete eloquent query that caused the bug, for example:
[code]

**Stack Trace**
`{
    "message": "Argument 3 passed to Gene

[2018-09-05 16:58] mikebronner commented on #162
@prmdeveloper Thanks for reporting this. I will try to add a unit test and code to account for this. Might be a bit though.

[2018-09-05 17:00] mikebronner commented on #159
Doh! I will update this with the next breaking update.

[2018-09-05 17:13] mikebronner commented on #160
Pagination has been implemented and tested. See if the unit tests help with your use-case:
https://github.com/GeneaLabs/laravel-model-caching/blob/master/tests/Integration/CachedBuilder/PaginateTest.php

My guess would be that the $queryBuilder being passed in is not a CachedBuilder, which would cause the problem you are having.

[2018-09-07 10:23] Tachii opened #164 "Please add support for laravel 5.7"
Could you please update your composer.json to match laravel 5.7? Currently its not compatible

[2018-09-07 12:26] guestisp commented on #126
Ad support for L5.4 is added, is PHP 7.1 still a requirement or 7.0 would work?

L5.4 works with php 7.0 so you can't really support L5.4 without supporting php 7.0

[2018-09-07 13:45] mikebronner commented on #126
Hi @guestisp: I require the latest PHP version for the latest supported Laravel version. This is because I might use PHP features not available in older versions of PHP.

You are welcome to fork the repo and change the PHP requirements to fit your needs, but I can't support that, so you would have to work through any problems on your own.

[2018-09-07 14:29] guestisp commented on #126
Forking is ok for me. I'm asking just to know if there are code incompatibilities with PHP 7.0.

As you added compatibility L5.4, I think that PHP 7.0 should work fine, even if not supported by you

Probably, i used the word "support" badly. I meant "is this compatible with PHP 7.0 even without your support ?)

[2018-09-07 14:37] mikebronner commented on #126
I may have used PHP 7.1 features, so it might not be compatible. I can't say for sure off the top of my head. My suggestion would be to fork it, then see if all the tests run: `./tests/pu-54.sh`

[2018-09-07 14:39] mikebronner commented on #164
Duplicate of #161

[2018-09-07 14:39] #164 closed

[2018-09-09 04:53] vahidalvandi opened #166 "do it support this ?"
$data['rows']= accounts_detailed::join('accounting_accounts_detailed_group', 'accounting_accounts_detailed_group.id', '=', 'accounting_accounts_detailed.group_id')
         ->paginate(15, array('accounting_accounts_detailed.*'));

[2018-09-09 17:37] mikebronner commented on #166
You will need to provide more information for me to be able to answer your question. Is `accounts_detailed` an instance of a `Cachable` Model? (Normally it would be written `AccountsDetailed::join()`.)

Joins __should be__ supported, but if you have issues, please open a new issue. (I didn't see a unit test specifically for joins, and I am not in the office for a few more days, so it's a bit hard

[2018-09-09 17:38] #166 closed

[2018-09-10 04:10] vahidalvandi commented on #166
yes all table use trade Cachable

[2018-09-10 23:41] mikebronner commented on #164
@Tachii Laravel 5.7 support is now available in version 0.3.0

[2018-09-11 05:57] santosh401 commented on #154
I made new trait in App\Traits folder

[code]
and in my model

[code]
this keeps my model clean
hope this helps

[2018-09-11 08:32] guestisp commented on #126
The only PHP 7.1 used feature is Symmetric array destructuring like:

[code]
by changing that (4-5 occurencies) to the old-style `list` bring back PHP 7.0 compatibility properly

[code]

[2018-09-11 16:53] guestisp commented on #126
I agree, but dropping the whole support to PHP 7.0 only for exactly 5 destructured array it's a pity.....

my 2 cents.

[2018-09-11 17:49] mikebronner commented on #126
I'm not willfully not supporting this __because PHP is no longer supported__, rather I am not going to go back and add in support after the fact. If this were a paid product, I would definitely be open to these requests. As a free OSP I have to set limits that I can support in my spare time. Sorry, that's just the reality. I would be happy to discuss paid support options, if you have specific need

[2018-09-12 11:16] nazaninhesari opened #167 "add support file cache driver"
do it   support file cache driver ?

[2018-09-12 13:56] mikebronner commented on #167
You can use file caching, but it will be degraded support, since file cache does not support tags.

[2018-09-12 13:56] #167 closed

[2018-09-17 12:42] renege opened #168 "PHP 7.1.1."
Hello, what is the reason that PHP 7.1.3 is the minimal requirements. I want to run it on a PHP 7.1.1 server which I can't update myself to a new PHP-version. Is it really needed to run PHP 7.1.3 because of added functions, or can you downgrade it in the composer.json?

[2018-09-17 23:03] Dcuevac93 opened #169 "Using detach() Laravel 5.4"
**Bug**
Problems when using `detach()` on my models.

**Basically I found this bug**

The problem is that here -> `fico7489/laravel-pivot/src/Traits/FiresPivotEventsTrait.php(39)`
Are using this function `qualifyColumn()` which is not available in Laravel 5.4.

https://laravel.com/api/5.4/Illuminate/Database/Eloquent/Model.html
https://laravel.com/api/5.5/Illuminate/Database/Eloquent/Model.html

*

[2018-09-19 05:04] nagendraK6 opened #170 "Class not found in cache clear"
**Describe the bug**
My model (Tag) is inside a folder Model.
So to clear the cache i am calling
php artisan modelCache:clear --model=App\Model\Tag;

**Eloquent Query**
Please provide the complete eloquent query that caused the bug, for example:
[code]

**Stack Trace**
Hitting exception
  Symfony\Component\Debug\Exception\FatalThrowableError  : Class 'AppModelTag' not found

  at /var/www/html/web

[2018-09-19 06:42] mikebronner commented on #170
@nagendraK6 try entering the command like this:
[code]

That should be the correct format. Let me know if that doesn't work.

[2018-09-19 06:43] mikebronner commented on #169
@Dcuevac93 Thanks for reporting this. I will look into and see if I can replicate the problem in the unit tests.

[2018-09-19 06:45] mikebronner commented on #168
Hi @renege Please see #71 for an explanation.

[2018-09-19 06:45] #168 closed

[2018-09-22 05:42] RobinHoo1973 opened #171 "Cache Not Working Along with Observer"
**Describe the bug**
As the Model Article content field is stored the rich text with base64 encoded string, and an observer was created for encoding & decoding while saving and reading. It works fine until the trait mode Cachable involved in the Article model. And when it removed from the model, everything returned ok.

**Eloquent Query**
Please provide the complete eloquent query that caused the

[2018-09-22 06:05] mikebronner commented on #171
Hi @RobinHoo1973, I'm out of the country at the moment, I will take a look. In the mean while, can you paste the code for your observer here as well? Thanks!

[2018-09-22 06:12] RobinHoo1973 commented on #171
Yes, I just updated my issue report with the observer code included. Thanks for your prompt response.

[2018-09-22 06:17] mikebronner commented on #171
Thanks! I will have to create a test for observers. Give me a few weeks. If you would like to take a stab at submitting a PR with a new unit test or even an update to the functionality, that would be great! :)

[2018-09-22 07:34] RobinHoo1973 commented on #171
Take your time and enjoy your trip, it's not urgent case. :)

[2018-09-24 07:16] getriebesand commented on #148
In Lumen there is a missing alias db.connection

you can fix that by adding this to your register method in your AppServiceProvider:

`        $this->app->bind('db.connection', function ($app) {
            return $app['db']->connection();
        });

        $this->app->alias('db.connection', \Illuminate\Database\ConnectionInterface::class);
`

[2018-09-27 13:13] IlyaBerzin opened #172 "Issue with paginate function"
Your lib has some bug in
laravel-model-caching/src/CachedBuilder.php file in function paginate()

Param pageName has default value - "page", and in line 129
$page = request("page", $page ?: 1);
you must use this variable like this:
$page = request($pageName , $page ?: 1);

At the moment there is no possibility to use a page name other than the "page".

Pls fix it. Thanks.

[2018-09-28 07:41] mikebronner commented on #172
@IlyaBerzin Feel free to submit a PR, I won't be able to get to this for another week or two. Thanks for submitting the issue.

[2018-10-05 19:52] mikebronner commented on #170
Closing this for now. If you still have the issue, please reopen.

[2018-10-05 19:52] #170 closed

[2018-10-06 18:38] mikebronner commented on #172
Working on this now. Currently blocked by issues in unit test framework:
https://github.com/orchestral/testbench-browser-kit/issues/7

[2018-10-06 18:50] mikebronner commented on #169
Hi @Dcuevac93, unfortunately there is nothing I can do to fix this issue. `laravel-pivot` is no longer actively supported for Laravel 5.4, so the only solution would be for you to upgrade your app's Laravel version. I'm going to have to close this, unfortunately. Sorry.

[2018-10-06 18:50] #169 closed

[2018-10-06 19:09] mikebronner commented on #155
@folkevil I am unable to replicate this issue. Your error leads me to believe you are actually running  an earlier version of PHP (< 7.1), which is where array restructuring was introduced.

[2018-10-06 19:11] mikebronner commented on #148
I believe this will be fixed in the next release: #156

[2018-10-07 17:14] mikebronner commented on #160
@NishantSoni Please provide an update for this issue. Are you still having it? If so, please provide the full query and relevant code, or link to a repo with the problem.

[2018-10-07 17:32] mikebronner commented on #171
@RobinHoo1973 I created a test for observers and do not see an issue with using observers. It works as expected. Please provide the complete query that you are running.

[2018-10-07 18:51] mikebronner commented on #154
@santosh401 @mwargan @ysfkaya
I have applied the fix. However, I would like to be able to recreate the problem. Does anyone know why the model would be stored as a string in the Builder, instead of the object? I'm trying to figure out how to reproduce the issue, so that I can write tests for it.

[2018-10-07 19:42] mikebronner commented on #158
@denitsa-cm
First: please retest using the latest release from today or later.
Second: If the issue persists, can you provide the entire model code for the model that is exhibiting this problem, as well as the entire code around the query where the problem occurs (including code for loops and fetching of data).

[2018-10-07 20:11] mikebronner commented on #157
@JapSeyz I believe this is because setRelation does not persist the relationship data, and I don't think it is meant to. Rather, it is a method to override associated objects during run-time.

I would look into another way of persisting your relationships other than using setRelation. At this time this is not something that I believe needs to be addressed in this library.

However, `$pivot->save()

[2018-10-07 20:11] #157 closed

[2018-10-07 20:12] #154 closed

[2018-10-07 20:12] #172 closed

[2018-10-07 20:12] #162 closed

[2018-10-07 20:12] #163 closed

[2018-10-07 20:57] denitsa-cm commented on #158
@mikebronner will do, thanks

[2018-10-08 05:14] mwargan commented on #154
@mikebronner my code is open source at: https://github.com/mwargan/JustBookr

I'm not home now so i can't provide more info, but a quick search in the codebase will show you where I applied the "hack". Hopefully it'll help you reproduce this issue!

[2018-10-08 20:59] mikebronner commented on #159
Further research suggest this is the correct spelling: https://howtospell.co.uk/droptheerule.php

Keeping `Cachable`.

[2018-10-08 20:59] #159 closed

[2018-10-10 22:10] andersonpem opened #173 "Cache does not flush in deleting function of Model"
**Describe the bug**
Hi. Good night. Firstly, thanks for the great package. It really is handy.
I'm working on a menu class. Before deleting the current model the class checks for any relationships and deletes them.
After all the deletion is complete the cache is supposed to be flushed automatically. However I still get the old results if I refresh a page which queries the model.

**Eloquent Query

[2018-10-10 22:16] mikebronner commented on #173
@andersonpem You should not have to call the artisan flush method. The package manages flushing on its own when you delete relationships and models. I would recommend removing those two lines and trying again.

And please report the complete stack trace (you only reported from step #8 onwards), and don't forget to put the stack trace in the code back-ticks so that it is not formatted.

Keep in min

[2018-10-10 22:17] andersonpem opened #174 "Flush cache from model's static function"
**Describe the solution you'd like**
It would be interesting to flush a model's cache from its class. Then, if I did an action that requires the cache to be flushed and I'm not sure if it was in fact flushed I would go like:
`Model::ClearCache()`

**Describe alternatives you've considered**
I considered building the function in the Model, but I'm facing some issues to call an Artisan command to do

[2018-10-10 22:19] mikebronner commented on #174
@andersonpem Is there a specific use-case you are looking for that the package currently doesn't do? It is not necessary to manually flush the cache for a model, as it is done automatically. Are there instances where that doesn't work for you?

[2018-10-10 22:47] andersonpem commented on #173
Hello Mike. I made some updates to the issue. Please let me know if you need something else.

[2018-10-10 22:49] andersonpem commented on #174
I agree with you. It's supposed to be handled automatically. I'll close the issue :)

[2018-10-10 22:49] #174 closed

[2018-10-10 23:44] mikebronner commented on #173
@andersonpem Could you provide the line section before #0 in the stack trace as well? The stack trace usually starts with a timestamp.

I don't see any issues with the query that would cause concern. Everything should be working. What cache driver are you using?

[2018-10-11 01:18] andersonpem commented on #173
I'm using Redis. I don't have access to my computer right now. I post the information you asked as soon as I can :)

[2018-10-11 14:57] andersonpem commented on #173
After thoroughly checking the code, I think I found the problem. Spoiler: it wasn't the code.
I do use two different command line interfaces for eloquent testing: Tinker and Tinx. I use Tinx a lot because it has some handy shortcuts. I can hot reload the tinker session from Tinx using re(), for example.
It seems like Tinx can't handle the cache flushing correctly when an object is deleted with tha

[2018-10-11 16:14] mikebronner commented on #173
@andersonpem Thanks for following up. I'll close this for now, but if you find out more, please do re-open and follow up here. :)

[2018-10-11 16:14] #173 closed

[2018-10-12 07:05] pedzed commented on #159
I am not sure how you conclude from the text that "it is the correct spelling". Can you clarify?

![image](https://user-images.githubusercontent.com/8146593/46853073-60d82c80-cdfd-11e8-8dcd-dcd795d7767a.png)

![image](https://user-images.githubusercontent.com/8146593/46853117-8107eb80-cdfd-11e8-89b3-2d47497bf29e.png)

![image](https://user-images.githubusercontent.com/8146593/46853148-941abb80-cdf

[2018-10-12 15:45] dmason30 opened #175 "Ability to remember for X minutes?"
**Describe the solution you'd like**
Pretty self explanatory, I have some Models that I may not want to be remembered "forever" it would be good if we could specify the expiry minutes at Model level?

[2018-10-12 15:47] mikebronner commented on #175
Let me ask you why you wouldn't want that? The invalidation routines should make it irrelevant if it is saved forever or not. Could you explain your use-case a bit more?

[2018-10-12 15:57] dmason30 commented on #175
I have some nightly raw queries (CRUD) not using the Model directly due to their complex nature and requirement to be optimised for speed. Although I have just noticed that I could access the `Model` class and call the `flushCache` method.. apologies I will close this..

[2018-10-12 15:57] #175 closed

[2018-10-12 15:59] mikebronner commented on #175
Sounds good. You can also flush the cache from the command line, so you could trigger that if you wanted from a script run from a CRON job.

[2018-10-16 05:39] Daniyal-Javani commented on #137
@Spodnet Have you found any side effects?

[2018-10-16 06:30] Spodnet commented on #137
No issues so far :)

[2018-10-17 13:43] dmason30 opened #176 "Undefined index: operator - whereJsonContains"
**Describe the bug**
We get this error when using `whereJsonContains` on a `JSON` (MySQL) database column type.

**Eloquent Query**
Please provide the complete eloquent query that caused the bug, for example:
[code]
**Stack Trace**
[code]

**Environment**
 - PHP: 7.1.20
 - OS: Ubuntu 14.04
 - Laravel: 5.6.*
 - Model Caching: 0.3.1

**Additional Info**
Args being passed to:

`33 GeneaLabs\LaravelMo

[2018-10-22 11:05] dmason30 commented on #176
@mikebronner Any views on this one?

[2018-10-22 13:40] getriebesand opened #177 "More possibilities for customisations"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I try to cusomize the behavior of your implementation. e.G. customize the cache key. Models use the Caching trait with a method called makeCacheKey. Thats fine. And i can overwrite that method in my model. But than I realized that the CachedBuilder doesnt use the method of the Model but also use the Cachi

[2018-10-22 16:08] mikebronner commented on #177
Hi @getriebesand, thanks for sharing your ideas. At this point this is probably not something I will look into, because of the complexities involved and my limited time.

Can you help me understand why you have to make changes to how the cache keys are generated? Perhaps a better understanding on my part will help me move forward with this. Thanks!

[2018-10-22 16:09] mikebronner commented on #176
@dmason30, sorry for the delay. I will look into this during the week, time permitting. :)

[2018-10-22 16:10] mikebronner commented on #171
I'm closing this for now due to inactivity. Please feel free to reopen with additional information if you still have this issue.

[2018-10-22 16:10] #171 closed

[2018-10-22 16:11] mikebronner commented on #148
Closing this for now due to inactivity. Please re-open with additional information if you are still experiencing this problem.

[2018-10-22 16:11] #148 closed

[2018-10-22 16:11] mikebronner commented on #155
Closing this for now due to inactivity. Please re-open with additional information if you are still experiencing this problem.

[2018-10-22 16:11] #155 closed

[2018-10-22 16:11] mikebronner commented on #158
Closing this for now due to inactivity. Please re-open with additional information if you are still experiencing this problem.

[2018-10-22 16:12] mikebronner commented on #160
Closing this for now due to inactivity. Please re-open with additional information if you are still experiencing this problem.

[2018-10-22 16:12] #160 closed

[2018-10-22 16:32] NishantSoni commented on #160
Yes sure , this must be closed, actually eloquent events was not fired, due to this there was some issue in the model-caching , and I have fixed this in my code. Thanks & really sorry for late reply.

[2018-10-22 16:45] mikebronner commented on #160
@NishantSoni glad to hear you got it resolved :)

[2018-10-22 18:07] getriebesand commented on #177
I have 2 projects with same database. In future I will move the models in a separate package which can be required by the 2 project. but this will take some time and in the meantime i want to change in one of the projects the cache key (model class name) to match with the other project.

[2018-10-22 21:32] mikebronner commented on #177
Hi @getriebesand, this shouldn't be an issue if you name your database and connection the same in both projects. As you can see that is what is used to create the cache key prefix. Would making the changes to your `config/database.php` work for you?

[code]

If not, can you give me an example of a cache key for the same model from each project so I can compare how they are different? Thanks!

[2018-10-23 02:48] guangdao428 opened #178 "how to clean cache only when data changes"
hi, i have two projects, front and admin, front to C and admin to B. front C use cache fully, but data in B
often changes , so only want to clean cache where data changes in B, and query request in B do't use cache.skip the package, i don't know how to resolve it . please hope your reply. thanks.

[2018-10-24 16:09] dmason30 opened #179 "Should eager loaded nested (polymorphic) relations get cleared on update?"
This is more of a question, as I am probably using this library in an unusual way.

I am experiencing an issue where I am updating a model but when I eager load it via another model it seems to be getting an unchanged version from the cache.

So on a query I am eager loading the relations like so:
[code]
**Currency Model**
This is using the `Cachable` trait.

The `setting` relation:
[code]

**Sett

[2018-11-02 09:32] guangdao428 commented on #179
need to use all models.

[2018-11-02 09:43] guangdao428 commented on #178
thanks for your reply

yes i have 2 projects, but all of them use caching.2 projects share cached data.one can use caching data and update caching data.the another one hope only updating caching data, so that all data in cache changes.

hope your answer.

[2018-11-03 00:57] mikebronner commented on #179
@dmason30 Yes, @guangdao428 is correct. If you don't use catchable on all models affected in your query, you will get unexpected results, due to their cache not being flushed. I'm looking into #176 now, and hope to have that resolved soon.

[2018-11-03 00:57] #179 closed

[2018-11-03 18:10] #176 closed

[2018-11-03 18:15] mikebronner commented on #176
@dmason30 I have added functionality to work with `whereJsonContains` and `orWhereJsonContains`. Give this release a try and let me know how you get on.

[2018-11-03 18:19] mikebronner commented on #178
@guangdao428 Sorry, that scenario is not supported. The cache can only be updated from the same project.

[2018-11-03 18:19] #178 closed

[2018-11-03 23:34] dmason30 commented on #176
@mikebronner Thanks, i should get to try it next week. Just in case you missed it `5.7` has added a `whereJsonLength` function as well although I am currently using `5.6` so haven't currently tested it.

[2018-11-06 14:21] mrahmadt opened #181 "Is caching database or query?"
Hello

Sorry for this silly question, but does this module cache all select queries or it actually cache the database table into redis ?

What about insert and update operations, will these operation update the cache?

I would love to know how does it work, the readme file is ok but no explanation
Thanks

[2018-11-06 14:25] mrahmadt opened #182 "Not caching to the right database"
Hi

So I configured MODEL_CACHE_STOR in my .env to point to redis with different database/index number that the one I use in my cache but i think its still using my default cache database

Am I using it right?

Thanks

[2018-11-06 15:04] mikebronner commented on #181
Hi @mrahmadt, this package only caches query results, not the database itself. Insert and updates clear the cache for the affected models, then recreate the cache the next time a query is run, so the cache will remain correct for all operations. In the readme it says that it is self-invalidating, which is what that means.

[2018-11-06 15:04] #181 closed

[2018-11-06 15:07] mikebronner commented on #182
Keep in mind that you will have to create a configuration for the other cache store in your cache and database config files. If you are still having issues after doing that, please re-open and post your database and cache config files. Also make sure that you're `.env` file has `MODEL_CACHE_STORE`, and not `MODEL_CACHE_STOR` (was probably a typo in the description above, but I just want to make su

[2018-11-06 15:07] #182 closed

[2018-11-06 17:31] getriebesand commented on #177
getCachePrefix() doesn't work because the namespace of the models differs in both projects.
In CacheKey.php you insert $this->getModelSlug() into the key. And this uses str_slug(get_class($this->model)) which returns the classname with namespace.
I need now to extend CacheKey and modify the generation of the key (or getModelSlug()) but I cant replace CacheKey with my own.

Better would be if you p

[2018-11-06 21:54] mrahmadt commented on #182
Thank @mikebronner

I did create configuration for my other cache store, here is my file:

.env
`
    MODEL_CACHE_STORE=modelcache
`

cache.php
`
     'redis' => [
            'driver' => 'redis',
            'connection' => 'cache',
        ],
        'modelcache' =>[
            'driver' => 'redis',
            'connection' => 'modelcache',
        ],
`

database.php
`
          'cache' => [

[2018-11-06 22:18] mikebronner commented on #182
Did you clear your config cache? `php artisan config:clear`? It's probably cached there.

[2018-11-11 21:35] booni3 opened #184 "increment() and decrement() do not invalidate cache"
Using the built in decrement/increment functions does not invalidate the cache.

**Eloquent Query**
[code]

[code]

**Additional context**
Maybe this is not intended behaviour of the package? Should it just be the update/save methods that work with cache invalidation?

On a side note, while caching does seem to be doing something on my development/homestead environment, it does not seem to behave

[2018-11-11 23:11] mikebronner commented on #184
@booni3 Thanks for the catch on `increment()` and `decrement()` .... I will add those in.

This package is not really optimized for use with file or array cache drivers. If you notice any problems on production, please open a new issue with the specifics there.

Thanks! :)

[2018-11-15 11:08] getriebesand commented on #144
I have translations for my models. They are stored in a separate table and will be cached after load.. If I delete the model I want to be sure the translation cache will be deleted too. Or if I update the Model. So I want to call $mymodel->cache()->rememberForever('translations', function(){ return $this->loadTranslations()});

[2018-11-15 14:01] mikebronner commented on #144
Hmm, I'm not sure this plugin can support that. This is something you would have to implement on your own to meet your specific app needs. I would look into hooking into the model events `created`, `updated`, `deleted`, and manage your translation cache based on that. Also, it might be beneficial to keep your translation cache in a separate cache store.
On the other hand, if translations are handl

[2018-11-15 22:41] zannix opened #185 "Laravel Telescope incompatibility"
Upon installing Laravel Telescope package, there seems to be an issue that's being caused by the incompatibility with laravel-model-caching.

The issue is also commented here: https://github.com/laravel/telescope/issues/187

ErrorException thrown with message "Undefined offset: 0" in
/vendor/laravel/telescope/src/Watchers/ModelWatcher.php:35

When laravel-model-caching is disabled, everything oper

[2018-11-15 22:45] mikebronner commented on #185
@zannix Thanks for reporting! Can you provide your complete stack trace for this error, as well as the eloquent query  you are are running. I will try to reproduce. Better yet, if you have a public repo that already reproduces this issue, please link it here so I can investigate. :) Thanks!

[2018-11-15 22:53] zannix commented on #185
The issue was caused upon trying to instantiate and save a new model inside a static method of the model class by calling $model = new self(); .... $model->save();

Here is the full stack trace:

ErrorException thrown with message "Undefined offset: 0"

Stacktrace:
#60 ErrorException in /Users/dinocagalj/Sites/pravomat/vendor/laravel/telescope/src/Watchers/ModelWatcher.php:35
#59 Illuminate\Founda

[2018-11-16 10:42] nDiVinEx opened #186 "Translation Issue"
**Describe the bug**
When using translations, the query of the English version is being presented on the translation version too which is stopping us showing the translated version of the site.

We're using https://github.com/dimsav/laravel-translatable for our translations.

[2018-11-16 11:01] nDiVinEx commented on #186
Forgive me, simply doing;

`public function __construct($attributes = [])
    {
      config(['laravel-model-caching.cache-prefix' => 'postModel-' . \App::getLocale() ]);

      parent::__construct($attributes);
    }`

Fixes the issue!

[2018-11-16 11:01] #186 closed

[2018-11-16 13:14] booni3 opened #187 "Single database multi-tennant setup - cache prefix and self-invalidation"
This is maybe more of a question as I expect it may have been considered already. If not, a feature request!

I have a single database, multi-tennant application consisting of a single master admin account (that can view all data, make changes etc.) and then multiple tenants. The tenant is defined by an account_id column on each applicable table

The master admin account will be making changes to

[2018-11-16 23:19] mrahmadt opened #188 "Exception: Property [id] does not exist on this collection instance"
**Describe the bug**
ModelX::find($id) will work fine but if I use ModelX::select('id','access_status')->where($if,$id)->get() it will raise error

**Eloquent Query**
Please provide the complete eloquent query that caused the bug, for example:
[code]

**Stack Trace**
[code]

**Environment**
 - PHP: [e.g. 7.1.0]
 - OS: [e.g. Ubuntu 18.04]
 - Laravel: [e.g. 5.6.15]
 - Model Caching: [e.g. 0.2.61]

*

[2018-11-19 14:18] jetmirhaxhisefa opened #189 "Dynamic model table"
I have a "Post" model which has a dynamic table name for example: "post_pages", "post_article" etc. So there is no default table name.

The problem is when the cache is stored it has no table name indicator in the cache key. So I can't load different caches for each table by using the same Model.

Example usage:
$articles = (new Post())->setTable("post_articles")->get();
//  $pages returns the abo

[2018-11-19 15:15] kolirt opened #190 "production.ERROR: Return value of GeneaLabs\LaravelModelCaching\CacheKey::getValuesFromWhere() must be of the type string, array returned"
help me. laravel gives me an unknown error

my settings

**Logs:**
[code]

[2018-11-21 20:07] thanhtung1511 commented on #69
I have met the same issue with Laravel 5.7.14
Exception on
[code]
I do quick fix by adding "InRaw" to that file on line 100.
It look like this:
[code]

[2018-11-23 05:35] bluevyjohn opened #191 "Multiple Connection Database (Sub Connection) Cache No Function"
@mikebronner
Multiple Connection Database (Sub Connection) Cache No Function

I have follow your instruction, but for model those connect sub connection , create, update,delete the cache still is no updated, it keep maintain old 1...

for example:
[code]

**Environment**
 - PHP: [e.g. 7.1.0]
 - Laravel: [e.g. 5.4]
 - Model Caching: [e.g. 0.3.3]

**Additional context**
Add any other context about t

[2018-11-23 13:57] Tegos commented on #69
Confirm. The problem appeared on Laravel 5.7.14.

[2018-11-23 23:50] mrahmadt commented on #90
I'm using
`
    DB::insert();
`
to insert hundreds of records (this provide faster insert than MODEL::insert, any chance I can invalidate the cache?

[2018-11-24 00:08] mikebronner commented on #90
Hi @mrahmadt, could you open a new issue for this? Thanks!

[2018-11-24 00:18] mrahmadt opened #194 "Invalidate Cache after bulk insert"
Hello

In my project I have to insert bulk data to a database table (100 to 400 records) per app user, I use raw SQL with DB:insert() to do the insert (I want to have the insert as fas as possible)

Now the issue is after the bulk insert I'm not able to Invalidate the cache to get the new records.

[2018-11-24 00:50] mikebronner commented on #194
I will look into this over the next few days. In the meanwhile you can execute the artisan command from you code:

[code]

[2018-11-24 00:52] mrahmadt commented on #194
Many Thanks

[2018-11-24 00:54] mikebronner commented on #194
Also, if you use the insert command on the model, instead of the `DB` Facade, it should invalidate the cache.

[2018-11-26 14:39] oliversarfas commented on #69
Just came across this same issue in Laravel 5.7.14

Needs to be merged in ASAP!

[2018-11-27 21:32] kolirt commented on #190
?

[2018-11-27 21:36] mikebronner commented on #190
@kolirt To troubleshoot this, please provide **all** the information required in the issue template:

[code]

[2018-11-27 21:39] kolirt commented on #190
@mikebronner  I can not send this code. I do not know what causes this error. error occurs in production. there is nothing in the logs

[2018-11-27 21:41] drbyte opened #195 "Raw query breaks with Laravel 5.7.14+"
**Describe the bug**
`ErrorException: Undefined index: operator` appears when it tries to parse `select` queries,
presumably because of the new `type`s added in 5.7.14 (`InRaw`, `NotInRaw`, `IntegerInRaw`, `IntegerNotInRaw`) in the name of improving eager-loading performance.
Ref: https://github.com/laravel/framework/compare/v5.7.13...v5.7.14
Related Laravel PRs from changelog: ([#26434](https://g

[2018-11-27 21:41] mikebronner commented on #190
Track down what is causing this error in your layout file:

[code]

The query that is causing this will help us identify what is going on.

[2018-11-27 21:43] mikebronner commented on #195
@drbyte Thanks for the detailed report. I will look into this soon. Your report helps a lot.

[2018-11-28 10:35] fatonsopa commented on #136
Hi @mikebronner,

I was wondering if you were able to solve the issue, as it still happening on the latest version

`        $now = new \DateTime();

         //working
        $deals = Deal::where('saleStarts', '<=', '2018-11-28 11:30:41')->inRandomOrder()->get();

        //working
        $deals = Deal::where('saleStarts', '<=', $now)->inRandomOrder()->get();

        //not working
        $dea

[2018-11-28 17:15] mikebronner commented on #195
@drbyte Would you be able to help me out a bit? I'm trying to come up with queries that would trigger each of the new query types. Any help you could provide in coming up with different queries to test each of the types would be helpful. :)

[2018-11-28 18:05] #190 closed

[2018-11-28 18:05] #195 closed

[2018-11-28 21:19] drbyte commented on #195
Apologies - I was AFK when you were working on this.

[2018-11-28 21:20] mikebronner commented on #195
@drbyte no worries ... I think it's all resolved :)

[2018-11-29 10:03] denitsa-cm opened #196 "Cached relationships not invalidated, even if caching is off"
Opening a new issue (duplicate of https://github.com/GeneaLabs/laravel-model-caching/issues/158) because I'm not sure my comment on a closed issue gets lost. Please, close this and re-open the duplicate.